[2020-06-08 09:43] andrewhercules opened #1096 "Update Comparative Genomics detail view"
Prior to the `alpha` release, can we please do the following with the Comparative Genomics detail view (formerly known as Homology see #1095)?

1. Remove the descriptions on both the `Orthology table` and `Gene tree` tabs

2. Update the `Orthology table` tab label to `Homology table`

3. In the data table, please update the `Orthologue and ID` column heading to read `Homologue and ID`

[2020-06-08 10:03] iandunham commented on #1096
Will we also solve this problem where paralogues are given N/A in the table as their homology type?
![image](https://user-images.githubusercontent.com/1729980/84018203-ae60c000-a977-11ea-8fb6-26a19423d7f0.png)

[2020-06-08 10:58] AsierGonzalez commented on #1033
Python script to generate metrics revamped and bash script included so that now all the information needed to fill the release metrics spreadsheets is created in one go and it requires very little editing. See PR [#2](https://github.com/opentargets/data_scripts/pull/2)

[2020-06-08 11:27] andrewhercules opened #1097 "Update columns and links in Gene Ontology data table"
In the Gene Ontology data table, we display links to view the GO term using EBI Quick GO and AMIGO. However, this does not allow the user to scrutinise the underlying data.

Can we please update the Gene Ontology data table with the following changes?

1. Please drop the `View GO term in graph` column

2. Please add a column called `Annotation references` and for each row, please construct a link

[2020-06-08 11:30] d0choa commented on #1096
@cmalangone is currently pulling this info in #1047 to not depend on the Ensembl API anymore.

Regarding, @iandunham comment paralogues are currently being listed as such in the new alpha version, but we'll have a proper review once the data goes through the GraphQL API (this week).

[2020-06-08 11:32] andrewhercules opened #1098 "Fix links in Cancer Hallmarks detail view section"
The links in the `Role in cancer:` section above Cancer Hallmarks data table have an extra `$`, which breaks the link to EuropePMC.

For example, on the [ESR1 profile page](url), the `oncogene` link points to `http://europepmc.org/search?query=EXT_ID:$26122181` but it should be `http://europepmc.org/search?query=EXT_ID:26122181`

Can we please update the links?

![Screenshot 2020-06-08 at 12 29 43

[2020-06-08 11:51] andrewhercules opened #1099 "Update Baseline Expression detail view section"
Within the Baseline Expression detail view section, can we please make the following changes?

1. Remove the explanatory text from each section and source link

2. Within the summary table tab view, can we rename `RNA` to `RNA (Expression Atlas)` and `Protein` to `Protein (HPA)

3. Rename the `Expression Atlas` tab to `Experiments (Expression Atlas)`

4. Rename the `GTEx variability` tab to `Varia

[2020-06-08 12:54] andrewhercules opened #1100 "Update Known Drugs summary widget and detail view on drug profile page"
Can we please make the following changes to the Known Drugs summary widget and detail on the drug profile page?

1. Change the summary widget and detail view to `Clinical Precedence`

2. Update the detail view description:

As with other detail view descriptions, please replace DRUG_NAME with the `drug.name` value.

[2020-06-08 15:52] #1060 closed

[2020-06-08 16:38] #1088 closed

[2020-06-08 22:04] #1028 closed

[2020-06-09 08:17] andrewhercules commented on #1065
@mirandaio looks good! 👍

Can we please make a slight change to the layout in the search box and add some line breaks and padding to the alpha release notice to to increase the prominence of the notice?

![Screenshot 2020-06-09 at 09 14 53](https://user-images.githubusercontent.com/7490258/84123407-b7ae6300-aa31-11ea-9799-b74df31a441c.png)

And here is a 8KB SVG of the helix logo and Platform-bran

[2020-06-09 09:02] andrewhercules commented on #1014
@tskir, agreed - I'll flag this as something to review/close for our next release. In the meantime, I will explore the FE implications, particularly in our new rewrite UI.

[2020-06-09 10:39] andrewhercules commented on #1050
Post note: for rationale about filtering, please see #876

[2020-06-09 12:40] andrewhercules commented on #1065
![Rewrite homepage search box](https://user-images.githubusercontent.com/7490258/84146470-aaa26b80-aa53-11ea-9a27-3ac783431e60.png)

A few notes:

- I have created a special [SVG logo and word mark](https://github.com/opentargets/platform/files/4752104/Open_Targets_Platform_Logo_alpha.svg.zip)
- Please link the `Browse our GraphQL API` link to the GraphQL browser
- For the background of the notice

[2020-06-09 14:02] andrewhercules opened #1101 "Prevent search engines from indexing profile pages in ALPHA release"
To ensure that we do not negatively impact our recent SEO success, we should restrict all search engines from indexing the `alpha` branch.

While we could do this with a robots.txt file with `User-agent: * Disallow: /`, it is preferable to block the page using the `<meta name='robots'>` tag.

Source: [Google Search Console documentation](https://support.google.com/webmasters/answer/93710?hl=en)

B

[2020-06-09 16:33] LucaFumis commented on #1070
The synonyms use the same component (header) as the page header - see issue #1069

[2020-06-09 17:09] LucaFumis commented on #1069
The title is truncated, to page width, with an ellipses.
It has a set native `title` property to show the full-length text: we can probably replace this with some tooltip for quicker trigger time.

[2020-06-09 21:13] #1062 closed

[2020-06-09 21:13] #1059 closed

[2020-06-09 21:14] #1045 closed

[2020-06-09 21:15] #993 closed

[2020-06-09 21:17] #989 closed

[2020-06-09 21:17] #934 closed

[2020-06-10 07:05] JarrodBaker commented on #966
@mkarmona, @cmalangone   The commit above has not yet been merged into master as it implements Miguel's suggestion:
event -> name
report_count -> count
llr -> logLR
critval -> criticalValue

I don't know if any of the renaming is going to break anything down-stream.

[2020-06-10 07:52] mkarmona commented on #966
It is ok. Go for it @JarrodBaker

[2020-06-10 08:28] AsierGonzalez commented on #795
Duplicates have disappeared from both PheWAS catalog and expression atlas evidence files in 20.06

[2020-06-10 08:28] #795 closed

[2020-06-10 08:29] #127 closed

[2020-06-10 08:33] AsierGonzalez commented on #724
Filtering still not implemeted by atlas for the 20.06 iteration so filtered in-house.

[2020-06-10 08:46] AsierGonzalez commented on #824
Now that the PheWAS catalog evidence has been updated and improved, the only question left in this epic is whether we want to explore alternative ways to perform PheWAS analysis and include it as evidence.

[2020-06-10 08:53] AsierGonzalez commented on #981
Closing as it's a duplicate of #1078

[2020-06-10 08:53] #981 closed

[2020-06-10 08:55] AsierGonzalez commented on #1077
Closing as it's a duplicate of #980

[2020-06-10 08:55] #1077 closed

[2020-06-10 10:19] cmalangone commented on #920
Currently mouse_phenotype index is created manually and the json file is just an input file to ETL
cat 20.06_gene-data.json | jq -r '{"id":.id,"phenotypes": [.mouse_phenotypes[]?] }|@json' > mouse_phenotypes.json

[2020-06-10 10:19] #924 closed

[2020-06-10 10:54] andrewhercules commented on #1065
@mirandaio can we add two small tweaks to the CSS of this section to improve the responsiveness?

For the logo, can we update the `.jss19` class to `width: 100%` so that the SVG logo resizes properly on all devices?

![Screenshot 2020-06-10 at 09 59 54](https://user-images.githubusercontent.com/7490258/84259807-ebac8580-ab10-11ea-9f4f-35a49ad6e7c7.png)

And for the search input box, we set the `.j

[2020-06-10 11:05] andrewhercules opened #1102 "Resolve bug where ontology graph does not show for some diseases"
Can we please update the EFO and therapeutic area static files used by in the React version of the Platform? This will allow us to show the ontology visualisation for some of the new diseases found in 20.06 (e.g. [COVID-19](https://alpha.targetvalidation.org/disease/MONDO_0100096))

[2020-06-10 11:14] andrewhercules commented on #1075
Ticket closed as work merged into `alpha`

[2020-06-10 11:14] #1075 closed

[2020-06-10 11:17] andrewhercules commented on #1058
Ticket closed as work merged into `alpha`

[2020-06-10 11:17] #1058 closed

[2020-06-10 11:19] andrewhercules commented on #1057
Ticket closed as work merged into `alpha` and resolves cases where MoA do not have references (e.g. CHEMBL101) or where the MoA is a non-human target (e.g. CHEMBL822)

[2020-06-10 11:19] #1057 closed

[2020-06-10 11:33] andrewhercules commented on #1074
Ticket closed as work merged into `alpha`

[2020-06-10 11:33] #1074 closed

[2020-06-10 11:33] andrewhercules commented on #1055
Ticket closed as work merged into `alpha`

[2020-06-10 11:33] #1055 closed

[2020-06-10 11:34] andrewhercules commented on #1056
Ticket closed as work merged into `alpha`

[2020-06-10 11:34] #1056 closed

[2020-06-10 11:47] andrewhercules opened #1103 "Update navigation tabs on target profile page and link to the Platform"
To prepare for our `alpha` launch, we need to ensure that the user journey is as closed as possible so that users can move seamlessly between the React and Angular versions of the Platform.

On the target profile page, can we please update the [navigation tabs component](https://github.com/opentargets/platform-app/blob/37500414b0735df0c2d70a61741960b9dee5cb5f/src/public/target/Page.js#L57) so that

[2020-06-11 07:51] andrewhercules commented on #992
Ticket closed as work merged into `alpha`

[2020-06-11 07:51] #992 closed

[2020-06-11 07:52] andrewhercules opened #2350 "Update front-end dependencies"
As noted in https://github.com/opentargets/platform/issues/979, can we please update the front-end dependencies used in the Genetics Portal?

[2020-06-11 08:03] andrewhercules commented on #948
Ticket closed as new table component developed by @javfg uses tabular monospaced numbers if cell has numbers - see https://github.com/opentargets/platform/issues/1000

[2020-06-11 08:03] #948 closed

[2020-06-11 08:04] andrewhercules commented on #979
Ticket closed as dependencies have been updated and merged into `alpha`

Ticket created to update dependencies in Genetics Portal front-end - see https://github.com/opentargets/genetics/issues/430

[2020-06-11 08:04] #979 closed

[2020-06-11 12:22] JarrodBaker opened #2351 "Update ElasticSearch and Clickhouse versions to latest"

[2020-06-11 12:39] andrewhercules opened #1104 "Fix issue with Cancer Biomarkers detail view"
The Cancer Biomarkers detail view for [TP53](https://alpha.targetvalidation.org/target/ENSG00000141510) shows an error.

Can we please investigate and fix?

[2020-06-11 16:09] andrewhercules opened #1105 "Fix word-break attribute used in summary widget labels"
On the target and disease profile pages, the `<p>` tag that generates the summary widget label has a `word-break: break-all;` CSS attribute. This causes some words to break - see below for examples.

Disease profile page:
![Screenshot 2020-06-11 at 16 53 23](https://user-images.githubusercontent.com/7490258/84408580-3b1fae00-ac04-11ea-9c65-c02ae2d7f6c6.png)

Target profile page:
![Screenshot 2020-

[2020-06-11 16:10] andrewhercules commented on #1104
Ticket closed as bug fixed

[2020-06-11 16:10] #1104 closed

[2020-06-11 16:26] AsierGonzalez commented on #1013
Summary of discussion in EVA-OT meeting held on 9-06-20
---
In the future, when multiple ClinVar conditions map to the same EFO id all the ClinVar disease names will be listed in an array in ".disease.source_name":
- @tskir to make the changes to the EVA pipeline
- @AsierGonzalez to make the necessary changes to the JSON schema
- No changes will be made to the unique_association fields
- Manual cu

[2020-06-11 16:29] AsierGonzalez commented on #1014
Summary of discussion in EVA-OT meeting held on 9-06-20
---
Two solutions have been suggested to avoid using suboptimal RCV and rs ids as variant identifiers:
1. Use "CHROM_POS_REF_ALT" notation: It would work for small variants but would require alternatives for SVs. In addition, the notation for STRs could be extremely long (longest repeat is 4kb at the moment but there is no theoretical upper l

[2020-06-11 16:34] #506 closed

[2020-06-11 20:37] mirandaio commented on #1065
@andrewhercules responsiveness issues have been fixed. Closing this now.

[2020-06-11 20:38] #1065 closed

[2020-06-11 20:43] mirandaio commented on #1102
This has been fixed now.

[2020-06-11 20:43] #1102 closed

[2020-06-12 08:17] andrewhercules commented on #1046
Ticket closed as work merged into `alpha`

[2020-06-12 08:17] #1046 closed

[2020-06-12 08:21] andrewhercules commented on #1051
Thank you! @arwaraies 👍

Ticket closed as dictionaries updated and uploaded to Google Cloud bucket

[2020-06-12 08:21] #1051 closed

[2020-06-12 09:04] javfg commented on #1097
Paging @mkarmona!

For this one, I need the GraphQL API to provide "uniprot reference accession" field from `ProteinAnnotation` object in the `GeneOntology` object.

This is the part in the schema:
[code]

[2020-06-12 12:52] javfg commented on #1097
There is no need to change the API in the end, the uniprotId is provided by the target profile page to the component.

But don't close the issue yet! (still working on it)

[2020-06-15 08:17] andrewhercules opened #1106 "Improve indications data table on drug profile page"
Can we please make the following changes to the indications data table on the drug profile page?

1. Replace the existing data table with @javfg's new table component
2. Apply a default sorting in the `max_phase` column from highest to lowest phase (4 --> 1)
3. Within the data table, change the column label `Name` to `Indication`

[2020-06-15 08:52] andrewhercules commented on #1092
Ticket closed - merged into `alpha`

[2020-06-15 08:52] #1092 closed

[2020-06-15 08:52] andrewhercules commented on #1093
Ticket closed - merged into `alpha`

[2020-06-15 08:52] #1093 closed

[2020-06-15 08:52] andrewhercules commented on #1101
Ticket closed - merged into `alpha`

[2020-06-15 08:52] #1101 closed

[2020-06-15 09:23] andrewhercules opened #1107 "Improve phenotypes data table on disease profile page"
Can we please make the following changes to the phenotypes data table on the disease profile page?

1. Replace the existing unordered list with @javfg's new table component with the table search functionality
2. Within the data table, create two columns `Phenotype` and `Identifier`
3. In the `Phenotype` column, display the `phenotypes.name` value
4. In the `Identifier` column, display the `phenoty

[2020-06-15 13:59] andrewhercules opened #1108 "Change default order of summary widgets and detail views on target profile page"
To prepare for the `alpha` release, can we please change the default order of the summary widgets and detail views on the target profile page?

1. Known Drugs
2. Target Tractability
3. Target Safety
4. TEPs
5. Chemical Probes
6. Baseline Expression
7. Gene Ontology
8. Protein Information
9. Pathways
10. Related Targets
11. Cancer Biomarkers
12. Cancer Hallmarks
13. Mouse Phenotypes
14. Variation &

[2020-06-15 14:51] andrewhercules opened #1109 "Update ProtVista on target profile page"
Currently, `alpha` uses v2.0.15 of the UniProt ProtVista viewer as noted in line 45 of the [package.json](https://github.com/opentargets/platform-app/blob/b93b0c3fcd190f977543535f0c132b68e4796b7e/package.json) file. @mirandaio, can you please update ProtVista to the most recent [release version v2.10.0](https://github.com/ebi-webcomponents/nightingale/releases)?

[2020-06-15 15:54] mirandaio commented on #1087
The projects widget can be found here https://custom--platform-app.netlify.app/disease/EFO_0003767

[2020-06-15 16:51] andrewhercules commented on #1087
@mirandaio looks great! 👍

Unfortunately I made a mistake in the design spec. I thought the GraphQL API would return the mapped disease name, which would appear in the `Disease` column. This would be useful when showing projects where the mapped disease is a child term - for example, if a user is on the `intestinal disease` profile page, they could see projects for the child term `inflammatory bow

[2020-06-15 20:14] mirandaio commented on #1087
Yeah, no worries. Disease column has been removed now.

[2020-06-16 08:37] iandunham commented on #1087
Can we get the mapped disease names supplied? This would be useful

[2020-06-16 09:11] andrewhercules opened #1110 "Drop columns in Known Drugs data table for smaller screens"
To ensure that users can see the clinical trial phase, status, and source links, can we please drop the `Target name` and `Activity` columns in the Known Drugs table on smaller screens?

This will reduce the need to scroll horizontally on smaller screens to see these columns.

[2020-06-16 09:25] andrewhercules opened #1111 "Update Ontology summary widget text"
Currently, the Ontology summary widget on the disease and phenotype profile page has a boolean `has children` text. However, this is not very descriptive.

Instead, can we please update the text and display the number of therapeutic areas the disease or phenotype belongs to in the format of `Belongs to n therapeutic areas`

So for example, for [Crohn's disease](https://alpha.targetvalidation.org/d

[2020-06-16 09:35] #1095 closed

[2020-06-16 09:35] #1094 closed

[2020-06-16 09:35] #1096 closed

[2020-06-16 09:35] #1097 closed

[2020-06-16 09:35] #1098 closed

[2020-06-16 09:35] #1100 closed

[2020-06-16 09:35] #1099 closed

[2020-06-16 09:36] #1103 closed

[2020-06-16 09:36] #1105 closed

[2020-06-16 10:05] andrewhercules opened #1112 "Update Safety widget text on target profile page"
Currently, the Safety widget on the target profile page displays a boolean `available` or `not available` depending on whether safety data is returned by the GraphQL API.

Can we please update the summary widget text to list which kind of safety data is returned from the API, similar to how we list what sources of Chemical Probes?

![Screenshot 2020-06-16 at 10 59 57](https://user-images.githubuse

[2020-06-16 10:16] andrewhercules opened #1113 "Update Known Drug and Clinical Precedence summary widget text"
Can we please update the text displayed in the Known Drugs and Clinical Precedence summary widgets? These updates will use existing aggregation counts provided by the GraphQL API - `uniqueDrugs`, `uniqueTargets` and `uniqueDiseases`.

### Target profile page

For the Known Drugs summary widget on the target profile page, please display:
`n drugs with n indications`.

For example, for [ESR1](https:

[2020-06-16 10:36] andrewhercules opened #1114 "Update data about Open Targets Projects"
Based on feedback from the customisations branch, we should update the data used to populate the Open Targets Projects data table.

Below is a list of data that we can include in the ETL pipeline and GraphQL API for inclusion in the data table:

1. Mapped disease label and ID
2. Publication (if available) or link to corporate website
3. Data availability status

This new data will require a front-

[2020-06-16 10:45] andrewhercules commented on #1087
@iandunham I have added the request for the mapped disease name and ID to epic #1114 as it will form part of a larger piece of work on deploying this feature in both public and private instances of the Platform

[2020-06-16 10:45] #1087 closed

[2020-06-16 14:36] andrewhercules opened #1115 "Fix hyphens in disease/phenotype names on disease and phenotype profile pages"
For diseases or phenotypes with a hyphen in the name (e.g. [COVID-19](https://alpha.targetvalidation.org/disease/MONDO_0100096), [Barre-Lieou syndrome](https://alpha.targetvalidation.org/disease/EFO_0007165), and [Tay-Sachs disease](https://alpha.targetvalidation.org/disease/Orphanet_845)), the hyphen is missing in the page heading.

![Screenshot 2020-06-16 at 15 34 27](https://user-images.githubu

[2020-06-16 16:22] andrewhercules opened #1116 "Update platform-app to point to new GraphQL URI"
As noted by @cmalangone, there is a new URI for the GraphQL API:

`http://platform-api-alpha.opentargets.io/`

Can we please update the `alpha` branch to use the new endpoint?

Also, can we please update the link to the GraphQL API on the homepage search box and point to the new GraphQL API browser?

`http://platform-api-alpha.opentargets.io/api/v4/graphql/browser`

[2020-06-16 20:06] andrewhercules commented on #1086
Ticket closed as PR merged and pushed to production

[2020-06-16 20:06] #1086 closed

[2020-06-16 20:06] andrewhercules commented on #1031
Ticket closed as PR merged and pushed to production

[2020-06-16 20:06] #1031 closed

[2020-06-16 20:06] andrewhercules commented on #1048
Ticket closed as PR merged and pushed to production

[2020-06-16 20:06] #1048 closed

[2020-06-16 20:06] andrewhercules commented on #1006
Ticket closed as PR merged and pushed to production

[2020-06-16 20:07] andrewhercules commented on #1006
Ticket closed as PR merged and pushed to production

[2020-06-16 20:07] #1006 closed

[2020-06-16 20:07] andrewhercules commented on #1011
@AsierGonzalez is this ready or shall we push to the 20.09 release?

[2020-06-16 20:11] andrewhercules commented on #966
Ticket closed as work merged into `master` of `etl-openfda-faers` repo

See https://github.com/opentargets/platform-etl-openfda-faers/pull/15 for more details

[2020-06-16 20:11] #966 closed

[2020-06-16 20:15] #1111 closed

[2020-06-16 20:15] #1109 closed

[2020-06-16 20:15] #1115 closed

[2020-06-16 20:21] andrewhercules commented on #745
Ticket closed as basic installation of Google Analytics completed and merged into `alpha` in #1092

[2020-06-16 20:21] #745 closed

[2020-06-16 20:22] andrewhercules commented on #1108
Ticket closed as PR approved and work merged into `alpha`

[2020-06-16 20:22] #1108 closed

[2020-06-16 20:22] andrewhercules commented on #1110
Ticket closed as PR approved and work merged into `alpha`

[2020-06-16 20:22] #1110 closed

[2020-06-16 20:32] andrewhercules commented on #1079
Ticket closed as [target tractability documentation page](https://docs.targetvalidation.org/getting-started/target-tractability) updated

[2020-06-16 20:32] #1079 closed

[2020-06-16 20:36] andrewhercules commented on #1107
Ticket closed as PR approved and merged into `alpha`

[2020-06-16 20:36] #1107 closed

[2020-06-16 20:36] andrewhercules commented on #1106
Ticket closed as PR approved and merged into `alpha`

[2020-06-16 20:37] #1106 closed

[2020-06-16 20:38] andrewhercules commented on #920
Epic ticket closed as disease profile page ETL, GraphQL, and React UI all pushed to production

[2020-06-16 20:38] #920 closed

[2020-06-16 20:39] AsierGonzalez commented on #1011
I wrote the documentation and I am awaiting the feedback from @deniseOme and instructions as to where we should put it. From my end, I hope to have it ready for this release even if it's after the platform is out.

[2020-06-17 09:28] andrewhercules commented on #1116
@LucaFumis can we please update the homepage GraphQL link to `http://platform-api-alpha.opentargets.io/api/v4/graphql/browser`?

[2020-06-17 09:30] andrewhercules commented on #1112
Ticket closed as PR merged into `alpha`

[2020-06-17 09:30] #1112 closed

[2020-06-17 10:28] eric-czech opened #1117 "Identifying lead variants in genetics portal evidence strings"
Is there a way to determine lead vs tag variant in the OTP evidence strings from OTG, e.g. [genetics-portal-evidences-2020-03-12.json.gz](https://storage.googleapis.com/open-targets-data-releases/20.04/input/evidence-files/genetics-portal-evidences-2020-03-12.json.gz)?

[2020-06-17 11:29] javfg opened #1118 "Search result page is broken due to associations on the fly"
The search results page is empty, the API returning a 502 error. The search query fragments include `associationsOnTheFly` fields which are disabled in the backend.

[2020-06-17 12:23] andrewhercules opened #1119 "Update links in navigation hamburger menu bar in React version of Platform"
Can we update the links in the navigation hamburger menu to point to the existing pages in the Angular version of the Platform?

Open Targets Platform --> targetvalidation.org/about
Outreach and tutorials --> targetvalidation.org/outreach
Downloads --> targetvalidation.org/downloads/data

[2020-06-17 14:25] andrewhercules commented on #1089
Ticket closed as all 20.06 release communications work has been completed

[2020-06-17 14:25] #1089 closed

[2020-06-17 14:26] andrewhercules commented on #1118
Ticket closed as PR approved and merged into `alpha`

[2020-06-17 14:26] #1118 closed

[2020-06-17 14:28] andrewhercules commented on #1113
Ticket closed as work merged into `alpha`

[2020-06-17 14:28] #1113 closed

[2020-06-17 14:29] andrewhercules commented on #1116
Ticket closed as PR approved and merged into `alpha`

[2020-06-17 14:29] #1116 closed

[2020-06-17 14:34] andrewhercules commented on #1119
Ticket closed as PR approved and merged into `alpha`

[2020-06-17 14:34] #1119 closed

[2020-06-17 14:35] andrewhercules commented on #901
Ticket closed as `alpha` released

[2020-06-17 14:35] #901 closed

[2020-06-17 15:09] eric-czech commented on #1117
I think I've answered my own question in finding that all the variants have genome wide significance (no tag variants).

Is there a dataset on GCS anywhere with L2G scores for tag variants as well?  I'm assuming there is one downstream from [genetics-l2g-scoring](https://github.com/opentargets/genetics-l2g-scoring) and upstream from [evidence_datasource_parsers](https://github.com/opentargets/evid

[2020-06-17 15:36] d0choa commented on #1117
Yes your self-answer is correct. As you said, only a fraction of variants with L2G will have tag variants.

This exceeds my understanding of the Genetics GCS data. Perhaps, @mkarmona might be able to help you.

[2020-06-17 16:00] andrewhercules commented on #865
Pushed to 20.09 release

[2020-06-17 16:01] andrewhercules commented on #921
Epic ticket closed as `alpha` version of drug profile page complete

[2020-06-17 16:01] #921 closed

[2020-06-17 16:03] andrewhercules opened #1120 "Fix typo in TEPs description"
Can we please update the TEPs description to fix a small typo with the word "learn"?

Lear**n** more about GENE-SYMBOL TEP

[2020-06-17 18:43] eric-czech commented on #1117
Thanks @d0choa.  To focus my question a bit more then, are L2G scores even computed for variants that didn't reach genome wide significance in the originating study?  I couldn't tell if the 5e-8 p-value filter was applied before or after genetics-l2g-scoring.

[2020-06-17 22:07] mkarmona commented on #1117
@eric-czech , we developed two main methods to find the causal variant and gene for a given pair study trait and lead variant. Given the difference between [lead variant](https://genetics-docs.opentargets.org/our-approach/assigning-traits-to-loci) and [tag variant](https://genetics-docs.opentargets.org/our-approach/data-pipeline) (and also [here](https://genetics-docs.opentargets.org/faqs#what-is-

[2020-06-17 22:18] mkarmona commented on #1117
just to clarify a bit further the _p_-value filtering. for the phewas plot, all studies are filtered by simple p-value threshold but for analyses, the significant regions are detected by p-value and then all variants in that window per significant hit are included

[2020-06-18 07:40] cmalangone commented on #1052
Arwa provided the new vocabulary :
https://console.cloud.google.com/storage/browser/opentargets-vocabularies_2020_06

Run library-beam:
   Issue with publicationType field. Fixed.

Releasing today after loading the data into a new ES
http://es-200617-101804.es-200617-101804.il4.europe-west1.lb.open-targets-library.internal:9200

[2020-06-18 07:46] cmalangone commented on #1047
The first attempt using shelve. It does not performe well.

New branch with PySpark seems working better

[2020-06-18 07:49] cmalangone commented on #889
Release the rewrite in 3 Region with a load balance for the OT day.
Wrote a script with few parameters in order to create the new infrastructure.
We are investigating to write an infrastructure using terraform.

[2020-06-18 08:33] andrewhercules commented on #807
Pushed to next sprint to allow for project team to provide update on interim Project Score release plans

[2020-06-18 09:27] mkarmona commented on #1047
I would say a ammonite script is even faster to write and more compact but you chose

[2020-06-18 10:21] andrewhercules commented on #1080
Ticket closed as documentation updated - see  https://github.com/opentargets/docs.targetvalidation.org/commit/dfa21492434f6868faca2ccd5b235d1aa67496ae for more information

[2020-06-18 10:21] #1080 closed

[2020-06-18 10:56] andrewhercules commented on #503
Ticket closed as contribution guidelines being developed as part of Rewrite project - see #1054

[2020-06-18 10:56] #503 closed

[2020-06-19 11:48] andrewhercules opened #1121 "Update data table used in Related Targets detail view"
Can we please update the Related Targets detail view to use the new data table component and update the column heads to bring in line with the data table displayed in the Related Diseases and Phenotypes detail view?

[Table documentation](https://github.com/opentargets/platform-app/blob/alpha/src/public/common/Table/README.md) including link to component that generates [Related Diseases and Phenot

[2020-06-19 11:55] andrewhercules opened #1122 "Update data table used in Cancer Biomarkers detail view"
Can we please update the Cancer Biomarkers detail view to use the new data table component?

When implementing the new data table component, can we please include the ability to search the data table, specifically in the biomarker, disease, and drug columns?

Note: the [table documentation](https://github.com/opentargets/platform-app/blob/alpha/src/public/common/Table/README.md) details the option

[2020-06-19 11:59] andrewhercules opened #1123 "Update data table used in Mechanisms of Action detail view"
Can we please update the Mechanisms of Action detail view to use the new data table component?

When implementing the new data table component, can we please include the ability to search the data table, specifically in the mechanism of action, target name, and human targets columns?

Note: the [table documentation](https://github.com/opentargets/platform-app/blob/alpha/src/public/common/Table/REA

[2020-06-19 12:00] andrewhercules opened #1124 "Update data table used in Pharmacovigilance detail view"
Can we please update the Pharmacovigilance detail view to use the new data table component?

When implementing the new data table component, can we please include the ability to search the data table, specifically in the adverse event column?

Note: the [table documentation](https://github.com/opentargets/platform-app/blob/alpha/src/public/common/Table/README.md) details the options available in t

[2020-06-19 12:27] andrewhercules opened #1125 "Update data tables used in Safety detail view"
Can we please update the Safety detail view to use the new data table component for all three tables - Known safety effects, Safety risk information, and Non-clinical experimental toxicity?

When implementing the new data table component, can we please include the ability to search the data tables by all columns, except for the publication or source column?

Note: the [table documentation](https:/

[2020-06-19 12:46] andrewhercules opened #1126 "Update data table used in Cancer Hallmarks detail view"
Can we please update the Cancer Biomarkers detail view to use the new data table component?

When implementing the new data table component, the ability to search the table is not needed as genes have less than 10 entries in the data table.

Note: the [table documentation](https://github.com/opentargets/platform-app/blob/alpha/src/public/common/Table/README.md) details the options available in the

[2020-06-19 14:13] deniseOme commented on #541
With the release of the [alpha version](https://alpha.targetvalidation.org/) our link outs to GeneCards are up and running. I've contacted GeneCards for an update from our front and heard that the links in GeneCards to Open Targets Platform in their Summaries and Disorders sections have been implemented.

![openTargetsDisorders](https://user-images.githubusercontent.com/6472381/85141837-51022400-b

[2020-06-19 14:15] andrewhercules commented on #976
Investigation reveals that IE11 tests fail because of JavaScript error; however, Browserstack counts test as "completed" because <body> tag loads

Ticket will be discussed with FE team as part of CI/CD plans

[2020-06-19 14:17] deniseOme commented on #541
As per links from from MalaCards, this will be deferred to a later version due to a variety of constraints.

[2020-06-19 15:07] deniseOme opened #1127 "Work with SGC, Chemical Probes Portal, SGC Frankfurt"
To address the user need below:

"As a chemist exploring chemical probes (both curated or predicted by computational methods) available in chemical tools/resources such as Chemical Probes Portal, I want to be able to find more about the target (s) that are modulated/inhibited by probes so that I can assess the function of the target/protein in preclinical stages of my drug discovery pipeline and g

[2020-06-19 16:07] AsierGonzalez commented on #1011
The documentation is now available at https://docs.targetvalidation.org/getting-started/baseline-expression. I leave the ticket open for now as I would still appreciate if @deniseOme or @iandunham or someone else would like to share some feedback.

[2020-06-19 16:08] d0choa commented on #1127
Thanks @deniseOme. Does this ticket require any action on our side?

[2020-06-19 16:40] eric-czech commented on #1117
Thanks @mkarmona!  Appreciate the links to the code.

Makes sense, but I'm curious what `toploci` and `credset` datasets are used for then.  Are they only used to generate features for lead variants?  When I saw that I thought that might mean tag variants would get scored too.  It makes sense that they may only be used for features.

Perfect, good to know where that lives.

👍

My last question the

[2020-06-19 18:50] eric-czech opened #1128 "EVA modes of inheritance and ClinVar submitters"
We would like to be able to extract inheritance patterns (autosomal dominant, X-linked recessive, etc) specific to mendelian disorders as well as identify more heavily curated sources of associations to them within ClinVar like OMIM and ClinGen (i.e. we'd like to identify those submitters).  We also know how to get that kind of information directly from ClinVar, but I wanted to see if you guys hav

[2020-06-19 20:05] d0choa commented on #1128
It's on our immediate plans to increase the amount of information on our mendelian evidence. Mode of inheritance, mutation consequence, variant-disease confidence, variant IDs (when available) or increase coverage are some of the aspects we want to cover for different data sources. Of course, this will lead into improved scores for some of these evidence.

We'll work with EVA on improving eva-cttv

[2020-06-22 10:53] AsierGonzalez commented on #1013
[This commit](https://github.com/opentargets/json_schema/commit/4b9128e1f9005e2aaf060bfc64baf0e5ba3f8c3f#diff-8733dc6847a1a17a6cfa055eb8a14605) to branch [ag_eva_changes](https://github.com/opentargets/json_schema/blob/ag_eva_changes/opentargets.json) adds support for arrays of strings. The two alternatives below are not valid:
[code]
And
[code]

[2020-06-22 10:56] AsierGonzalez commented on #1014
[This commit](https://github.com/opentargets/json_schema/commit/997ed66f93d67eb29a3a3007cac533f603716fd9#diff-8733dc6847a1a17a6cfa055eb8a14605) to [ag_eva_changes](https://github.com/opentargets/json_schema/blob/ag_eva_changes/opentargets.json) replaces support of RCV ids with VCV ids

[2020-06-22 14:46] iandunham commented on #1011
This sentence is ambiguous "The tissue- and cell-based samples are processed together separately". Do you mean "The tissue- and cell-based samples are processed separately"?

[2020-06-22 14:55] iandunham commented on #1011
"assumed no to be" => "assumed not to be"

Otherwise this looks good. The language could be tightened up a bit - is there a version to edit for the future?

[2020-06-22 15:11] AsierGonzalez commented on #1011
Thank you for the feedback. I have corrected both mistakes in the [Google doc](https://docs.google.com/document/d/1_40Knrsf69bHPVEzTYZVMyHhhabhSEYzO5u7wf1X84M/edit#heading=h.am7ca1dfnaqp), where you can add comments or make edits.

[2020-06-22 15:53] AsierGonzalez commented on #1014
RS ids will be accepted as secondary ids, which is intended to be used with variants identified with the "CHROM_POS_REF_ALT" notation if they have one. Change implemented in [this commit](https://github.com/opentargets/json_schema/commit/7066d68265a1b05038c356de30ea4e69cd648d41).

[2020-06-23 08:59] andrewhercules commented on #1073
Epic ticket closed as all polish tickets for `alpha` release have been completed

[2020-06-23 08:59] #1073 closed

[2020-06-23 18:49] deniseOme commented on #1127
Yes @d0choa, indeed. From our side, we need to decide who is going to liaise with all the suggested chemical resources above to check A) if they are willing to point to the protein target pages in Open Targets Platform and B) how going about doing so? Would point them to the downloads page suffice? Would we filter out to include only the protein targets their chemical probes are devised for? I sus

[2020-06-23 19:57] deniseOme commented on #1011
Following adjustments TODO:

- include screenshots or a short animation if available to illustrate what we mean by Expression Atlas (EA) widget
- make clear the normalisation and other steps are done by EA not by us
- minor changes such as Gene Expression Atlas --> Expression Atlas (plus hyperlinking these resources)
- mention RNA baseline data comes from both microarray and RNA sequencing experim

[2020-06-23 20:50] deniseOme commented on #1011
Clarification/confirmation from @AsierGonzalez : baseline expression data is available from RNA sequencing experiments only. No microarray data for baseline, only differential expression (not the subject of this help page).

[2020-06-23 23:32] deniseOme commented on #1011
Clarification 2 from @AsierGonzalez : this piece of documentation pertains **only** to the Summary tab; not to Expression Atlas or GTEx tabs under "RNA and protein baseline expression" section. We will make this clearer in the docs.

<img width="1126" alt="Screen Shot 2020-06-24 at 00 21 34" src="https://user-images.githubusercontent.com/6472381/85476659-b42de680-b5b0-11ea-8ef4-cd90b44a5a14.png">

[2020-06-24 08:46] #1033 closed

[2020-06-24 10:09] andrewhercules commented on #837
Due to challenges with LINK updates, I have moved this to the next sprint

[2020-06-24 10:32] AsierGonzalez commented on #1127
Did this request get to us? It sounds like something that the chemical probes sites should be doing, which we can help them with as you suggest.

Just for your reference, SGC already link to us from TEPs in the "useful links" section:

- [MTHFR](https://www.thesgc.org/tep/mthfr)
- [TASK1](https://www.thesgc.org/tep/task1)
- [MLLT1](https://www.thesgc.org/tep/mllt1)

Probably it is easier to do it

[2020-06-24 11:10] andrewhercules commented on #1052
Ticket closed as LINK has been updated thanks to @cmalangone! 👍  🎉

[2020-06-24 11:10] #1052 closed

[2020-06-24 11:56] andrewhercules commented on #1072
Ticket moved to next sprint to account for work on updating data tables

[2020-06-24 11:56] andrewhercules commented on #1120
Ticket moved to next sprint

[2020-06-24 12:03] andrewhercules opened #1129 "Update CI / CD process for rewrite"
To ensure we set a solid foundation for the next phase of work on the Rewrite project, can we please update the CI / CD process so that we can identify problems prior to the Netlify deploy process?

[2020-06-24 12:05] andrewhercules commented on #1129
As Browserstack is part of the CI / CD process, can we please do the following?

- Update smoke tests to ensure broader coverage (e.g. check for name/description section, summary widget section and detail view section)
- Update browsers used to reflect average use case
- Temporarily remove IE11 from Browserstack tests as we know the app is not building in IE11 and showing <noscript> tag (see #976)

[2020-06-24 12:24] andrewhercules opened #1130 "Update table component to allow users to show more rows"
The current [data table component](https://github.com/opentargets/platform-app/blob/alpha/src/public/common/Table/README.md) defaults to showing 10 rows. However, in the current Angular production version of the Platform, we allow users to see 10, 25, 50, or 100 rows.

Can we please update the table component to allow users to view more than 10 rows at once?

[2020-06-24 12:25] andrewhercules commented on #1130
Also, if we plan to use the same data table component on the association page heat map, we may want to allow users to see up to 500 rows as we currently allow that in the Angular production version.

[2020-06-24 12:32] andrewhercules opened #1131 "Explore changes to driver used in Rewrite project"
Based on conversation with @javfg and @d0choa, we should explore updating the driver used on the disease profile page as it has a number of technical use cases:

- Server-side pagination table (Known Drugs)
- Third-party API call (LINK)
- Loading static file (Ontology)
- Simple GraphQL API call (Phenotypes)

[2020-06-24 12:48] andrewhercules opened #1132 "Add drop-down filters to table component"
Can we please update the table component to include drop-down select options, similar to what we currently offer in the Angular production version of the Platform?

[2020-06-24 12:57] andrewhercules opened #1133 "Remove react-selection and replace with material-ui-select"
As we have migrated to `material-ui-select` can we please ensure all components are using `material-ui-select` rather than `react-select`?

[2020-06-24 14:03] #1123 closed

[2020-06-27 15:12] eric-czech commented on #1128
Thanks @d0choa, I think that covers everything on our wishlist -- mode of inheritance, consequence (e.g. clinical significance), and variant-disease confidence (based on the source/submitter of the association).

When you say OMIM, do you mean anything other than the OMIM data collected as part of EVA from ClinVar?

[2020-06-27 15:21] d0choa commented on #1128
Yes, sorry I was not very specific. A subset of the OMIM data does not have variant information, therefore it does not come to us through EVA. However, this information is still relevant to establish target - disease relationships.

You will see a set of tickets for different bits of the work starting from Monday.

[2020-06-29 08:49] DSuveges opened #1134 "Improve rare disease associations"

[2020-06-29 08:54] DSuveges opened #1135 "Look at overlap between Uniprot and Uniprot Literature"
Measure overlap between Uniprot genetic and literature associations to see if all genetic association is also a literature association as well.

[2020-06-29 08:58] DSuveges opened #1136 "Tidy up the evidence strucutre from uniprot"
There's a few ways to improve the evidence string:

- [ ] Explore further information to be added.
- [ ] Improve structure

[2020-06-29 08:59] andrewhercules commented on #1013
Re-assigning to the next sprint so that PR can be opened and approved

[2020-06-29 08:59] andrewhercules commented on #1014
Re-assigning to the next sprint so that PR can be opened and approved

[2020-06-29 09:46] DSuveges opened #1137 "Improve annotation for EVA rare disease evidences"
Check the following and fix if required:

- [ ]  Variant ID changes
- [ ] Original trait/disease (source name)
- [x] Review status(stars)

[2020-06-29 09:49] DSuveges opened #1138 "EVA (ClinVar) improve scoring based on review status + clinical significance"
Explore and implement an improved scoring scheme for EVA evidences based on review status and/or clinical significance.

[2020-06-29 12:49] eric-czech commented on #1128
Hey @d0choa that's great to know -- what is that extra OMIM information?  Is it simply established gene - disease associations without knowledge of underlying variants or something less proximate?

I'll keep an eye out for those issues.  From my perspective, feel free to close this out if those new issues address this all in more detail.

[2020-06-29 12:53] d0choa commented on #1128
Yes that's the case for a subset of the OMIM evidence. I'm sure we will learn a bit more about them as we review them.

[2020-06-29 13:18] andrewhercules commented on #889
Ticket closed as Alpha deployed with production setup. Further changes may be made for the Beta release scheduled in September 2019

[2020-06-29 13:18] #889 closed

[2020-06-29 13:18] andrewhercules commented on #913
Ticket closed as target profile page deployed as part of Alpha release

[2020-06-29 13:18] #913 closed

[2020-06-29 13:19] andrewhercules commented on #472
Ticket closed as GraphQL API deployed as part of Alpha release. Further iterations to GraphQL API may be made as we begin to process and expose the associations and evidence data.

[2020-06-29 13:19] #472 closed

[2020-06-29 13:20] andrewhercules commented on #919
Ticket closed as GraphQL API exposing disease index data as part of Alpha release. Further iterations to GraphQL API to be done with upcoming work (e.g. new data sources for phenotypes, driver work, etc.)

[2020-06-29 13:20] #919 closed

[2020-06-29 14:22] d0choa commented on #91
After revising this old problem again, the next are the most relevant conclusions:

1. Phenotypes linked to diseases come from a list of old (2015!!) static files included quite a long time ago. Files are listed [here](https://sourceforge.net/p/efo/code/HEAD/tree/trunk/src/efoassociations/). It’s totally outdated and we are looking for a way to replace them.

2. In order to replace the phenotypes

[2020-06-29 14:22] #91 closed

[2020-06-29 14:45] d0choa commented on #825
A broader EPIC #1134 now encapsulates this work

[2020-06-29 14:45] #825 closed

[2020-06-29 14:51] d0choa commented on #1007
The preparations for this work are happening in EFO and will soon cascade to the platform team.
Some preliminary Disease - Phenotype mappings are expected during the summer.
User stories will be created describing the necessary work at the appropriate time.
This ticket and the related #91 are now closed

[2020-06-29 14:51] #1007 closed

[2020-06-29 15:13] d0choa commented on #838
@paolaroncaglia and @zoependlington continue meeting with MONDO regularly and approaching this problem branch by branch.

The improvements will propagate to us without any extra action but we'll keep this ticket open for a while in order to monitor the progress

[2020-06-29 16:48] d0choa commented on #807
A recent communication between @andrewhercules and Donny suggested that the best strategy would be to

1. Download gene identifiers file: https://cog.sanger.ac.uk/cmp/download/gene_identifiers_latest.csv.gz

2. Download essentiality matrixes directory:
https://cog.sanger.ac.uk/cmp/download/essentiality_matrices.zip

3. Ingest the `project_score_id` (`gene_id` in gene identifiers file - step 1) in

[2020-06-29 17:34] d0choa commented on #929
When looking at the ChEMBL indications for the same drug [here](https://www.ebi.ac.uk/chembl/g/#browse/drug_indications/filter/drug_indication.parent_molecule_chembl_id%3ACHEMBL657), they list 47 indications, whereas we list 49.

The reason it's because we use the `parent_molecule_chembl_id` so in a way it's a grouping of all the indications for several molecules.

[code]

This is not the intended

[2020-06-30 09:11] DSuveges opened #1139 "EVA/ClinVar - include other clinical significant variant"
Include other clinical significance variants: we’will score them as 0 but present the information

[2020-06-30 09:13] DSuveges opened #1140 "EVA/ClilnVar - Include mode of inheritance"

[2020-06-30 09:15] DSuveges opened #1141 "Measure clash/redundancy between EVA/ClinVar and Uniprot"
The first round shows >8000 (out of 21k) UniProt variants only appear in UniProt evidence. They seem to be in ClinVar but filtered out from EVA evidence due to clinical significance threshold

[2020-06-30 22:36] #1121 closed

[2020-07-01 14:04] #878 closed

[2020-07-01 14:05] #888 closed

[2020-07-01 14:05] emcdonagh-OT opened #1142 "Discrepancies between Production and Alpha Platform sites for COVID-19 drug data"
At here: https://www.targetvalidation.org/disease/MONDO_0100096
there are 758 entries for drugs, and in the tsv download

On alpha there are 396:
https://alpha.targetvalidation.org/disease/MONDO_0100096

I'm sure there is a reason for this, but wanted to check if alpha was missing anything?

[2020-07-01 14:12] d0choa commented on #1142
If you notice the number of targets and drugs is the same. The difference is that the current production lists every trial as an individual entry, whereas Alpha tries to remove some of the redundancy by aggregating rows and having a list of trials with overlapping information in the last column.

The information in both cases should be the same. Please reopen if this is not the case.

[2020-07-01 14:12] #1142 closed

[2020-07-01 14:52] d0choa commented on #230
@andrewhercules I'm inclined to let this go. I don't think wikis are regularly used, but they might have some legacy information that might eventually become relevant.

If you think there is value on improving their organisation please comment here. Otherwise, we could close this ticket

[2020-07-01 15:06] d0choa commented on #1136
Duplicate #709

[2020-07-01 15:06] #1136 closed

[2020-07-01 15:09] andrewhercules commented on #230
I'll check the wikis listed in the [wiki spreadsheet](https://docs.google.com/spreadsheets/d/1uYEPtEP6f6XLRuy2PkxYtYiNIu4Um5JjA0TguKZO27A) but I suspect many are out-dated and no longer used.

[2020-07-01 15:51] d0choa opened #1143 "Do not hide "Activity" column in Known Drugs table for small screens"
As raised by @emcdonagh-OT, users might want to use this information to filter or interrogate the data. Although this information is partially represented in the MoA column, hiding the information on small screens ofuscates valuable information.

Could we please, remove the hiding of the `Activity` column on small screens for all Known Drugs / Clinical precedence widgets?

[2020-07-01 16:24] emcdonagh-OT opened #1144 "URL to platform URL from documentation does not work"
https://docs.targetvalidation.org/programmatic-access/rest-api
URL/link to rest-api from the documentation page is broken: https://platform-api.opentargets.io/v3/platform

[2020-07-01 16:26] andrewhercules commented on #1131
Also tagging @forus because part of this work can address the need to ensure customisations are flexible and easy to implement

[2020-07-01 16:34] andrewhercules opened #1145 "Integrate drop-down filters on OT data table component"
Based on the feedback from the `alpha` release, we should re-implement the drop-down filter feature for data tables and update the table component to allow customised settings for which columns should have drop-down filters.

@fedde-s and @forus submitted a PR - https://github.com/opentargets/platform-app/pull/160 - to move the filters in the Pathways data table to their own component.

Can we ple

[2020-07-01 17:09] fedde-s commented on #1145
Other than applying only to client-side filtering, I think the wrapper component relied on just two assumptions about the column specification objects passed to the underlying table:
1. it accepts a render prop (a component/a function that returns JSX) named `renderFilter` that will be rendered below the column heading, and
2. it does not need a prop named `filterable` to be passed to it for any r

[2020-07-01 20:33] d0choa commented on #1144
We have some significant issues with the documentation of the python API and we will approach them as we continue with the API refactoring.

However, I believe this issue in particular is not a problem. The URL is the actual API as you can see when completing the query:

https://platform-api.opentargets.io/v3/platform/public/association/filter

We could discuss if there is a better way to minimise

[2020-07-02 07:46] JarrodBaker commented on #1144
It's a little confusing that the endpoint is displayed quite prominently on the page, and we don't say that it has to be parameterised until further down. Maybe in the first reference we can change `https://platform-api.opentargets.io/v3/platform` to `https://platform-api.opentargets.io/v3/platform/<method>/<query>` and disable it as a hyperlink?

[2020-07-02 08:00] d0choa commented on #1144
Sounds good, would this solve your issue @emcdonagh-OT ?

[2020-07-02 10:01] DSuveges commented on #1135
Overlap in the association level (unique disease/trait pairs):

|source |  counts |  perc |
|----|--- |  ----|
| both |  2834 |  40.67 |
| literature |  2056 |  29.50 |
| uniprot |  2079 |  29.83 |
| **sum**  |  **6969** |  **100.00** |

Overlap in the evidence level (same disease/trait association supported by the same pubmed ID):

| source  | counts  | perc  |
|----|--- |  ----|
| both  | 2915

[2020-07-02 15:14] emcdonagh-OT commented on #1144
Yes...I think if it was disabled as a hyperlink that would solve it...thanks!

[2020-07-02 16:18] #1124 closed

[2020-07-03 08:14] #1144 closed

[2020-07-06 08:58] AsierGonzalez commented on #1138
I will ask Kirill and overview of the distribution of those two values so that we can get a better idea of how we should score them.

[2020-07-06 08:59] AsierGonzalez commented on #1139
There is no action in our side, EVA need to add this to their pipeline. I'll make sure that Kirill has a ticket for this.

[2020-07-06 14:02] AsierGonzalez commented on #1138
Currently, the EVA evidence strings are scored based on their `variant2disease` and `gene2variant` scores, which are both `0.7` for all the evidence strings. As a consequence, the association score is always `6.99E-8`.

This was not the case until 20.04, when we fixed a bug that caused genetic association evidence strings to be scored based on the functional consequence of the variant (see issue #

[2020-07-06 14:08] AsierGonzalez commented on #1139
Better said, the action on our side is to adapt the JSON schema so that it accepts all the clinical significance values used by ClinVar. The ones currently accepted are below:

[code]
Extracted from the [JSON schema](https://github.com/opentargets/json_schema/blob/master/opentargets.json#L757-L768).

[2020-07-06 14:17] iandunham commented on #1138
The variant2gene score should have been based on the interpretation of the VEP consequence score as described in this https://www.targetvalidation.org/variants. I suspect that when we ran the gene mapping process,. we also supplied these scores for the variant2gene score field.

The idea is that the Disease - Variant - Gene score is built up of a D-V component that summarises the confidence that t

[2020-07-06 14:24] AsierGonzalez commented on #1138
This is what I mean by scoring "based on the functional consequence of the variant" that was done until 20.04. The only change required to revert back to this is for EVA not to include an score for `gene2variant`, as the pipeline does the scoring based on the functional consequence using the table you mentioned.

[2020-07-06 14:25] AsierGonzalez commented on #1138
We also want to what to include the review status and the clinical significance in the scoring, which I think that fits better in the D-V component, so it could probably replace the current `variant2disease` score.

[2020-07-06 14:29] AsierGonzalez commented on #1139
[This table ](https://www.ncbi.nlm.nih.gov/clinvar/docs/clinsig/#mode)in the ClinVar documentation suggests that the list above may be incomplete:
![Screenshot 2020-07-06 at 15.29.03.png](https://images.zenhubusercontent.com/5e3bdd3b5ae31307fec27bc8/942c07a0-e757-486c-8e56-8932169d4f4c)

[2020-07-06 14:30] AsierGonzalez commented on #1140
It seems that specifying the mode of inheritance in ClinVar is up to the submitters and [it seems to appear in the variant page](https://www.ncbi.nlm.nih.gov/clinvar/variation/48449/#id_second):

From info here: https://www.ncbi.nlm.nih.gov/clinvar/docs/clinsig/#mode

[2020-07-06 14:31] AsierGonzalez commented on #1140
We need to check with Kirill if it is possible to extract this information.

[2020-07-06 14:31] iandunham commented on #1138
Where do they currently derive the `variant2disease` score form? I realise it's always the same. Using the clinical significance in some way would be good. Ultimately we might want to compute across all variants and diseases some confidence that this gene is involved in the disease (similar to the idea behind the Cancer Gene Census scoring, but maybe achieved differently).

[2020-07-06 14:35] AsierGonzalez commented on #1138
It's hardcoded and last time I checked they did not know where that value came from. I'll ask again.

[2020-07-07 08:09] andrewhercules opened #1146 "Create persistent links to the latest associations and evidence files"
The EBI Search team is now using the Platform associations data in their search index to display gene-disease associations and we are in discussions about them using the evidence data to index the Locus2Gene data for links to the Genetics Portal. To ensure that their index remains up-to-date, they would like to periodically download the most recent associations and evidence files.

As such, can we

[2020-07-07 11:04] andrewhercules commented on #230
Ticket closed as wiki in [data_release](https://github.com/opentargets/data_release) repo reviewed and because content is outdated and superseded by recent updates, wiki has been hidden and repo archived.

Other GitHub repos have wikis with historical content that can be reviewed and archived as needed.

[2020-07-07 11:04] #230 closed

[2020-07-08 10:16] AsierGonzalez commented on #980
I reran the mapping in June because there was a bug in OnToma that was fixed in [version 0.0.14](https://github.com/opentargets/OnToma/commits/0.0.14). The input to map were `4,257` gene-disease associations that comprised `3,189` unique disease name - OMIM id pairs which yielded `4,391` mappings.

To make the review process easier, these mappings were divided into categories based on the confiden

[2020-07-08 10:18] AsierGonzalez commented on #1011
@deniseOme is there anything left to do here?

[2020-07-08 10:22] AsierGonzalez commented on #1013
I leave the ticket open until the next time we receive an EVA evidence file

[2020-07-08 10:22] AsierGonzalez commented on #1014
I leave the ticket open until the next time we receive an EVA evidence file

[2020-07-08 10:27] AsierGonzalez commented on #1137
Related to #1013 (source names) and #1014 (variant ids)

[2020-07-08 16:03] AsierGonzalez commented on #1138
Kirill has agreed to remove the gene2variant resource_score. Work can be tracked on [EBIvariation/eva-opentargets#121](https://github.com/EBIvariation/eva-opentargets/issues/121)

[2020-07-08 16:06] AsierGonzalez commented on #1139
Kirill has agreed to report all variants (work can be tracked on [EBIvariation/eva-opentargets#122](https://github.com/EBIvariation/eva-opentargets/issues/122) and he will provide a list of the possible clinical significance values soon.

[2020-07-08 16:09] AsierGonzalez commented on #1140
Kirill is working on this as part of his [EBIvariation/eva-opentargets#123](https://github.com/EBIvariation/eva-opentargets/issues/123) ticket.

[2020-07-08 16:13] AsierGonzalez commented on #1137
Kirill is working to include the star rating in ticket [eva-opentargets/issues#124](https://github.com/EBIvariation/eva-opentargets/issues/124)

[2020-07-13 11:03] AsierGonzalez opened #1147 "Add allelic requirement, mutation consequence and disease confidence to G2P evidence strings"

[2020-07-13 11:06] AsierGonzalez opened #1148 "Score G2P evidence based on disease confidence"

[2020-07-13 12:26] #929 closed

[2020-07-13 12:36] d0choa commented on #929
@andrewhercules `indication_refs` will be available in ES when pipeline is run for 20.09. With minor API and FE work we could add the references to the indications (similar to ChEMBL).

[2020-07-13 13:55] andrewhercules opened #1149 "Include references in Indications data table on drug profile page"
As noted in #929, `indication_refs` will be available in the ElasticSearch index after the pipeline has run for 20.09.

Once the data is available, we should update the GraphQL API and front-end UI to expose this data.

[2020-07-13 16:29] AsierGonzalez commented on #1148
Currently all the G2P evidence strings have an score of 1, which is hard-coded in the parser. The association score after running the pipeline is also 1 for all of them because it only uses the evidence score.

In order to score the evidence based on disease confidence we should replace the current hardcoded value by a numeric value based on the 5 possible G2P confidence categories. The number of

[2020-07-13 16:40] AsierGonzalez commented on #1148
For the genetic association data sources (e.g. EVA, UniProt), the functional consequence is also considered to calculate the association score. G2P provides mutation consequences, but given that their values do not easily map to the SO terms we use and that G2P currently don't provided variation information, I don't think it is worth including them in the scoring model.

The table below is analogo

[2020-07-14 09:02] JarrodBaker commented on #1149
The field has the following format:
`          "indication_refs" : [
            {
              "ref_type" : "DailyMed",
              "ref_url" :  "https://dailymed.nlm.nih.gov/dailymed/lookup.cfm?06c485cd-ee30-44f2-be63-bb98f8d1a907",
              "ref_id" : "06c485cd-ee30-44f2-be63-bb98f8d1a907"
            },
... ,
            {
              "ref_type" : "ClinicalTrials",
              "ref

[2020-07-15 16:32] AsierGonzalez commented on #980
Mapping has been reviewed for the 461 diseases that are mapped to the same EFO term using EFO-OMIM xrefs and looking them up in the EFO OBO file. This is the breakdown of the mappings:
- X were accepted as they are
- Five need to be discussed with EFO because they are mapped to an obsolete ORDO term or because a more specific term is available in MONDO or because there are more than one equivalent

[2020-07-16 07:53] JarrodBaker opened #2352 "GraphQL endpoint `studiesForGene` does not work"
Given an gene with associated studies (eg. *ENSG00000012048 - BRCA1 *) when I execute a valid GraphQL query I receive an empty array, rather than an array of studies.

GraphQL query:
[code]
Observed result:
[code]
Expected result:

An array with the studies listed here: https://genetics.opentargets.org/gene/ENSG00000012048

Log output from gcloud:

https://console.cloud.google.com/logs/viewer?reso

[2020-07-16 15:00] andrewhercules opened #1150 "Include link to Open Targets COVID-19 target prioritisation tool in Angular application"
Given the work done on the Open Targets COVID-19 Target Prioritisation Tool, we should construct a link to it from the Platform so that users can conduct a more in-depth exploration about potential COVID-19 drug targets.

Further details on implementation in Angular app TBC

[2020-07-16 15:04] andrewhercules opened #1151 "Include link to Open Targets COVID-19 target prioritisation tool in React rewrite application"
Given the work done on the Open Targets COVID-19 Target Prioritisation Tool, we should construct a link to it from the Alpha version of the React Platform so that users can conduct a more in-depth exploration about potential COVID-19 drug targets.

Further details on implementation in React app TBC

[2020-07-16 15:15] andrewhercules opened #1152 "Assign id attributes to sections on profile pages in React version of Platform"
In the current Alpha release of the React version of the Platform, the major sections of the profile pages do not have an `id` or `class` attribute.

Including an `id` for the profile page header, summary widget section, and detail view section would allow us to be more specific when looking for page elements.

This would be particularly useful for the [smoke tests](https://github.com/opentargets/

[2020-07-16 15:21] andrewhercules commented on #1120
Ticket closed as work completed and merged into `alpha`

[2020-07-16 15:21] #1120 closed

[2020-07-16 15:21] andrewhercules commented on #1125
Ticket closed as work completed and merged into `alpha`

[2020-07-16 15:21] #1125 closed

[2020-07-16 15:22] andrewhercules commented on #1126
Ticket closed as work completed and merged into `alpha`

[2020-07-16 15:22] #1126 closed

[2020-07-16 15:22] andrewhercules commented on #1122
Ticket closed as work completed and merged into `alpha`

[2020-07-16 15:22] #1122 closed

[2020-07-16 15:33] andrewhercules commented on #997
Ticket closed as data curated by @PruMM has been uploaded to the [Open Targets team Google Drive](https://drive.google.com/drive/folders/1Y3blQcdnCjqpxWaE9_VtSmQYwCGjB_A4)

[2020-07-16 15:33] #997 closed

[2020-07-16 15:34] andrewhercules commented on #998
Ticket closed as data curated by @PruMM has been uploaded to the [Open Targets team Google Drive](https://drive.google.com/drive/folders/1Y3blQcdnCjqpxWaE9_VtSmQYwCGjB_A4)

[2020-07-16 15:34] #998 closed

[2020-07-16 15:34] andrewhercules commented on #894
Ticket closed as data curated by @PruMM has been uploaded to the [Open Targets team Google Drive](https://drive.google.com/drive/folders/1Y3blQcdnCjqpxWaE9_VtSmQYwCGjB_A4)

[2020-07-16 15:34] #894 closed

[2020-07-16 15:39] andrewhercules commented on #1072
Ticket closed as work merged into `alpha`

[2020-07-16 15:40] andrewhercules commented on #1129
Ticket moved to BBC Proms sprint as dependent on #1152

[2020-07-17 10:48] andrewhercules opened #1153 "Fix external links in Sources column in Cancer Biomarkers data table"
Upon review of the Cancer Biomarkers data table, there are two issues that the front-end should resolve prior to the next beta release.

### Display publication links

In the Sources column of the Cancer Biomarkers data table in the alpha version of the React Platform, there are instances where the relevant publication is not shown (e.g. [KIT](https://alpha.targetvalidation.org/target/ENSG00000157

[2020-07-17 17:37] d0choa commented on #1072
Search filters still using old icons:

<img width="227" alt="Screenshot 2020-07-17 at 18 36 08" src="https://user-images.githubusercontent.com/5097586/87814889-7e50ea80-c85c-11ea-861b-5e751d99d235.png">

[2020-07-21 13:10] #2348 closed

[2020-07-21 17:42] tskir commented on #1139
@DSuveges @AsierGonzalez (also copying @tcezard @d0choa @iandunham)

Here is the distribution of all possible clinical significance levels in ClinVar:
![clinical-significance](https://user-images.githubusercontent.com/10669118/88086128-c0d93680-cb7e-11ea-9931-ec4849064698.png)

Under the current criteria, only 188,518 out of 1,114,689 (17%) records contain clinical significance levels which are pr

[2020-07-21 17:47] tskir commented on #1137
@DSuveges @AsierGonzalez (copying @tcezard)

Here's distribution of all review status (star rating) values:
![star-rating](https://user-images.githubusercontent.com/10669118/88088520-735ec880-cb82-11ea-9a25-cdbf0c266746.png)

As you can see, sometimes the same star rating corresponds to several different review status values.

Please let me know how would you like me to proceed here, e.g., how to

[2020-07-21 17:48] tskir commented on #1140
@DSuveges @AsierGonzalez (copying @tcezard)

Yes it's possible to extract this information, but is only appears in a minority of ClinVar records:
![mode-of-inheritance](https://user-images.githubusercontent.com/10669118/88088693-bb7deb00-cb82-11ea-8544-31d907d8df37.png)

Please let me know how would you like to proceed here; especially, how do I specify the inheritance mode in the evidence strings

[2020-07-22 10:15] saha-shyamasree opened #1154 "Adding new property for Target"
Can you please add a new property ('name', data type - string) for the target model.

[2020-07-22 11:02] #1154 closed

[2020-07-22 11:02] saha-shyamasree commented on #1154
existing target_name will be used

[2020-07-22 11:06] andrewhercules commented on #1143
@LucaFumis can we please include this for the next sprint - BBC Proms - ending on 5 August 2020?

[2020-07-22 11:17] andrewhercules commented on #975
Ticket closed as updated [updated smoke tests](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#heading=h.bgi8plx0togh) have been written and can be implemented as part of #1129

[2020-07-22 11:17] #975 closed

[2020-07-22 11:17] andrewhercules commented on #974
Ticket closed as updated [updated smoke tests](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#heading=h.bgi8plx0togh) have been written and can be implemented as part of #1129

[2020-07-22 11:17] #974 closed

[2020-07-22 11:17] andrewhercules commented on #973
Ticket closed as updated [updated smoke tests](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#heading=h.bgi8plx0togh) have been written and can be implemented as part of #1129

[2020-07-22 11:17] #973 closed

[2020-07-22 11:18] andrewhercules commented on #976
Epic ticket closed as updated [updated smoke tests](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#heading=h.bgi8plx0togh) have been written and can be implemented as part of #1129

[2020-07-22 11:18] #976 closed

[2020-07-22 11:59] andrewhercules opened #1155 "Install Google Analytics on COVID-19 Target Prioritisation Tool"
To ensure we can generate metrics and measure the impact of the COVID-19 Target Prioritisation Tool, we should install Google Analytics to track page views and user interactions.

### 1. Install Google Analytics tracking ID

Can we please install Google Analytics using the following tracking ID?

`UA-101860681-12`

### 2. Track basic events

Can we please use basic event tracking to track the foll

[2020-07-22 13:21] LucaFumis commented on #1072
Doh! Well spotted @d0choa - the icons have now been updated in the code (not yet merged).

[2020-07-22 15:11] andrewhercules opened #1156 "Fix data issues in Cancer Biomarkers detail view"
Upon review, it looks like the React logic used for the Cancer Biomarkers detail view needs to be updated to resolve a bug.

In the `alpha` version, there are rows where data is duplicated. For example, [BRCA2](https://alpha.targetvalidation.org/target/ENSG00000139618) has a table where 10 of 11 rows are the same.

![Screenshot 2020-07-22 at 15 54 44](https://user-images.githubusercontent.com/7490

[2020-07-22 16:00] tskir commented on #1138
@DSuveges @AsierGonzalez @iandunham (also copying @tcezard)

I looked into this and can now clarify a few things.

## Current score values

Looking at our code, I see that the hardcoded scores for **both** variant2disease and
gene2variant are actually not 0.7, but **1e-7** (formatted as `1e-07` in the final evidence strings), with the type of "pvalue". This value is present both in the template, a

[2020-07-22 16:02] andrewhercules opened #1157 "Port Classic Associations view from proof-of-concept to Alpha verison"
Can we please begin an initial porting of the [Classic Associations view developed by Gareth in the proof-of-concept](https://5e7e841cf62abc00081d4214--platform-app.netlify.app/) to the `alpha` branch using the dev branch of the GraphQL API?

Notes:

- Investigate the possibility of using the table component as it contains many features that would be useful (e.g. download, server-side pagination a

[2020-07-22 16:14] d0choa commented on #1138
The actions sound good @tskir.

There seems to be a lot of legacy decisions that look a bit arbitrary when revisiting them. Updating the scoring might obsolete most of them, so let's focus on how to do it right.

We would definetely want to get you involved on the discussions about the new scoring. I think you're right that we should resolve #1137 #1139 and #1140 and then focus on the scoring.

[2020-07-22 16:16] tskir commented on #1138
All right then. I'll proceed with the actions and we'll return to this issue once those other ones are resolved

[2020-07-22 18:49] andrewhercules commented on #1150
As noted by @d0choa, EFO is pulling a more granular characterisation of COVID-19 - see https://github.com/EBISPOT/efo/issues/803.

As such, the link to should appear on all relevant COVID-19 profile pages.

[2020-07-22 18:49] andrewhercules commented on #1151
As noted by @d0choa, EFO is pulling a more granular characterisation of COVID-19 - see https://github.com/EBISPOT/efo/issues/803.

As such, the link to should appear on all relevant COVID-19 profile pages.

[2020-07-23 05:43] DSuveges commented on #1137
It would be great if both the star rating and the review status could be added to the evidence string.

Something like this:

[code]

Ideally the data could be added to the `.evidence.variant2disease` object, however as I have noticed `.variant2disease` is not present for all evidence.

[2020-07-23 05:54] DSuveges commented on #1140
Although this inheritance information is sparse, we still believe it has high value when it is available. I think this also can be added to the `.evidence.variant2disease` object like this:

[code]

[2020-07-23 06:15] DSuveges commented on #1139
Thank you very much for doing all these extensive comparisons @tskir! It's really helpful in making the decisions. Let me go through all the points you have raised.

1. Yes, to accommodate the decisions here and on other tickets #1137, #1140 we'll need to update the json schema.
2. Your suggestion regarding the spelling of the clinical significance terms is good: let's use only lowercase terms wit

[2020-07-23 06:36] DSuveges opened #1158 "Update OpenTarget json schema"
Many tickets in the rare disease epic requires updates in the json schema.

For #1139
- [x] Make `.target.activity` optional
- [x] Make `clinical_significance` a list
- [x] Extend enum list of `clinical_significance` to cover all possibilities.

For #1137
- [x] Update schema to store ClinVar star rating and review status

For #1140
- [x]  Update schema to store ClinVar mode of inheritance

[2020-07-23 07:05] javfg opened #1159 "Fix the frontend project's directory structure"
Right now, the directory structure in the platform project is outdated. It was designed to expose a public part for outside development, and keep another part private; but the whole project is inside the public part. There are also multiple out of place files, and some stale old code and assets.

The new structure, agreed upon by the frontend team is:

[code]

The `sections` subdirectory might be

[2020-07-23 07:18] javfg opened #1160 "Automate deployment of new dataset revisions"
On a new release in the [opentargets/ot_covid19](https://github.com/opentargets/ot_covid19) repo, a GitHub action should be triggered that performs the following:

* Fetch the release asset containing the dataset: `https://github.com/opentargets/ot_covid19/releases/download/{VERSION_TAG}/targets_integrated_data.json.gz`

* Find out the revision number for the frontend: [https://storage.googleapis.

[2020-07-23 13:23] andrewhercules commented on #1157
@mirandaio, there is now a [query endpoint called `associationDatasources`](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?operationName=testlist&query=query%20testlist%20%7B%0A%20%20associationDatasources%20%7B%0A%20%20%20%20datasource%0A%20%20%20%20datatype%0A%20%20%7D%0A%7D%0A) that will expose the data sources and data types.

[2020-07-24 11:34] tskir commented on #1137
@DSuveges (also copying @tcezard)

## Note on the `variant2disease` block

There are two types of evidence strings we submit:
* `genetic association` ones always include the `variant2disease` block. [Here is the JSON template we use.](https://github.com/EBIvariation/eva-opentargets/blob/master/eva_cttv_pipeline/evidence_string_generation/resources/CTTVGeneticsEvidenceString.json)
* `somatic_mutati

[2020-07-24 12:42] tskir commented on #1140
@DSuveges (copying @tcezard)

Okay, then I'll go on to implement it in the way you described. Two comments:
* The difference between "genetic_association" and "somatic_mutation" was earlier raised in #1137. For the time being, while their structures are different, I can put the fields in `.evidence.variant2disease`/`.evidence`, accordingly, as you described.
* This will also require changes in the

[2020-07-24 12:47] tskir commented on #1139
@DSuveges (copying @tcezard)

I agree with all the points you raised. I will proceed to implement the changes on our side in an experimental branch.

[2020-07-24 16:54] DSuveges commented on #1137
Thanks for picking up the issue! On the long run, we would like to make the two types (`genetic_assocation` vs `somatic_mutation`) more similar, but making them completely aligned requires quite a bit of a work on both our pipelines, backend and frontend, so we'll do it later.

How would that look like for the other values of the somatic_mutations that are now stored in the evidence directly? Curr

[2020-07-27 01:03] DSuveges commented on #1140
This [json_schema branch](https://github.com/opentargets/json_schema/tree/ds_eva_changes_2) now has the following definition to store mode of inheritance:

[code]

So I have added the complete list seen on Kiril's graph. I am not 100% sure if this list is complete, or should be checked with `enum`. However it seems there are inconsistencies, which would be good to catch (eg. `autosomal unknown` vs

[2020-07-27 01:10] DSuveges commented on #1158
Commits in @AsierGonzalez's branch ([ag_eva_changes](https://github.com/opentargets/json_schema/tree/ag_eva_changes)) are carried over to [ds_eva_changes_2](https://github.com/opentargets/json_schema/tree/ds_eva_changes_2).  The above modifications are also included in the second branch.

**Notes**

- [ ] These modifications are not yet carried over to the draft 4 schema. I'm afraid they will dive

[2020-07-27 01:14] DSuveges commented on #1137
The new json_schema branch [ds_eva_changes_2](https://github.com/opentargets/json_schema/tree/ds_eva_changes_2) contains @AsierGonzalez's modifications + a numerous changes accommodating the requirements of #1137, #1139 and #1140.

The ClinVar rating object in the schema looks like this:

[code]

Please let me know if there's any issue.

[2020-07-28 12:35] tskir commented on #1140
Thanks @DSuveges! To answer your question:

It is as of the latest (mid-July) ClinVar data. Of course, in the future they might add new types

Yes, this is a difficult choice. I guess we can go with an enum for now, and if they keep changing the list of allowed values too frequently, we can think of other ideas.

[2020-07-28 12:36] tskir commented on #1137
Thanks @DSuveges, I'll proceed with implementation on our side and will let you know how it stacks together with the schema changes

[2020-07-29 08:34] DSuveges commented on #1140
Thanks. Let's try to enumerate the terms and review later.

[2020-07-29 08:46] DSuveges opened #1161 "Adding "last evaluated" date to ClinVar sourced evidences"
In ClinVar the `last evaluated` date shows "The most recent date that the variant was interpreted, or evaluated, by a submitter." ([link](https://www.ncbi.nlm.nih.gov/clinvar/docs/variation_report/#interpretation)).

The OpenTargets [JSON schema](https://github.com/opentargets/json_schema/tree/ds_eva_changes_2) is updated with the following property of `variant2disease`:

[code]

[2020-07-29 08:47] DSuveges commented on #1158
- [x] The `variant2disease` object is extended to support last evaluated date. #1161

[2020-07-29 08:54] d0choa opened #1162 "Implement interactions GraphQL endpoints"
After a series of iterations including Data, BE and FE, this is the current draft (documented) of the GraphQL schema for interactions.

The general functionality that we want to resolve has 3 layers:
- Data retrieved about interaction resources
- Data retrieved when Target (interactor A) + resource are fixed
- Data retrieved when Target(interactor A) + resource + interactor B are fixed

Minor thin

[2020-07-29 14:46] d0choa opened #1163 "Missing target descriptions (e.g. ABO)"
As reported by David H. some targets (e.g. ABO) have missing descriptions in [production](https://www.targetvalidation.org/target/ENSG00000175164) and [alpha](https://alpha.targetvalidation.org/target/ENSG00000175164).

The FE uses the (GraphQL) `proteinAnnotations.functions` endpoint which at the moment is an empty list for ABO.
However, the information is available on the [Uniprot page](https://

[2020-07-29 15:17] tskir opened #1164 "How to deal with multiple ontology term mappings for the same ClinVar (or other) trait?"
While developing [the web app for manual curation](https://github.com/EBIvariation/trait-curation), we stumbled upon a rare scenario where a given ClinVar trait is _purposefully_ mapped to two distinct ontology terms, which are supposed to “combine” and together describe the trait in full:

- Example 1, from the [spreadsheet of known problematic mappings](https://docs.google.com/spreadsheets/d/1m4

[2020-07-29 15:35] d0choa commented on #1164
Trait/Disease mappings is a complex beast. The same problem affects many of our data providers.

In some cases, their traits might be of even higher complexity including interactions between diseases, modulators, treatments, etc.. The GWAS Catalog team are the ones who have looked at the problem with more detail. I joined a workshop they organised earlier in the year to look at the problem in more

[2020-07-29 17:01] tskir commented on #1164
@d0choa Great idea. While we are coordinating this meeting via email, I'll post this here for future reference:

Currently we have 7 892 traits in our database of curated ClinVar records. Of them, 152 (~2%) have more than one ontology term mapped to them. Although I'm not sure which percentage of that is on purpose, as some of them could be just mistakes. I have added all of them into a separate s

[2020-07-30 11:32] JarrodBaker opened #2278 "pheWAS GraphQL endpoint does not return any associations"

[2020-07-30 12:32] #1011 closed

[2020-07-30 13:52] d0choa commented on #1130
As discussed, we want the default behaviour to allow the table to expand to show all requested rows. This will allow the user to observe a longer list of entries without extra interaction. Also the scrolling solution has some unintended consequences, such as when users scroll the page and fall into a nested scrolling.

[2020-07-30 14:14] #2278 closed

[2020-08-03 13:49] AsierGonzalez commented on #1140
Using an enum here is overkill in my opinion. As you have said, if the list changes in the future we will need to check it an update it accordingly. The enum would be justified if we needed the mode of inheritance to take a value from a closed list for instance because we are going to use it to score. However, we are far from there because there are at least three other data sources (Genomics Engl

[2020-08-03 14:21] AsierGonzalez commented on #1140
Also, I wonder what the right place for this information is. As you already said, for `somatic_mutation` evidence the mode of inheritance (`inheritance_pattern`) is located directly under `evidence` because that is all the evidence strings contain apart from the target and disease information. However, I am not so sure about placing it under `variant2disease` for genetics associations. Is the mode

[2020-08-03 14:49] AsierGonzalez commented on #1161
How does this information differ from the date we currently receive in `.evidence.gene2variant.date_asserted` and `.evidence.variant2disease.date_asserted`? By the way, those two date seem to be the same.

[2020-08-03 15:12] DSuveges commented on #1161
Not sure about what information the `date_asserted` value captures, but looking at the distribution makes it a bit strange.

[code]

[code]

[2020-08-03 16:17] AsierGonzalez commented on #1164
I feel that allowing to map a trait to multiple EFO terms is a desired feature, even if this seems to happen quite rarely in ClinVar.
The "Coronary artery disease/myocardial infarction" case you mention above is a textbook example as the only correct solution is to map the trait to two EFO terms.
The second case is one good use case for this tools, as it seems it was manually mapped to two EFO ter

[2020-08-04 08:57] DSuveges commented on #1134
### Progression plan for the 20.09 release

**EVA**
* - [ ] JSON schema update merged into master.
* - [ ] New data generated by the provider following the updated schema.
* - [ ] Test if data passes validation.

**Uniprot**
* - [ ] Send request to provider.
* - [ ] New data generated by provider.
* - [ ] Test if data passes validation.

**ClinGen**
* - [ ] Update JSON schema.
* - [ ] Write eviden

[2020-08-06 20:44] andrewhercules commented on #1157
@mirandaio, based on our team meeting on Wednesday, please see below for some key design considerations for an initial version of the [classic associations page (in-progress)](https://deploy-preview-193--platform-app.netlify.app/target/ENSG00000091831/classic-associations).

**Association score**
- For the score used in each cell and displayed in the on-hover tooltip, please round to two decimal p

[2020-08-10 12:00] andrewhercules commented on #1157
Note: the key design considerations comment above has been updated with feedback from @d0choa about linking to specific sections of the evidence page in the Angular version of the Platform and the order of the columns in the heat map

[2020-08-10 13:41] andrewhercules opened #1165 "Confirm new autophagy pathway in 20.09 evidence submission from Reactome"
The Reactome team have submitted [a new data file for our 20.09 release](https://console.cloud.google.com/storage/browser/otar006-reactome). It is based on their latest release - v73 - which includes data on [the new autophagy pathway](https://reactome.org/about/news/154-new-paper-published-in-autophagy). @emcdonagh-OT would like to write a blog post about the pathway and publish it after our 20.0

[2020-08-10 16:23] AsierGonzalez commented on #1165
Apparently there is no new data related to the autophagy pathway in the latest Reactome file. There are 2 evidence strings annotated with the "Supression of autophagy" ([R-HSA-9636569](https://reactome.org/PathwayBrowser/#/R-HSA-9636569)) pathway but this belongs to the "Disease" high-level pathway rather than to "Autophagy".

I have also noticed that the "Autophagy" pathway itself does not seem t

[2020-08-11 13:35] emcdonagh-OT commented on #1165
Hello @AsierGonzalez - as far as I was aware, I thought more indepth curation of the autophagy pathway had happened more recently than a year ago and then fed into the publication, but I can double check this with Thawfeek.

https://reactome.org/PathwayBrowser/#/R-HSA-9612973

I am wondering why the autophagy pathway doesn't appear in the OT platform under pathways for the targets involved? e.g on

[2020-08-11 14:09] AsierGonzalez commented on #1165
The two targets you mention are annotated to autophagy-related pathways. For LAMP2 we have "Chaperone Mediated Autophagy", which is a child of the Autophagy pathway. Similarly, we have "macroautophagy" listed for `SLC38A9`.

Do you think we are missing something else?

[2020-08-11 14:16] AsierGonzalez commented on #1165
Also, let me clarify what I said about the autophagy pathway not being new in Reactome version 73. The pathway itself was included in version 69 but since then there have been updates to it. However, I don't think this affects the evidence strings we receive unless the pathway itself includes any associations but we usually get them from the "Disease" pathway.

[2020-08-11 14:59] emcdonagh-OT commented on #1165
Ah...thank you @AsierGonzalez re. the LAMP2 and SLC38A9 examples...I was looking for the overall pathway rather than the children.

Re. the update, how about if new elements such as new targets were added to the pathway...would we only get the new connections to add to a target page if it was connected to a disease pathway? In the case of autophagy, which disease pathways is this?

I'm just wonder

[2020-08-12 09:27] emcdonagh-OT commented on #1165
We have had correspondance with Reactome...there are no new evidence strings for this pathway.

The only thing to do is to check that we'll have the latest data file v72 run through the pipeline for any new target-pathway links for target profile pages - are we already using this version, or will it be run for the Sept release? Thanks!

[2020-08-12 10:04] DSuveges opened #1166 "Benchmarking ClinGen scores"

[2020-08-12 11:01] AsierGonzalez commented on #1165
20.06 annotation was already based on Reactome V72.

For 20.09, the evidence file will be based on V73, which has not been released yet and what version the annotation is based on (72 or 73) will depend on when the files we download from https://reactome.org/download/current/ are updated to V73.

[2020-08-13 08:54] DSuveges commented on #1166
The table below shows the evidence distribution in the ClinGen data set stratified by the `confidence` field (which is the basis of the scoring):

| confidence class     |   score |   evidence count | count % |cumulative % |
|:---------------------|--------:|-----------------:|--------------:|------------------:|
| Definitive           |    1    |              528 |          53.9 |              53

[2020-08-13 15:51] cmalangone commented on #1162
The repositories involved are
*) platform-input-support: It will retrive and generate the input files.
*) platform-etl-backend: ETL step to get the input files and generate two indices.
The indices should be
   otnetworks ("intATarget", "intBTarget","intABiologicalRole", "intBBiologicalRole", "interactionResources")
   otnetworksEvidences("intATarget", "intBTarget","intABiologicalRole", "intBBiolo

[2020-08-14 09:05] deniseOme commented on #291
I consider the more pressing items in this ticket to be largely addressed now e.g.

- [ ] From API on OT homepage link to 'Documentation' and 'Python client'
- [ ] Introduce the python client and link to its documentation

in addition to modifications to the original list above e.g.

- [ ]  Re-release an updated version of 'Open Targets API Tutorial: Getting Started' blog post

is no longer applic

[2020-08-14 09:05] #291 closed

[2020-08-14 09:54] deniseOme commented on #107
Sadly this has not been addressed, only upon request through support email when users ask for this information.

If a help page describing these steps is put in place in the future, please go to the 'Sent' folder in the Office365 space for support email. There you will find the stept-by-step instructions sent to the user and can use that to start drafting the help doc. Please note some changes may

[2020-08-14 10:03] AsierGonzalez commented on #107
@deniseOme is the length of the explanation suitable to be posted in this ticket? Alternatively could you paste it into a Google doc? I am concerned that we may not be able to extract the information from Office365 for different reasons.

[2020-08-14 13:16] cmalangone commented on #1163
@d0choa : can you please a target with this type of data?

[2020-08-14 13:21] d0choa commented on #1163
ESR1 [example query](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20targetq%20%7B%0A%20%20target(ensemblId%3A%22ENSG00000091831%22)%7B%0A%20%20%20%20approvedName%0A%20%20%20%20approvedSymbol%0A%20%20%20%20proteinAnnotations%7B%0A%20%20%20%20%20%20functions%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D%0A&operationName=targetq)

[2020-08-19 08:22] DSuveges commented on #1166
As the overlap between the ClinGen data and the pharmaproject was not large enough to properly benchmark scores. We rater compare the scoring performance against literature data.

The 20.09 processed evidence file was used as a source, `.type == "literature"` as filter (evidence source is epmc). Number of evidence in the set: 7,640,374, representing 1,092,067 unique target/disease pairs.

### Roun

[2020-08-19 08:56] d0choa commented on #1166
just to clarify, only 36 clingen target-disease pairs have evidence in OT literature, isn't it?

[2020-08-20 08:53] AsierGonzalez commented on #980
According to conversations with Sarah Hunt, who leads the G2P development at EBI, in July 2020, they are having conversations about "standardising disease names and using OMIM names, where possible". However, note that "G2P curators don't consider current ontologies map all of the rare diseases they are dealing with to the right level of detail, so it probably won't be possible to find useful mapp

[2020-08-20 09:05] iandunham commented on #980
Is it worth sharing our mappings with them?

[2020-08-20 09:52] AsierGonzalez commented on #980
When we told her that we were working on the mappings she sounded a bit sceptical about it, that's when she mentioned that curators are not satisfied with current ontologies. We could probably contribute to what they are doing and provide some useful feedback but that would probably require some high-level talks with them.

[2020-08-20 09:55] AsierGonzalez commented on #980
Given the slow progress in the manual mapping and that G2P might be doing some work in that area (see messages above) this work has been deprioritised. Instead, the G2P parser has been revamped to map the G2P disease names on the fly using OnToma (See [evidence_datasource_parsers/pull/48](https://github.com/opentargets/evidence_datasource_parsers/pull/48)). In a nutshell, the mapping algorithm wor

[2020-08-20 10:23] AsierGonzalez commented on #980
Although there are now more diseases to map, the new approach produces fewer mappings compared to the previous one based on EFO-OMIM xrefs. This is not surprising given that one OMIM id may be cross-referenced to many EFO ids and besides, the mapped EFO terms may have parent-child relationships, which is redundant. The new method only reports high-confidence matches and only one per input disease.

[2020-08-20 10:27] AsierGonzalez commented on #1078
Done. Changes to the parser implemented (see [evidence_datasource_parsers/pull/48](https://github.com/opentargets/evidence_datasource_parsers/pull/48)) and 20.09 evidence file already contains all the panels.

[2020-08-20 10:27] #1078 closed

[2020-08-20 11:57] emcdonagh-OT opened #1167 "Chemical structure on drug pages is not standard"
Where do we get our chemical structure diagrams from?
I had comments from a chemical biologist that the structure for this example looks strange:
https://alpha.targetvalidation.org/drug/CHEMBL428647
Apparently the stereochemistry does not seem right, the bond angles are strange and non-standard icons are used e.g. bond allication for the rings is not defined
See a standard approach here:
http://ww

[2020-08-20 11:58] JarrodBaker opened #1168 "Drugs Phase I"
Drugs Phase I includes the following objectives:
- Remove dependency of ChEMBL API; replacing it with ChEMBL ElasticSearch
- Remove use of the data pipeline in the preparation of the drug dataset
- Enhance the ETL to:
  - prepare a drug dataset which can be used for various applications;
  - facilitate the inclusion of custom datasets (specifically for stakeholders with custom molecules)
- Enhance

[2020-08-20 12:00] JarrodBaker opened #1169 "Gather raw data for drug dataset creation"
Update [platform input support](https://github.com/opentargets/platform-input-support) such that the drug step calls the ElasticSearch provided by ChEMBL and saves the results into Google Cloud Storage.

## ChEMBL dataset

The primary data source for the drug index is the ChEMBL database. Currently this data is collected through HTTP API calls. ChEMBL now maintain an ElasticSearch (version 7.5.2)

[2020-08-20 12:01] JarrodBaker opened #1170 "Remove drug step from data pipeline"
Currently the [data pipeline](https://github.com/opentargets/data_pipeline/) is responsible to taking inputs gathered by ChEMBL and converting them to the 'drug' index in ElasticSearch. This step will be replaced the ETL and can be removed. There are no down-stream dependencies on drug within the pipeline.

The `Gene`, `Association` and `SearchObjects` all use the `ChemblLookup` object to extract

[2020-08-20 12:01] JarrodBaker opened #1171 "Update drug documentation on platform documentation"
The documentation pages for the Platform need to be updated to reflect changes:

- https://docs.targetvalidation.org/data-sources/data-sources
- https://docs.targetvalidation.org/data-sources/drugs

[2020-08-20 12:03] JarrodBaker opened #1172 "Write blog post on updated drug dataset"
Write an entry for the [blog](http://blog.opentargets.org/) highlighting changes to the pipeline and benefits of enhanced drug inclusions.

[2020-08-20 12:04] JarrodBaker opened #1173 "Update platform input support to support addition of additional data sources (drugs)"
As a developer on Opentargets, I want a way to add new data sources / fields to be collected when PIS runs through configuration.

PIS current has a data configuration file `config.yaml` which is used to specify input sources, output directories, etc. This could be extended with something like

[code]
`type` could later be extended to support other mediums, and when we want to update the fields ga

[2020-08-20 12:05] JarrodBaker opened #1174 "ELT Step: molecule"

[2020-08-20 12:05] JarrodBaker opened #1175 "ETL step: mechanism of action"

[2020-08-20 12:06] JarrodBaker opened #1176 "ETL step: indications"

[2020-08-20 12:06] JarrodBaker opened #1177 "ETL step: drug dataset creation"
This should be the final stage of the ETL for drugs: it combines the previous steps (currently  molecule, indication, and MoA) and compiles a consolidated dataset which meets the model specification minimum requirements. Ideally this step should not be adding new fields / sources other than those provided by the inputs to keep consolidation and processing separate.

[2020-08-20 12:06] AsierGonzalez commented on #1148
The scoring based on the confidence has been implemented (see [evidence_datasource_parsers/pull/48](https://github.com/opentargets/evidence_datasource_parsers/pull/48)) but the specific scores may need to be refined based on benchmarking performed by @DSuveges akin to [#1166](https://github.com/opentargets/platform/issues/1166).

| Confidence | Score | Counts |
| ---- | ---- | ---- |
| Confirmed |

[2020-08-20 12:12] JarrodBaker opened #1178 "Define data model for drug dataset"
The existing data model for the drug index is:

[code]

This provides a baseline which can be potentially extended.

ChEMBL makes available the following fields which we could potentially include:

[2020-08-20 12:14] AsierGonzalez commented on #1147
Done. Changes to the parser implemented (see [evidence_datasource_parsers/pull/48](https://github.com/opentargets/evidence_datasource_parsers/pull/48)) and 20.09 evidence file already contains all the information.

[2020-08-20 12:14] #1147 closed

[2020-08-20 12:18] AsierGonzalez opened #1179 "Add allelic requirement, mutation consequence and disease confidence to JSON schema"
Although these values are now included in in the G2P and ClinGen evidence files, they are not formally defined in the JSON schema yet. This does not break anything but it is better to include them in the schema. A [review of the values in the different data sources](https://docs.google.com/spreadsheets/d/1mRqnXBayXHv27hfcYboigMYUN10ITiXpHlxjfhSSuHo/edit#gid=0) is ongoing to see if a common nomencl

[2020-08-20 12:25] AsierGonzalez opened #1180 "Use target-disease evidence from ClinGen"
Process the Gene Validity Curations table that can be downloaded from https://search.clinicalgenome.org/kb/gene-validity

[2020-08-20 12:26] #1180 closed

[2020-08-20 12:26] AsierGonzalez commented on #1180
Done and merged (see [evidence_datasource_parsers/pull/47](https://github.com/opentargets/evidence_datasource_parsers/pull/47))

[2020-08-20 12:30] AsierGonzalez opened #1181 "Make changes to the pipeline to include ClinGen as a data source"
Now that the ClinGen evidence is ready (see [#1180](https://github.com/opentargets/platform/issues/1180)) the data pipeline needs to be updated ingest it.

[2020-08-20 13:43] d0choa commented on #1167
They are currently drawn directly from SMILES using a javascript library. The point was to be able to draw molecules in internal instances if SMILES are provided.

However, if the result is inadequate we should find a different alternative. Production uses instead the molecule images from ChEMBL. Not being a chemical biologist, my feeling is the structure is not very standard in ChEMBL as well.

C

[2020-08-21 07:54] emcdonagh-OT commented on #1167
Hello @d0choa - he recommended Chemspider, as it is the Royal Society for Chemistry.

[2020-08-24 14:57] forus opened #1182 "Make Google Analytics tracking disabled by default in the platform-app"
The `platform-app` keeps sending Google Analytics reports to the EBI account independently where it's installed.

Please make the GA tracking turned off by default.

[2020-08-24 14:59] forus commented on #1182
Making the tracking host-aware as it's done for the angular version would work for us as well.

[2020-08-28 11:34] tskir commented on #1139
@DSuveges I'm currently working on this issue and I have a follow-up question about the `['evidence']['gene2variant']['is_associated']` and `['evidence']['variant2disease']['is_associated']` attributes. In the existing approach, we always set them to True, because only (likely) pathogenic and other related variants are processed. Should I continue to always set them both to True, even for variants

[2020-08-28 11:41] tskir commented on #1139
Or rather, to be precise, there is currently a calculation of both of those attributes which looks like this:

[code]

However, under the current approach, it always sets them both to True since "benign" and "likely benign" variants are being filtered out even before going into the evidence string generation phase.

Should I keep the calculation in exactly this way? Should I add more clinical sign

[2020-08-28 14:02] DSuveges commented on #1139
Hi Kiril,

We have discussed this question with the team. There's a bit of history behind this value: it supposed to distinguish between positive and negative evidence hence the true/false binary. In this interpretation, this value should remain to be set true even for benign and likely benign evidences.

Thank you so much and please just ask if you have any other questions.

[2020-08-28 18:14] #2352 closed, assigned to JarrodBaker

[2020-08-31 03:29] tskir commented on #1139
@AsierGonzalez @DSuveges This is done, currently undergoing our internal review. Changes are described in depth in our PR https://github.com/EBIvariation/eva-opentargets/pull/146. Summary:
* Remove all filtering by clinical significance
* Process and format the clinical significance levels: `'Benign/Likely benign, risk_factor'` → `['benign', 'likely benign', 'risk factor']`
* Always set the `evide

[2020-08-31 11:38] tskir commented on #1137
@AsierGonzalez @DSuveges This is now also implemented and undergoing our internal review (https://github.com/EBIvariation/eva-opentargets/pull/148).

The ClinVar star rating (from 0 to 4) and the review status (one of a few possible values) are now extracted from ClinVar and added to the evidence strings.

I also submitted a PR to JSON schema repository to verify the range of review status values

[2020-08-31 11:43] tskir commented on #1137
Also, note that given that the `clinvar_rating` field is inside `variant2disease` block, it will **not** be present for somatic variants, even though we have that information in source ClinVar data. I remember that on several occasions we discussed the possibility to bring `genetic_assocation` vs `somatic_mutation` closer together in terms of representation. Do we have an issue for tracking that?

[2020-08-31 11:48] tskir commented on #1137
Also also, I noticed that in #1140 (mode of inheritance) the decision was made to output it for _both_ evidence string types: it goes into `.evidence.variant2disease` for genetic_association and into `.evidence` for somatic_mutation. Do we maybe want to do something similar here?

[2020-08-31 14:47] tskir commented on #1140
@AsierGonzalez

Having examined your arguments, I now agree that we should drop enum for mode of inheritance. I will also not do any attempts to format the values of that field (to lowercase or otherwise), and will just report them verbatim.

Regarding your second question: as far as I know, mode of inheritance is usually considered to be a property of the disease. For example, people say that mod

[2020-08-31 15:45] tskir commented on #1140
@AsierGonzalez @DSuveges

Also, as I see, currently in the JSON schema the `mode_of_inheritance` block is defined only once, inside `variant2disease`. Meaning, once again, that I will only be able to include it for `genetic_association` evidence strings. Is this intended?

[2020-08-31 16:45] tskir commented on #1140
This is now also implemented, undergoing our internal review (https://github.com/EBIvariation/eva-opentargets/pull/149), and also I submitted another PR with changes to the OT JSON schema (opentargets/json_schema/pull/97).

[2020-08-31 17:17] tskir commented on #1140
While testing the change, I stumbled upon the fact that there were a few dozen records which have _multiple_ “mode of inheritance” attributes specified. In fact, they are specified in the Sankey diagram above as “ModeOfInheritance multiple”, I just forgot about them up until the testing phase.

For now, I solved this problem by amending the PR for the JSON schema to accept _arrays_ in the mode_of_

[2020-08-31 18:04] tskir commented on #1161
@AsierGonzalez @DSuveges Let me chime in to the discussion.

ClinVar RCV records have three timestamps associated with them:
* `referenceClinVarAssertion/dateCreated` — as expected, a fixed creation date
* `referenceClinVarAssertion/dateLastUpdated` — this appears to track _any_ updates to the record, including purely technical ones which do not concern its clinical significance or interpretation

[2020-08-31 21:00] tskir commented on #1161
This is now also implemented and undergoing our internal review (https://github.com/EBIvariation/eva-opentargets/pull/150).

This property will only be present for `genetic_association` evidence strings, and only when the clinical assertion is actually present. For example, records with `reviewStatus` = `NO_ASSERTION_PROVIDED` will not contain this property in ClinVar at all, and hence evidence st

[2020-09-01 09:44] AsierGonzalez commented on #104
@tskir, could you please look into this? The process to manually it is a little cumbersome

[2020-09-01 10:06] AsierGonzalez commented on #104
Note to self: this is the jq command to replace AD by EOAD in the evidence file:

`grep "EFO_0000249" cttv012-11-08-2020.json | jq-1.6 -c '.disease.id|="http://www.orpha.net/ORDO/Orphanet_1020" | .disease.name|="Early-onset autosomal dominant Alzheimer disease" | .unique_association_fields.phenotype |= "http://www.orpha.net/ORDO/Orphanet_1020"' > cttv012-11-08-2020_EFO_0000249_subset_corrected.jso

[2020-09-01 10:10] AsierGonzalez opened #1183 "Perform release-related activities for 20.09"
A number of checks have to be performed on the evidence files submitted by data providers as they arrive and before the pipeline is run to see whether the agreed changes have been implemented.

[2020-09-01 10:46] AsierGonzalez commented on #1183
EVA file received on 11th August:

- Number of evidence strings went down slightly after haplotypes were excluded ([eva-opentargets/127](https://github.com/EBIvariation/eva-opentargets/issues/127)), there were 116,023 in the submitted file.
- Valid JSON
- gene2variant score removed so that scoring is based on functional consequence of the variant (#1138)
- There are still 19 evidence strings where

[2020-09-01 11:28] AsierGonzalez commented on #724
Filtering still not implemeted by atlas for the 20.09 iteration so filtered in-house.

[2020-09-01 13:10] AsierGonzalez commented on #1183
Expression Atlas differential expression file received on 23rd August:
- Data from Expression Atlas release 36
- 388,303 evidence strings received, which end up being 230,273 after filtering based on activity (up from 221,633 in 20.06)
- Filtering still performed in-house
- Valid JSON

No updated baseline file was submitted.

[2020-09-01 13:26] AsierGonzalez commented on #1183
TEPs checked on September 1st and there are no updates

[2020-09-01 16:28] andrewhercules opened #1184 "Fix Chemical Probes Portal links in Chemical Probes detail view section"
As noted by @AsierGonzalez, there is a bug in the links to the Chemical Probes Portal in the Chemical Probes detail view section.

![Screenshot 2020-09-01 at 17 25 06](https://user-images.githubusercontent.com/7490258/91880121-1887b900-ec78-11ea-9b59-0ef91b409f0d.png)

For example, the Chemical Probes Portal links on the [MAPK7 profile page](https://alpha.targetvalidation.org/target/ENSG0000016648

[2020-09-01 16:34] AsierGonzalez commented on #1183
Chemical Probes updated on 1st September:
- Two new probes (`PFI-6 `and `SGC-CK2-1`) in SGC, there are 79 in total.
- 23 new probes in Chemical Probes Portal (`25CN-NBOH`, `A-485`, `AB680`, `ABT-100`, `AMG-510`, `BAY-3827`, `BAY-549`, `BAY-707`, `BAY-826`, `BAY-985`, `BI-1935`, `BI-2545`, `CPI-1612`, `DO264`, `Luminespib`, `MLi-2`, `MRTX849`, `SR-318`, `TH5427`, `Tubastatin A`, `UCSF4226`, `ULK-10

[2020-09-02 11:51] AsierGonzalez commented on #1183
EuropePMC evidence file received on 24th August. It was checked and it looks good:
- Number of evidence strings went down around 2.5M to 7,319,521 because ML pipeline was used to removed FPs.
- Valid JSON
- 2,450 evidence strings annotated with COVID-19 (MONDO_0100096). However, the Hoffmann et al. Cell paper is still not among them.

[2020-09-02 13:39] AsierGonzalez commented on #1140
@iandunham has confirmed that this is how it should be, that is, the mode of inheritance is a property of all those together. So there is no need to relocate it.

This was probably an oversight and we will fix it when we work on improving the alignment between the genetic associations and somatic mutations. If you are constrained by the JSON schema to generate the evidence, that is, if you can onl

[2020-09-02 14:01] AsierGonzalez commented on #1161
It does not seem right that both parts use the date provided by ClinVar. Based on the definitions you posted, it seems that the ClinVar `referenceClinVarAssertion/dateLastUpdated` applies to `variant2disease`. I imagine that it has been used for the `gene2variant` because the JSON schema required a date there. I can think of two options for the `gene2variant`:

1. Remove the date altogether: I dou

[2020-09-02 14:37] AsierGonzalez opened #1185 "Align evidence schemas of genetic associations and somatic mutation"
Currently the JSON schema of the two data types are very different, which limits the information that some of the data providers can provide for the somatic mutations compared to rare diseases, e.g. EVA. We need to work out what the best approach is to capture all the information that the different somatic mutation data sources have.

[2020-09-02 14:49] AsierGonzalez commented on #1137
I just created one, see #1185

That would be ideal if you can do it.

[2020-09-02 14:51] AsierGonzalez commented on #1139
That sounds fantastic, thanks @tskir

[2020-09-02 16:02] AsierGonzalez commented on #1148
Based on the benchmark done by @DSuveges, the scoring is dominated by the high-confidence and high-score "confirmed" entries so there seems to be little margin to improve the G2P scoring. Therefore, the scoring suggested above has been used with the only change of scoring the `Child IF` records with `1`.

[2020-09-02 16:02] #1148 closed

[2020-09-03 08:28] andrewhercules opened #1186 "Update documentation to include ClinGen references"
With the inclusion of ClinGen in the 20.09 release, we need to update the documentation to reflect the new data source:

- [ ] Update association score visual on [scoring page](https://docs.targetvalidation.org/getting-started/scoring)
- [ ] Add entry for ClinGen and description on [Genetic associations page](https://docs.targetvalidation.org/data-sources/genetic-associations)

[2020-09-03 08:30] andrewhercules commented on #1029
Inclusion of PROTAC workflow data has been pushed to next release - 20.11

[2020-09-03 08:36] andrewhercules commented on #1150
In addition to child terms noted above, link should also appear on the COVID-19 infection page `MONDO_0100096`

[2020-09-03 08:39] andrewhercules opened #1187 "Generate XML sitemaps for 20.09 release"
Generate XML sitemaps and hand-off to front-end team to be added to webapp [/sitemaps](https://github.com/opentargets/webapp/tree/master/app/sitemaps) directory

[2020-09-03 08:44] andrewhercules opened #1188 "Add ClinGen to association page facets"
Similar to the work done in #849 to include "Open Targets Genetics" in the association page facets, we need to update the facets logic to include a new data source for rare disease genetic associations, `clingen`.

[2020-09-03 08:48] andrewhercules opened #1189 "Update links on Data Downloads page for 20.09"
With the new 20.09 release, we will need to update the links on the Data Downloads page to point to the most recent associations, evidence, and tractability files and target and disease lists.

[2020-09-03 08:54] andrewhercules opened #1190 "Create links between Angular and React Platform versions on associations pages"
Similar to the links to the new entity pages noted in #1086, we should update the layout of the associations pages in the Angular version of the Platform and include a link to the Classic Associations view in the React version of the Platform.

[2020-09-03 08:58] andrewhercules commented on #1072
Ticket closed as work completed and pushed to `alpha` branch

[2020-09-03 08:58] #1072 closed

[2020-09-03 08:58] andrewhercules commented on #1152
Ticket closed as work completed and pushed to `alpha` branch

[2020-09-03 08:58] #1152 closed

[2020-09-03 08:59] andrewhercules commented on #1130
Ticket closed as work completed and pushed to `alpha` branch

[2020-09-03 08:59] #1130 closed

[2020-09-03 09:13] andrewhercules commented on #1155
Ticket closed as Google Analytics have been implemented

[2020-09-03 09:13] #1155 closed

[2020-09-03 16:22] AsierGonzalez opened #1191 "Duplicate evidence in G2P"
There are 48 duplicate evidence strings in the 20.09 gene2phenotype evidence file. Currently the parameters used in the unique association fields are  `target_id`, `original_disease_label`, `disease_id` and `gene_panel`. It seems that sometime there might be multiple rows with the same values in the unique fields but differences in the allelic requirement (e.g. [CRYBB3-"CATARACT 22, MULTIPLE TYPES

[2020-09-03 16:30] AsierGonzalez opened #1192 "Link G2P evidence to G2P gene-disease page"
Currently G2P evidence strings link to the G2P search page using the gene symbol, which is not very relevant. The issue is that the G2P gene-disease pages use some sort of internal number in the url ([example](https://www.ebi.ac.uk/gene2phenotype/gfd?search_type=gfd&dbID=2697)), so some mapping would be needed.

[2020-09-04 12:01] andrewhercules opened #1193 "Re-run LINK after 20.09 release"
Further details TBC

[2020-09-04 12:02] andrewhercules opened #1194 "Update LINK dictionaries"
Further details TBC

Note: work from this ticket may be useful for #996

[2020-09-07 10:09] cmalangone opened #1195 "Fix openfda output header"
Fix the openfda output header to:

CSV/JSON
chembl_id,event,count,llr,critval

Add in the README file the way that the output are used in the OT project.

CSV: adverse_event in the current pipeline
JSON:  openfda index in the ETL pipeline

Thanks

[2020-09-07 12:48] andrewhercules commented on #1186
@DSuveges, @AsierGonzalez, @d0choa:

I have drafted a potential ClinGen description for the [Genetic association page in our documentation](https://docs.targetvalidation.org/data-sources/genetic-associations). Can you please review what I have written below and comment with any edits or alternative links?

The [ClinGen Gene-Disease Clinical Validity Curation](https://clinicalgenome.org/curation-ac

[2020-09-07 12:49] mkarmona commented on #1195
@cmalangone @JarrodBaker whether it better fits you, people. Although, the changes should, at least, reduce the number of name transformations they have from start to end. If we need to change names let's do it all at once. I would suggest following camel case when in doubt or situations like this. We would start applying this way strictly (myself included! mea culpa as I started this mess time ag

[2020-09-07 13:03] andrewhercules opened #1196 "20.09 release communications"
To do:

- [x] Create 20.09 release notes
- [x] Create 20.09 technical notes
- [x] Update change log
- [x] Send technical notes email to partners and collaborators
- [x] Write and publish blog post
- [x] Create notification bell for new blog post
- [x] Update footer to v3.19
- [x] Send EBI Search team email about new association files for download

Note: The [OT006 Data Submission wiki](https://git

[2020-09-07 16:36] AsierGonzalez commented on #1186
It sounds very similar to some of the lines in their website but I find those clearer:

If you want to keep your text I would say variation _in_ rathern than _of_ a particular gene, I have seen it like that more often.

Also, not sure if you want to list the terms used for the confidence levels or just say that "the evidence supporting a gene-disease association is described in a semi-quantitative

[2020-09-07 16:37] AsierGonzalez commented on #1186
I would also check what @emcdonagh-OT thinks, as she suggested we use this data and she is more familiar with it.

[2020-09-07 16:50] emcdonagh-OT commented on #1186
Hello...my suggestion is below:

**ClinGen**

The [ClinGen Gene-Disease Clinical Validity curation process](https://clinicalgenome.org/curation-activities/gene-disease-validity/) involves evaluating the strength of evidence supporting or refuting a claim that variation in a particular gene causes a particular disease. Gene-disease relationships are evaluated using a framework to provide a semiquan

[2020-09-08 03:47] tskir commented on #1139
Since there were no corrections raised for this issue, and since it already supports both types of evidence strings, it's been reviewed and merged on our side. To be compatible with the JSON schema, it will require opentargets/json_schema#95 to be merged by the time of the next release.

[2020-09-08 04:46] tskir commented on #1137
Following our discussions, I have updated our code to support this section for `somatic_mutation` evidence strings as well (directly in the `evidence` section). This has been reviewed and merged on our side.

I have also updated the PR https://github.com/opentargets/json_schema/pull/96 to reflect the necessary changes in the schema.

[2020-09-08 05:45] tskir commented on #1140
@AsierGonzalez Thank you for the detailed comments. Now to address them:

### Multiple ModeOfInheritance attributes

So that we don't have to decide blindly, here is the distribution of all cases where a ClinVar record has multiple ModeOfInheritance attributes. You may notice that the total is 42 instead of 33—this is because I'm using a newer ClinVar data release than the one in https://github.co

[2020-09-08 07:11] tskir commented on #1140
This is now reviewed & merged on our side. The current implementation is as described in my previous comment: specifying the modes of inheritance both for `genetic_association` and `somatic_mutation` evidence strings, and always using an array.

I also updated https://github.com/opentargets/json_schema/pull/97 accordingly.

[2020-09-08 08:17] tskir commented on #1161
@AsierGonzalez Thank you for the comments! I've addressed them in the following ways:
* `.evidence.gene2variant.date_asserted` has been removed completely from the evidence strings (option 1 which you suggested)—I agree it does not make sense to just duplicate the value
* `last_evaluated_date` is now added to the `somatic_mutation` evidence strings as well
* I submitted a PR for the schema to refl

[2020-09-08 10:13] #1195 closed

[2020-09-08 10:37] d0choa commented on #1191
it makes sense. go ahead with the changes

[2020-09-08 11:13] AsierGonzalez opened #1197 "Add score for short_tandem_repeat_expansion (SO_0002162)"
In the first 20.09 pipeline run there are 5 EVA evidence strings with an score of 0 because their functional consequence is `short_tandem_repeat_expansion` ([SO_0002162](http://purl.obolibrary.org/obo/SO_0002162)) which is not currently supported by the pipeline. An score has to be decided for it and added to the [file where the pipeline reads the values from](https://github.com/opentargets/data_p

[2020-09-08 11:31] d0choa commented on #1197
Please don't forget to include it into the [variant scores table](https://www.targetvalidation.org/variants), together with a definition.

I found a bit of background online on the term creation in which CK participated:
https://github.com/The-Sequence-Ontology/SO-Ontologies/issues/399

[2020-09-08 11:35] AsierGonzalez commented on #1197
Apparently, they just created `trinucleotide_repeat_expansion` as a child of `short_tandem_repeat_expansion`, which already existed in SO. However, I don't know if that is helpful to decide the score. Trinucleotide repeat expansions are scored with `1`, should it also be 1 for any other repeat expansions including this term?

[2020-09-08 11:57] AsierGonzalez commented on #1197
After discussing it with @emcdonagh-OT short tandem repeat expansions will be scored with `1` as trinucleotide repeat expansions.

[2020-09-08 12:18] andrewhercules opened #1198 "Update /variants page to include definition for short_tandem_repeat_expansion (SO_0002162)"
As noted by @AsierGonzalez in #1197, there are 5 evidence strings that are annotated with the functional consequence `short_tandem_repeat_expansion` (SO_0002162).

With the inclusion of these new evidence strings in 20.09, we should update the definitions on the [/variants page](https://www.targetvalidation.org/variants) with the following:

**short tandem repeat expansion**
Description: A short t

[2020-09-08 14:59] Jeremy37 opened #2279 "Add documentation for L2G score"
Reviewers for the NAR OTG paper remarked that the L2G score isn't described anywhere. This should also describe what the "Partial L2G" scores mean, how all of these scores should be interpreted, and in what ways they might be biased.

[2020-09-09 10:10] AsierGonzalez commented on #1197
Reopening this as the second run still contains the scores of `0` because the new scores files was not loaded. It should be fixed in the next run, but that may be for 20.11.

[2020-09-09 10:20] fedde-s opened #1199 "The React app lacks the ‘internal data icon’ setting for custom profile sections"
In the current, Angular-based webapp, sections can be configured to show a custom icon (often an institute logo) on the right-hand side of their title bars. This functionality was introduced in pull request https://github.com/opentargets/webapp/pull/304. I believe it has yet to be ported to the React app, unless I've overlooked the setting.

[2020-09-09 10:35] fedde-s commented on #1199
For clarity, this is not an avatar to identify the individual section, but a badge or tag that marks some sections as internal, similar to the ‘new’ badge mentioned in this resolved issue: <https://github.com/opentargets/platform/issues/511>

[2020-09-09 14:46] AsierGonzalez commented on #1186
I really like Ellie's suggestion. The only thing I don't see very clear is including the details of the scoring, I think that the [association score page](https://docs.targetvalidation.org/getting-started/scoring) is the correct place for this information.

[2020-09-09 15:11] d0choa commented on #1186
For consistency, the information from each paragraph could go in different pages

[2020-09-10 15:24] AsierGonzalez opened #1200 "Invalid evidence strings: Multiple genes with uniprot P19440"
In the second 20.09 pipeline run there are 121 invalid evidence strings with the explanation `Multiple genes with uniprot P19440` that were valid in the first run. After doing some research it seems that `ENSG00000100031` (see [API response](https://platform-api-qc.opentargets.io/v3/platform/private/target/ENSG00000100031) and [target profile page](https://qa.targetvalidation.org/target/ENSG000001

[2020-09-11 16:13] AsierGonzalez opened #1201 "Tractability and ChEMBL evidence out of sync"
It seems that the tractability pipeline does not use the same ChEMBL version as the ChEMBL evidence given that according to tractability there are small molecules in phase 4 trials for [ACE2](https://www.targetvalidation.org/target/ENSG00000130234) but there are no known drugs.

<img width="1363" alt="Screenshot 2020-09-11 at 17 08 03" src="https://user-images.githubusercontent.com/11410715/929488

[2020-09-12 10:12] CodeCruncher63 commented on #1169
@JarrodBaker I am reviewing and testing your PR.

[2020-09-14 11:26] AsierGonzalez commented on #1140
Thank you for breaking the combinations down @tskir. You say that the combinations of values look sensible but I struggle to understand how the same disease caused by the same mutation can have multiple modes of inheritance. Is this biologically possible or a way to represent that there is uncertainty about it?

I am just trying to be sure that this is not low confidence data that should be ignore

[2020-09-14 11:37] AsierGonzalez commented on #1140
Comment by @iandunham:

So I think we should look into some of those more in detail. Could you provide the ids of those ClinVar entries so that we can look into them?

[2020-09-14 16:09] AsierGonzalez commented on #1139
PR has been merged

[2020-09-14 16:10] AsierGonzalez commented on #1137
PR has been merged

[2020-09-14 16:15] AsierGonzalez commented on #1161
PR has been merged

[2020-09-15 13:17] AsierGonzalez opened #1202 "Text mining evidence from Hoffmann et al. Cell paper missing for COVID-19"
The [Hoffmann et al. Cell paper](http://europepmc.org/article/MED/32142651) was one of the first publications about SARS-CoV-2 that mentioned human proteins associated with the infection. The abstract of the paper contains sentences that should be picked by EPMC's text mining algorithm, for instance:

Here, `ACE2` and `TMPRSS2` should be tagged as targets and `SARS-CoV-2` as the disease (it's a sy

[2020-09-15 13:27] AsierGonzalez opened #1203 "Text mining evidence missing from sentences with multiple targets"
Raised by @saha-shyamasree:

If a sentence contains two targets and a disease there should be two evidence strings in the JSON file but there are none, i.e. the sentence is ignored entirely. This seems to be caused by the txt to JSON conversion step.

[2020-09-15 13:30] d0choa commented on #1203
are they evidence with multiple diseases (title) or evidence with multiple targets (body) or both?

[2020-09-15 13:33] AsierGonzalez commented on #1203
Good point, I corrected the title to reflect what was reported by Shyama.  @saha-shyamasree can you please clarify if it also affects sentences with multiple diseases and give some examples for our reference?

[2020-09-15 15:20] AsierGonzalez opened #1204 "Use latest available ClinVar data for EVA evidence"
Currently, the ClinVar version used by EVA to generate the evidence file is the same as the one used by the Ensembl release available at the time ([specified in Ensembl data sources documentation](http://www.ensembl.org/info/genome/variation/species/sources_documentation.html)). As reported by @tskir, this may lag 6-8 months behind the latest ClinVar release. For example, for 20.09 he used the Cli

[2020-09-16 08:20] cmalangone commented on #774
echo '"ensembl_id","hgnc_approved_symbol","uniprot_accessions","number_of_associations"' > 20.09_target_list.csv
cat 20.09_search-data.json | jq -r 'select(.type=="target") | [.id, .approved_symbol, [.uniprot_accessions | join("|")][], .association_counts.total] | @csv' >> 20.09_target_list.csv
cat 20.09_search-data.json | jq -r 'select(.type=="target") | {"ensembl_id": .id, "hgnc_approved_symbol"

[2020-09-16 11:13] tskir commented on #1140
@AsierGonzalez @iandunham Sure, here is the complete table, extracted from the latest ClinVar XML as of 2020-09-16:

<details>
  <summary>All cases of multiple ModeOfInheritance attributes</summary>

RCV ID|Modes of inheritance
-----|-----
RCV000063117|Autosomal dominant inheritance; Autosomal recessive inheritance
RCV000190094|Autosomal dominant inheritance; Autosomal recessive inheritance
RCV000

[2020-09-17 10:50] andrewhercules commented on #1190
Ticket removed from 20.09 release - will be pushed as a mini-release closer to October 2020 Integration Day

[2020-09-17 11:51] AsierGonzalez commented on #1140
I have looked into those clinvar accessions and what I have seen does not look very encouraging. Summary is below but you can see all the information in [the spreadsheet](https://docs.google.com/spreadsheets/d/1BxoTFmGJWCVYUJwjjdOnOeV2ZC_RaeUNP2eRDkku78E/edit?usp=sharing):

- Only 11 out of the 42 accessions (highlighted in green) look like plausible variant-disease associations that could have mu

[2020-09-20 11:44] d0choa commented on #996
Hi @tsantosh7. I hope you are well. We might start looking at this task this week.

I'm assuming the above file is for cases where GP and DS co-occur. We talked about generating this file before the target-disease co-occurrence. In that case, we could have papers where only 1 of the entities occur. Also it would be good to be able to include the "drug/chemical" entity in a sample file.

Could you

[2020-09-21 08:01] andrewhercules commented on #1194
As Google Cloud Platform is changing its support for Python 2 and Dataflow on 7 October 2020, we need to run LINK again.

@arwaraies can you please update the libraries used to run LINK?

[2020-09-21 08:09] andrewhercules commented on #1193
@cmalangone I am provisionally scheduling a LINK run for 30 September or 1 October, pending @arwaraies updating the dictionaries, but will confirm later this week as some other tickets (e.g. #996) could be impacted by this work

[2020-09-21 10:09] JarrodBaker commented on #1167
I've compared a sample of SMILES between our database and the Royal Society for Chemistry, and I can confirm that they are different, so it isn't (at this point) a library issue.

I'll reach out to them and see if we can scrape their API for the SMILES: their website suggests that we shouldn't need a licence.

@d0choa: would we need to update our data for every data release, or only when a new com

[2020-09-21 14:22] tsantosh7 commented on #996
Hi @d0choa  Thank you and hope you are doing well too!

Yes the above file is where GP and DS co-occur. Yes, then It will then be after the ML False positive removal. I will try to include drug/chemical and generate a new jsonl file with the aforementioned characteristics. Meanwhile please try using the previous file to get things started.

[2020-09-21 16:00] andrewhercules opened #1205 "Mapping to MedDRA identifiers"
Copying ticket from opentargets/platform-etl-openfda-faers#17

![Screenshot 2020-09-21 at 11 34 50](https://user-images.githubusercontent.com/7490258/93791299-f6a4a500-fc2b-11ea-9680-b6e36f693ce1.png)

[2020-09-21 19:45] gkos-bio opened #1206 "Categorize safety records"
The safety information curated and presented in OT is incredibly valuable.
Would it be possible to categorize the information by (anatomical) system using UBERON?
This way, we could:
- relate it to the mouse phenotypes information and check if there are any correlation.
- classify the records when working on a list of targets.

[2020-09-23 09:23] #2279 closed, assigned to Jeremy37

[2020-09-23 16:49] javfg commented on #1131
@fedde-s @forus I've put together a quick guide to help you with the changes I've made so far. This is related to the sections using platform-api. It should help you in case you port any sections to get familiarized with the new structure.

---

# Updating platform-api sections

## Structure changes

Sections have 4 base files now:

- `index.js`: Contains the definition and exports the summary and

[2020-09-23 18:23] andrewhercules commented on #982
Ticket re-assigned to 20.11 release, pending closure of https://github.com/EBISPOT/efo/issues/764#issuecomment-616424893.

[2020-09-23 19:23] andrewhercules commented on #1146
Moving to 20.11 release and will be implemented in React rewrite version of Platform

[2020-09-23 19:23] andrewhercules commented on #865
Pushed to 20.11 release

[2020-09-23 19:39] andrewhercules commented on #1197
Tagging ticket for 20.11 release - will update and manually load the ECO file for 20.11 as per Slack

![Screenshot 2020-09-23 at 20 38 25](https://user-images.githubusercontent.com/7490258/94061053-c4867500-fddc-11ea-95ad-ce488ea7831b.png)

File location: https://storage.googleapis.com/open-targets-data-releases/20.09/input/annotation-files/eco_scores-2020-09-02.tsv

[2020-09-24 08:18] AsierGonzalez commented on #1197
Clarification: The f[ile has been updated](https://github.com/opentargets/data_pipeline/pull/567) and `platform-input-support` will pick it automatically the next time the it's run. There is nothing else left to be done, I leave the ticket open to remember it in the next release.

[2020-09-24 09:05] andrewhercules commented on #1186
Confirmed and reviewed documentation available on the [team Google Drive](https://docs.google.com/document/d/1ed2-7-9p9fqitkQYAugzUSQVT5qj9NMhqBxahUx3NBI/edit#)

[2020-09-24 15:20] andrewhercules commented on #1196
Ticket closed as all release-related communications have been completed

[2020-09-24 15:20] #1196 closed

[2020-09-25 09:03] andrewhercules commented on #1150
Ticket closed - released as part of 20.09

[2020-09-25 09:03] #1150 closed

[2020-09-25 09:03] andrewhercules commented on #1188
Ticket closed - released as part of 20.09

[2020-09-25 09:03] #1188 closed

[2020-09-25 09:03] andrewhercules commented on #1189
Ticket closed - released as part of 20.09

[2020-09-25 09:03] #1189 closed

[2020-09-25 09:03] andrewhercules commented on #1187
Ticket closed - released as part of 20.09

[2020-09-25 09:03] #1187 closed

[2020-09-25 09:03] andrewhercules commented on #1198
Ticket closed - released as part of 20.09

[2020-09-25 09:03] #1198 closed

[2020-09-25 09:04] andrewhercules commented on #1186
Ticket closed - released as part of 20.09

[2020-09-25 09:04] #1186 closed

[2020-09-25 09:04] andrewhercules commented on #1181
Ticket closed - released as part of 20.09

[2020-09-25 09:04] #1181 closed

[2020-09-25 09:06] andrewhercules commented on #980
Ticket closed - released as part of 20.09

[2020-09-25 09:06] #980 closed

[2020-09-25 09:06] andrewhercules commented on #724
Re-assigned to 20.11 to track outcome of this ticket in that release process

[2020-09-25 09:07] andrewhercules commented on #1179
Re-assigned to 20.11 release

[2020-09-25 09:08] andrewhercules commented on #1200
Reassigned to 20.11 release

[2020-09-25 09:09] andrewhercules commented on #22
Reassigned to 20.11 pending further conversations with Genomics England

[2020-09-25 09:09] andrewhercules commented on #415
Reassigned to 20.11 pending further conversations with Genomics England

[2020-09-25 09:10] andrewhercules commented on #38
Reassigned to 20.11 pending further conversations with Genomics England

[2020-09-25 09:14] andrewhercules commented on #104
Reassigning to 20.11 release to follow up with EVA about mapping variants

[2020-09-25 09:17] andrewhercules commented on #1141
Re-assigning to 20.11 as UniProt evidence assessment is ongoing as noted in [our release intentions document](https://docs.google.com/document/d/1DcQ1CVg0jgQpJlKSvVCQkcYznwaAKiUcY0khToA0Ubg/edit#)

[2020-09-25 09:17] andrewhercules commented on #709
Re-assigning to 20.11 as UniProt evidence assessment is ongoing as noted in [our release intentions document](https://docs.google.com/document/d/1DcQ1CVg0jgQpJlKSvVCQkcYznwaAKiUcY0khToA0Ubg/edit#)

[2020-09-25 09:18] andrewhercules commented on #1135
Re-assigning to 20.11 as UniProt evidence assessment is ongoing as noted in [our release intentions document](https://docs.google.com/document/d/1DcQ1CVg0jgQpJlKSvVCQkcYznwaAKiUcY0khToA0Ubg/edit#)

[2020-09-25 09:18] andrewhercules commented on #1183
Ticket closed as 20.09 release pushed to production. Thank you @AsierGonzalez for another great release! :-)

[2020-09-25 09:18] #1183 closed

[2020-09-25 09:21] andrewhercules commented on #1194
Ticket closed as dictionaries updated by @arwaraies and uploaded to : gs://opentargets-vocabularies_2020_09

[2020-09-25 09:21] #1194 closed

[2020-09-25 09:22] andrewhercules commented on #479
Ticket closed as documentation updated

[2020-09-25 09:22] #479 closed

[2020-09-25 11:59] AsierGonzalez commented on #1203
According to @saha-shyamasree, the EPMC pipeline does not seem to include exceptions for sentences with multiple diseases so this should only affect sentences with multiple targets. This needs to be confirmed.

[2020-09-25 12:23] d0choa commented on #1135
The task is done and it won't lead to any follow up analysis. Uniprot (now gone since 20.09 because of overlap with EVA) and Uniprot literature are based on independent data sources

[2020-09-25 12:24] #1135 closed

[2020-09-25 12:38] d0choa commented on #1141
The exploration of this overlap led to the removal of Uniprot as datasource in 20.09.

`Uniprot` data source was only capturing Clinvar variants (at different pathogenicity filters). Since EVA provides this same information, to extract ClinVar evidence, we decided to stick with the latter.

[2020-09-25 12:43] d0choa commented on #980
There is a backlog of diseases that would require manual mapping, or a more sophisticated systematic approach.
They have not been prioritised, as some changes on the gene2phenotype-side might affect or obsolete some of these mappings.
However, gene2phenoype mapping will need to be reviewed in a few months time

[2020-09-25 14:20] d0choa commented on #1162
Parts of the "Interaction evidence" (InteractionEvidence) object will change when the new fixes from Intact team are implemented.

In particular, the next fields could be affected:

[code]

[2020-09-27 21:09] elipapa commented on #1205
thanks for considering it everyone.
[bioportal](https://bioportal.bioontology.org/ontologies/MEDDRA) license information allows non-commercial uses:

I imagine most pharma users would have a license in-house to leverage the ontology in annotating clinical trials.

[2020-09-28 04:40] tskir commented on #1140
@AsierGonzalez (also copying @tcezard)

Thank you for looking into this! I have two considerations on the matter:
1. Given that there are legitimate cases where multiple modes of inheritance can be present for the same record, I propose that we leave the current way of reporting them in our pipeline unchanged. That is, to continue always reporting an _array_ of values.
2. While at some point we sh

[2020-09-28 08:27] AsierGonzalez commented on #1140
I agree, let's use it as is for now.

[2020-09-28 08:38] JarrodBaker commented on #1205
Thanks @elipapa . We have been in touch with the MedDRA MSSO and it looks like we're going to be able to add the MedDRA identifiers. Because the project isn't strictly non-commercial we need to be cautious about how we expose the MedDRA data so  that we continue to fall under the non-commercial licence.

[2020-09-29 10:37] mkarmona commented on #996
@tsantosh7 should I expect any string normalisation before generating this file? I got a random example and I can see entities are not clean enough

[code]

[2020-09-29 11:10] tsantosh7 commented on #996
@mkarmona there is no string normalisation in place. Those strings are extracted as how they appear in the text written by the authors. Do you want me to group similar strings together if it makes it easy for you?

@d0choa Between I am working on extracting drugs/chemicals as well. So @mkarmona  will receive another sample file with the addition of drugs/chemicals by end of this week.

[2020-09-29 13:12] mkarmona commented on #996
@tsantosh7 you can forget about doing any string transformation but the JSON you are outputting is not the most suitable for me. Can you output in this way? please not that you are producing a dump of a dict where the key is the value itself and I need to have a proper common key, by example, `pmid` so now the serialised json (that is pretty-printed, I don't need it pretty-printed is just to make

[2020-09-29 13:17] mkarmona commented on #996
@tsantosh7 it could be great if you generate the same file but in the way I need it to keep working on it while you finish the one with drugs included. thanks in advance!

[2020-09-29 14:28] tsantosh7 commented on #996
@mkarmona the updated file in the format you have asked for: https://drive.google.com/file/d/1NdVamYvHg32C6tvuaHTiFsSXas0Qh4vO/view?usp=sharing

[2020-09-29 15:20] mkarmona commented on #996
@tsantosh7 here you have a run from the last file you gave me
[mapped_terms.jsonl.gz](https://github.com/opentargets/platform/files/5300107/mapped_terms.jsonl.gz)

[2020-09-29 15:39] tsantosh7 commented on #996
:+1:  Thank you @mkarmona. I will have a discussion with @aravindvenkatesan and get back to you

[2020-09-29 16:51] mkarmona commented on #996
@tsantosh7 I generated another file. this is another iteration that contains drug filtering. few things I got. thanks!

- you are treating cells and drugs as targets

[mapped_terms.jsonl.gz](https://github.com/opentargets/platform/files/5300633/mapped_terms.jsonl.gz)

[2020-09-30 09:51] mkarmona commented on #996
@tsantosh7 I improved the mapping and I am also including mapped terms separated with raw data as you can see where is that coming from. I do not interfere in your detection so I separated direct mappings as entities you classify from the ones I detect crossed entity

[mapped_terms.jsonl.gz](https://github.com/opentargets/platform/files/5304606/mapped_terms.jsonl.gz)

[2020-09-30 10:16] tsantosh7 commented on #996
Thank you @mkarmona for giving us 3 options. I have a meeting with @aravindvenkatesan in few hours from now. I will discuss with him and come up with a format. For now I think the first option looks easy to map the terms from our side. Anyways I will update you before the close of play today.

[2020-09-30 10:25] mkarmona commented on #996
Perfect @tsantosh7 . Please consider this latest file as we think it could be the most appropriate for all. IMHO i think is the less opinionated of the all attempts

[2020-09-30 10:38] tsantosh7 commented on #996
@mkarmona I just compared all the three. I agree   :+1:  that the last option looks good too. However I will confirm later today.

[2020-09-30 15:18] mkarmona commented on #996
@tsantosh7 here a bit more elaborated file and what each field means
[mapped_terms.jsonl.gz](https://github.com/opentargets/platform/files/5306486/mapped_terms.jsonl.gz)

[code]

- `pmid` pubmed id unique field across the dataset
- `terms_mapped` the full list of terms provided and the full list of mapped entities to dictionaries whether their types are the same
- `terms_not_mapped` list of terms

[2020-09-30 15:43] tsantosh7 commented on #996
Hi @mkarmona and @d0choa

Thank you very much, this is working so well. From our analysis today, here is our feedback:

Example considered: PM_ID: PMC1240767

Option_1: We cannot compare original terms with the normalised terms as they are different. E;g: APLP-2 vs aplp2 and Alzheimer disease vs alzheimerdisease

Option_2: Its nice to see the drug filter added to the json stream. However it has th

[2020-09-30 15:50] mkarmona commented on #996
Great @tsantosh7 . Thanks. You can find in the latest iteration I commented I solved the issue you mention so your initial provided terms are there.

[2020-09-30 16:30] tsantosh7 commented on #996
Thank you @mkarmona. Perfect!!

[2020-10-01 09:37] tsantosh7 commented on #996
Hi @mkarmona

cced - @aravindvenkatesan

Thank you for the amazing stuff. I have few production level questions:

1. How would I communicate with your service?
2. Would you have a REST endpoint, where I post my jsonl.file? if so, the output of your end point could be a jsonified dict of json lines?

Thank you!

[2020-10-01 12:08] mkarmona commented on #996
Hi, @tsantosh7 and @aravindvenkatesan thanks! firstly,

It is currently an Apache Spark script that runs anywhere (the requirements are just a really few). It is [currently alpha status](https://github.com/opentargets/platform-etl-backend/blob/mk-assocs-graph/scripts/opentargets-epmc-entity-resolution.sc) so

1. it is not properly wrapped in a standalone jar that anyone can run anywhere whether yo

[2020-10-02 17:38] tsantosh7 commented on #996
@mkarmona Thank you, please give me a weeks time up with some practicality issues.

[2020-10-02 18:59] mkarmona commented on #996
@tsantosh7 sure! Please tell me if I can help with any scalability or etl related issue. Here you have a pair of hands if needed

[2020-10-05 11:38] AsierGonzalez commented on #1141
Now that we have a new EVA evidence file that includes ClinVar entries of all clinical relevance variants we can do the comparison again and there are still 5k variants that only appear in UniProt:

- UniProt (submitted for 20.09) vs EVA (ClinVar 2019-09, all clinical significance levels): 5302
- UniProt (submitted for 20.09) vs EVA (ClinVar 2020-09, all clinical significance levels): 4803

In som

[2020-10-06 13:16] tskir commented on #1204
Hi Asier, wanted to clarify this part here:

Does this apply immediately? Can I use the latest ClinVar version for the 2020.11 release already?

[2020-10-06 13:28] AsierGonzalez commented on #1204
Yes, you can. If you have time to make the changes to your code to process the new ClinVar files you can start using them.

[2020-10-06 15:10] mkarmona opened #1207 "Update interactions data to the new release"
From Intact team

- [x] Update ETL pipeline to match with new changes in the fields and evidences
- [x] Update API to accommodate the new changes produced by the ETL pipeline

[2020-10-06 15:18] mkarmona opened #1208 "Improve the caracteristics of the ES machine"
The current ES 7.9 machine needs improvements

- [x] Slim to 250GB (permanent SSD)
- [x] Down to 4CPUs HM
- [ ] update startup script to accommodate new mem changes and ES and kibana versions
- [ ] Update OS to latest stable cos-stable (it takes the latest if specify just cos-stable)
--

[2020-10-09 08:51] cmalangone commented on #1193
The link was deployed today after QA and QC reviews.

**The only main issue was the gene dictionary empty. It required a second run.

[2020-10-09 08:51] #1193 closed

[2020-10-09 08:54] d0choa commented on #1207
Notes on fixes for unmatched IDs Oct 9th 10am (ordered by priority):

- [ ] It was mentioned that some of the unmapped were uniprot isoforms (e.g. A6NFR6-4) were the -X numbering  can be ignored.  A6NFR6-4 is now fixed but others such as Q9Y2D5-5 don't match yet. Something to investigate.
- [ ] Some are in other species (non-human). These we want to keep but not mapped to any entitiy. You can use

[2020-10-09 10:10] tsantosh7 commented on #996
@mkarmona  and @d0choa Sorry for getting back late. I am still working on extracting the drugs and chemicals from all the data. Now that I have datasets created for it, will try to develop model today. On the other hand, I had been thinking about the integration of @mkarmona normalisation program into this architecture. Previously I thought its a rest API service but then it seems  different to wh

[2020-10-09 10:54] DSuveges commented on #1207
Mapping unreviewed proteins is tricky. Let's take a look at [A0A024R4Q5](https://www.uniprot.org/uniprot/A0A024R4Q5). It's unreviewed, but has a 100% similarity with TFPT, which can be mapped to ENSG00000105619.

I'm not 100% sure how similar/identical proteins can be found, but it's certainly doable. However we need to make a call how to go about proteins, where there's no perfect match or there

[2020-10-09 10:55] DSuveges commented on #1207
I agree having over 3k unmapped entities is just unacceptable. We need to do something about it.

[2020-10-09 11:21] d0choa commented on #1207
For the 2 cases listed above (A0A024R4Q5 & A0A024QZT2), a 2-step mapping using the Uniprot `GeneID` field would work.

[code]

[2020-10-09 11:50] DSuveges commented on #1207
So, let's assume we have an unmapped label, we look up the gene ID, but there might be multiple entries:

[code]
So we practically need a table with the uniprot gene ids and the uniprot id or ensembl gene id, then do the lookup. So all above listed `A0...` labels got resolved to the same label.

[2020-10-09 12:12] mkarmona commented on #996
@tsantosh7 yes happy to meet on Tuesday. please place gmeet on the gcalendar and count me in. Regarding

Can you please include some example about this to discuss about? I mean, the transformation I do are quite minimal and try to keep the nature of the word but things like upercase, spaces, ending punctuations or excesive parentheses stop the pure string match working. I am not currently implemen

[2020-10-09 12:17] mkarmona commented on #996
@tsantosh7 it could great if you can generate a full set without drugs to check performance and acurracy on my side at least. The more iterations we do the better the integration and the sooner we catch potential problems.

[2020-10-09 12:37] tsantosh7 commented on #996
@mkarmona Thanks for this. I will generate without drugs first. You will have this ready by Monday.

[2020-10-13 08:45] AsierGonzalez commented on #865
Draft of the document started here: https://docs.google.com/document/d/16sUmWpMAlfLP3PC8y3NqHREHOtyX-LnFqU9OlUlOeEQ/edit

[2020-10-13 08:49] AsierGonzalez commented on #809
Alternatively, we may decide to drop this field altogether as it does not seem to be used anywhere

[2020-10-13 08:57] AsierGonzalez commented on #1138
Assigning this to @DSuveges as he is looking into this data and the best approach to score the evidence based on the new fields.

[2020-10-13 08:59] AsierGonzalez commented on #1014
This has not been implemted yet and it is not scheduled to be done for 20.11 - moving it to 21.02

[2020-10-13 09:04] AsierGonzalez commented on #1013
This has not been implemented and it isn't prioritised for 20.11 - moving it to 21.02

[2020-10-13 09:06] AsierGonzalez commented on #1202
There is still no explanation for this. @saha-shyamasree will continue working on it but it's low priority.

[2020-10-13 09:07] AsierGonzalez commented on #1202
To be checked again next time EPMC  submit an evidence file

[2020-10-13 09:14] AsierGonzalez commented on #1203
According to @saha-shyamasree, this is at least partially related to gene/protein names that map to multiple UniProt ids:

[code]
The EPMC pipeline skips those sentences.

@d0choa suggests that if most of the problematic protein names are those that include the molecula weight it would be preferable to continue ignoring them as it is done now. Shyama will provide a file with examples so that we ca

[2020-10-13 09:25] #1137 closed

[2020-10-13 09:25] AsierGonzalez commented on #1137
The changes in this ticket have been implemented so I'm closing it. Further changes can be tracked in thier respective tickets, namely #1013, #1014 and #1185

[2020-10-13 09:28] AsierGonzalez commented on #1139
The test file provided by @tskir on 28/09/20 contained all clinical significance levels so the same is expected for the final 20.11 file. @DSuveges is now working on the new scoring (#1138)

[2020-10-13 11:57] AsierGonzalez commented on #1192
Email sent to Sarah Hunt asking about it (she is away until 19th October)

[2020-10-13 13:38] #1169 closed

[2020-10-13 15:21] mkarmona commented on #1205
@JarrodBaker , we still need to iterate this initial MedDRA mapping as we have covered a minority of the reported adverse event names.

[2020-10-13 15:55] AsierGonzalez commented on #809
This is the breakdown of variant types per data source in release 20.06 (used instead of 20.09 because UniProt evidence were still processed):

| sourceID | type | variant_count |
| --- | --- | --- |
| eva | snp single | 115,779 |
| eva | structural variant | 781 |
| ot_genetics_portal | SNP | 359,778 |
| ot_genetics_portal | insertion | 16,181 |
| ot_genetics_portal | deletion | 14,155 |
| phewas

[2020-10-13 16:37] AsierGonzalez commented on #809
As seen in the table above there are four data sources that provide variant information: EVA, OT Genetics Portal, PheWAS catalog and UniProt. The problem is that the four use different approaches to calculate the variant type:

- EVA: Based on the length of the reference and the alternate alleles.
  - If the sequence length of both alleles is strictly less than 2 → "snp single"
  - If the length o

[2020-10-13 20:56] tskir commented on #104
@AsierGonzalez From now on this should be fixed for all submitted evidence strings, with no intervention required from your side. In fact, if you'd like to take a look, this is already fixed in `cttv012-20200928-test2.json.gz` test evidence string set which I submitted a couple of weeks ago.

From now on, we map the ClinVar term with the main name “Alzheimer disease” and synonyms “Presenile and se

[2020-10-13 20:57] tsantosh7 commented on #996
@mkarmona Please find the GP and DS tags from all the articles: https://drive.google.com/file/d/1IpOK5hj1DnWdr3ycrs_ztnOOOgAqGtWN/view?usp=sharing

[2020-10-13 21:30] mkarmona commented on #996
thanks, @tsantosh7 ! I already mapped them. It took a couple of minutes in my laptop but it generates 14GB in total so I am compressing them and uploading to drive to share the results with you. Unfortunately, It will take more time to upload than compute it.

[2020-10-13 21:34] tsantosh7 commented on #996
That was pretty quick @mkarmona. I will try to send you drugs as early as possible.

[2020-10-14 08:11] mkarmona commented on #996
@tsantosh7 here the first [mapping pass](https://storage.googleapis.com/ot-team/carmona/terms_mapped_20201013.tar)

[2020-10-14 08:48] AsierGonzalez commented on #104
That is great @tskir, thank you so much for fixing this. I confirm that  `cttv012-20200928-test2.json.gz` did not have any evidence strings annotated with `EFO_0000249`. I leave the ticket open until you submit the official file for 20.11.

Also, I agree that adding context to the trait mapping tool would be beneficial.

[2020-10-14 09:39] tsantosh7 commented on #996
Thank you @mkarmona

[2020-10-14 09:48] mkarmona commented on #996
@aravindvenkatesan @tsantosh7 [here some counts](https://docs.google.com/spreadsheets/d/1KJpBHpnxzlhzYEG8Z6B3QVm1qOHz8p13pmEUSIzT8yA/edit?usp=sharing) from the resulted mappings

[2020-10-14 10:58] elipapa commented on #1205
one more comment. is the data available for download?

[2020-10-14 12:05] andrewhercules opened #2280 "Update homepage search box content and navigation bar links"
To coincide with our most recent publication, can we please make two adjustments to the Genetics Portal homepage and navigation?

### Search box

- [x] Can we please add the following note:

[Open Targets Genetics: systematic identification of trait-associated genes using large-scale genetics and functional genomics](https://doi.org/10.1093/nar/gkaa840)
Ghoussaini, M. et al, 2020

- [x] Can we ple

[2020-10-14 12:07] #870 closed

[2020-10-14 12:08] #1158 closed

[2020-10-14 12:22] ireneisdoomed commented on #22
Our current files do not currently include any information regarding "Publications". We have discussed this issue in the meeting held on October 7th.

Today I have emailed GEL to follow-up on whether it is possible to update the files for the next release.

[2020-10-14 12:30] AsierGonzalez opened #1209 "Streamline running internal datasource parsers"
Currently the internal evidence data source parsers are a set of independent python scripts in the [evidence_datasource_parsers](https://github.com/opentargets/evidence_datasource_parsers) repo that need to be run manually and whose input files need to be downloaded and placed in specific directories. This makes it rather time consuming to update the data sources when multiple parsers have to be r

[2020-10-14 14:07] d0choa commented on #996
A problem with `intrinsic` being picked up by ML and grounded by this pipeline, due to the word `intrinsic` showing as a synonym of the disease has been reported to [MONDO](https://github.com/monarch-initiative/mondo/issues/2122)

[2020-10-14 14:23] ireneisdoomed opened #1210 "Update Genomics England module"
Rewrite of our GEL module.

1. Mapping of the phenotypes with our ontologies.
2. Building evidence.
3. Parsing following the JSON Schema.

[2020-10-14 14:31] ireneisdoomed commented on #415
Issue no longer applies; a new parser for Genomics England data is being made (Epic #1210)

[2020-10-14 19:03] #2280 closed

[2020-10-15 08:04] tsantosh7 commented on #996
@d0choa There was no ML filtering for disease. So, it was purely the dictionary output. ML tagged it as a whole "urethral intrinsic sphincter deficiency". We could discuss about this in our monthly meeting.

Between, @mkarmona's normalisation is working well. This will open our analysis to introducing ML based annotations as well into pipeline, which are then normalised using @mkarmona script. Ver

[2020-10-15 08:09] mkarmona commented on #996
@tsantosh7 thanks. The moment I have drugs incorporated I will also commit few improvements as plurals and Greek letters transformations. These two fixes will bring few new terms detected many times across literature.

[2020-10-15 08:42] tsantosh7 commented on #996
@mkarmona cheers, I am on it.

[2020-10-15 10:50] ireneisdoomed commented on #22
Eleanor from GEL has answered indicating that the best option would be to feed the "Publications" field by querying their API.
Two ways to approach this:

I will work on this in the next couple of days.

[2020-10-15 11:41] mirandaio opened #1211 "MONDO_0018797 term has no name attribute"
MONDO_0018797 does not have a corresponding `name` field in the `diseases_efo.jsonl` file found here `https://storage.googleapis.com/open-targets-data-releases/alpha-rewrite/static/ontology/diseases_efo.jsonl`.

This causes issues in the platform rewrite in the Ontology visualisation.

In addition, the GraphQL API has an internal server error when looking a disease with that id https://tinyurl.com

[2020-10-15 12:14] AsierGonzalez commented on #1211
This term seems to have been made obsolote in MONDO (see [mondo/1175](https://github.com/monarch-initiative/mondo/issues/1175)) and [it cannot be found either in EFO or MONDO using OLS](https://www.ebi.ac.uk/ols/search?q=MONDO_0018797&groupField=iri&start=0). I wonder why it is in there in the first place.

[2020-10-15 12:22] AsierGonzalez commented on #22
That suggests that the publications are per gene and not per gene-disease(panel) pair, right?

[2020-10-15 15:14] andrewhercules opened #1212 "New phenotypes data from EFO"
With the release of EFO 3.23.0, there will be new phenotype data that we can integrate into the Platform to enrich the disease index and display on the disease profile page

[2020-10-15 15:14] andrewhercules opened #1213 "Investigate phenotypes included in efo_otar_profile.owl from EFO 3.23.0"

[2020-10-15 15:15] andrewhercules opened #1214 "Integrate new phenotypes data from EFO"

[2020-10-15 15:38] d0choa commented on #1212
I'll extract some numbers from the [efo_otar_profile.owl](https://github.com/EBISPOT/efo/releases/download/v3.23.0/efo_otar_profile.owl) file that it's supposed to contain the disease-phenotype relationships from Monarch using the next axiom:

[code]

As a side note, this profile contains all the HP elements that map to the diseases. This could potentially mean a lot more terms than the "official"

[2020-10-16 09:42] tsantosh7 commented on #996
@mkarmona and @d0choa, as discussed, Here are the abstracts with GP, DS and CD tags https://drive.google.com/file/d/1OyvzMk971iX9d5Ohx_tSCEMgBqeUyWPb/view?usp=sharing

Something like this:

[code]

Another example

[code]
The model was not scaling to Fulltext articles due to the size issue. I just understood on how to solve this bug. So I will fix and try to send you Fulltext tags, close to end of

[2020-10-16 11:34] ireneisdoomed opened #1215 "Improve OnToma documentation"
I believe that we could benefit from a richer use of the application if the various methods were more thoroughly documented. Both within the code and in the README.

Nice to include:
- A list of the different methods of collecting ontology data
- Description of each method
- Description of how the input and output should look like

I will be gradually improving it as I use the tool.

[2020-10-16 13:00] mkarmona commented on #996
@tsantosh7 [here](https://storage.googleapis.com/ot-team/carmona/mapped_entities_20201016.tar) the results. it looks quite good!

[2020-10-16 13:05] AsierGonzalez opened #1216 "Missing synonyms of CRK in alpha"
There are three synonyms for CRK in the [production target profile page](https://www.targetvalidation.org/target/ENSG00000167193) but none in the [alpha version of the rewrite](https://alpha.targetvalidation.org/target/ENSG00000167193).

- Production
![Screenshot 2020-10-16 at 14 04 33](https://user-images.githubusercontent.com/11410715/96261602-913c9d80-0fb8-11eb-87d5-87f6560d4c9f.png)

- Alpha
!

[2020-10-16 13:07] mkarmona commented on #1216
the [API does properly](http://platform-api-alpha.opentargets.io/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20target(ensemblId%3A%20%22ENSG00000167193%22)%20%7B%0A%20%20%20%20approvedSymbol%0A%20%20%20%20approvedName%0A%20%20%20%20nameSynonyms%0A%20%20%20%20symbolSynonyms%0A%20%20%7D%0A%7D%0A&operationName=assocs) and returns its name synonyms

[2020-10-16 13:31] andrewhercules commented on #1161
Ticket closed as PR has been merged

[2020-10-16 13:31] #1161 closed

[2020-10-16 13:48] mkarmona commented on #996
@tsantosh7 nice improvement!
[code]

[2020-10-16 13:55] d0choa commented on #1216
Based on @mkarmona response:
[code]
it's likely the rewrite app is only using `symbolSynonyms`, when it should be concatenating `symbolSynonyms` + `nameSynonyms`

[2020-10-16 14:53] cmalangone commented on #1162
Pull request to platform-etl-backend.

[2020-10-16 16:08] d0choa commented on #1212
### SPARQL query
Using [efo_otar_profile.owl v3.23.0](https://github.com/EBISPOT/efo/releases/download/v3.23.0/efo_otar_profile.owl)

[code]

### Output sample

|d                                       |d_label                          |p                                        |p_label              |
|----------------------------------------|---------------------------------|----------------------

[2020-10-16 16:10] d0choa commented on #1213
First round of Investigations and conclusions shared on EPIC ticket #1212

[2020-10-16 16:10] #1213 closed

[2020-10-19 09:37] tsantosh7 commented on #996
@mkarmona Just to update you that the program is still running on the Fulltext articles. Its been 66hrs and only 60% of the articles have been processed. I will try to give you by tomorrow hoping they get processed.

@d0choa I learnt some lessons during this, I can talk about them during our meeting this month.

1. - 1. Running the CD model (or GP, DS) on each sentence is time-consuming on the Ful

[2020-10-19 10:37] mkarmona commented on #996
Please @tsantosh7 can you reply with a simple list of your terms and what those stand for?

[2020-10-19 11:19] tsantosh7 commented on #996
@mkarmona Sure

CD: Chemical/Drug
GP: Gene/Protein
DS: Disease
FN: False negatives (The ones that are missed by dictionaries)

[2020-10-19 11:22] AsierGonzalez commented on #996
What about `DL`?

[2020-10-19 11:23] d0choa commented on #996
We can iterate, but we will eventually need to run the CD model on all sentences (not only GP or DS tagged sentences).
It's the only way we can list the articles that mention a particular drug/chemical isolated or in the context of other entities

[2020-10-19 11:40] tsantosh7 commented on #996
@AsierGonzalez DL is Deep learning. I now have replaced it with CD to make it specific to the context here.

[2020-10-19 12:03] tsantosh7 commented on #996
@d0choa Thank you. I totally understand. It takes a lot of extra time but nonetheless it's doable. For our next iteration, it is best that we produce 1) one standard model by fusing CD dataset with GP and DS, and 2) a lighter version of the current DL model.

[2020-10-19 12:52] mkarmona opened #1217 "Missing indication EFO map for the drug Aspirin"
Having the chembl drug id `CHEMBL25` one of its indications is
[code]
@JarrodBaker and this indication does not contain EFO mapping so either does not include. @d0choa should we report to Chembl?

[2020-10-19 12:52] mkarmona commented on #1217
this is for the drug beta index

[2020-10-20 08:22] AsierGonzalez opened #1218 "Drop UniProt somatic data source"
After reviewing the somatic data sources, it is has been decided that `uniprot_somatic`:

- Is a subset of UniProt evidence manually curated in June 2017 and that has not been updated since then
- All of its target-disease associations are captured by COSMIC - Cancer Gene Census. The only added value of UniProt would be that it contains variant information but it is  currently not showed in the OT

[2020-10-20 08:46] AsierGonzalez commented on #1185
After a thorough review of the problem (see [summary in this slide deck](https://docs.google.com/presentation/d/1Rx9yGGWazu8d6GoyosQ7iOanlrLiUdhkY54mxV5GcFs/edit?usp=sharing)) it has been observed that any restructuring of the schema would require changes to the data pipeline and the front-end. Given that there is a parallel effort to flatten the evidence strings, the whole JSON schema may be reor

[2020-10-20 10:18] JarrodBaker commented on #1217
The problem seems to be coming from the raw ChEMBL data itself. Assume that we have loaded the raw chembl data into a DataFrame `inds`, then select the fields of interest:

[code]
We get the following output:
[code]
The [data-pipeline](https://github.com/opentargets/data_pipeline/blob/469bb6ca51381456b60ba6724f65f4d2e764bb9b/mrtarget/modules/Drug.py#L317) took the approach of not including any ind

[2020-10-20 10:49] tskir commented on #1204
After discussions, we decided that this will not be in scope yet for 2020.11 submission. This one will use pipeline v1.3 and ClinVar 2020/07 (the latest where the repeat expansion pipeline from v1.3 will still work)

[2020-10-20 12:21] d0choa commented on #1217
@JarrodBaker this sounds good to me. I would suggest to include another field named `indicationFromSource` which contains the indication label from ChEMBL. This might help us identify if something fishy is going on with the indication mapping.

Since 1,400 missed indications is a significant number, @JarrodBaker could you pass to @ireneisdoomed a table with all the indication labels - ChEMBL ids p

[2020-10-20 12:26] d0choa commented on #1217
For completeness, the above listed unmapped indication corresponds to `Spasm`, which in my opinion should have been mapped to the EFO term [HP_0003394  - `muscle spasm`](http://purl.obolibrary.org/obo/HP_0003394) ([OT platform alpha](https://alpha.targetvalidation.org/disease/HP_0003394))

![Screenshot 2020-10-20 at 13 22 09](https://user-images.githubusercontent.com/5097586/96585340-5f3c7b80-12d7

[2020-10-20 15:22] JarrodBaker commented on #1217
@d0choa I've pulled the indication labels from the ChEMBL ElasticSearch (I'm guessing you're referring to what they call the `efo_term`). In all cases where the `efo_id` is null the `efo_term` is also `null`.

I've created a csv file in the following form:
[code]
and uploaded it to `gs://ot-team/drop/indicationsWithNulls.csv` for @ireneisdoomed to see if she can make any headway.

How did you find

[2020-10-20 15:33] d0choa commented on #1217
I suspect the above label `Spasm` would be somewhere in their ES index for aspirin. That's the field, I was referring to. It's the raw indication, before any mapping to EFO is performed.

[2020-10-20 16:23] AsierGonzalez opened #1219 "Add confidence_interval, cases and odds_ration to JSON schema"
Similar issue to #1179,  `evidence.variant2disease.confidence_interval` is used by `ot_genetics_portal` and `evidence.variant2disease.odds_ratio` by `phewas_catalog` but none is in the JSON schema.

There is also `evidence.variant2disease.cases`, which is used by `phewas_catalog` and not in the schema. In this case, the question is whether one common field can be used to represent this value and t

[2020-10-21 12:33] ireneisdoomed opened #1220 "OnToma's find_term does not return a match when querying "Peritonitis" or "Cholestasis""
An error has been detected in the logic of the find_term() method of OnToma, used to find an EFO code for a given string or ontology code.

For the examples of `Peritonitis` or `Cholestasis`, we can see that there is an exact match in EFO (http://www.ebi.ac.uk/efo/EFO_0008588 and http://purl.obolibrary.org/obo/MONDO_0001751, respectively) while `find_term` does not return any term.

This is an err

[2020-10-21 12:33] ireneisdoomed commented on #1217
Having used the `mesh_heading` Jarrod has fetched from the their ES, OnToma is able to map nearly 60% of the unmapped MeSH terms. You can find the table here `gs://ot-team/drop/matched_indications.csv`. For the case given, `Spasm` has been mapped to [muscle cramp](https://www.ebi.ac.uk/ols/ontologies/efo/terms?short_form=EFO_0009846).

Among the unsuccessful results, these 6 terms do not map to an

[2020-10-21 12:54] ireneisdoomed commented on #22
The API querying has been optimized - being able to get all the Publications terms without any raised errors.

This issue no longer applies.

[2020-10-21 12:54] #22 closed

[2020-10-21 12:55] cmalangone commented on #1207
Q9Y2D5: Ok not to map. The reason being, the gene is defined in Ensembl as PALM2AKAP2 a fusion protein, whereas the uniprot proteins are defined as each of the constituents PALM2 and AKAP2.

[2020-10-21 12:57] #38 closed

[2020-10-21 12:57] ireneisdoomed commented on #38
After conversations with GEL (see #38) the API querying has been optimized - being able to get all the Publications terms without any raised errors.

This issue no longer applies.

[2020-10-21 13:36] cmalangone commented on #1207
About
"some are HGNC ids (HGNC:10354) I think we have this on our gene index, so I suspect it wouldn’t be hard to get them. They are not very frequent."

Fixed using the info stored in the target index (hgncId)

[2020-10-21 15:22] dhimmel commented on #1212
@d0choa thanks for tagging me. Cool to see the SPARQL query and the results.

Some general questions about the approach (I'm new here):

1. In this context, can we think of phenotypes as signs or symptoms of the disease?
2. Are diseases and phenotypes in the above queries distinct sets of terms? Or could have `?disease skos:related ?phenotype_1` as well as `?phenotype_1 skos:related ?phenotype_2`,

[2020-10-21 16:25] AsierGonzalez opened #1221 "Check protein coding genes missing from the platform"
Raised by @gkos-bio:

[2020-10-21 16:28] AsierGonzalez commented on #1221
Examples of genes that only appear in alternative scaffolds and are therefore missing from the OT platform:

- [KIR2DS1](https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000276327;r=CHR_HSCHR19KIR_FH05_B_HAP_CTG3_1:54905478-54919948;t=ENST00000611996)
- [KIR2DS2](https://www.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000275452;r=CHR_HSCHR19KIR_FH06_BA1_HAP_CTG3_1:547385

[2020-10-22 08:15] AsierGonzalez commented on #1192
This is not supported at the moment but it will be in the updated gene2phenotype system that is expected to be ready later this year according to Sarah.

[2020-10-22 10:07] tsantosh7 commented on #996
@mkarmona it took more than 5 days to process 90% of the fulltext. Here is the file https://drive.google.com/file/d/10k4q1t0ZxOusZhe3fYmyQW7mTjOMp8-Y/view?usp=sharing

Kindly run your analysis on this while I will investigate ways to make the model run faster.

Here is the time taken for processing all the Fulltext

[code]

[2020-10-22 10:45] JarrodBaker commented on #1217
@mkarmona and I discussed this bug this morning at our regular backend meeting. The decision for the time being is to wait for ChEMBL to update their data with the missing values that @ireneisdoomed found. While it's technically feasible for us to manually patch in Irene's data, it adds another dependency to the ETL and makes it harder to understand the code.

[2020-10-22 12:25] #1217 closed

[2020-10-22 12:52] cmalangone commented on #1207
@d0choa
Released 0.46.4 for the dev appEngine server.

[2020-10-22 14:49] #104 closed

[2020-10-22 15:15] AsierGonzalez commented on #1139
These are the clinical significance counts in the 20.11 submission (based on ClinVar 2020/08):

| Clinical significance array | Counts |
| --- | --- |
| ["uncertain significance"] | 413,652 |
| ["likely benign"] | 126,194 |
| ["pathogenic"] | 103,961 |
| ["benign"] | 84,477 |
| ["likely pathogenic"] | 41,726 |
|  ["not provided"] | 8,864 |
| ["conflicting interpretations of pathogenicity"] | 8,240

[2020-10-22 15:15] #1139 closed

[2020-10-22 23:51] gokceneraslan opened #2281 "Modifying the 0.5 L2G cutoff in manhattan() GraphQL API"
Hi,

`manhattan` GraphQL API nicely returns a `bestLocus2Genes` field in the `ManhattanAssociation` object but these associations are all determined by 0.5 cutoff. In other words, the `score` field of a `ScoredGene` object is always >= 0.5. I was wondering if there is a simple way to specify a different cutoff in the `manhattan` API. Because I think in some cases 0.5 is a stringent cutoff (e.g. [h

[2020-10-23 10:09] JarrodBaker opened #1222 "Molecule fields reconsideration"
We want the Drug index to be extensible for stakeholders. Currently there are many fields, not all of which should be considered compulsory. We want to determine which fields are the bare minimum to comprise a molecule 'core' which can be used as a basis for extensions.

**Background**

The current ETL creates three outputs related to drugs: _Drug_, _MechanismOfAction_, and _Indication_.

The Drug

[2020-10-23 11:25] mkarmona commented on #996
[here the result](https://storage.googleapis.com/ot-team/carmona/mapped_entities_fulltext_20201023.tar) of the full papers output and some conditional counts

[code]

[2020-10-23 12:09] tsantosh7 commented on #996
@mkarmona would you have time next week (Monday) for a call with me and Aravind?

[2020-10-26 11:46] ireneisdoomed opened #1223 "OnToma's findterm() systematically mapping "Alzheimer Disease" to "Early-onset autosomal dominant Alzheimer disease""
Using the OnToma find_term() method for Alzheimer's disease we see this result, yielding [Orphanet:1020](http://www.orpha.net/ORDO/Orphanet_1020) instead of the more general term [EFO:0000249](https://www.ebi.ac.uk/ols/ontologies/efo/terms?short_form=EFO_0000249):

`
{'term': 'http://www.orpha.net/ORDO/Orphanet_1020',
 'label': 'alzheimer disease',
 'source': 'Zooma API lookup',
 'quality': 'match

[2020-10-26 13:19] ireneisdoomed commented on #1223
Changes made. PR pending to review.

[2020-10-26 13:51] ireneisdoomed opened #1224 "Build a functional Panel App parser"
The structure of the parser to be the evidence is built, but the script is still inconsistent:

- [x] Clearer structure of the evidence field
- [x] Line 274: `self.evidence_builder.OpenTargets`or `self.evidence_builder.OpenTargets4`
- [x] Line 242: What should `evidence_codes` contain?
- [x] Line 226: Is `resource_score` and `confidence` supposed to have the same value? TO-DO: Give scores dependin

[2020-10-26 14:30] d0choa commented on #1219
I'm incline to approach this in a systematic way for all evidence (types and classes). We will meet (next week) and decide what's the approach

[2020-10-26 14:30] #1219 closed

[2020-10-26 17:28] ireneisdoomed commented on #1223
Version of OnToma 0.0.17 merged and deployed to pypi.

https://github.com/opentargets/OnToma/commit/fae123c924f8471247f7e48e8519f3cfb03356d3

Closing issue.

[2020-10-26 17:28] #1223 closed

[2020-10-27 10:45] andrewhercules commented on #1201
The [tractability file for 20.11](https://storage.googleapis.com/otar001-core/Tractability/20.11/tractability_buckets-23-10-2020.tsv) has been reviewed and ACE2 does not contain a clinical phase 4 assessment

[2020-10-27 10:45] #1201 closed

[2020-10-27 10:53] DSuveges commented on #1224
That's a tricky question. If you take a look at the [schema](https://jsoneditoronline.org/#left=cloud.a52833ca7dc44b0abed2e975db450a5a) you can see 5 different definition under the key `oneOf`. When you say `OpenTargets4` that specifies the 5th schema. However it is not mandatory, the builder can find it, but occasionally there might be a clash.

That is a term from the evidence and conclusion ont

[2020-10-27 11:49] d0choa commented on #1212
Hi @dhimmel,

1. As far as I know MONDO collects this data from Orphanet and OMIM. They refer to them as clinical signs and symptoms.
2. I believe all diseases have EFO/MONDO ids whereas all phenotypes have HP ids which will prevent these type of chains. However, I haven't actually tested it.
3. Not sure what the plans are for the official owl on adopting this changes. The Open targets OWLs contai

[2020-10-27 15:06] ireneisdoomed commented on #1224
Things to correct after the code review with Daniel:
- [ ]  Look up table with green and amber scores.
- [ ]  Logger configuration in a separate function
- [ ]  @staticmethod decorator for those functions where no self variable is used.
- [ ]  Reduce logic in the main function.
- [ ]  .unique() instead of .value_counts().index.to_list()
- [ ] Initialise evidence_strings.append() to append the evid

[2020-10-28 11:35] cmalangone commented on #828
This ticket is obsolete.
The step ensembl uses a module for the version conda3 - python3

[2020-10-28 11:40] cmalangone opened #1225 "Migrate platform-input-support from conda2/python2.7 to conda3/python3"
As of January 1st, 2020 no new bug reports, fixes, or changes will be made to Python 2, and Python 2 is no longer supported.
Moreover conda2 is not supported anymore too.

Platform-input-support needs to be migrate to conda3 and python3.

[2020-10-28 11:41] cmalangone commented on #1225
The migration is completed and I opened a PR.

[2020-10-28 12:47] AsierGonzalez commented on #724
There is no updated gene expression evidence file for 20.11, so moving this 21.02

[2020-10-28 14:31] JarrodBaker commented on #1205
@mkarmona with the latest PR the meddra codes cover all but five distinct events:

[code]
These affect 21 records across 16 ChEMBL ids.

Meddra codes are also included in both the `agg_by_chembl` and `agg_critval_drug` outputs.

[2020-10-28 15:25] cmalangone commented on #1225
PR reviewed and approved.

[2020-10-28 15:25] #1225 closed

[2020-10-28 16:11] zoependlington commented on #1212
Just for some (related) clarification on the nature of the d2p links:
1. Most of the links come from [Monarch](https://github.com/EBISPOT/efo/blob/79920d221745ecd52d0bdf43f17f70ee7f92cc3a/src/ontology/get_mirrors.sh#L25), but the raw source for the Monarch dump is phenotype.hpoa, hosted as part of the HPO project, which is documented [here](https://hpo.jax.org/app/download/annotation) (fyi, you ca

[2020-10-28 16:53] #1205 closed

[2020-10-29 09:19] JarrodBaker commented on #1205
@elipapa I have generated the output and it can be downloaded from the Google Cloud Bucket; `gs://open-targets-data-releases/20.09/openfda-faers-meddra`

[2020-10-29 09:21] #1176 closed

[2020-10-29 09:21] #1177 closed

[2020-10-29 09:21] #1175 closed

[2020-10-29 09:21] #1174 closed

[2020-10-29 09:22] #1178 closed

[2020-10-29 09:22] #1173 closed

[2020-10-29 09:25] JarrodBaker commented on #1170
We will not make changes to the data pipeline at present as the step can be turned off through configuration. Documentation should be clear that the ELT should handle drug processing.

[2020-10-29 09:25] #1170 closed

[2020-10-29 11:09] cmalangone commented on #869
Platform input support has a new step called "interactions".
Interactions step generates/gets the data from strings and intact and transform them in order to be used by ETL.

Moreover, this step generates/gets the mapping files. Eg. protein mapping, ensembl human mapping.

[2020-10-30 11:36] elipapa commented on #1205
Fantastic!! thanks a lot for the quick turn around 😊 this has increased
the value of the data 💯 for us

On Thu, 29 Oct 2020 at 9:19 am, Jarrod Baker <notifications@github.com>
wrote:

[2020-10-30 14:08] matentzn commented on #1212
One thing I would like you to be aware of that this "related-to" kind of associative data is completely de-contextualised, i.e. noisy.

The monarch representation of these mappings have more rich contextual metadata, in particular:

Frequency qualifiers, qualification of onset, sex-specificity and evidence codes from ECO, for example:

[code]

This information may be very important for your analys

[2020-11-02 11:29] AsierGonzalez opened #1226 "Use correct literature provenance in G2P"
Currently, all the gene2phenotype evidence strings have the same literature reference, which links to the [DDD paper](https://europepmc.org/article/MED/25529582?singleResult=true). Instead, the PMIDs provided in the G2P downloads ("pmids" column) should be used to populate that field.

[2020-11-02 13:27] AsierGonzalez commented on #1127
Closing as no action is planned in the short term

[2020-11-02 13:27] #1127 closed

[2020-11-02 21:38] andrewhercules opened #1227 "Create new ClinGen evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the ClinGen evidence data?

**Example GraphQL API query**
[ACAD9 and Exercise intolerance with lactic acidosis](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22Orphanet_254843%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidenc

[2020-11-02 21:59] andrewhercules opened #1228 "Create new Gene2Phenotype evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the Gene2Phenotype evidence data?

**Example GraphQL API query**
[BRAF and Cardiofaciocutaneous syndrome](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22Orphanet_1340%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensem

[2020-11-02 22:49] DSuveges opened #1229 "Exploring possibilities to map trEMBL identifiers to Esembl gene IDs."
This problem is discussed here: #1207 , but the complexity of this problem deserves a more thorough review.

* Currently we have ~20k umapped identifier in the network data most of which are identifiers of unreviewed trEMBL etries with no mapped Ensembl gene.
* To make sure won't lose all these interactions, we can try to map these proteins to targets.

[2020-11-03 08:39] ireneisdoomed opened #1230 "Include publications field in the evidence"
- [X] Fetch publications from PanelApp API

- [X] Clean publications to include only PubMed IDs

- [x] Include them in the evidence strings

[2020-11-03 10:19] javfg commented on #1228
The graphql example shows `clinGen` as data source. Should that be `gene2phenotype`?

[2020-11-03 10:36] andrewhercules commented on #1228
Yes @javfg, my apologies! I've updated the query [here](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22Orphanet_1340%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5B%22ENSG00000157764%22%5D%2C%20enableIndirect%3A%20true%2C%20datasourceIds%3A%20%5B%22gene2phenotype%22%5D)%20%7B%0A%20%20%20%

[2020-11-03 11:18] d0choa commented on #1228
The work on #1226 will provide a `literature` field as well for this datasource (null at the moment).
Feel free to include it, even if the API returns nulls at the moment.

[2020-11-03 11:44] andrewhercules opened #1231 "Create evidence page in rewrite version"

[2020-11-03 11:46] andrewhercules commented on #1228
Will do - thanks @d0choa!

@javfg I have updated the table to add the `literature` field, but it will be `null` until the work on #1226 is complete

[2020-11-03 14:07] andrewhercules opened #1232 "Create new PheWAS Catalog evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the PheWAS Catalog evidence data?

**Example GraphQL API query**
[NOD2 in respiratory system disease](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22EFO_0000684%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%

[2020-11-03 14:15] andrewhercules commented on #1227
Please see below for further amendments to the table specification.

### Summary widget

**Widget text:**
`evidences.count` records

### Detail view

**Detail view title:**
ClinGen

**Detail view description:**
Manual gene-validity curations for `target.approvedSymbol` and `disease.name`. Source: [ClinGen](https://search.clinicalgenome.org/kb/gene-validity/)

[2020-11-03 14:56] andrewhercules opened #1233 "Create new UniProt Literature evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the Gene2Phenotype evidence data?

**Example GraphQL API query**
[APP and nervous system disease](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22EFO_0000618%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%2

[2020-11-03 15:43] andrewhercules opened #1234 "Create new Genomics England evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the Genomics England evidence data?

**Example GraphQL API query**
[GAA and Glycogen storage disease due to acid maltase deficiency](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22Orphanet_365%22)%20%7B%0A%20%20%20%20name%0A%

[2020-11-03 16:57] d0choa commented on #1234
@ireneisdoomed can provide more details on how the evidence might change on the upcoming release.

It will be good if in the next release we don't have `NA` values in the literature field.

[2020-11-03 18:22] andrewhercules opened #1235 "Create new SLAPenrich evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the SLAPenrich evidence data?

**Example GraphQL API query**
[AKT1 and breast cancer](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22MONDO_0007254%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5B%22ENS

[2020-11-03 18:39] d0choa commented on #1232
It's a known issue that all functional consequences in this datasource have the same value. Don't worry about it. We will fix it at source.

[2020-11-03 18:41] d0choa commented on #1232
It's an open question if we want to keep the rsId links consistent with Genetics Portal. Currently pointing to dbSNP in the rewrite. Thoughts?

[2020-11-04 08:38] AsierGonzalez commented on #1232
Personally, I find dbSNP more informative but I don't know if we want to give preference to EBI resources.

[2020-11-04 09:00] ireneisdoomed commented on #1230
Closing issue.

Addressed null values as suggested in #1234. Literature structure looks like this:

`"literature": {
"references": [
{"lit_id": null}]}`

[2020-11-04 09:25] AsierGonzalez commented on #1230
Is that supported by the JSON schema? The [current definition](https://github.com/opentargets/json_schema/blob/1.7.3/opentargets.json#L1030-L1034) of `lit_id` is as follows:

[code]

[2020-11-04 12:45] ireneisdoomed commented on #1230
After discussions in the daily meeting, the `literature` field is only added when the publications array is empty. In that case, we don't have to manage any null values.

`"provenance_type": {
			"literature": {
				"references": [
					{
						"lit_id": "http://europepmc.org/abstract/MED/27604308"
					}
				]
			},
			"database": {
				"dbxref": {
					"id": "Genomics England PanelApp",
					"ur

[2020-11-04 12:45] #1230 closed

[2020-11-04 12:53] ireneisdoomed commented on #1234
After discussions in the daily meeting, the literature field is only added when the publications array is empty. In that case, we don't have to manage any null values.

This is an example of a current evidence string:

`{"type":"genetic_literature","evidence":{"is_associated":true,"date_asserted":"2020-11-04T12:31:39.836571","resource_score":{"type":"probability","value":1,"method":{"description":

[2020-11-04 14:40] andrewhercules opened #1236 "Create new PROGENy evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the PROGENy evidence data?

**Example GraphQL API query**
[EGFR and squamous cell lung carcinoma](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%22EFO_0001071%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5

[2020-11-04 16:55] javfg commented on #1234
I am filtering out those `NA` for now.

[2020-11-04 17:18] AsierGonzalez commented on #1234
There shouldn't be any. Sometimes the field will be missing but it should never be `NA`

[2020-11-04 21:00] andrewhercules opened #1237 "Create new Cancer Gene Census evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the Cancer Gene Census evidence data?

**Example GraphQL API query**
[WRN and colorectal carcinoma](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22EFO_1001951%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A

[2020-11-04 22:01] andrewhercules opened #1238 "Create new intOGen evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a data table that displays the intOGen evidence data, using work previously done by @LucaFumis and noted in merged into `platform-app` in opentargets/platform-app/pull/126?

**Example GraphQL API query**
[BRAF and non-small cell lung carcinoma](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%

[2020-11-05 10:24] javfg commented on #1236
@andrewhercules should the decimal places be rounded to 5 instead of 3 as we discussed in the frontend meeting?

[2020-11-05 10:53] andrewhercules commented on #1236
@javfg yes please! 👍

And with the [EGFR and squamous cell lung carcinoma association](https://alpha.targetvalidation.org/evidence/ENSG00000146648/EFO_0000708), are we able to render the very low p-value or does it round to 0?

[2020-11-05 11:01] javfg commented on #1238
[Example query](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20evidence_intogen%20%7B%0A%20%20disease(efoId%3A%20%22EFO_0001378%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5B%22ENSG00000157764%22%5D%2C%20enableIndirect%3A%20true%2C%20datasourceIds%3A%20%5B%22intogen%22%5D)%20%7B%0A%20%20%20%20%20%20count%0A%20%20%20%20%20%20rows%

[2020-11-05 11:03] d0choa commented on #1238
`significantDriverMethods` will be fixed in the next iteration. It's an array of strings but comes null at the moment.

[2020-11-05 11:12] andrewhercules commented on #1238
My apologies @javfg , I added the incorrect query: [BRAF and non-small cell lung carcinoma](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22EFO_0003060%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5B%22ENSG00000157764%22%5D%2C%20enableIndirect%3A%20true%2C%20datasourceIds%3A%20%5B%22intoge

[2020-11-05 11:42] javfg commented on #1236
Should be working: https://5fa3e26fc81855000788e078--platform-app.netlify.app/evidence/ENSG00000146648/EFO_0000708

![image](https://user-images.githubusercontent.com/6058151/98236761-ca36b500-1f5b-11eb-9cf9-f79bf57728e0.png)

[2020-11-05 14:44] andrewhercules opened #1239 "Create new SysBio evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the SysBio evidence data?

**Example GraphQL API query**
[PSEN1 and late-onset Alzheimers disease](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22EFO_1001870%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%

[2020-11-05 15:03] andrewhercules opened #1240 "Create new CRISPR evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the SysBio evidence data?

**Example GraphQL API query**
[WRN and colorectal carcinoma](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22EFO_1001870%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5B%22ENS

[2020-11-05 15:51] d0choa commented on #1239
The idea is to coalesce `studyOverview` and `experimentOverview` and only keep `studyOverview`. `study` seems to be more consistent with other fields (e.g. `studyId`).

The information contained in `studyOverview` is the correct one for SysBio, so we won't expect any changes in the future.

The changes in the next iteration will therefore not affect this work.

[2020-11-05 16:23] andrewhercules opened #1241 "Create new Reactome evidence tables in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the Gene2Phenotype evidence data?

**Example GraphQL API query**
[APC and colorectal carcinoma](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22EFO_1001951%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%

[2020-11-05 17:09] andrewhercules opened #1242 "Create new Phenodigm evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the Phenodigm evidence data?

**Example GraphQL API query**
[FGF8 and Joubert syndrome with orofaciodigital defect](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22Orphanet_2754%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evide

[2020-11-05 18:54] ireneisdoomed opened #1243 "PheWAS - Populate functional consequence field"
The `functional_consequence` value for the evidence strings is currently hardcoded to `http://purl.obolibrary.org/obo/SO_0001060`.

The aim is to populate this field using the Sequence Ontology.

[2020-11-05 21:29] d0choa commented on #1243
Since you're going to do the mappings using the variant index in the genetics portal, it would be great to add consistency to the phewas catalog variant ids.

Currently the variant object inside the phewas catalog evidence looks like the next:

[code]

It would be great to migrate to a similar struct to the genetics portal evidence:

[code]
Genetics portal also contain the fields `type_link` and `

[2020-11-06 09:13] AsierGonzalez commented on #1243
Is there enough information in the [PheWAS file](https://storage.googleapis.com/otar000-evidence_input/PheWAS/data_files/phewas-catalog-19-10-2018.csv) to do that? I don't think you can use the rs id only to get the alleles reliably, can you?

[code]

[2020-11-06 09:26] ireneisdoomed commented on #1224
More than 47 000 evidence strings were generated.

These include 32 000 where the disease mapping got an exact match and 15 000 where the disease mapping result was cross-referenced with the mapping of the corresponding OMIM code.

Closing issue.

[2020-11-06 09:26] #1224 closed

[2020-11-06 13:04] andrewhercules opened #1244 "Create new ChEMBL evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the ChEMBL evidence data?

**Example GraphQL API query**
[BRAF and lung cancer](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%22MONDO_0008903%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5B%22ENSG00000157

[2020-11-06 20:07] andrewhercules opened #1245 "Create new EVA evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the EVA evidence data?

**Example GraphQL API query**
[KIT and Piebaldism](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%22Orphanet_2884%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5B%22ENSG00000157404%2

[2020-11-06 20:24] d0choa commented on #1245
The identifiers.org prefixes to build the links are:
- `SO` for sequence ontology
- `clinvar.record` for clinvar RCV
- `dbsnp` for rsid - this goes against Ensembl suggestion above. Just including here because it's the official service

[2020-11-07 15:26] andrewhercules opened #1246 "Create new EVA (Somatic) evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the EVA (Somatic) evidence data?

**Example GraphQL API query**
[BRAF and lung cancer](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%22MONDO_0008903%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemblIds%3A%20%5B%22ENSG0

[2020-11-07 16:00] andrewhercules opened #1247 "Create new Expression Atlas evidence table in rewrite version"
On the evidence page in the rewrite, can we please create a new data table that displays the Expression Atlas evidence data?

**Example GraphQL API query**
[CHI3L1 and inflammatory bowel disease](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20assocs%20%7B%0A%20%20disease(efoId%3A%20%22EFO_0000384%22)%20%7B%0A%20%20%20%20name%0A%20%20%20%20evidences(ensemb

[2020-11-07 16:27] andrewhercules commented on #1247
In some cases (e.g. PTGS2 and asthma), the value in the `evidence.rows[x].studyOverview` field contains HTML tags. Is it possible to render the string as HTML, using a [parsing library](https://medium.com/@uigalaxy7/how-to-render-html-in-react-7f3c73f5cafc)?

![Screenshot 2020-11-07 at 16 25 21](https://user-images.githubusercontent.com/7490258/98446517-dbc3bc80-2115-11eb-9e68-670c4cb3c714.png)