[2019-08-21 08:38] MichaelaEBI opened #714 "Problem with writing PROGENy evidence JSON strings into file"
When writing the PROGENy JSON strings into a file at the end of the `PROGENy.py` module, the evidence strings for all genes in a pathway are identical and contain the Ensembl ID of the last gene in the pathway. For this reason, the evidence strings are currently retrieved with a `print` statement which led to issues with an extra line in the evidence file (see issue #188).

[2019-08-21 08:42] MichaelaEBI commented on #714
After trying different things yesterday and then contemplating the issue further on my (long) way home on the bike, I came up with a solution which works(!) and has been implemented [here](https://github.com/opentargets/evidence_datasource_parsers/commit/d19cfacbca25063e6158ad7603e2b21001174a05). The problem was that when using `append` a new evidence string object needs to be initiated for each g

[2019-08-21 08:42] #714 closed

[2019-08-21 09:01] MichaelaEBI commented on #188
Closing this ticket because the 'PI3K' pathway question is covered in this ticket #713

[2019-08-21 09:01] #188 closed

[2019-08-21 09:08] MichaelaEBI opened #715 "evidence_datasource_parsers: Update IntOgen Module"
**Summary of changes:**
- Update credits and contact info
- Tidy up the code
- Update `Mengioma` disease ID
- Simplify `unique_association_fields` to `target_id` and `disease_id` because these two are enough uniquely identify each IntOgen evidence string
- Add `source_name` to `.disease`

The Pull Request can be found [here](https://github.com/opentargets/evidence_datasource_parsers/pull/30)

[2019-08-21 09:09] MichaelaEBI opened #716 "evidence_datasource_parsers: Update gene2phenotype module"
**Summary of changes:**
- Update credits and contact info
- Tidy up the code
- `unique_association_fields`: remove `source_id` (will be added by the pipeline when generating the hash) and `target` --> `target_id`

The Pull Request can be found [here](https://github.com/opentargets/evidence_datasource_parsers/pull/31)

[2019-08-21 09:12] MichaelaEBI opened #717 "evidence_datasource_parsers: Update SLAPEnrich module"
**Summary of changes:**
- [x] Tidy up the code
- [x] Remove `tumour_type` and `tumour_type_acronym` from `unique_association_fields`
- [x] In `unique_association_fields`: `symbol` --> `target_id`, `efo_id` --> `disease_id`
- [x] Investigate gene symbols for which Ensembl ID is not present in HGNC data file (evidence strings still appear in the Platform though, even though the Ensembl ID is missing

[2019-08-21 09:22] ElaineMcA commented on #409
Internal hackathon held 20-Aug-2019.

Notes and follow-up actions from hackathon are detailed in a central document on internal google drive [here](https://drive.google.com/drive/folders/0AOMozGkUtCmbUk9PVA).

Summary:
- Tutorials reviewed, page outline updated and API examples updated/corrected to ensure they work with CURL in terminal - more accessible for all users.
- Also purpose of installing

[2019-08-21 10:07] AsierGonzalez commented on #434
- **0 p-values:** After talking to James Hayhurst from GWAS Catalog, we know that `p-value=0` are not real values from GWAS. They are caused by below precision values being converted to 0. Threfore, it has been agreed with @mkarmona and James that from 19.11 the p-values in the GWAS catalog evidence will be defined as mantissa and exponent instead of scientific notation. Consequently, we need to c

[2019-08-21 11:37] MichaelaEBI commented on #616
HGNC will update HGNC-Ensembl mappings for all 25 genes provided to them and Ensembl will then grab these cross-references when they next import HGNC data. Most of these genes have been imported from NCBI by Ensembl and that is why they do not have HGNC cross-references.

[2019-08-21 13:14] fedde-s opened #718 "rest_api docs reference removed pipeline setting"
The [docs](https://github.com/opentargets/rest_api/blame/19.06.4/README.md#L68 ) on running the **rest_api** service with Docker say that the ‘data version’ setting must match the ‘prefix’ option passed to the data pipeline. That prefix option was removed in release 19.06.

The pipeline now takes individual index names from its Elasticsearch configuration file, which [its docs](https://github.com/

[2019-08-21 13:45] MichaelaEBI opened #719 "evidence_datasource_parsers: Update CRISPR module"
**Summary of changes:**
- [x] Code formatting
- [x] `unique_assocation_fields`: `gene_name` --> `target_id` & take `disease_id` and `target_id` from evidence string
- [x] Add symbol mapping for 9 genes that do not have an Ensembl ID in the original data file
- [x] Add `unique_association_fields.gene_set` to main part of evidence string - requires JSON schema modification
- [x] Add pmid to data fil

[2019-08-21 17:09] LucaFumis commented on #682
Update on front end progress.
I've implemented a working prototype addressing the main points above to help decisions and design for the end of the month:
 - summary charts
 - table content
 - *expandable rows* (clicking on the 'source' column, e.g. '2 records +')
 - column filters

Notes:
 - *data is static from a mock endpoint* pulling the json generated by Adam for EGFR. So you will see the sam

[2019-08-22 09:06] AsierGonzalez commented on #434
GWAS have implemented the requested changes and have generated a new file with the 19.09 evidence and the new format: they now represents p-values as mantissa (int, NB p-values are stored to 1 significant figure in the GWAS Catalog) and exponent (int).
OT to test the new format and make the necessary changes for 19.11.

[2019-08-22 10:45] forus opened #2121 "Sorting on PMID column in PheWAS table does not work"
Sorting on PMID column in PheWAS table does not work.

https://genetics.opentargets.org/variant/1_25434429_C_T

![Screen Shot 2019-08-22 at 12 41 42](https://user-images.githubusercontent.com/492175/63508469-533e0980-c4da-11e9-8b42-5fadf6790c24.png)

[2019-08-22 11:34] MichaelaEBI opened #720 "PMID for CRISPR paper (Project Score)"
From 19.09, the epmc link for the CRISPR paper is provided in the evidence strings at `.evidence.resources_score.method.reference` and the front end can now use this pmid instead of hard-coding it in the web app.

[2019-08-22 12:59] deniseOme opened #721 "missing clinical trials"
User reports missing drug-clinical trial data for Fragile X Syndrome (FXS).

Only 33 of the 74 clinical trials associated with FXS currently represented in the Platform leading to the omission of at least 34 drugs/treatments and further targets associated with them. Here they are:

NCT02126995
NCT02747394
NCT02465931
NCT01053156
NCT03697161
NCT01894958
NCT01329770
NCT00858689
NCT00637221
NCT038363

[2019-08-22 13:06] deniseOme commented on #721
These are the drugs from the NCTs above.

[18F]FPEB
AF056
AFQ056
Allopregnanolone
BPN14770
citocoline
CX516 (Ampalex)
Memantine
MG01CI extended-release tablet
Minocycline
minocycline hydrochloride
NNZ-2566
NPL-2009
OV101
OV101 (gaboxadol)
RO4917523
STX209
sugar pill
ZYN002 - CBD Transdermal Gel
Combination: Dietary Supplement: Ascorbic Acid (Vitamin C) and Alpha-tocopherol (Vitamin E)
Combination:

[2019-08-22 15:24] deniseOme opened #722 "new column for drug info table?"
User has contacted @iandunham suggesting "that the clinical trial data available from the drugs tab be annotated with a column with values including "Has no results", "Success" , "Failure". This would allow for retrospective determination of parameters such as Likelihood of Approval (LOA)".

This info is partially provided in the “Status” column but we can double check whether we get the right inf

[2019-08-22 16:42] andrewhercules commented on #722
@deniseOme: this is something that I was hoping we could add to the data table. However, I do not believe that any additional status information or results data is currently curated by ChEMBL. That being said, I do seem to recall that there are plans to do so in the future - @MichaelaEBI, can you please confirm if this is the case?

If such data does become available, I would strongly advise that

[2019-08-23 11:54] MichaelaEBI opened #723 "ChEMBL tractability data file for platform-input-support"
This is a placeholder ticket (more detail to be added) to work out how to deal with the tractability file in future OT releases. ChEMBL are currently uploading both the evidence and tractability file into their OT bucket. At the moment, the platform-input-support script expects the file in the otar001-core/Tractability bucket. For platform-input-support to pick up the tractability file, naming con

[2019-08-23 13:11] AsierGonzalez opened #724 "Filter atlas evidence data based on target.activity"
The gene expression evidence we get can have one of three different values for target activities: `decreased_transcript_level`, `increased_transcript_level` or `unknown`. The `unknown` activity is assigned to evidence from comparisons that are not `disease` vs `normal` (more information [here](https://docs.google.com/document/d/1_40Knrsf69bHPVEzTYZVMyHhhabhSEYzO5u7wf1X84M/edit)) and, therefore, sh

[2019-08-23 14:19] AsierGonzalez commented on #606
In the UniProt file submitted for 19.09 the three evidence strings are annotated with the EFO id of LOMARS ([EFO_0009904](http://www.ebi.ac.uk/efo/EFO_0009904)). This EFO term is not part of EFO2 so the evidence strings will be invalid for 19.09 but the issues will be solved when we move to EFO3.

[2019-08-23 14:21] AsierGonzalez commented on #606
I'm closing the ticket as the problem with the ontology mapping has been resolved

[2019-08-23 14:21] #606 closed

[2019-08-23 15:38] AsierGonzalez commented on #104
This is still not resolved in the file received for 19.09

[2019-08-23 16:19] AsierGonzalez commented on #294
Microarray probe aggregation has been completed for 19.09, the issue mentioned above has been resolved.

[2019-08-23 16:19] #294 closed

[2019-08-27 09:56] MichaelaEBI commented on #721
There must be a good reason that these clinical trials have not been curated by ChEMBL because they are working their way through the clinicaltrials.gov website. All of @iandunham's reasons are valid explanation for why these trials are not in Open Targets. It might be a good idea to keep a list of trials from CTgov that are not in ChEMBL/Open Targets together with the reason why they are not suit

[2019-08-27 10:00] MichaelaEBI commented on #701
All of the above examples now work in the 19.09.1 pipeline run.

[2019-08-27 10:58] AsierGonzalez commented on #712
The links that should be used for each TEP are the following:

| Target  | URL | Same as generated by FE?
| ------------- | ------------- | ------------- |
| **KALRN** | https://www.thesgc.org/tep/kalrnrac1 | **No** |
| **RAC1** | https://www.thesgc.org/tep/kalrnrac1 | **No** |
| ALAS2 | https://www.thesgc.org/tep/alas2 | Yes |
| KEAP1 | https://www.thesgc.org/tep/keap1 | Yes |
| KLHL20 | https://

[2019-08-27 11:15] AsierGonzalez commented on #458
The four TEPs mentioned above by @deniseOme need to be added yet and there are two other new ones:

- KALRN (ENSG00000160145)
- RAC1 (ENSG00000136238)

Note that in order to add these two TEPs issue #712 needs to be solved as this is one TEP targeting a protein complex so the URL for both of them is https://www.thesgc.org/tep/kalrnrac1.

[2019-08-27 15:11] deniseOme commented on #662
This should be fixed in our new release, towards the end of Sep (release 19.09).

[2019-08-28 22:30] #2411 closed, assigned to mkarmona

[2019-08-28 22:32] #2398 closed

[2019-08-28 22:32] #2361 closed

[2019-08-29 08:39] ElaineMcA commented on #543
@d0choa - checking with you where this fits in workload/priorities to feed 19.11 readiness for EFO 3.

[2019-08-29 09:09] deniseOme opened #725 "GTEx is down"
GTEx widget seems to be down e.g.

https://www.targetvalidation.org/target/ENSG00000145777
https://www.targetvalidation.org/target/ENSG00000198125

Both Chrome and Firefox.
![Screen Shot 2019-08-29 at 10 04 29](https://user-images.githubusercontent.com/6472381/63926844-74f04100-ca44-11e9-9953-bdab34df404d.png)

Ed's pointed out they released a new version (GTEx v8) on 27th Aug. https://twitter.com

[2019-08-29 10:36] d0choa commented on #543
Within the scope of the EFO3 work for 19.11. I agree with @afaulconbridge the `function` node or its child terms add very little value to the platform.

[2019-08-29 13:56] d0choa commented on #472
The [platform-api](https://github.com/opentargets/platform-api) is the GraphQL API that the front end team has maintained while developing the new [web app](https://github.com/opentargets/platform-app). This API was never in production.

Recently, the BE team has picked on it and started developing in Scala what it will be our future API. This project is contained in [platform-api-beta](https://gi

[2019-08-29 14:08] #2368 closed, assigned to mkarmona

[2019-08-29 14:38] hammer commented on #472
Thanks for the clarification! It's nice to see both OT P and OT G using Sangria for the GraphQL server.

[2019-08-29 20:39] d0choa commented on #725
@mirandaio has been looking at updating our code to draw the boxplot with the new endpoint.

However, I found in the [Swagger documentation](https://gtexportal.org/home/api-docs/#!/expression/geneExpression) that in the previous version there was a `boxplotDetail` parameter that could be tuned to get the full data, median or quartiles.

It just seems they missed this feature in the new version. Be

[2019-08-29 21:50] hammer commented on #472
@d0choa it's a sensitive topic but given that the creator and primary developer of Sangria [passed away recently](https://github.com/sangria-graphql/sangria/issues/445) and the remaining development team has had a hard time [obtaining control of the repo](https://github.com/sangria-graphql/sangria/issues/446), has there been any discussion of moving to an alternative server side library like [grap

[2019-08-30 09:25] d0choa commented on #472
We are quite happy with how Sangria works at the moment and the fact that we can consistently use it in the OT P and OT G is definitely a plus. We are keen to try to use Scala in a good part of our post-pipeline steps and Sangria is fitting well in that setup. We'll look closely what happens in the next weeks/months and whether it makes sense to redirect our efforts in the future. We have the impr

[2019-08-30 11:29] AsierGonzalez commented on #711
EuropePMC will add an species tag to the evidence strings so that OT can explore the associations found in mice.

[2019-08-30 11:32] AsierGonzalez commented on #683
EuropePMC will make changes to their pipelines to exclude evidence from abtracts if there is full-text evidence for the same publication

[2019-08-30 15:14] mirandaio commented on #725
This function could be reused in the Angular app to transform the new data structure that is returned by the GTEx API to how the data was previously returned. https://github.com/opentargets/platform-app/pull/95/files#diff-be05d42e66ec54b698e1605fa9d1db38R9-R39

[2019-09-02 10:26] deniseOme opened #726 "search in qa returns results of 10000 (target) and 10000 (disease)"
@LucaFumis @mirandaio @peatroot @d0choa, whilst searching for anything (disease, target, phenotype) the response returns by default the number 10000, always (consequence of moving from ES5 to ES7)

e.g.

https://qa.targetvalidation.org/search?src=q:ovarian%20carcinoma
https://qa.targetvalidation.org/search?src=q:dmd
https://qa.targetvalidation.org/search?src=q:Joint%20Swelling
https://qa.targetval

[2019-09-02 15:54] LucaFumis commented on #712
Thank you @AsierGonzalez. I'll add those links in - pretty straightforward.

[2019-09-02 21:45] LucaFumis commented on #726
The search API endpoint doesn't have a 'proper' facets options. Rather the 'facets' on the search page are generated by calling the search enpoint again with size 0 and filtering by target and disease. Now both these calls return a `total` of 10000, which is what is displayed there...
https://platform-api-qc.opentargets.io/v3/platform/public/search?q=ovarian%20carcinoma&size=0&filter=target

[2019-09-03 10:14] andrewhercules commented on #662
@deniseOme, can you please confirm the following mappings for the menu links?

API documentation --> https://docs.targetvalidation.org/programmatic-access/rest-api
API tutorials --> https://docs.targetvalidation.org/programmatic-access/api-tutorials
Python client --> https://docs.targetvalidation.org/programmatic-access/python-client

Once confirmed, @LucaFumis will update [the configuration file

[2019-09-03 13:49] MichaelaEBI commented on #139
This issue has been resolved: https://www.targetvalidation.org/target/ENSG00000114013

[2019-09-03 13:49] #139 closed

[2019-09-03 14:08] MichaelaEBI commented on #722
I think that status covers most options already. This is how I see the suggested terms ("Has no results", "Success" , "Failure") fit with what we currently have:
- "Failure": 'suspended', 'terminated' or 'withdrawn'
- "Has no results": any status except for the three above and 'completed'
- "Success": some of the trials that are 'completed' will have been successful (or unsuccessful)
However, quit

[2019-09-03 14:19] #722 closed

[2019-09-03 14:20] deniseOme commented on #722
Reason for closure:

1) This info is partially captured in “Status”
2) There is no data currently in ChEMBL that could be added following investigation by @andrewhercules and @MichaelaEBI

[2019-09-03 14:44] MichaelaEBI commented on #427
I am closing this ticket for now. It will be a little while yet until the Open Targets Platform will receive GWAS data from the Genetics Platform and it is on everyone's radar. Specific tickets will be created when work will commence on this.

[2019-09-03 14:44] #427 closed

[2019-09-03 16:21] LucaFumis commented on #725
Fixed version is live in production.

[2019-09-03 16:23] #725 closed

[2019-09-03 19:02] MichaelaEBI commented on #721
Paula from ChEMBL has looked into this:

"Of the 43 trials in the list, 28 are studies that we exclude for different reasons: observational studies (no intervention), behavioural, diagnostic, or any trial that doesn’t have a phase assigned (’Not applicable’).

The other 15 trials are missing due to the drug or the mechanism of action not being in ChEMBL, or due to mapping issues (which I’ll try to

[2019-09-03 22:55] MichaelaEBI commented on #712
SGC has been contacted to see whether they can implement consistent redirection from links with single gene symbols for the two TEPs with 2 proteins.

[2019-09-04 08:35] andrewhercules opened #727 "Update drug-summary-directive.js to show data returned from API"
As discussed with @cmalangone, due to the migration to ES7, the API response used for the drug summary page has changed.

Currently, the production version of the API returns the raw drug index object in JSON format. Please see below for a screenshot of the existing API response for [Rofecoxib - CHEMBL122](https://platform-api.opentargets.io/v3/platform/private/drug/CHEMBL122):

![Screenshot 2019-

[2019-09-04 09:25] andrewhercules commented on #712
Thanks @MichaelaEBI! Beyond the possible redirection for TEPs with 2 proteins, we also need to account for the ANO10 issue - the actual link is https://www.thesgc.org/tep/tmem16k as the link to https://www.thesgc.org/tep/ano10 does not work.

Thus, to ensure the appropriate link is available to our users, I have added all links to the TEPs file and will update #458 with a link for @LucaFumis to us

[2019-09-04 09:25] #712 closed

[2019-09-04 09:30] andrewhercules commented on #458
As mentioned in #712, I have added links to the TEPs data to ensure that users are directed to the correct page on the SGC website.

@LucaFumis, can you please use this file - [TEPs_file_with_links.zip](https://github.com/opentargets/platform/files/3573765/TEPs_file_with_links.zip) - to replace the current data found in the [teps-service.js file](https://github.com/opentargets/webapp/blob/master/a

[2019-09-04 09:49] AsierGonzalez commented on #712
Well spotted @andrewhercules, I missed the issue with ANO10!

[2019-09-04 12:53] deniseOme opened #728 "LinkedIn icon in the footer of Open Targets Platform and Genetics"
Update the LinkedIn URL in the footer of both resources to point to
https://www.linkedin.com/company/open-targets

[2019-09-04 15:06] deniseOme commented on #662
@andrewhercules @LucaFumis, confirmed!

All above links are correct on production. The only one that needs updating is 'API tutorials': it needs to link to https://docs.targetvalidation.org/programmatic-access/api-tutorials

[2019-09-05 09:45] andrewhercules commented on #682
I have taken a look at the full API response and @cmalangone and @afaulconbridge, there is data missing from the QC API endpoint that serves aggregated drug evidence ([example API response](http://platform-api-qc.opentargets.io/v3/platform/public/evidence/known_drug?target=ENSG00000091831)).

It appears that any trials/records with a phase of `Phase IV` and a status of `N/A` are not being returned

[2019-09-06 09:52] d0choa opened #729 "Duplicated labels in facets"
@peatroot noticed the next problem in production (and rewrite): some labels are duplicated in the target class facet. (E.g. Hydrolase as Enzyme subcategory in [Chron's disease](https://www.targetvalidation.org/disease/EFO_0000384/associations))

From @peatroot:

When making query https://platform-api.opentargets.io/v3/platform/public/association/filter with body:

[code]

There's an issue with bot

[2019-09-06 10:09] d0choa commented on #729
Recent investigations point to this part of the pipeline as responsible:

https://github.com/opentargets/data_pipeline/blob/e8372eac48b81a337049dd6b132dd69ff5cc7b64/mrtarget/common/chembl_lookup.py#L116-L138

Still looking at it...

[2019-09-09 08:50] AsierGonzalez commented on #712
FYI, SGC have set up redirects so that the original issue here is solved:

- https://www.thesgc.org/tep/galt, https://www.thesgc.org/tep/galk1 and https://www.thesgc.org/tep/galt-galk1 redirect to https://www.thesgc.org/tep/galtgalk1

- https://www.thesgc.org/tep/kalrn and https://www.thesgc.org/tep/rac1 redirect to https://www.thesgc.org/tep/kalrnrac1

[2019-09-09 08:59] andrewhercules commented on #712
That's great - thanks for following up @AsierGonzalez! 👍

For the 19.09 release, I have created a new teps-service.js file for @LucaFumis to use and in the file, we also store the link for each TEP.

[code]

[2019-09-09 09:56] MichaelaEBI commented on #458
I just got an email from Shauna at SGC:

We have set up the redirects on our end so that:
https://www.thesgc.org/tep/galt, https://www.thesgc.org/tep/galk1 and https://www.thesgc.org/tep/galt-galk1 redirect to https://www.thesgc.org/tep/galtgalk1

https://www.thesgc.org/tep/kalrn and https://www.thesgc.org/tep/rac1 redirect to https://www.thesgc.org/tep/kalrnrac1

[2019-09-09 10:57] AsierGonzalez commented on #712
No problem, credit to @MichaelaEBI, who had the idea an contacted SGC. I just convey the message :)

[2019-09-09 11:17] MichaelaEBI commented on #721
I will close this ticket since all the info currently available about these trials is given above and ChEMBL will re-curate their data, so some changes will come through in future evidence files from ChEMBL.

[2019-09-09 11:17] #721 closed

[2019-09-09 11:44] MichaelaEBI commented on #707
`.unique_association_fields.target_id` is currently (19.09 OT release) provided as `http://identifiers.org/ensembl/ENSG00000148584[identifiers.org]`. Contacted COSMIC to remove the `[identifiers.org]`.

[2019-09-09 12:00] MichaelaEBI commented on #591
Update:
For 2.: A first version of a disease list will be made available for download from the 19.09 Open Targets release.
For 3.: It is very easy now to retrieve new and lost targets and diseases using the downloadable lists generated for points 1. & 2.
For 4.: The python code to generate the metrics has been handed over to Asier and can eventually be added to the pipeline in some form.
For 5.: T

[2019-09-09 12:27] hammer commented on #591
Will the code that maps EFO ID to ICD10 code be made available as open source?

[2019-09-09 12:32] MichaelaEBI commented on #591
The first version of the disease list does not contain any cross-references (see specs here #657).The code that maps EFO IDs to ICD10 will probably be part of the pipeline and therefore be open source, if and when it gets implemented.

[2019-09-10 10:10] AsierGonzalez commented on #580
This issues was discussed with Zbyslaw from COSMIC who said that it's related to non-coding genes involved in gene fusions and that the old COSMIC schema didn't deal well with those cases. The new COSMIC data schema should be able to deal with it correctly and treat these mutations as non-coding. COSMIC v90 was released the 5th Spetember 2019 and those links don't work any more but they still appe

[2019-09-10 10:24] afaulconbridge commented on #727
After discussion with @andrewhercules @LucaFumis @cmalangone we have decided to stick to this `data` structure for better consistency with other API endpoints.

[2019-09-10 10:53] cmalangone commented on #729
@mkarmona changed the procedure in the chembl_lookup.py.
I run the code against 19.09 file and I uploaded the resultset here:
[response_protein_classification.zip](https://github.com/opentargets/platform/files/3595294/response_protein_classification.zip)

[2019-09-10 10:59] d0choa commented on #729
Looks good for 2 of the problematic ids: `646` and `1027`. Let's wait to see if this resolves the issue once we have a new instance of 19.09.

[2019-09-10 12:55] MichaelaEBI opened #730 "Display more details for drug mode of action in drug tables"
Based on ticket #533 there are two front end changes related to drug mechanism of action:

1) ChEMBL have changed the values of the `target.activity` field to be `negative_modulator`, `positive_modulator` and `other`. In the Open Targets front end we currently do this:
[code]
The new values can be displayed in the drugs table and do not have to be mapped to `agonist`, `antagonist` anymore.

2.) Ch

[2019-09-10 12:56] MichaelaEBI commented on #533
This ticket can be closed since details for the front end have been summarised in ticket #730.

[2019-09-10 12:56] #533 closed

[2019-09-10 13:05] cmalangone opened #731 "19.09 Release issues"
DATA PIPELINE
- [x] Issue with the name of the temporary file
     Info: The issue was related with the temporary file and the delete option set to False.
     State: FIXED
- [x] Anydbm fails when the key is unicode
    Info: issue related with py3 and py2 (string vs unicode)
    State: FIXED
- [x] Elastic Search returns 10000 hits by default. (raised by Search step)
    Info: Elastic search DSL u

[2019-09-10 13:20] #701 closed

[2019-09-10 13:24] MichaelaEBI commented on #683
These issues will be covered in the context of the new OTAR2056 Literature project.

[2019-09-10 13:24] #683 closed

[2019-09-10 13:27] MichaelaEBI commented on #631
Closing this ticket since point 2. will be looked at when `Pathways & Systems Biology` `date_type` will be reviewed.

[2019-09-10 13:27] #631 closed

[2019-09-10 13:40] AsierGonzalez commented on #574
EPMC have ran their pipeline with EFO3 and this needs to be updated with current status before the next steps are decided.

[2019-09-10 13:42] #484 closed

[2019-09-10 13:43] MichaelaEBI commented on #469
@andrewhercules is this issue still relevant?

[2019-09-10 13:46] #422 closed

[2019-09-10 13:48] #359 closed

[2019-09-10 13:50] #351 closed

[2019-09-10 13:51] andrewhercules commented on #469
@MichaelaEBI, yes it is still an issue and the front-end will need to rebuild aspects of this feature in the React rewrite version (and possibly in the Angular app? @d0choa):

1. Use more than 10,000 evidence strings
2. Change how the data is aggregated on the front-end under a given drug

[2019-09-10 14:02] d0choa commented on #280
@mkarmona could you quickly check if this is still an issue now that you're looking at the API?

[2019-09-10 14:03] #275 closed

[2019-09-10 14:06] #229 closed

[2019-09-10 14:12] d0choa commented on #215
@mkarmona looking at this to start implementation of the graphQL schema

[2019-09-10 14:15] d0choa commented on #216
@mkarmona looking at this to start implementation of the graphQL schema

[2019-09-10 14:17] MichaelaEBI commented on #150
The neo4j database was too complex for Open Targets needs. We received the relevant fields of the network data as a data dump in July and are now working with that.

[2019-09-10 14:17] #150 closed

[2019-09-10 14:18] MichaelaEBI commented on #141
The OTAR2056 Literature project will improve target-disease association identification based on text mining, NLP and machine learning.

[2019-09-10 14:18] #141 closed

[2019-09-10 14:32] AsierGonzalez commented on #127
New file has been received but it needs to be processed so it won't be ready for 19.09, aiming at 19.11.

[2019-09-10 14:53] AsierGonzalez commented on #217
The API documentation is no longer at http://api.opentargets.io/v3/platform/docs and the [new documentation](https://docs.targetvalidation.org/programmatic-access/rest-api) does not seem to include example code so that part of the ticket is not relevant any more.
The second part, is still problematic as it is shown in [swagger](https://platform-api.opentargets.io/v3/platform/docs/swagger-ui#/priva

[2019-09-11 07:40] mkarmona commented on #280
It is not good having spaces as it makes things a bit more complicated without being necessary. By example, it cannot be serialised to parquet file format so you are forced either to replace it or to change serialisation.
About duplication, initially it does not make sense but it is worth having a look at it.

[2019-09-11 09:50] d0choa opened #732 "Rewrite: page crashes when visiting certain expression atlas widgets"
The expression atlas widget in target profile page seems to be crashing the site [AKT1](https://platform-app.netlify.com/target/ENSG00000142208).

The console throws the next error:

- TypeError: undefined is not an object (evaluating 'i.genomeBrowsers[0].replace')
- Unhandled Promise Rejection: TypeError: undefined is not an object (evaluating 'i.genomeBrowsers[0].replace')

Since this widget is

[2019-09-11 12:00] AsierGonzalez commented on #118
This issue is actually a combination of two separate problems, missing variants on the one hand and ontology mapping on the other:

- `RCV000192065` and `RCV000024147` missing: These two variants appear in the file containing the ClinVar variants that we receive from EVA. However, they are annotated as `NT expansion` so they are ignored by the `snp2gene` pipeline and, therefore, they are not in th

[2019-09-11 12:01] AsierGonzalez commented on #118
Closing this ticket as there is nothing to be done for now. If those two variants are considered by the pipeline in the future we will need to monitor the disease term they are annotated with.

[2019-09-11 12:01] #118 closed

[2019-09-11 12:07] LucaFumis commented on #728
Fixed in Angular webapp. Will ship with 19.09 / 3.14

[2019-09-11 13:07] afaulconbridge commented on #663
Solved with https://github.com/opentargets/platform-infrastructure/pull/32

[2019-09-11 13:07] #663 closed

[2019-09-11 13:20] andrewhercules commented on #723
Added to 19.11 release milestone - @cmalangone and I to resolve in that release

[2019-09-11 13:23] andrewhercules commented on #469
Adding to the 19.11 release

[2019-09-11 15:49] afaulconbridge opened #733 "platform-infrastructure es use machine tag"
As with pipeline machine, we should wait for the elasticsearch startup script to fully complete by looking for the machine tag instead of the elasticsearch status.

This would help ensure that dump credentials and plugins have completed installation and setup before the MCP proceeds with the pipeline.

[2019-09-11 16:29] hammer commented on #683
@MichaelaEBI where can we learn more about OTAR2056?

[2019-09-11 16:40] d0choa commented on #683
Unfortunately, the research projects funded by Open Targets (OTAR projects) can only be shared within the partnership. The final results will all be made publicly available, but the proposal and the intermediate results are only accessible to the partners. As @MichaelaEBI said, this project is still in its infancy and it's the next iteration of an already published OTAR project ([ref](https://www.

[2019-09-11 16:44] hammer commented on #683
Ah, that's unfortunate. We have quite a bit of experience with text mining (cf. https://github.com/hammerlab/t-cell-relation-extraction) and had hoped to improve the literature evidence source, having studied the existing implementation that you link and finding many areas for potential improvement. Perhaps y'all could consider a more open model for development of large features in the near future

[2019-09-13 09:04] forus opened #2374 "Locus plot does not show up for 12_122619346_A_G variant"
Try the following link:
https://genetics.opentargets.org/locus?chromosome=12&end=123619346&selectedTagVariants=12_122619346_A_G&start=121619346

The graphql query fails after 30 seconds of waiting time.

[2019-09-13 10:56] andrewhercules commented on #730
This has been pushed to the 19.11 release - please see the [19.11 Release Intentions document](https://docs.google.com/document/d/1DcQ1CVg0jgQpJlKSvVCQkcYznwaAKiUcY0khToA0Ubg/edit#heading=h.66yhh7b333u1) for more information.

[2019-09-13 11:11] forus opened #2120 "genetics-api fails to restart"
genetics-app exits with 255 code on restart.

Steps to reproduce:
1. Start `genetics-app`
[code]
2. Restart `genetics-app`
[code]

[2019-09-13 13:27] andrewhercules commented on #220
@LucaFumis, for 19.09, can we please make the following adjustments?

**Target Profile Page**
- [ ] Target tractability: please change the `Source: Open Targets` link to https://docs.targetvalidation.org/faq/what-is-target-tractability
- [ ] Bibliography: please change the `Source: LINK` link to http://link.opentargets.io/

**Disease Profile Page**
- [ ] Phenotypes: please change the `Source: EFO,

[2019-09-13 15:20] #419 closed

[2019-09-13 15:29] #408 closed

[2019-09-13 15:34] #385 closed

[2019-09-13 15:40] #285 closed

[2019-09-13 15:41] d0choa commented on #285
This can be relevant for @mkarmona in order to define the contract in the API

[2019-09-13 15:43] MichaelaEBI commented on #85
SCR has been passed to EPMC as a cause of false positive associations and will be addressed as part of the OTAR2056 Literature project.

[2019-09-13 15:43] #85 closed

[2019-09-13 15:44] #73 closed

[2019-09-13 15:45] d0choa commented on #74
New implementation is soon to be released. "Investigation" is completed and the approach is setup using FAERS data from openFDA.
Closing this issue

[2019-09-13 15:45] #74 closed

[2019-09-13 16:04] #63 closed

[2019-09-13 16:04] d0choa commented on #59
We're expecting PRIDE to eventually provide data through ExpressionAtlas. We'll keep an eye on it

[2019-09-13 16:04] #59 closed

[2019-09-13 16:06] #53 closed

[2019-09-13 16:06] d0choa commented on #58
Not a priority at the moment. We'll reopen if necessary

[2019-09-13 16:06] #58 closed

[2019-09-13 16:08] MichaelaEBI commented on #50
Out of scope for now.

[2019-09-13 16:08] #50 closed

[2019-09-13 16:09] MichaelaEBI commented on #49
Withdrawn information has been added and removed from ChEMBL evidence and can now be found in the Drug index.

[2019-09-13 16:09] #49 closed

[2019-09-13 16:09] MichaelaEBI commented on #48
This will be addressed as part of the OTAR2056 literature project.

[2019-09-13 16:09] #48 closed

[2019-09-13 16:10] #46 closed

[2019-09-13 16:13] #43 closed

[2019-09-13 16:13] d0choa commented on #45
We'll review these ideas in the context of scRNAseq baseline expression. We'll prioritise using the data through ExpressionAtlas if possible

[2019-09-13 16:13] #45 closed

[2019-09-13 16:14] #35 closed

[2019-09-13 17:09] edm1 opened #2375 "GCST005752 has the wrong effect allele"

[2019-09-13 17:18] d0choa commented on #729
Problem persists in 19.09.4. @mkarmona looking at it

[2019-09-16 09:17] #2362 closed

[2019-09-16 09:51] #2375 closed

[2019-09-16 12:44] ElaineMcA opened #734 "QA review 19.09: Batch search -error from API"
On QA, unable to perform batch search either via "upload sample list" or by entering a new list in the paste box.

![Screen Shot 2019-09-16 at 13 42 10](https://user-images.githubusercontent.com/40168275/64958904-f3900f80-d887-11e9-9c61-a03d84a52430.png)

![Screenshot 2019-09-16 at 12 15 47](https://user-images.githubusercontent.com/40168275/64958506-40271b00-d887-11e9-8052-45fddf29cb93.png)

![Sc

[2019-09-16 13:36] LucaFumis commented on #734
It seems to be working OK at the moment: it might have been a temporary glitch.
The drug sections however has some issues, so I'll look into that and keep an eye on it.
Also note that QA front end hasn't been updated yet - the interface is still from 19.06 (although I don't think this was related).

[2019-09-16 14:47] cmalangone commented on #657
For release 19.09 we created manually the dumps

cat 19.09_search-data.json | jq -r '._source | select(.type=="target") | [.id, .approved_symbol, [.uniprot_accessions | join("|")][], .association_counts.total] | @csv' > 19.09_target_list.csv
cat 19.09_search-data.json | jq -r '._source | select(.type=="target") | {"ensembl_id": .id, "hgnc_approved_symbol": .approved_symbol, "uniprot_accessions": .

[2019-09-16 19:19] hammer commented on #591
@MichaelaEBI thanks for the update. I thought perhaps the code that was used to generate the spreadsheet at https://github.com/opentargets/genetics/issues/353#issuecomment-497243088 might be used.

[2019-09-16 19:35] d0choa commented on #591
Not sure if I'm missing something but the current version of EFO keeps ICD10 cross-references (e.g. [Myotonic syndrome](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_206970)). I would guess the mappings are as complete as the ones in the aforementioned spreadsheet. From the [EFO repo](https://github.com/EBISPOT/efo), it seems many of the mappings h

[2019-09-16 20:02] hammer commented on #591
@d0choa I do see those xrefs in the download of `efo.xml` but not in the `efo-data` index produced by Open Targets. Is the plan then to simply import those mappings?

[2019-09-16 20:29] hammer commented on #702
@apierleoni perhaps you can shed some light on the origin of this file? I'm sure it's a standard download from the GRC, I'm just curious to know precisely where it's from.

[2019-09-16 20:30] hammer commented on #459
@afaulconbridge are you targeting a particular release for this work?

[2019-09-16 21:33] MichaelaEBI commented on #541
@deniseOme, yes I provided a file with all targets in Open Targets to reactome for each of their releases. This will now become easier when we provide a target list with each Open Targets release (see ticket #657).

[2019-09-16 22:01] MichaelaEBI commented on #54
The Open Targets Data Team attended the EBI Industry workshop in April and decided that at the current time, Connectivity Map data will not be integrated into the Open Targets platform (it focuses on the profiling of small molecules and disease models are not straight forward).

[2019-09-16 22:01] #54 closed

[2019-09-16 22:04] MichaelaEBI commented on #374
Changes to the UniProt evidence strings are in progress (see ticket #709).

[2019-09-16 22:04] #374 closed

[2019-09-17 07:50] smnorthen commented on #393
@AsierGonzalez
From a previous discussion, the issue appears to be due to a mapping file (list of tissue names) and uberon & cl ontology names codes which were manually curated at the time and may now be out of date. Take a look at page 4 for the HPA mapping files: https://docs.google.com/document/d/1_40Knrsf69bHPVEzTYZVMyHhhabhSEYzO5u7wf1X84M/edit#

[2019-09-17 11:31] deniseOme opened #735 "Changing field in the API response from `probenumber` to `number_of_probes`"
The private endpoint to retrieve target annotations returns the field `probenumber` e.g.
http://platform-api.opentargets.io/v3/platform/private/target/ENSG00000232810

As per 19.06:
<img width="474" alt="Screen Shot 2019-09-17 at 12 33 10" src="https://user-images.githubusercontent.com/6472381/65038866-ceafa100-d948-11e9-8cdc-b61b93930fbd.png">

This has caused confusion (is this a unique, stable

[2019-09-18 08:07] ElaineMcA commented on #108
Closing issue as supplementary slides provided by Michaela may be used to augment documentation if still required.

[2019-09-18 08:07] #108 closed

[2019-09-19 14:00] cmalangone commented on #733
@afaulconbridge : We got a couple of issues this release (19.09) were the ES docker image failed to be download and subsequently ES did not start properly.
This behaviour was easy to detect due the check of the health endpoint.
We might implement a strategy that check both.
It is really useful to check that the ES is up and running.

Moreover, with this version we can easily re-run the docker comm

[2019-09-19 14:08] cmalangone opened #736 "ES 7 Docker image failed due request canceled while waiting for connection."
The startup script runs on gcp and it fails to download the ES docker image.
docker run -d --name elasticsearch -p 9200:9200 -p 9300:9300 -e discovery.type=single-node -e bootstrap.memory_lock=true -e 'repositories.url.allowed_urls=https://storage.googleapis.com/*,https://*.amazonaws.com/*' -e thread_pool.write.queue_size=1000 -e cluster.name=platform-190919-150231-19-09-5test-es -e network.host=0

[2019-09-19 14:16] afaulconbridge commented on #736
This might be because the container is created as part of the machine startup script, and it might trigger before GCP has finished setting up all the related networking for the VM.

Can you put a `sleep 60` at the start of the elasticsearch startup and see if it happens again when that is present? I don't think its worth running specific tests for this issue, as its quite rare and unpredictable an

[2019-09-19 15:58] LucaFumis commented on #682
I tried my local instance with the `platform-dev` API: for "cancer" (EFO_0000311) it worked (a bit over 1.5 minutes).
I notice that the call returned *all* data (67.5K rows) even though the limit in the call was set to 10K.

[2019-09-20 09:41] d0choa commented on #591
We don't have any short-term plans to include more cross-references in the index. We don't see the need as EFO does this for us. If you see any important use-case we might reconsider.

[2019-09-20 11:10] hammer commented on #591
@d0choa I think there are 2 primary reasons to incorporate more external identifiers in the EFO index: first, to facilitate users from communities that make use of non-EFO disease and phenotype ontologies; and second, to facilitate joining against external data sources that use non-EFO disease and phenotype ontologies as identifiers.

We think it would be valuable to build a plugin architecture fo

[2019-09-20 14:09] AsierGonzalez opened #737 "Invalid ChEMBL evidence: "Multiple genes with uniprot P69905""
@mkarmona has noticed that ChEMBL evidence for `EFAPROXIRAL` associating HBA1 with lung carcinoma has disappeared.

**19.06**
![Screenshot 2019-09-20 at 15 10 57](https://user-images.githubusercontent.com/11410715/65333765-ff960d00-dbb8-11e9-934b-c76a87f3ca0b.png)

**19.09 QA**
![Screenshot 2019-09-20 at 15 11 19](https://user-images.githubusercontent.com/11410715/65333810-12104680-dbb9-11e9-9d03-

[2019-09-20 14:25] AsierGonzalez opened #738 "Protein information not working for deprecated Uniprot ids"
Protein information in Target Profile Page is not working for ARHGDIA (ENSG00000141522) in 19.09 QA. This is because the front end constructs the Uniprot links using the first item in the `uniprot_accessions` array returned by the API, which is `B4DUV9` for this gene. This Uniprot id is deprecated and the page has been moved permanently (HTTP 301) to `P52565`.

This issue would be solved if the FE

[2019-09-20 15:31] afaulconbridge commented on #737
Can you confirm they have different unique association fields?

[2019-09-20 15:39] AsierGonzalez commented on #737
There are two evidence strings with the same unique association fields:
[code]

[2019-09-20 15:43] #2382 closed

[2019-09-20 15:43] #2379 closed

[2019-09-20 15:43] #2383 closed

[2019-09-20 15:43] #2386 closed

[2019-09-20 15:44] #2381 closed

[2019-09-20 15:44] #2384 closed, assigned to edm1

[2019-09-20 15:44] #2385 closed, assigned to edm1, mkarmona

[2019-09-20 15:44] #2388 closed

[2019-09-20 15:45] #2378 closed, assigned to edm1, MayaGhoussaini

[2019-09-20 15:45] #2448 closed

[2019-09-20 15:46] #2427 closed

[2019-09-20 16:31] mkarmona commented on #738
Having deprecated uniprot ids aren't necessarily a bad thing as it can resolve old publications from literature. When the literature mining project does the resolving of the IDs then we can think about removing deprecated ones.

[2019-09-20 20:20] mkarmona commented on #738
@LucaFumis I guess the sensible thing to do is just pick the `uniprot_id` field from the target object if not null and use as a default protein id.
Having a look at the code, I found at [least 3 potential places](https://github.com/opentargets/webapp/search?q=uniprot_accessions&unscoped_q=uniprot_accessions) where the selected uniprot id to [show are wrong](https://qa.targetvalidation.org/search?s

[2019-09-20 20:48] mkarmona commented on #729
Coming from this disease `EFO_0000384` and this target `ENSG00000105675` chembl annotate target classes [as these two](https://www.ebi.ac.uk/chembl/target_report_card/CHEMBL3919/). The problem seems to be the aggregation is done by the API.

[2019-09-23 13:32] mkarmona commented on #657
@cmalangone , dumps have to be produced with `--sourceOnly` flag activated. We can start having dumps for

- genes
- efos
- expression
- evidences
- drugs

[2019-09-23 16:34] #220 closed

[2019-09-24 08:55] deniseOme commented on #734
When using the Sample List in batch search, we expect having one target returned in the "Suggested matches" box. Target 'mt-nd' is suggested as MT-ND6.

![Screen Shot 2019-09-24 at 09 40 20](https://user-images.githubusercontent.com/6472381/65496146-d70b5d00-deaf-11e9-8a9f-84678e71ebfd.png)

However in two qa instances, we have had 4 additional targets with suggested matches:

<img width="615" alt

[2019-09-24 12:04] andrewhercules opened #739 "Include adverse events data in the /drug/ID endpoint response"
Placeholder - details TBC

[2019-09-24 12:13] andrewhercules opened #740 "EFO3: new endpoint required for front-end React application"
The new React application requires a new endpoint that serves the EFO3 ontology data. Previously, the Angular app used paths to construct the ontology but this will not be suitable for EFO3 - hence the need for a new endpoint.

Details TBC

[2019-09-24 12:35] ElaineMcA commented on #451
Investigations on aggregation completed as part of 19.09 activities.  Concerns related to scalability remain therefore, technical implementation will be reviewed and plan formulated for 19.11

[2019-09-24 15:13] ElaineMcA commented on #727
Pushed with 19.09 release on 24-Sep-2019.

[2019-09-24 15:13] #727 closed

[2019-09-24 15:14] #728 closed

[2019-09-24 15:16] ElaineMcA commented on #458
Pushed with 19.09 release on 24-Sep-2019.

[2019-09-24 16:10] #738 closed

[2019-09-24 16:14] LucaFumis commented on #730
Part 1 (activity label) has been completed and included in 19.09.
Only part 2 is left for 19.11 release.

[2019-09-24 16:30] LucaFumis commented on #720
For an example see: https://www.targetvalidation.org/evidence/ENSG00000109971/EFO_0000174
Code to update: https://github.com/opentargets/webapp/blob/master/app/src/components/crispr-table/crispr-table-directive.js#L107-L109

[2019-09-24 16:30] d0choa opened #741 "Include adverse events in angular app"
For the drug summary page, I have created an initial mockup of what the adverse event data table could look like.

![adverse-events-final](https://user-images.githubusercontent.com/7490258/61942116-adf24d00-af90-11e9-82e2-43319b6312c1.png)

At the top of the data table, I have created a summary description:

``A list of post-marketing adverse events submitted by healthcare professionals to the FDA

[2019-09-24 16:32] d0choa commented on #741
Work on this ticket is dependent on the work from #739

[2019-09-24 16:40] LucaFumis commented on #657
For 19.09 the platform downloads page now includes:
[code]
So done from a front end perspective.

[2019-09-24 16:56] d0choa commented on #739
The adverse events data has been recalculated using FAERS data provided by OpenFDA. Previously, we were retrieving the top 20 most frequent adverse events directly from the OpenFDA API. However, these events are not necessarily the most informative ones for a particular drug as they might be highly influenced by how frequent they are independently of the drug in question. Therefore, we followed a

[2019-09-24 17:07] LucaFumis commented on #656
I missed this - could have included it in 19.09.
Something like this would work:
[code]

[2019-09-24 17:09] d0choa opened #742 "PMID for CRISPR paper"
Comment by @MichaelaEBI :
From 19.09, the epmc link for the CRISPR paper is provided in the evidence strings at .evidence.resources_score.method.reference and the front end can now use this pmid instead of hard-coding it in the web app.

This was probably hard-coded and we can now use the proper field

[2019-09-24 17:27] LucaFumis commented on #19
It seems that this has now been fixed at data level and the correct label is being displayed.

The 'hack' can be removed in next release or mini-release (is already being bypassed as the specified condition doesn't occur).

[2019-09-25 10:47] peatroot opened #2376 "Deprecate ot-charts"
The repo `ot-charts` was originally created for chart reuse between `genetics-app` and `platform-app`, though the repo `ot-ui` should be sufficient for this. Also, `ot-charts` currently only contains charts used in `genetics-app`, so will move content to that repo and remove dependency.

[2019-09-25 10:50] peatroot opened #743 "Assess component usage within ot-ui"
The repo `ot-ui` is intended for code reuse between `platform-app` and `genetics-app`. There are currently some components that are used only in one repo or that would ideally be refactored. There is therefore a need to go through each component and assess any refactoring or whether it is best to move  it to the single app in which it is used.

[2019-09-25 10:54] peatroot opened #744 "Investigate using typescript"
Using typescript might be an improvement for front-end repos. It would be particularly helpful for clarifying interfaces needed by partners wishing to customise the apps. It would also give us more confidence that our code has fewer bugs.

[2019-09-25 11:00] peatroot opened #745 "Add analytics support to `platform-app`"
The `platform-app` will need analytics support before release. Some thoughts:
* It should be easy to toggle analytics on/off and to switch the provider.
* There should be a common mechanism for page analytics (eg. HOC for page components?).
* There should be a common mechanism for event analytics (eg. HOF for event handlers?).

[2019-09-25 11:01] peatroot opened #746 "Add download capability for classic associations heatmap tables"

[2019-09-25 11:03] peatroot opened #747 "Add download capability for classic associations bubbles/DAG views"

[2019-09-25 11:04] peatroot opened #748 "Update evidence page to group datasources into sections per datatype"

[2019-09-25 11:27] peatroot commented on #745
There are currently helpers used in the `genetics-app`, which could be moved to `ot-ui` for reuse in `platform-app`:
* `useAnalytics`
* `withPageAnalytics`
* `reportAnalyticsEvent`

[2019-09-25 11:52] peatroot commented on #743
## Root components

| Component            | Used in `platform-app` | Used in `genetics-app` | Used internally | Notes                                                         | TODOs                                                                                                 |
| -------------------- | ---------------------- | ---------------------- | --------------- | --------------------------

[2019-09-25 11:56] peatroot commented on #743
## Typography components

| Component  | Used in `platform-app` | Used in `genetics-app` | Used internally | Notes                        | TODOs  |
| ---------- | ---------------------- | ---------------------- | --------------- | ---------------------------- | ------ |
| Heading    | N                      | N                      | Y               | used in eg. `SectionHeading` | remove |
| Pag

[2019-09-25 12:11] AsierGonzalez commented on #657
@LucaFumis, I believe that for Diseases the second CSV should be JSON instead, no?

Disease list: CSV (2019-09, 212KB), ~~CSV~~ JSON (2019-09, 252KB)

[2019-09-25 12:56] peatroot commented on #743
## Search subcomponents

We could potentially replace the `Autocomplete` and `Search` components using [react-select-material-ui](https://github.com/iulian-radu-at/react-select-material-ui), which appears to be a maintained styling of `react-select`. We currently do this ourselves. This would affect the following components in `ot-ui`, most of which are only used internally in the `Autocomplete` a

[2019-09-25 13:34] LucaFumis commented on #657
Thank you @AsierGonzalez - how did I miss it??
I'll fix it in a mini release

[2019-09-25 15:15] andrewhercules commented on #726
Ticket closed as UI displays correct number of targets and diseases

[2019-09-25 15:15] #726 closed

[2019-09-25 15:21] #688 closed

[2019-09-25 16:13] andrewhercules commented on #734
The issue raised by @deniseOme appears to be related to a change in the response from the `besthitsearch` endpoint.

For the 5 targets under the `Suggested matches` column, the value for `exact` is `false` whereas fr the other 54 targets, the value is `true` - see below for a screenshot

![Screenshot 2019-09-25 at 17 09 44](https://user-images.githubusercontent.com/7490258/65619029-4ddf4d80-dfb7-1

[2019-09-25 16:14] andrewhercules commented on #731
Ticket closed as #682 and #729 have been moved to the 19.11 release milestone

[2019-09-25 16:14] #731 closed

[2019-09-26 10:57] EPetsalaki commented on #739
**Summary for the OT adverse events pipeline:**

1. openFDA FAERS data [download](https://open.fda.gov/apis/drug/event/download/) (~ 900 files)

2. Pre-processing of this data using [platformDataProcessFDA.sc](https://github.com/opentargets/platform-etl-openfda-faers/blob/master/platformDataProcessFDA.sc) scala script:
  - Filtering:
    - Only reports submitted by health professionals (*primaryso

[2019-09-26 12:04] cmalangone opened #749 "HPA step: Unicode error (data pipeline)"
I tried to run the data release with this config file:
https://storage.googleapis.com/open-targets-data-releases/19.11/input/mrtarget.data.19.11.efo3-slim.yml

The data pipeline was running using python3 and recently we updated HPA step.
The error is:
File "/usr/src/app/mrtarget/modules/HPA.py", line 488, in elasticsearch_actions
   for entry in hpa_merged_table.data():
....
UnicodeDecodeError: 'u

[2019-09-26 14:19] #19 closed

[2019-09-26 14:20] #656 closed

[2019-09-26 14:22] #720 closed

[2019-09-27 10:46] afaulconbridge commented on #749
This is due to the line in the config:
[code]
Due to python3, this file cannot be compressed. See PR https://github.com/opentargets/platform-input-support/pull/15 which needs to be resolved before this ticket can be closed.

[2019-09-27 10:49] deniseOme commented on #661
@hammer, would it be ok to re-use your diagram in our [data pipeline](https://docs.targetvalidation.org/technical-pipeline/infrastructure#data-pipeline) help documentation?

[2019-09-27 17:38] hammer commented on #661
Sure, want me to update it for the 19.09 release?

[2019-09-30 10:02] peatroot commented on #744
Setting up typescript within a `create-react-app`-generated repo is quite straightforward.

[2019-09-30 10:03] peatroot commented on #744
We could also consider using a monorepo for front-end code. The main anticipated issue with this is hosting two sites on Netlify from the same repo, but this seems possible. Demo available (using typescript) at https://github.com/peatroot/monorepo-test with test sites [platform-app](https://hardcore-brattain-3f2729.netlify.com/) and [genetics-app](https://pedantic-jackson-b711b1.netlify.com/).

Th

[2019-09-30 12:09] AsierGonzalez commented on #574
Preliminary checks suggested that although the number of associations is still high in EFO3 compared to EFO2, the issues with common words being tagged as targets or disease has been solved. Therefore, it has been decided that the data pipeline will be run with 19.09 data and EFO3 to perform more detailed testing.

[2019-09-30 12:25] d0choa commented on #574
Although the problem might still persist at a lower extent, we can close this issue. We'll keep an eye on problematic synonyms in the future.

[2019-09-30 12:25] #574 closed

[2019-09-30 14:47] andrewhercules commented on #700
As of today, [the Protein Structure tab on the INS target profile page](https://www.targetvalidation.org/target/ENSG00000254647) still shows `6b3q` - it is the first ID returned from PDBe's `/best_structures` endpoint.

In the rewrite, we are using the UniProt protein viewer which makes it easy to browse the different structures based on their coverage score. See below for an example for [INS](htt

[2019-09-30 14:47] #700 closed

[2019-09-30 15:55] andrewhercules opened #750 "Re-run LINK pipeline with EFO3 'slim' OWL file"
Details TBC once finalised EFO3 'slim' OWL file is available

[2019-09-30 15:58] andrewhercules commented on #734
I have reassigned this to the 19.11 release milestone and it may be resolved with the ongoing search work

[2019-10-01 08:01] peatroot commented on #664
Done.

[2019-10-01 08:01] #664 closed

[2019-10-01 08:04] peatroot commented on #674
I think this is complete. @d0choa @mirandaio, is there anything else to add to the drug's general properties?

[2019-10-01 08:07] #666 closed

[2019-10-01 08:25] #744 closed

[2019-10-01 08:27] peatroot commented on #240
@d0choa, suggest we close this as out of date? Icons now appear at top of entity pages instead.

[2019-10-01 08:48] #674 closed

[2019-10-01 08:52] d0choa commented on #240
We can close it as the problem is now different. We could still decide to include icons in the tab names but they would have to be different

[2019-10-01 08:52] #240 closed

[2019-10-01 10:22] AsierGonzalez commented on #723
After discussing this with @cmalangone and @andrewhercules we have decided to ask ChEMBL (Tim for now) to upload the tractability file directly to the `otar001-core/Tractability` bucket.

[2019-10-01 10:36] peatroot commented on #732
This is broken for all targets I think. We have `v5.2.6`, which fails for BRAF and AKT1, but `v5.3.1` works for both. See https://github.com/opentargets/platform-app/pull/105.

[2019-10-01 11:24] #732 closed

[2019-10-01 11:49] peatroot opened #751 "Cancer hallmarks role in cancer contains duplicates"
See the response for eg. [AKT1](https://platform-api.opentargets.io/v3/platform/private/target/ENSG00000142208).

![image](https://user-images.githubusercontent.com/7376272/65959427-dba0ba00-e449-11e9-87bf-ca3c4b98efbf.png)

[2019-10-01 11:52] peatroot commented on #406
Out of date. Release strategy for `platform-app` now covers whole site.

[2019-10-01 11:52] #406 closed

[2019-10-02 10:24] andrewhercules commented on #723
I have confirmed with ChEMBL that they can upload file  to the ``otar001-core/Tractability`` bucket and have also shared the proposed file format of ``name_of_file_dd-mm-yyyy.tsv``.

[2019-10-02 10:24] #723 closed

[2019-10-03 10:32] peatroot commented on #748
Done in https://github.com/opentargets/platform-app/pull/104

[2019-10-03 10:32] #748 closed

[2019-10-03 13:46] #747 closed

[2019-10-03 13:47] #742 closed

[2019-10-04 13:15] mirandaio commented on #697
Disease icon has been updated.

[2019-10-04 13:15] #697 closed

[2019-10-07 09:45] d0choa opened #752 "FE rewrite user survey"
As demanded by the OT SAB, we need to better capture the origin of our users. We are aiming to create a survey before the FE rewrite release.

This survey needs to be easily blocked through our customisations strategy.

More details soon

[2019-10-07 11:43] peatroot opened #753 "Add data downloads page"

[2019-10-07 13:01] peatroot commented on #753
Done in https://github.com/opentargets/platform-app/pull/102.

[2019-10-07 13:01] #753 closed

[2019-10-07 13:09] cmalangone commented on #749
I fixed the code in the platform-input-support.
https://github.com/opentargets/platform-input-support/commit/6c8038584dacb7530dde4f2873e62ec88139c51e

[2019-10-07 13:43] peatroot commented on #746
Done in https://github.com/opentargets/platform-app/pull/107.

[2019-10-07 13:43] #746 closed

[2019-10-08 12:59] cmalangone opened #754 "Platform-infrastructure: create the dumps only when it is required"
we can use DUMP_BUCKET to drive the decision for creating the dumps during the data release.

[2019-10-08 13:00] cmalangone commented on #685
Done

[2019-10-08 13:00] #685 closed

[2019-10-08 14:10] d0choa opened #755 "Rewrite: attempt to include tractability in classic associations view"
We want to explore the possibility to include the tractability track in the classic associations view as extra columns when visiting a disease (and targets are listed).

If we are convinced by this approach we might decide to drop the prioritisation view for a more simplified view.

Similar approach might be discussed for the dynamic associations view.

[2019-10-09 11:18] afaulconbridge commented on #682
@d0choa @andrewhercules as it was decided not to implement this, can this ticket be closed?

[2019-10-09 11:26] d0choa commented on #682
It's not high priority anymore, but the underlying problem is still there. I'm updating priorities and assignees accordingly.

[2019-10-09 14:47] afaulconbridge commented on #739
To proceed, I need the data file and an explanation of it (ideally two hours face-to-face with a domain expert, and after having had the data for a few days to pre-analyse). Then I can produce a description of the JSON to be output by the API which I think would be suitable for the visualisation described in #741

Since @EPetsalaki has left, I am reassigning this ticket to @d0choa to provide this

[2019-10-09 18:56] hammer opened #2377 "Origin of LD reference for fine mapping?"
https://github.com/opentargets/genetics-finemapping/blob/master/2_make_manifest.py#L33 references the files `/home/ubuntu/data/genotypes/ukb_v3_downsampled10k_plink/ukb_v3_chr{chrom}.downsampled10k`. How were these files generated?

[2019-10-10 16:46] d0choa opened #756 "EFO3 disease description in pipeline"
As @deniseOme noted, the disease description in EFO3 is actually a list of descriptions. The pipeline currently concatenates them and the API presents them as one single string.

Sometimes, the descriptions might be very similar if not the same and we show the same string duplicated (e.g. ovarian carcinoma).

We will need to change the response to provide a list of descriptions or, alternatively,

[2019-10-10 17:21] afaulconbridge commented on #756
How about keeping the existing single description field, so the API is backwards compatible, but adding a separate `description_alternative` field with a full list? That seems the best of both worlds to me.

[2019-10-11 19:06] deniseOme commented on #661
@hammer, that'd be great. Thanks.

[2019-10-14 09:45] AsierGonzalez commented on #583
Manual correction has been repeated for the 19.11 release.

In addition, two of the trinucleotide expansions (RCV000005966, RCV000006518) have been missing in the EVA evidence files at least since 19.11, I'll ask them about it.

[2019-10-14 12:48] afaulconbridge commented on #739
The data file is in a bucket on `open-targets` `otar001-core/AdverseEvents/annotation` with date in DD-MM-YYYY format. Source files to regenerate this should go in `otar001-core/AdverseEvents/data_files` for future reproducibility.

[2019-10-14 13:33] afaulconbridge commented on #739
@d0choa do you know what the plan is for "child" drugs? Can they have adverse events separately from the parent? If so, should they be included in the drug index and how?

[2019-10-14 14:05] afaulconbridge commented on #739
After discussion, we realised its a bit circular. Adverse events is generated using names from the OT Drug index, which flattens child drugs into their parent. So in theory, there should be no adverse events identified for child drugs. We might need this extra granularity in future, but for now this is acceptable.

[2019-10-14 14:09] fedde-s commented on #463
I think the file hasn't been in the repo for several releases now. This issue has been fixed and the fix has been released.

[2019-10-14 14:09] #463 closed

[2019-10-14 14:13] fedde-s commented on #632
The patch to fix this has been released in 19.09, this is probably resolved. I haven't had the chance to test it yet, though.

[2019-10-14 16:24] LucaFumis commented on #734
Had a quick look at this: yes @andrewhercules that seems to be the the issues.
Essentially we use that `exact` field to build the "exact matches" column (with other items going in the "suggested matches" col):
[code]

A quick front-end hack is to manually check whether original query and result match - the following seems to do the trick:
[code]

[2019-10-15 03:15] andrewhercules commented on #734
@LucaFumis, could we please include the fix you identified above in the 19.11 release?

[2019-10-15 09:50] afaulconbridge commented on #739
First version done and committed to branch `af-739-adverse-events`. Need to run pipeline to test properly.

[2019-10-15 10:42] afaulconbridge commented on #756
Created branch `af-756-disease-description` with this added. Will need a pipeline run to test.

[2019-10-15 13:15] forus opened #2328 "genetics-app travis fails"
See
https://travis-ci.org/opentargets/genetics-app

It says

[2019-10-15 13:29] AsierGonzalez opened #757 "PheWAS variant cosequence SO text not displayed"
As reported by @deniseOme, the PheWAS evidence in the genetic associations tab displays `SO 0001060` in the `Variant Type` column instead of its text equivalent, i.e. “sequence variant”. The image below shows [the genetic evidence of the NOD2-Crohn's disease association](https://www.targetvalidation.org/evidence/ENSG00000167207/EFO_0000384?view=sec:genetic_association):

![Screenshot 2019-10-15 at

[2019-10-15 15:05] afaulconbridge commented on #757
@AsierGonzalez can you extract the equivalent input evidence string please? So we can see what is going into the pipeline.

[2019-10-15 16:30] LucaFumis commented on #757
There was a similar issue a while back, only recently resolved at data level:
https://github.com/opentargets/platform/issues/19

[2019-10-15 17:47] LucaFumis opened #758 "Protein Interaction view broken for some targets"
The protein interaction viewer on the target profile page doesn't work for certain targets with a high number of connections.

This is due to a setting in the API `bestHitSearch` where we limit the query to 500 terms.

Targets such as SRC have a higher number of connection and the call fails leaving the user with a spinner and a blank section:

https://www.targetvalidation.org/target/ENSG000001971

[2019-10-16 10:12] afaulconbridge commented on #739
Snippet of expected response for @LucaFumis:
[code]

[2019-10-16 14:21] d0choa opened #759 "Rewrite: Some Protista v2 links are broken"
We need to come back to Xavier to fix some of the links in the variation track. Clinvar links seem to be broken

[2019-10-16 14:46] d0choa opened #760 "Heatmaps on association pages across rewrite"
We need to improve the aesthetics of the heatmap visualisations:

- [x] Change gradient to go from light blue to darker blue. Currently it goes from white to blue and very low values are confused with missing data. ([Example](https://platform-app.netlify.com/target/ENSG00000228412/classic-associations))

- [x] Include color scale

- [x] Try with similar aspect as the webapp in terms of cell border

[2019-10-16 15:00] d0choa opened #761 "Consolidate the initials in the bubbles"
Until a better options comes out, we are defaulting to the bubbles view for the cards.
We need to curate the initials, to make sure they are the best options and there are no clashes between pages.

[2019-10-16 15:20] andrewhercules commented on #739
Format looks great @afaulconbridge! :)

[2019-10-16 17:14] LucaFumis commented on #730
I've updated `qa` and the drugs table now shows an "action type" column: do check if the location (column order) makes sense.

[2019-10-16 20:53] d0choa opened #762 "Update content in Protein summary widget"
Now that we use ProtVista v2, we need to update the content of the Protein summary widget accordingly

[2019-10-16 20:59] d0choa opened #763 "Paddings/Margins in profile page"
Some of the margins/paddings at the top of the profile pages don't look as they use to be. We might need to review some of them

[2019-10-16 21:13] d0choa opened #764 "FE rewrite customisations: links to OTAR projects"
Sarah is currently building a directory of all OTAR projects and we want to provide the partners the possibility to link to the available data through customisations.

The final file will most likely have at least 3 columns:
- Project ID
- Project name
- EFO ID

We need a customisations strategy that reads this file and presents the information about the available projects.
The best possible way t

[2019-10-17 10:53] d0choa commented on #730
Column order looks good to me. I'll leave it to @andrewhercules (or @MichaelaEBI feedback) to decide whether this can be closed.

[2019-10-18 09:51] #2377 closed

[2019-10-18 09:52] afaulconbridge commented on #756
Merged into master and deployed on qa.targetvalidation.org

[2019-10-18 09:52] #2387 closed, assigned to edm1, mkarmona

[2019-10-18 09:52] #2492 closed

[2019-10-18 09:53] afaulconbridge commented on #739
Done and deployed to platform-api-qc.opentargets.io awaiting front end integration

[2019-10-18 09:54] d0choa commented on #739
The current qa only lists one adverse event per drug instead of the full list. Any idea why this might be happening?

[2019-10-18 09:55] afaulconbridge commented on #654
This has been and gone and the world didn't end, so closing.

[2019-10-18 09:55] #654 closed

[2019-10-18 09:58] afaulconbridge commented on #739
Nope, I'll reopen this and take a look next week. Thanks for the feedback.

[2019-10-18 10:04] edm1 opened #2329 "L2G data release via genetics portal"
This is a ticket to keep track of all proposed changes to display locus-to-gene scores in the genetics portal. ([as disccussed 16 Sept 2019](https://docs.google.com/document/d/15AEBK0356RZxwMwXABUfUGybmo4TwHk2urJ9sVooWWc/edit)).

Data: ~#415 opentargets/issues#2331~

Back-end: ~#409~ opentargets/issues#2340

API: ~#412~

Front-end: opentargets/issues#2332 opentargets/issues#2334 opentargets/issues

[2019-10-18 10:09] edm1 opened #2330 "L2G data backend"
Backend to serve the L2G data.

Example data is available here: `gs://genetics-portal-analysis/ml-scoring/locus-to-gene/modeling/predict/output/predictions.191111.parquet`. The final dataset will be of the same magnitude.

[2019-10-18 10:11] edm1 opened #2331 "Re-run V2D pipeline"
The L2G data is based on a newer verison of the V2D data than is currently displayed in the portal. This means that there may be studies in the L2G that are not in the study/top loci tables.

[2019-10-18 10:16] edm1 opened #2332 "L2G FE changes for Study page"
Changes:
- Replace ‘Top V2G Genes’ with L2G ‘Prioritised genes’ (any gene with prioritised score > 0.5).
- Keep ‘Top Colocalising Genes’ column.
- Change column name of Colocalisation page to ‘Gene Prioritisation’ page (across site).
- Remove rsID and cytoband

[2019-10-18 10:18] edm1 opened #2333 "L2G API/GraphQL changes"
Design and implement GraphQL for the following queries:
- [x] Get array of top L2G genes above threshold of >=0.5 from score field `y_proba_full_model`. For study page (#411).
- [x] Provide L2G data for all genes when fixing a (study, locus). For study-locus page (#414). New table bringing all information from the L2G table. We need to add distance information from each gene to the fixed lead vari

[2019-10-18 10:22] edm1 opened #2334 "L2G FE changes for Gene page"
- [ ] Discuss table design with @andrewhercules @edm1
- [ ] Replace Associated studies table with L2G assignment results

[2019-10-18 10:22] cmalangone commented on #754
The task is completed
https://github.com/opentargets/platform-infrastructure/commit/fad1834132267538afe32790ef179601b310aa48

[2019-10-18 10:22] #754 closed

[2019-10-18 10:24] edm1 opened #2335 "L2G FE changes for Study-locus page"
- [ ] Discuss table design with @andrewhercules @edm1
- [ ] Put L2G Table at the top. All genes at locus with their associated scores (no threshold). Hover over to get raw logi and logo scores (5 individual + overall).
- [ ] Move gene bar upward on colocalisation page (cosmetic: FE only)

[2019-10-18 10:39] edm1 opened #2336 "L2G decide exactly what data will be included"
What data should be included:
- The inter-locus feature?
- Network expansion via collaboration with network group? I intend to include in the final output but it is not available yet

There are additional gold-standards to add, ie. the breast cancer ones that are with @MayaGhoussaini for review of possible alternative explainations.

[2019-10-19 12:25] eric-czech opened #765 "HPA parser bug (in data_pipeline)"
The URL for control tissue in the HPA parser (i.e. ```normal_tissue_url```) is being loaded as an uncompressed URLSource in [HPA.py#L374](https://github.com/opentargets/data_pipeline/blob/4b86e20390a17a9ca0392eabf46d0b696296f135/mrtarget/modules/HPA.py#L374) despite being defined as a zipped file in the data configs -- i.e. [mrtarget.data.19.09.yml](https://storage.googleapis.com/open-targets-data

[2019-10-19 13:27] afaulconbridge commented on #765
Hi Eric, thanks for contacting us. The issue you described is intentional for python 3 compatibility in upcoming 19.11 release. For using 19.09 data please use 19.09 tagged code release, not master. Alternatively, make a uncompressed copy available and use an updated data configuration that references it.

In the longer term, it would be useful to rewrite the hpa step as it is the only one that us

[2019-10-21 09:26] deniseOme opened #766 "homepage has Sanofi logo but not Sanofi in the text"
Homepage has "Open Targets" section as follows:

_An innovative pre-competitive collaboration between Wellcome Sanger Institute, EMBL-EBI, GSK, Biogen, Takeda and Celgene_

Sanofi is missing in this description. It needs to be included.

<img width="1147" alt="Screen Shot 2019-10-21 at 10 25 13" src="https://user-images.githubusercontent.com/6472381/67193361-15336800-f3ed-11e9-9cb2-3b107b0b438b.pn

[2019-10-21 10:25] d0choa opened #767 "navigation bar going on top of footer"
Make sure navigation bar don't go on top of footer.

[2019-10-21 10:28] d0choa opened #768 "Include search functionality in FE"
Include the possibility to search in the first iteration of search API provided by @mkarmona.

This ticket is purely focused on functionality. Later tickets will aim to improve the experience and iterate in the backend.

[2019-10-21 14:43] andrewhercules commented on #752
Ideas for potential survey platforms: https://www.userreport.com/blog/customer-feedback-tool/

[2019-10-21 22:09] MichaelaEBI commented on #10
This ticket has been superseded by other tickets on drug index work.

[2019-10-21 22:09] #10 closed

[2019-10-21 22:21] MichaelaEBI commented on #22
The actual issue is that publications are not a required part for reviews of gene membership to Genomic England disease panels. [BRAF is linked to 'breast carcinoma'](https://www.targetvalidation.org/evidence/ENSG00000139618/EFO_0000311) in several panels and in panel [255](https://panelapp.genomicsengland.co.uk/panels/255/gene/BRCA2/) (for Neurofibromatosis Type 1) one reviewer added PMIDs and in

[2019-10-21 22:46] MichaelaEBI commented on #44
I am not sure whether IONIS-HTTRx has been added to ChEMBL yet, it is [not listed as targeting the Huntingtin protein](https://www.ebi.ac.uk/chembl/target_report_card/CHEMBL5514/). As of 19.09 we receive data for 4 mRNA drug targets, but the Huntingtin gene (ENSG00000197386) is not among them. One of these 4 mRNA targets, Dystrophin pre-mRNA, is submitted as evidence with Ensembl ID ENSG0000019894

[2019-10-21 22:52] MichaelaEBI commented on #51
Given the response above from ChEMBL that DGIdb contains gene-drug interactions rather than target-drug relationships and the fact that DGIdb now seems to import ChEMBL activity data I will close this ticket.

[2019-10-21 22:52] #51 closed

[2019-10-21 22:59] MichaelaEBI commented on #176
This issue is still current, I checked the Open Targets and UniProt links provided.

[2019-10-22 13:36] afaulconbridge commented on #612
I'm going to put the input file in the OTAR001-core bucket at https://storage.googleapis.com/otar001-core/DrugBank/src1src2.txt.gz We'll need to integrate it into `platform-input-support` for 19.11 release.

[2019-10-22 16:28] d0choa commented on #65
This is an important point for the evidence cleaning and data provider guidelines. I'll make a note and keep it for a future ticket in the matter. Closing for now

[2019-10-22 16:28] #65 closed

[2019-10-22 22:46] #286 closed

[2019-10-23 08:31] mirandaio commented on #759
@d0choa Xavier agrees this is a bug. I've opened an issue in their repository: https://github.com/ebi-webcomponents/protvista-uniprot/issues/7

[2019-10-23 12:29] afaulconbridge commented on #613
Implemented in branch `af-613-indication-tas` will have API output like:
[code]

[2019-10-23 12:32] afaulconbridge commented on #739
Should be fixed in PR https://github.com/opentargets/data_pipeline/pull/551

[2019-10-23 13:17] andrewhercules commented on #353
This issue has been closed as it has been captured on [the Master Feature Prioritisation worksheet](https://docs.google.com/spreadsheets/d/1jZMKv6fDum6aEOqernfuwSv__f8CBFK6PZoRo9m0mWE/edit#gid=0) available on the team's Google Drive.

CC: @d0choa

[2019-10-23 13:17] #353 closed

[2019-10-23 13:18] andrewhercules commented on #354
This issue has been closed as it has been captured on [the Master Feature Prioritisation worksheet](https://docs.google.com/spreadsheets/d/1jZMKv6fDum6aEOqernfuwSv__f8CBFK6PZoRo9m0mWE/edit#gid=0) available on the team's Google Drive.

CC: @d0choa

[2019-10-23 13:18] #354 closed

[2019-10-23 13:19] andrewhercules commented on #355
This issue has been closed as it has been captured on [the Master Feature Prioritisation worksheet](https://docs.google.com/spreadsheets/d/1jZMKv6fDum6aEOqernfuwSv__f8CBFK6PZoRo9m0mWE/edit#gid=0) available on the team's Google Drive.

CC: @d0choa

[2019-10-23 13:19] #355 closed

[2019-10-23 13:21] #44 closed

[2019-10-23 13:26] andrewhercules commented on #102
This issue has been closed as it has been captured on [the Master Feature Prioritisation worksheet](https://docs.google.com/spreadsheets/d/1jZMKv6fDum6aEOqernfuwSv__f8CBFK6PZoRo9m0mWE/edit#gid=0) available on the team's Google Drive.

CC: @d0choa

[2019-10-23 13:26] #102 closed

[2019-10-23 13:27] andrewhercules commented on #450
@afaulconbridge, given we've had a number of releases since 19.02, could we retire this and close the ticket?

[2019-10-23 13:30] andrewhercules commented on #461
Ticket closed as work will be incorporated into ongoing safety work and the upcoming OT safety project

[2019-10-23 13:30] #461 closed

[2019-10-23 13:34] andrewhercules commented on #490
Closing this ticket as when I run [a search for `OtTable` in the platform-app repo](https://github.com/opentargets/platform-app/search?q=OtTable&unscoped_q=OtTable), it returns no results.

@mirandaio, please re-open if there are other instances that need to be changed

[2019-10-23 13:34] #490 closed

[2019-10-23 13:35] andrewhercules commented on #565
Given the eventual deprecation of the Angular app, this ticket will be closed and instead, the analytics code will be part of the customisation repo work - see #745 for more information

[2019-10-23 13:35] #565 closed

[2019-10-23 13:36] andrewhercules commented on #735
@afaulconbridge, for 19.11, could you please change the Chemical Probes plugin so that the API response changes from `probenumber` to `number_of_probes`?

[2019-10-23 13:45] andrewhercules commented on #101
This issue has been addressed in the React rewrite version of the target profile page - it displays the ID, description, and top-level parent pathway.

[2019-10-23 13:45] #101 closed

[2019-10-23 13:46] andrewhercules commented on #556
Inter font is now being used - issue closed

[2019-10-23 13:46] #556 closed

[2019-10-23 13:48] andrewhercules commented on #21
This issue has been closed as it has been captured on [the Master Feature Prioritisation worksheet](https://docs.google.com/spreadsheets/d/1jZMKv6fDum6aEOqernfuwSv__f8CBFK6PZoRo9m0mWE/edit#gid=0) available on the team's Google Drive. It may also be considered for the new design of the batch search page in the React rewrite version of the Platform.

CC: @d0choa

[2019-10-23 13:48] #21 closed

[2019-10-23 13:52] andrewhercules commented on #164
This issue has been closed as it has been captured on [the Master Feature Prioritisation worksheet](https://docs.google.com/spreadsheets/d/1jZMKv6fDum6aEOqernfuwSv__f8CBFK6PZoRo9m0mWE/edit#gid=0) available on the team's Google Drive.

CC: @d0choa

[2019-10-23 13:52] #164 closed

[2019-10-23 13:54] andrewhercules commented on #380
This issue has been closed as it has been captured on [the Master Feature Prioritisation worksheet](https://docs.google.com/spreadsheets/d/1jZMKv6fDum6aEOqernfuwSv__f8CBFK6PZoRo9m0mWE/edit#gid=0) available on the team's Google Drive.

CC: @d0choa

[2019-10-23 13:54] andrewhercules commented on #380
This issue has been closed as it has been captured on [the Master Feature Prioritisation worksheet](https://docs.google.com/spreadsheets/d/1jZMKv6fDum6aEOqernfuwSv__f8CBFK6PZoRo9m0mWE/edit#gid=0) available on the team's Google Drive.

CC: @d0choa

[2019-10-23 13:54] #380 closed

[2019-10-23 13:56] andrewhercules commented on #381
Ticket closed as it relates to ticket #21

[2019-10-23 13:56] #381 closed

[2019-10-23 14:07] andrewhercules commented on #135
Ticket closed as Angular web app will be deprecated in Q1 - 2020 and replaced with a new React version.

@peatroot, in the React rewrite version of the Platform application, can you please amend the Associations view so that this bug is fixed, similar to [this solution](http://jsfiddle.net/mU3FV/7/)?

[2019-10-23 14:07] #135 closed

[2019-10-23 15:14] andrewhercules commented on #768
Waiting for update to API and return disease information

[2019-10-23 15:26] andrewhercules commented on #759
Blocked by https://github.com/ebi-webcomponents/protvista-uniprot/issues/7

[2019-10-23 15:37] andrewhercules commented on #743
Closing ticket - for information purposes and will be picked up at a later date

[2019-10-23 15:37] #743 closed

[2019-10-23 15:53] andrewhercules commented on #239
- [ ] Change search input field from select to new Material-UI select
- [ ] Implement menu as per spec above
- [ ] Create list of menu items in a config file that can be customised
- [ ] Update spec with list of menu items (simple) that will be available by default

[2019-10-23 15:54] andrewhercules commented on #512
Ticket closed as work completed

[2019-10-23 15:54] #512 closed

[2019-10-23 15:58] andrewhercules commented on #621
Need to follow up as [ADORA3 target profile page](https://platform-app.netlify.com/target/ENSG00000282608) is now blank with error message in console

[2019-10-23 16:00] d0choa commented on #762
Can we change the title from "Protein" to "Protein Information"

We want to update the label to "Positional, Structural and Functional Information".

The summary widget is either all or nothing, as everything comes from UniProt.

[2019-10-23 16:18] AsierGonzalez commented on #735
If we keep this value in the response (no matter the name) the expected value needs to be changed as there are now 801 "probes" for that target (see https://probeminer.icr.ac.uk/#/P01375) after the Probes Miner update in July

[2019-10-23 16:59] d0choa commented on #735
Can @andrewhercules confirm we don't use this number in the FE?
If this is the case and it's simpler, we can remove this field completely. It's a source of errors as we have to manually update the data.
In the future, Chembl will provide this information and we can re-evaluate what needs to be shown.

[2019-10-23 17:31] andrewhercules commented on #735
@d0choa: we do NOT use this number in the front-end and so we can drop this field completely

[2019-10-28 16:56] deniseOme commented on #124
Deemed to be low priority plus no problems so far while sticking with previous Ghost version.

[2019-10-28 16:56] #124 closed

[2019-10-28 17:00] deniseOme commented on #348
Will point users to the documentation on [target tractability](https://docs.targetvalidation.org/getting-started/target-tractability) for more info on the different buckets and aggregation into the 3 major categories highlighted in the UI.

[2019-10-28 17:00] #348 closed

[2019-10-28 17:04] #558 closed

[2019-10-28 17:05] deniseOme commented on #570
Low priority as per rewrite implementation for next year.

[2019-10-28 17:05] #570 closed

[2019-10-28 17:09] deniseOme commented on #583
Fixed: back to trinucleotide expansion.
![Screen Shot 2019-10-28 at 17 09 28](https://user-images.githubusercontent.com/6472381/67700377-c023c300-f9a5-11e9-92e0-879b6936fa65.png)

[2019-10-28 17:15] AsierGonzalez commented on #583
I'm afraid this isn't fixed @deniseOme. The functional consequence in the data and UI is correct because I manually fix the output of the snp-to-gene mapping. EVA are working on a permanet solution for it.

[2019-10-28 17:37] deniseOme commented on #766
This will go live when we release 19.11.

[2019-10-28 17:37] #766 closed

[2019-10-28 17:37] deniseOme commented on #410
Low priority.

[2019-10-28 17:37] #410 closed

[2019-10-28 18:35] LucaFumis commented on #741
Development work complete, pending test with complete final data.

[2019-10-29 10:56] LucaFumis commented on #434
Hi @AsierGonzalez will this be included in 19.11?
I imagine it will require some small front end changes...

[2019-10-29 11:19] AsierGonzalez commented on #434
Hi @LucaFumis, GWAS have implemented the changes and we now have both the float p-value and the mantissa and exponent notation.
[code]
However, I think that back-end have not had time to integrate these changes into the pipeline so I don't know if the information will be made available via the API.

[2019-10-29 12:45] forus opened #2119 "Overall OT UI theme changes unexpectedly when you tweak a single setting"
Steps to reproduce:
1. Specify the following in `platform-app/src/public/theme.js`:
[code]
2. Build and start the application.
3. Navigate to the landing page.
**ACTUAL:** the rest of the styling (e.g. color scheme) has changed.
**EXPECTED:** only the border-radius has to change. The rest of the styling has to remain as it was.

[2019-10-29 13:02] afaulconbridge commented on #450
Yes. In case we need this in future, the settings are:
[code]

[2019-10-29 13:02] #450 closed

[2019-10-29 15:10] cmalangone commented on #434
I assigned myself the ticket for the BE part. We can discuss it for 20.02

[2019-10-29 15:48] andrewhercules opened #769 "LINK: review/refactor Python code and dependencies"
Based on today's meeting, @afaulconbridge will explore the LINK codebase to see what updates can be made to dependencies and libraries and if the code can be refactored so that it can easily be run in the future

[2019-10-29 15:49] andrewhercules opened #770 "LINK: update dictionaries used for entity recogition"
Based on today's meeting, @arwaraies will update the various vocabularies/dictionaries used by the LINK pipeline. For questions about EFO3 and updated the diseases dictionary, please consult with @d0choa.

[2019-10-29 15:54] AsierGonzalez commented on #458
There is a new TEP for `TASK1` (`KCNK3` in OT): https://www.thesgc.org/tep/task1.
This should be added into https://github.com/opentargets/webapp/blob/master/app/src/services/teps-service.js:
[code]
Can you please look into it @LucaFumis?

[2019-10-30 16:20] mirandaio commented on #764
These fields will be displayed on the table:
OTAR ID
Project name
Disease name

This field will be used to build the link:
Disease ID

[2019-10-30 16:37] d0choa commented on #672
@AsierGonzalez could you check for us what's the maximum value that a give literature evidence might have?

We know it's somewhere above 100 but we don't know what's the maximum empirical value.

[2019-10-31 11:57] #762 closed

[2019-10-31 16:03] d0choa opened #771 "Issue with orthologues in some pages (MAP3K2)"
At least one target profile page crashes - MAP3K2
https://platform-app.netlify.com/target/ENSG00000169967

The console error says:
TypeError: null is not an object (evaluating 'e.orthologuesBySpecies')

By the name of the field, it looks to be related with the "Homology" widget

[2019-11-04 09:19] afaulconbridge commented on #750
Is this superseded by #769 & #770 @andrewhercules ?

[2019-11-04 09:26] andrewhercules commented on #750
Yes @afaulconbridge! :-)

Based on our meeting last week, I've set #770 as a dependency/blocker for this ticket as we will want to update the dictionaries to capture new EFO3 terms. If I remember correctly, we should still be able to run LINK even if #769 is still open/pending?

[2019-11-04 09:34] arwaraies commented on #750
One benefit of updating the libraries and code is to be able to run LINK efficiently. Running LINK using the existing code and libraries is extremely slow and it may not be possible using only one machine. So I think both #769 and #770 should dependencies.

[2019-11-04 10:25] andrewhercules commented on #750
Good point @arwaraies! 👍  I have updated the dependencies for this ticket! :-)

[2019-11-06 10:16] cmalangone commented on #657
This issue has to be reopen due the fact that everything is still done manually.
BE and FE have to find a long term solution.

[2019-11-06 10:58] cmalangone commented on #657
**For 19.11 release:**
[code]

[2019-11-06 12:32] d0choa opened #772 "Update "Targets" section in Drug Profile Page"
Self-explanatory. We don't need it as all targets come from the mechanisms of action table.  It's basically a duplication of information

[2019-11-06 12:33] andrewhercules opened #773 "Update "Disease" section on drug profile page"
Based on our front-end team meeting yesterday, can we please make the following changes to the "Disease" section on the drug profile page?

1. Change the explanatory text to `DRUG NAME has been indicated for the following diseases`
2. In the data table, include the max clinical trial phase value for that indication

[2019-11-06 13:08] edm1 opened #2337 "Use EFO3 therapeutic areas for phewas category mapping"

[2019-11-06 15:06] cmalangone opened #774 "Platform-infrastructure: Automatic creations of the list of target and disease dumps"
The ticket platform/issues/657 explains how to create the dumps for the list of disease and targets.

The command has to be integrated in the platform-infrastructure script. (run.sh)

[2019-11-06 16:06] andrewhercules commented on #665
Please review the `Cancer Biomarkers` section to ensure it pulls the primary colour in the custom theme

[2019-11-06 16:12] andrewhercules commented on #557
Revisit dropdown minimising custom code

[2019-11-06 16:57] andrewhercules commented on #771
Check console log as Bibliography section is also showing an error

[2019-11-07 10:09] andrewhercules commented on #772
Based on our front-end team meeting yesterday, can we please make the following changes to the "Target" section on the drug profile page?

- [ ] Update data table to display target class and associated Reactome pathway(s)
- [ ] Add functionality to export list of targets in CSV, JSON, or TSV format

[2019-11-07 10:14] andrewhercules opened #775 "Redesign homepage for React version of Platform"
TBC with mockup for new homepage

[2019-11-07 10:14] d0choa commented on #772
Consider @andrewhercules comment a correction of the previous action.

I have doubts about the target class and the pathways as I understand it might be a long list for some of the targets. Please double check if appropriate before implementing it.

[2019-11-07 10:44] cmalangone opened #776 "Normal tissue file is not uploaded properly (platform-input-support)"
The file is created without the extension .tsv.gz

Repository: platform-input-support
Step: annotations
Section: normal tissue

[2019-11-07 14:14] #665 closed

[2019-11-07 15:17] mirandaio commented on #759
Upgraded the version of `protvista-uniprot` which fixes this issue.

[2019-11-07 15:17] #759 closed

[2019-11-08 10:28] andrewhercules commented on #775
![new_homepage_v1](https://user-images.githubusercontent.com/7490258/68468853-c5d4a080-0210-11ea-84dc-8846f510d2c5.png)

@d0choa, here is an initial draft of the new homepage for the React version of the Platform. I have made some changes, which I've noted below:

- [ ] The hero background image is a network diagram overlaid on a map, courtesy of [Pixabay](https://pixabay.com/illustrations/earth-g

[2019-11-08 10:54] AsierGonzalez commented on #775
Is there a reason to move the grey box with the data version and stats down? I like to see it right under the search box :)

[2019-11-08 11:09] LucaFumis commented on #775
A hero image at the top is quite nice - I suspect it will be tricky to find the right one though.

Also worth considering whether we want to keep all the social media feeds: FB and Twitter requires some extra JS and that scrollable box is not always ideal.
On the other hand we pull the blog post through its API: this could be made into a larger feature, like a carousel (if I remember correctly we

[2019-11-12 12:52] edm1 opened #2338 "Dataproc cannot access requester pays project"
When trying to access e.g. `gs://genetics-portal-sumstats-b38/unfiltered/gwas/GCST000568.parquet`, I get the following error:

[code]

[2019-11-12 13:04] afaulconbridge opened #777 "Missing search highlights"
As raised by @deniseOme on Slack:

Compare this screenshot from 19.09 production with 19.11 qa:
![Screen Shot 2019-11-07 at 16 44 45](https://user-images.githubusercontent.com/617276/68673755-5e8a5980-054c-11ea-9ef5-b7f9c188d3c9.png)
![Screen Shot 2019-11-07 at 16 44 51](https://user-images.githubusercontent.com/617276/68673757-5e8a5980-054c-11ea-882d-392426ef7552.png)

And url https://qa.targetva

[2019-11-12 16:34] AsierGonzalez commented on #580
The evidence for these three non-coding RNAs have disappeared in the COSMIC evidence file submitted for 19.11. Changing status to fixed and awaiting for COSMIC to confirm that the issue has been fixed.

[2019-11-13 17:34] deniseOme opened #778 "pharmacovilance data: crohn’s vs chron^s"
the new pharmacovigilance data has some minor issues with denoting diseases e.g.
Crohn^s disease” = “Crohn’s disease”

https://qa.targetvalidation.org/summary?drug=CHEMBL1201580

This means that we report those two as two different adverse events. This will have an impact on the significance that is computed (log likelihood ratio and the reported critical value threshold). This does not seem to be

[2019-11-14 10:44] #580 closed

[2019-11-14 16:21] LucaFumis commented on #557
Fixed placeholder text. No custom colours applied.

[2019-11-14 17:50] LucaFumis commented on #761
It seems that the avatar (bubble) accommodates comfortably max 2 chars/letters.
We can add the option to specify such initials, or otherwise use initial letters of each word.

The "automatic" option (i.e. pick initials of each word) work for most sections.
Problems arise with long named sections, for which we should manually specify the short version:
Variation and Genomic Context
Mechanisms of Ac

[2019-11-15 16:41] LucaFumis commented on #761
We could map as:
Variation and Genomic Context => **V**
Mechanisms of Action => **MA**
Pathways and Systems Biology => **P** or **Pw** to differentiate from _Phenotypes_?
Phenotypes => **P** or **Ph** or **Pt** to differentiate from _Pathways_ (see above)?

[2019-11-18 10:07] deniseOme opened #779 "remove "API key" from Python client tutorial on readthedocs"
We should remove step 2 in this tutorial:
https://opentargets.readthedocs.io/en/stable/tutorial.html#tutorial

![Screen Shot 2019-11-18 at 10 05 06](https://user-images.githubusercontent.com/6472381/69043444-ef4cb380-09ea-11ea-8296-96b0a70559e8.png)

Users no longer need a key to access this data via the REST API or through the Python client and they are getting confused and contacting us via supp

[2019-11-19 09:52] PruMM opened #780 "Cancer Hallmarks request for correction of grammatical errors"
Please may you chnage the following sentence

 Essencial alterations in cell physiology that dictate malignant growth. Cancer hallmarks were originally described by Hanahan and Weinberg (2000), are manually curated by COSMIC and integrated in the Cancer Gene Census.

to read as below

Essential alterations in cell physiology that dictate malignant growth. Cancer hallmarks, originally described by

[2019-11-19 09:56] PruMM opened #781 "Cancer Biomarkers Summary- request for punctuation correction"
Please may you amend the following paragraph

 Genomic biomarkers of drug responses, and their levels of clinical significance as described by Tamborero et al. (2018). This data is manually curated by clinical and scientific communities in the field of precision oncology.

to read as follows (please may you remove the comma after the word responses)

Genomic biomarkers of drug responses and their

[2019-11-19 13:56] PruMM opened #782 "Project Score Profile page for Parp1 incorectlt links out to Parp11"
Please may you correct the linking above for PARP1

[2019-11-19 14:26] PruMM commented on #782
The same problem also affects
RB1 whose project score profile page links out to the RB1CC instead of RB1

[2019-11-19 14:32] d0choa commented on #782
After preliminary investigations, there is an incomplete logic behind the construction of the link-outs implemented in the FE (webapp & platform-app).

Short-term, we need to double check that the link is only build if the first result of the search is an exact match. In the case of PARP1, there is no data for PARP1 (because it's an essential gene) but there is for PARP11. The expected behaviour i

[2019-11-19 18:41] #761 closed

[2019-11-19 18:42] LucaFumis commented on #763
Fixed in https://github.com/opentargets/platform-app/pull/112

[2019-11-19 18:43] #763 closed

[2019-11-21 10:50] andrewhercules opened #783 "No target tractability data notification not always visible"
@PruMM has identified an issue where the sentence about no tractability data is not visible for some targets. For a target like [TRIP11](https://qa.targetvalidation.org/target/ENSG00000100815), we display the sentence `No tractability data for TRIP11 is available` in the Target Tractability section:

![Screenshot 2019-11-21 at 10 43 20](https://user-images.githubusercontent.com/7490258/69330906-c2

[2019-11-21 11:35] AsierGonzalez commented on #783
The real cause of this issue is that TRIP11 (ENSG00000100815) appears in the tractability file whereas BRCA2 (ENSG00000139618) doesn't, is this expected? My understanding was that the tractability pipeline was supposed to generate an entry for all the genes regardless of whether they are tractable or not.

[2019-11-25 14:11] AsierGonzalez commented on #737
Hi @andrewhercules, are there any updates for this? At the moment this does not seem to be a data issue, I would need an update from the BE team (apparently @afaulconbridge) to know if we need to ask ChEMBL to make any changes to evidence.

[2019-11-25 14:12] afaulconbridge commented on #206
Closing, not needed

[2019-11-25 14:12] #206 closed

[2019-11-25 14:14] afaulconbridge commented on #228
Closing, will mostly be done for 19.11

[2019-11-25 14:14] #228 closed

[2019-11-25 14:17] afaulconbridge commented on #343
Closing, not critical can be recreated if needed.

[2019-11-25 14:17] #343 closed

[2019-11-25 14:18] afaulconbridge commented on #368
Unclear description, closing.

[2019-11-25 14:18] #368 closed

[2019-11-25 14:29] afaulconbridge commented on #386
Closing, the plan is for the API to eventually move to GraphQL and therefore the swagger docs become redundant.

[2019-11-25 14:29] #386 closed

[2019-11-25 14:30] afaulconbridge commented on #401
Done, closing.

[2019-11-25 14:30] #401 closed

[2019-11-25 14:31] afaulconbridge commented on #404
closing, unimportant

[2019-11-25 14:31] #404 closed

[2019-11-25 14:32] afaulconbridge commented on #407
closing, please reopen if still an issue

[2019-11-25 14:32] #407 closed

[2019-11-25 14:41] afaulconbridge commented on #507
Closing, would be nice, but not criticial. Can be revisited in future.

[2019-11-25 14:41] #507 closed

[2019-11-25 14:52] afaulconbridge commented on #537
No differences to me:
[code]
Closing as insufficient information, please add more description if need to reopen.

[2019-11-25 14:52] #537 closed

[2019-11-25 14:56] afaulconbridge commented on #582
Done

[2019-11-25 14:56] #582 closed

[2019-11-25 15:01] #632 closed

[2019-11-25 15:10] afaulconbridge commented on #699
closing, create a new issue if this continues

[2019-11-25 15:10] #699 closed

[2019-11-25 15:15] afaulconbridge commented on #769
Pretty much done, awaiting rerun completion for 19.11 & EFO3

[2019-11-26 09:15] andrewhercules commented on #737
@AsierGonzalez, I wonder if it is a data issue because in 19.09, those two evidence strings are now associated with [HBB](https://www.targetvalidation.org/target/ENSG00000244734), which I believe is the parent complex for both HBA1 and HBA2.

![Screenshot 2019-11-25 at 17 21 13](https://user-images.githubusercontent.com/7490258/69562884-015cc200-0fa8-11ea-98ba-09248b0336a7.png)

This is also refle

[2019-11-26 09:37] andrewhercules opened #784 "Update Check-O-Matic with new scenarios to automatically test"
Based on yesterday's team meeting, it was decided that we should update and expand the number of checks performed by [Check-O-Matic](https://github.com/opentargets/checkomatic) to further automate our data QC processes.

@PruMM, please work with @mkarmona to update Check-O-Matic with various scenarios that we would like to automatically test.

[2019-11-26 14:31] #600 closed

[2019-11-26 15:24] AsierGonzalez commented on #737
@andrewhercules, the reason I don't think this is (strictly) a data issue is because the evidence strings for this drug didn't change between 19.06 and 19.09 (and same for 19.11 as the file hasn't changed). In total there are 10 evidence strings, the protein targets are HBA1 and HBB and lung carcinoma is one of the associated diseases.

[2019-11-27 16:45] AsierGonzalez commented on #737
A more detailed look into the the data suggests that this issue is not caused by the data:

1. Targets in ChEMBL evidence are identified by UniProt ids
2. In this case there 10 evidence strings for `EFAPROXIRAL` and the associated targets are  http://identifiers.org/uniprot/P68871 (HBB) and http://identifiers.org/uniprot/P69905 (HBA1 and HBA2)

Therefore, the evidence for P68871 should be showed b

[2019-11-29 09:29] andrewhercules opened #785 "19.11 confirmed release schedule"
![Open_Targets_Platform_November_2019_release_schedule](https://user-images.githubusercontent.com/7490258/69858768-9acaf300-128a-11ea-99a4-22e587b0d385.png)

[2019-11-29 09:29] #785 closed

[2019-11-29 12:27] andrewhercules commented on #469
This has been reassigned to the 20.02 release

[2019-11-29 12:37] andrewhercules commented on #613
Data not yet displayed in API response - will look at resolving in 20.02 data release

[2019-11-29 12:40] andrewhercules commented on #127
@AsierGonzalez and @deniseOme - was this issue resolved in 19.11 or should it be re-assigned to 20.02?

[2019-11-29 12:42] andrewhercules commented on #183
Issue closed as it has been resolved in the 19.11 release with the migration to EFO3

[2019-11-29 12:42] #183 closed

[2019-11-29 12:43] andrewhercules commented on #472
Issue pushed to 20.02 release

[2019-11-29 12:44] andrewhercules commented on #543
Ticket moved to 20.02 release as work is still ongoing with EFO team

[2019-11-29 12:45] andrewhercules commented on #612
DrugBank IDs now available in the API and displayed on the drug profile page

[2019-11-29 12:45] #612 closed

[2019-11-29 12:47] andrewhercules commented on #682
Ticket reassigned to 20.02 release

[2019-11-29 12:49] andrewhercules commented on #686
Issue resolved as clinical trials now returned as an array - see below for an issue

![Screenshot 2019-11-29 at 12 48 49](https://user-images.githubusercontent.com/7490258/69870074-a2989080-12a6-11ea-87e8-335ea70efcec.png)

[2019-11-29 12:49] #686 closed

[2019-11-29 12:54] andrewhercules commented on #735
Ticket has been moved to 20.02 release

[2019-11-29 12:57] andrewhercules commented on #704
Ticket closed as work completed. The canonical SMILES data is now available from [/private/drug endpoint](https://api.opentargets.io/v3/platform/private/drug/CHEMBL122) - see below for an example:

![Screenshot 2019-11-29 at 12 56 45](https://user-images.githubusercontent.com/7490258/69870431-b7295880-12a7-11ea-82b1-8ae583824239.png)

[2019-11-29 12:57] #704 closed

[2019-11-29 12:57] AsierGonzalez commented on #127
I'm afraid it wasn't, I still need to re-run the baseline expression pipeline. Let's target to do it for 20.02

[2019-11-29 12:58] andrewhercules commented on #127
Perfect - will move to 20.02 release

[2019-11-29 13:48] d0choa commented on #543
SPOT team is looking at relocating these terms eventually. We can push back to them and close this ticket.

Since the inclusion of EFO3 (19.11), the pipeline respects the ontology as it is. An eventual modification of the ontology won't introduce any actions.

[2019-11-29 13:48] #543 closed

[2019-11-29 14:50] andrewhercules commented on #687
Ticket closed as issue resolved. The `/private/drug endpoint` response returns full URLs for references found in the `mechanism_of_action` section - see below for an example:

![Screenshot 2019-11-29 at 14 49 17](https://user-images.githubusercontent.com/7490258/69876420-70435f00-12b7-11ea-9715-1b4bc64c86a0.png)

[2019-11-29 14:50] #687 closed

[2019-11-29 14:52] andrewhercules commented on #782
Ticket closed as issue has been fixed

[2019-11-29 14:52] #782 closed

[2019-11-29 14:52] andrewhercules commented on #780
Ticket closed as issue fixed

[2019-11-29 14:52] #780 closed

[2019-11-29 14:53] andrewhercules commented on #781
Ticket closed as issue resolved

[2019-11-29 14:53] #781 closed

[2019-11-29 14:54] andrewhercules commented on #769
Ticket closed as LINK has been rerun with EFO3 - awaiting final confirmation that all data has been loaded into the ElasticSearch index.

[2019-11-29 14:54] #769 closed

[2019-11-29 14:55] andrewhercules commented on #770
Ticket closed as dictionaries have been updated and LINK has been rerun with EFO3

[2019-11-29 14:55] #770 closed

[2019-11-29 14:56] andrewhercules commented on #750
Awaiting final confirmation from @cmalangone that all the data has been loaded into an ElasticSearch index

[2019-11-29 14:57] andrewhercules commented on #741
Ticket closed as work has been completed

[2019-11-29 14:57] #741 closed

[2019-11-29 14:59] andrewhercules commented on #739
Ticket closed as work has been completed. The `/private/drug` endpoint now returns adverse event details - see below for an example:

![Screenshot 2019-11-29 at 14 59 21](https://user-images.githubusercontent.com/7490258/69876980-d8467500-12b8-11ea-932f-a913e932f4d0.png)

[2019-11-29 14:59] #739 closed

[2019-11-29 15:00] andrewhercules commented on #730
Ticket closed as work has been completed

[2019-11-29 15:00] #730 closed

[2019-11-29 15:02] andrewhercules commented on #749
Ticket closed as work has been completed and pipeline successfully run for the 19.11.4 release

[2019-11-29 15:02] #749 closed

[2019-11-29 15:03] andrewhercules commented on #729
Ticket moved to 20.02 release

[2019-11-29 15:04] andrewhercules commented on #733
Ticket moved to 20.02 release

[2019-11-29 15:05] andrewhercules commented on #736
Ticket moved to 20.02 release

[2019-11-29 15:06] andrewhercules commented on #734
Ticket closed as issue has been resolved with fix implemented in 19.11 release

[2019-11-29 15:06] #734 closed

[2019-11-29 15:09] andrewhercules commented on #756
Ticket closed as issue has been resolved in 19.11. The `/private/disease` endpoint now returns a `description_alternative` field with all associated descriptions while the `description` field returns only one description to prevent duplication in the disease profile page UI.

[2019-11-29 15:09] #756 closed

[2019-12-02 12:25] #657 closed

[2019-12-02 12:26] #783 closed

[2019-12-02 12:33] LucaFumis commented on #670
Fix, pending PR merge

[2019-12-02 12:43] #557 closed

[2019-12-02 12:55] #672 closed

[2019-12-03 11:43] LucaFumis opened #786 "Text mining: missing authors API error"
Text mining component in the React rewrite triggers some errors.
After investigation it appears that these are caused by a missing authors field in the EPMC response for some papers.
This paper info is loaded into our evidence page example (skip to last page or revert order):
https://www.ebi.ac.uk/europepmc/webservices/rest/search?query=ext_id:PMC2838404&format=json&resultType=core&pageSize=10

It

[2019-12-03 12:06] andrewhercules opened #787 "Update sitemaps with target and disease data from the 19.11 release"
With our most recent 19.11 release, we should update the sitemaps indexed by Google, Bing, and other search engines. @LucaFumis, can you please update the [/sitemap directory in the webapp codebase](https://github.com/opentargets/webapp/tree/master/app/sitemaps) and use the individual sitemaps found in the zip file below?

**[19_11_release_sitemaps.zip](https://github.com/opentargets/platform/file

[2019-12-03 14:44] eric-czech commented on #765
Makes sense, thanks for the info.

[2019-12-03 14:44] #765 closed

[2019-12-03 15:03] eric-czech opened #788 "data_pipeline branch for the 19.11 release"
Hi, is there a specific branch in data_pipeline that was used to build the 19.11 release?  Based on https://github.com/opentargets/platform/issues/765, it seems like there should be one but I don't see any obvious suspects.  I wanted to run the pipeline locally and to be certain that I'm using the same code that was used for the recent update.  Thanks!

[2019-12-03 18:08] #787 closed

[2019-12-03 18:10] andrewhercules commented on #787
Thank you @LucaFumis! 👍

[2019-12-04 10:35] AsierGonzalez commented on #788
Hi @eric-czech, I believe you should be using [tag 19.11.4](https://github.com/opentargets/data_pipeline/tree/19.11.4) which is also the [latest data-pipeline release](https://github.com/opentargets/data_pipeline/releases/tag/19.11.4). Can you please confirm that this is the case @cmalangone?

[2019-12-04 11:08] cmalangone commented on #788
The releases 19.04, 19.06 and 19.09 used EFO2 ontology meanwhile the master branch was used to develop the new code for using EFO3 ontology
From 19.11, the data release uses only EFO3 so it is not necessary to create a specific branch anymore. Please let me know if you need more details or if you have further questions.

[2019-12-04 11:10] cmalangone commented on #788
@eric-czech: please let me know if I can close this issue.

[2019-12-04 11:17] eric-czech commented on #788
Makes sense, thanks @cmalangone

[2019-12-04 11:17] #788 closed

[2019-12-04 11:31] LucaFumis commented on #772
After discussion it was decided to add the target name instead.
Will update the table with target class and pathways if/when agreed where the info is coming from.

[2019-12-04 15:33] eric-czech opened #789 "UniProt gene resolution error in data_pipeline"
Hi, I noticed that the code in data_pipeline that resolves UniProt ids to Ensembl ids has a bug.  Specifically, I'm referring to [Evidences.py#L232 ](https://github.com/opentargets/data_pipeline/blob/329ff219f9510d137c7609478b05d358c9195579/mrtarget/modules/Evidences.py#L232) in the 19.11 release.  That code references the field 'is_reference' several times but it doesn't appear like that field sh

[2019-12-04 17:24] eric-czech commented on #789
Digging a little more on this, I found something else that was a bit confusing -- unless I'm missing something it looks like the code for doing the UniProt to Ensembl id resolution while processing evidence records is:

From [normalise_target_id](https://github.com/opentargets/data_pipeline/blob/329ff219f9510d137c7609478b05d358c9195579/mrtarget/common/EvidenceString.py#L275):
[code]

That makes se

[2019-12-04 17:38] eric-czech opened #790 "Underlying storage questions in regard to Spark pipelines"
Hey @mkarmona cc: @d0choa (moving this discussion out of email in case it helps others),

I had a quick and hopefully easy question for you -- I saw in genetics-pipe that all of the inputs to the pipeline come directly from Google Storage, which I'm assuming is fairly straightforward to do given that the GCP Connector for Spark is already installed on Dataproc clusters.  How do you test those pipe

[2019-12-05 10:03] mkarmona commented on #790
@eric-czech thanks for your questions! Regarding genetics-pipe, it makes use of all files from GCS. We offer some buckets as paywalled so you can copy to your bucket and then work from there. If you rather prefer getting the whole data then you can download freely from the [public FTP from EMBL-EBI](ftp://ftp.ebi.ac.uk/pub/databases/opentargets/)
Trying to answer your second question, the Platform

[2019-12-05 12:31] eric-czech commented on #790
Thanks @mkarmona ,

I get that the gzip files will all be read individually on one worker since they can't be split, so I didn't have any plans to try to work around that other than distributing the reading of the files for each source.  What I'm stuck on though is how do you do the "load all files by string glob" part?  I can't just point spark at the http links (or gs:// links unless running it

[2019-12-05 14:46] LucaFumis commented on #773
Just a note, as I had a quick look at this, thinking it was a simple cosmetic change.
It seems that for the max clinical trial phase we should update the API:
the production API drug endpoint `private/drug/ID` now has a new `indications` field. This will have to be added to our Graphql API; there is a comment in LinkedDisease.js

[2019-12-05 16:00] AsierGonzalez opened #791 "Inaccurate condition in drugs against side effects of cancer treatments"
An IDG member reported that the the evidence we have for the [association between HTR2A and cancer based on ChEMBL data](https://www.targetvalidation.org/evidence/ENSG00000102468/EFO_0000311?view=sec:known_drug) is inaccurate. The issue is caused by "cancer" being the condition reported in clinical trials for drugs used to reduce the side effects of cancer treatments.

The table below lists the cl

[2019-12-06 12:07] andrewhercules commented on #750
Issue closed as LINK has been rerun with EFO3 and bug identified by back-end team limiting the amount of data loaded into ElasticSearch has [been resolved](https://github.com/opentargets/library-beam/commits/master)

[2019-12-06 12:07] #750 closed

[2019-12-06 13:07] AsierGonzalez commented on #757
The ECO ES index seems to be fine since SO_0001060 is in there. I wonder if the source of the issue is that this is the root term of the SO ontology and that breaks something in the pipeline. @mkarmona or @cmalangone, could you please have a look?

<img width="1354" alt="Screenshot 2019-12-06 at 13 07 00" src="https://user-images.githubusercontent.com/11410715/70325185-5b237e80-1829-11ea-9c31-6a54

[2019-12-06 14:41] peatroot commented on #755
I've added columns for small molecule and antibody tractability on the classic disease associations page ([see example](https://platform-app.netlify.com/disease/EFO_0000384/classic-associations)).

The current scoring system (which should probably be discussed) that generates the green colours:
* takes the checked buckets per target (a boolean array, sorted by decreasing reliableness as tractabili

[2019-12-06 14:43] peatroot commented on #760
Implemented for the classic associations ([see example](https://platform-app.netlify.com/disease/EFO_0000384/classic-associations)):

<img width="1487" alt="Screenshot 2019-12-06 at 14 32 59" src="https://user-images.githubusercontent.com/7376272/70331077-a6905980-1836-11ea-8050-6a0316fd45a3.png">

[2019-12-06 14:44] peatroot commented on #438
No longer relevant.

[2019-12-06 14:44] #438 closed

[2019-12-09 12:02] Docproc opened #792 "Web app build instructions are incomplete / out of date"
The README for the web app at https://github.com/opentargets/webapp is not sufficient to build a working version of the web app on a non-Netlify platform. Specific versions of tools such as yarn, npm etc are required but not documented.

[2019-12-09 15:32] AsierGonzalez commented on #791
clinicaltrials.gov have responded that the clinical trials information is the responsibility of the sponsors/submitters, so changing the original data would be hard work if not impossible. Therefore, the solution will be for ChEMBL to fix the issues we identify.

[2019-12-09 15:33] AsierGonzalez commented on #791
These cases should be fixed in the next release, I leave the ticket open until we receive the next ChEMBL submission to check that it's fixed

[2019-12-09 17:12] andrewhercules opened #793 "Update logic that generates HTML <link rel="canonical" ...> meta tag"
Currently, the [controllers.js file](https://github.com/opentargets/webapp/blob/master/app/src/js/controllers.js) is responsible for setting the `<link rel="canonical href="...">` metatag.

However, there are cases where the `href` value that is set is incorrect. For example, on [the drug profile page for Mitoxantrone](https://www.targetvalidation.org/summary?drug=CHEMBL58), the `href` value is se

[2019-12-10 14:22] Docproc commented on #792
The above PR should address this issue.

[2019-12-10 18:01] eric-czech commented on #790
Hey @mkarmona ,

As far as an initial proposal goes, here are some of my thoughts after spending more time understanding genetics-pipe as well as data_pipeline, and beginning to work through some of the raw evidence processing:

- In general, I was adopting the large majority of the practices in genetics-pipe and not veering too far from that style, namely via:
   - pureconfig over HOCON config fi

[2019-12-11 14:54] #792 closed

[2019-12-11 15:42] PruMM opened #794 "Missing Gene Ontology annotations for noncoding RNA (Obtain from QuickGO or RNA central)"
We are missing GO annotations to RNA

2 good sources of RNA GO annotations are
1- The EBI maintained QuickGO website (https://www.ebi.ac.uk/QuickGO/)
2- RNAcentral (https://rnacentral.org/).

An example being Malat1 where
The Open Targets Platform has an entry for MALAT1 and no available GO annotations in the platform (https://www.targetvalidation.org/target/ENSG00000251562).
2- UniProt does not h

[2019-12-11 15:52] LucaFumis commented on #792
I unintentionally closed this when merging I believe. Please reopen if documentation is still work in progress.

[2019-12-11 17:43] d0choa commented on #793
As discussed in FE meeting today, this is part of a much bigger analysis on our SEO. @andrewhercules will look into this in more detail and create the appropriate actions

[2019-12-11 17:43] #793 closed

[2019-12-11 17:49] d0choa commented on #794
Positive enhancement on the annotation of RNA targets. We'll eventually allocate appropriate resources. Not a short term priority unfortunately.

[2019-12-16 15:26] d0choa commented on #760
I've gone with @andrewhercules through some of the pending things:
- [ ] Add slider for bubbles and graph view that defaults to showing associations over 0.1
- [ ] Bubbles/Graph views: when a user selects a TA only show that TA (similar to current production), rather than showing the other TAs that diseases may appear in
- [ ] Table view: when a user hovers over a disease name (with ellipsis) or g

[2019-12-17 14:57] eric-czech commented on #789
As an update on this, it is resulting in the loss of 484 gwas_catalog genetic_association evidence records (as of the 19.11 release) all of which could be integrated if the UniProt -> Non-reference -> Ensembl ID translation was working correctly.  It is not affecting any other sources though.

[2019-12-19 14:49] eric-czech opened #795 "Expression Atlas and PheWAS Catalog unique association fields misspecified"
Hi, I noticed that the unique_association_fields for expression_atlas and phewas_catalog seem to be too general in some cases, which is leading to a good number of records being lost.

For some context, I found this when I realized that the [hash-based id assignment](https://github.com/opentargets/data_pipeline/blob/329ff219f9510d137c7609478b05d358c9195579/mrtarget/modules/Evidences.py#L190) was a

[2019-12-19 15:01] d0choa commented on #795
Thanks @eric-czech. @MichaelaEBI went recently through a review of the unique association fields and she spotted these and similar issues.

You can find a summary of the findings here:
https://docs.google.com/spreadsheets/d/1yo2_cW__upXmQfQp1CiGwJqnO611WvzjBTTMH4-9JNI/edit?usp=sharing

We need to work on this and also work with data providers on standardising the way they submit different fields (

[2019-12-19 15:01] AsierGonzalez commented on #795
Hi @eric-czech, thank you for reporting the issues you find with our data. Last summer we reviewed the unique association fields from the different data sources and we identified some issues . For example,we were aware of the issue with gene expression data, which only affects contrasts with more than one diseases. You will see that all the duplicated strings come from the same `"'cystic fibrosis

[2019-12-19 15:05] AsierGonzalez commented on #795
Just to add that the issue with expression data has been discussed with the Atlas team and it should be solved in the next release. It only affects comparisons with multiple diseases and at the moment there is only on such case, `"'cystic fibrosis and chronic rhinosinusitis' vs 'normal'"`.

[2019-12-19 20:07] eric-czech commented on #795
Thanks guys, that makes sense on the expression data.  For PheWAS though, is that what "NEEDS TARGET" in the spreadsheet means -- that target_id should be added to the unique_association_fields?  I was curious if the fix is that simple or if there's more to it.

[2019-12-19 21:53] AsierGonzalez commented on #795
That is what it means, what we don't know is whether that would fix the issue completely.

[2019-12-24 11:23] LucaFumis commented on #772
This has been merged - closing.

[2019-12-24 11:32] LucaFumis commented on #773
Fixed as PRs have been merged:
https://github.com/opentargets/platform-api/pull/51
https://github.com/opentargets/platform-app/pull/118

[2019-12-24 11:33] #786 closed

[2019-12-24 11:33] #773 closed

[2019-12-24 11:33] #772 closed

[2020-01-02 10:53] andrewhercules opened #796 "Remove google-site-verification <meta> tag from webapp"
In the [index-tmpl.html file](https://github.com/opentargets/webapp/blob/407aa27d889d02cdcc38b643cd8d7f769f9117db/app/index-tmpl.html#L9) of the webapp, we have a `<meta>` tag that was added to verify ownership of targetvalidation.org with Google Webmaster Central.

The tag uses details assigned to Gareth's personal email account - hidden with ***** for privacy reasons.

![Screenshot 2020-01-02 at

[2020-01-02 11:38] andrewhercules opened #797 "Update sitemaps with data from 20.02 release"
- [x] Update [sitemap generation script](https://github.com/andrewhercules/ot-data-utils/tree/master/xml-sitemap-generator) to use [gene and disease lists](https://www.targetvalidation.org/downloads/data) available for download
- [x] Create updated  sitemaps using 20.02 release data
- [x] Upload new sitemaps to [the webapp /sitemaps directory ](https://github.com/opentargets/webapp/tree/master/app

[2020-01-02 16:05] LucaFumis commented on #670
Closing issue as work has been completed and merged.

[2020-01-02 16:05] #670 closed

[2020-01-03 17:02] andrewhercules opened #798 "Update explanatory text layout in Pharmacovigilance section"
In the React rewrite version of the drug summary page (e.g. [Acetaminophen - CHEMBL112](https://platform-app.netlify.com/drug/CHEMBL112)), the text in the Pharmacovigilance appears in the detail view, rather than in the heading/subheading section (see below for an example)

![Screenshot 2020-01-03 at 16 52 16](https://user-images.githubusercontent.com/7490258/71736688-a1c8c080-2e49-11ea-989a-dac96

[2020-01-03 17:08] andrewhercules opened #799 "Add line break to Therapeutic Areas column in disease table"
The API now exposes the therapeutic area of diseases indicated for a given drug.

Can we please either add line breaks or make the list of therapeutic areas a bulleted list so that users can easily distinguish between each therapeutic area?

For example, in the table seen below, in the `chronic myelogenous leukemia` row, it is difficult to see that there are 5 different therapeutic areas as some o

[2020-01-06 10:33] andrewhercules opened #800 "Add Netlify and Browserstack logos to About page in Angular webapp"
To ensure that we can continue to access the open source plans offered by Netlify and Browserstack, we should display their relevant logo badges and links.

After discussions with @d0choa, it was decided the best place for the logo badges and links is a technology-focussed section on [the About page](https://www.targetvalidation.org/about).

As such, can we please update [the About page HTML code]

[2020-01-06 11:00] cmalangone commented on #776
The file normal_tissue should copied as zip file.
Removed from the config file section the option
unzip_file: true

[2020-01-06 11:00] #776 closed

[2020-01-06 15:21] eric-czech opened #801 "UniProt Gene Association Issue"
I noticed recently that evidence records are dropped (@[data_pipeline/LookupTables.py#L114](https://github.com/opentargets/data_pipeline/blob/f4c9886b9b9613d3dbc309b6fa0f88145254431a/mrtarget/common/LookupTables.py#L114)) if the target id is a UniProt accession related to multiple ensembl genes.  Was there a specific reason for that?

For example, [SMN1](https://useast.ensembl.org/Homo_sapiens/Gen

[2020-01-06 16:01] d0choa commented on #801
I agree with you that we should rescue the aforementioned evidence. Ignoring the one-2-many relationships is an oversimplification. @cmalangone can you have a look?

[2020-01-07 09:31] #2336 closed

[2020-01-07 11:29] cmalangone commented on #801
The evidences are created properly. During the step of validation these evidences are excluded and stored in the invalid-evidence index. https://github.com/opentargets/data_pipeline/blob/f4c9886b9b9613d3dbc309b6fa0f88145254431a/mrtarget/modules/Evidences.py#L234
The index invalid-evidence index showed us the list of evidences that @eric-czech mentioned above.
(strings with the explanation Multiple

[2020-01-07 13:11] d0choa commented on #801
The conclusion is that the one-2-one assumption was made when the pipeline was developed as a simplification.

The truth is that biologically speaking it would be more correct to do a one-2-many mapping and duplicate the evidence for every Ensembl ID. @AsierGonzalez has looked at what's the cause of the one-2-many relationships and it seems they are mostly caused by gene paralogs encoding very sim

[2020-01-07 14:45] eric-czech commented on #801
Thanks for the update guys!  Happy to help.

[2020-01-07 15:41] AsierGonzalez commented on #801
Hi, this is a summary of what I have found looking into the [19.11 target file](https://storage.googleapis.com/open-targets-data-releases/19.11/output/19.11_target_list.csv.gz):

- General target stats:

| Targets | Targets with UniProt mapping  | Unique UniProt accessions | Duplicate Uniprot accessions | Duplicate primary UniProt accessions |
| :---: | :---: | :---: | :---: | :---: |
| 60,564 | 2

[2020-01-07 17:12] andrewhercules opened #802 "Source and confirm most recent ChEMBL-DrugBank mapping file"
To ensure that as many DrugBank IDs as possible are available on the drug summary page, we need to update the ChEMBL-DrugBank mapping file that the platform-input-support script uses.

- [x] Confirm with ChEMBL that most recent UniChem ChEMBL-DrugBank mapping file is available on the UniChem FTP site
- [x] Download most recent ChEMBL-DrugBank mapping file and upload to otar001-core Google bucket
-

[2020-01-09 10:38] AsierGonzalez commented on #737
This is probably related to #801 as it is caused by two genes being annotated with the same UniProt  id. Assigning @cmalangone to it.

[2020-01-09 10:45] AsierGonzalez opened #803 "Incorrect gene symbol suggestion for MLL"
Both the platform search and the batch search suggest that `MLL` is `SEPTIN9` when based [on the synonyms](https://www.targetvalidation.org/target/ENSG00000118058) and [HGNC](https://www.genenames.org/tools/search/#!/all?query=mll) it seems it should be `KMT2A`. According to @mkarmona, "it seems search is not working properly. it should weight more synonyms as MLL is one of those. the moment searc

[2020-01-09 11:25] #2409 closed

[2020-01-09 14:15] d0choa commented on #803
It's important to get it right in the new search API. This is the current result.

![Screenshot 2020-01-09 at 14 09 12](https://user-images.githubusercontent.com/5097586/72074723-58192380-32ea-11ea-8283-2a8fa9270f2c.png)

Thanks to @mirandaio for the screenshot

[2020-01-14 17:13] andrewhercules opened #804 "Confirmed 20.02 release schedule"
The 20.02 release schedule has been confirmed after review and comments from our data providers - see below:

![Screenshot 2020-01-14 at 17 11 19](https://user-images.githubusercontent.com/7490258/72365871-01985480-36f1-11ea-8c33-ad21306e89b6.png)

For more information, please see the [full release schedule on Core Platform Team Google Drive](https://docs.google.com/spreadsheets/d/1Zu_oDh7v2ZUV8i5

[2020-01-14 17:16] deniseOme commented on #802
Thanks @andrewhercules for turning my observation/finding into a ticket.

<img width="366" alt="Screen Shot 2020-01-14 at 17 15 57" src="https://user-images.githubusercontent.com/6472381/72366128-93a05d00-36f1-11ea-97ef-5e01b130e157.png">

[2020-01-14 17:17] #804 closed

[2020-01-14 17:22] deniseOme opened #805 "target.csv files are corrupted in 19.09 and 19.11 downloads page"
Since 19.09 we provide two additional files in the Downloads page (in addition to evidence and association JSON files). These are disease.csv and target.csv.

Target.csv is corrupted is both 19.09 and 19.11 and it can't be opened.

<img width="403" alt="Screen Shot 2020-01-14 at 17 10 13" src="https://user-images.githubusercontent.com/6472381/72366364-07db0080-36f2-11ea-87a2-f2942fe723f9.png">

<i

[2020-01-14 17:30] deniseOme opened #806 "README or column header for disease.csv in the downloads page?"
One user has inquired what the columns mean in the diseases.csv file.

From the JSON file (disease.json), we can deduct that the 3 columns mean:

* EFO ID
*  Disease full name
*  Number of associations

Can we add this information somewhere to the csv file or elsewhere.

Worth considering this in the rewrite for the Data Downloads page, assuming it will be different from what it is now.

[2020-01-14 18:00] d0choa commented on #805
I can confirm the files are not corrupted.

Depending on your browser/OS the files might be download in different ways. For instance, Safari downloads and uncompresses the files automatically, whereas Chrome downloads the file but doesn't uncompress it.

When you use the `Archive Utility` to uncompress the `.gz` file in macOS Catalina it throws the above error. However, it works in previous macOS

[2020-01-15 10:38] andrewhercules opened #807 "Provide Project Score ID in GraphQL API"
In the 19.11 release, @LucaFumis updated the logic that constructs a link to the Project Score website based on a bug (#782) reported by @PruMM.

I have contacted the Project Score team and they have provided us with a link to a file that maps Ensembl IDs to the Project Score IDs, which we use to construct links on the target profile page.

https://cog.sanger.ac.uk/cmp/download/gene_identifiers_la

[2020-01-15 11:36] #2330 closed

[2020-01-16 13:35] AsierGonzalez commented on #807
Do we know how we should use this file? I see that Project Score ID (`gene_id`) and Ensembl id (`ensembl_gene_id`) are two of the columns of the file but I have found two issues after a quick look:

1. 5,026 out of the 42,476 rows have an empty `ensembl_gene_id`
2. Not all of the Project Score ids have a valid page in their website, e.g. [SIDG23930-PARP1](https://score.depmap.sanger.ac.uk/gene/SID

[2020-01-16 14:16] #2333 closed, assigned to mkarmona

[2020-01-16 15:09] cmalangone opened #808 "Release 20.02 [Back End]"
For 20.02:
Change the mrtarget.conf file
*) New EFO file
*) Json Schema

[2020-01-16 16:41] d0choa commented on #807
According to @AsierGonzalez comment, we will need an extra column referencing whether they have data in ProjectScore or not. PARP1 is a good example of an available mapping with no page available.

[2020-01-17 09:27] AsierGonzalez commented on #426
This is related to the work that @DSuveges is doing to integrate the locus2gene score, so I assign it to him.

[2020-01-17 12:49] AsierGonzalez opened #809 "Variant type for small Multiple Nucleotide Variants required"
In the 19.11 and 20.02 UniProt evidence file submissions there are seven invalid evidence strings because their variant type is "snp multiple", which is not one of the accepted values by the JSON schema (valid options are "snp single", "snp snp interaction" and "structural variant"):

[code]
According to Andrew Nightingale from UniProt, there was a discussion back in 2017 and someone in OT told th

[2020-01-17 13:03] iandunham commented on #809
Indels are a separate type to snp_multiple or MNV. Do we have a variant type of indels? we should.

This is the first I have heard about the MNVs although obviously they are theoretically feasible. One would normally think of this as two haplotypes each comprising 3 SNPs. The haplotype approach is flexible as it can allow alternate configurations as well. However if dbSNP allows this type of varia

[2020-01-20 13:10] AsierGonzalez opened #810 "Text mining evidence strings missing due to incomplete target dictionary"
After the 19.11 release it was discovered that although the number of evidence strings had increased when compared to previous releases, some of them had gone missing. For example, the table below summarises the number of evidence strings from article [16207355](http://europepmc.org/article/MED/16207355) between the 19.06 and 19.11 releases:

| EPMC file version | Number of evidence strings |
| --

[2020-01-20 14:48] AsierGonzalez opened #811 "Review COSMIC evidence"
The maximum value of the association score of COSMIC and other somatic_mutation datasources is ~ 0.55 even when the evidence score is 1:

![image](https://user-images.githubusercontent.com/11410715/72734726-3b0a0d80-3b92-11ea-846b-420a672ff414.png)

This is caused by the normalisation of a frequency value calculated from the evidence strings (f) that converts f=1 into 0.55, that is, _normalisation

[2020-01-20 14:52] AsierGonzalez commented on #811
Arguments in favour of removing the frequency normalisation (by @d0choa):

[2020-01-20 14:55] AsierGonzalez commented on #811
Arguments in favour of keeping the frequency normalisation (by @iandunham):

[2020-01-20 17:50] AsierGonzalez commented on #811
COSMIC/CGC scoring explained by Zbyslaw:

A base association score 0.5 is given to all mutations detected in the Cancer Gene Census Genes

• A significant result of each of the two tests (fdr < 0.025) adds 0.25 to the score. E.g. one test positive => score = 0.75, two tests positive => score = 1

• If the gene belongs to Tier 2, score = 0.5 regardless of test results

• If the gene is known to dri

[2020-01-20 18:19] hammer commented on #426
@DSuveges we'd love to help out with this project, or at the least do code reviews! Please let us know if you have any interest in working together.

[2020-01-21 09:19] DSuveges commented on #426
Hi @hammer, we are currently exploring the possibilities on how to source GWAS associations from the Genetics portal, and what the impact on the predicted disease/target associations would be on the Platform. So at this point we not yet there to change the pipeline, but will let you know for sure! Thanks for your help in advance.

[2020-01-21 12:21] deniseOme opened #812 "activity URL in evidence page leading to a deprecated page"
In the [Crohn’s disease-NOS2 evidence](https://www.targetvalidation.org/evidence/ENSG00000007171/EFO_0000384) page, under RNA expression, when filtering to see evidence from "RNA-Seq data only", we get this table where the hyperlinked "increased" leads to a deprecated page.

![Screen Shot 2020-01-21 at 11 57 12](https://user-images.githubusercontent.com/6472381/72804288-0193d980-3c48-11ea-85d5-012

[2020-01-21 13:18] deniseOme commented on #812
According to @AsierGonzalez some RNA-seq experiments may not have an ArrayExpress page. That'd explain the deprecated page.

![Screen Shot 2020-01-21 at 13 17 39](https://user-images.githubusercontent.com/6472381/72807968-7408b780-3c50-11ea-9708-fe4a0b0e11e9.png)

At least we know the reason for the observed behaviour if users come across this as well.

[2020-01-21 13:26] deniseOme commented on #812
on the same evidence page, as I user I’d expect the “Experiment overview and data" column to take me to different pages in Expression Atlas rather than taking me to the same page regardless the experiment used as evidence i.e. it takes us to the gene page in Expression Atlas.

For the Crohn's-NOS2 example above the hyperlinked sentence "RNA-seq of 359 treatment-naive pediatric patients with Crohn'

[2020-01-23 11:34] AsierGonzalez commented on #812
The links in the "Activity" and "Experiment overview and data" columns are built using the urls in the evidence section of the API response. For example, for the [ENSG00000007171-EFO_0000384 association](https://platform-api.opentargets.io/v3/platform/public/evidence/filter?size=1000&datasource=expression_atlas&fields=disease&fields=evidence&fields=target&fields=access_level&target=ENSG00000007171

[2020-01-23 14:26] mkarmona commented on #803
@d0choa @AsierGonzalez this is something that is fixed for the rewrite

[2020-01-23 15:02] d0choa commented on #803
It's not a priority to enhance search in the angular app, so I consider this sorted.

[2020-01-23 15:02] #803 closed

[2020-01-23 15:20] andrewhercules commented on #715
Closing this ticket as the [pull request](https://github.com/opentargets/evidence_datasource_parsers/pull/30) has been merged and closed

[2020-01-23 15:20] #715 closed

[2020-01-23 15:23] andrewhercules opened #813 "Update intOGen evidence"
In November 2019, the intOGen team [announced their latest release](https://bbglab.irbbarcelona.org/2019/11/our-latest-release-of-intogen-now-available-online/).

For 20.02, we will integrate the update into our pipeline and generate new evidence.

[2020-01-23 15:36] andrewhercules commented on #798
Issue closed as changes have been merged into platform-app

[2020-01-23 15:36] #798 closed

[2020-01-23 15:41] andrewhercules commented on #613
Closing as data is available and used in rewrite version of drug profile page (e.g. [Rofecoxib](https://platform-app.netlify.com/drug/CHEMBL122))

[2020-01-23 15:41] #613 closed

[2020-01-23 15:43] andrewhercules commented on #799
Issue closed as change has been merged into platform-app

[2020-01-23 15:43] #799 closed

[2020-01-23 15:48] andrewhercules opened #814 "Implement pagination in the Pharmacovigilance section"
For some drugs (e.g. [Rofecoxib](https://platform-app.netlify.com/drug/CHEMBL122), [Pembrolizumab](https://platform-app.netlify.com/drug/CHEMBL3137343), [Metformin](https://platform-app.netlify.com/drug/CHEMBL1431), etc.), there are more than 20 entries in the Pharmacovigilance section data table.

![Screenshot 2020-01-23 at 15 45 00](https://user-images.githubusercontent.com/7490258/72999477-5629

[2020-01-23 15:50] andrewhercules commented on #89
@smnorthen, could you please investigate this in relation to EFO3 and decide if it is something we need to pursue or if this issue can be closed?

[2020-01-23 17:18] AsierGonzalez commented on #724
Request to implement filtering in their side sent to Atlas team in November. Issue to be reviewed next time they submit a new file.

[2020-01-24 11:14] smnorthen commented on #89
@andrewhercules
@gkos-bio
From what I can see, there have been multiple discussions between OT, EFO and Mondo regarding this issue. Based on my review of the literature, more of the research seems to point to overlap syndromes being separate clinical entities. Having said that, some experts disagree. Personally, I feel that it would be the safest option to represent these syndromes separate in EFO

[2020-01-24 18:11] d0choa opened #815 "Genetics Portal evidence into Platform"
**Aim**: to import evidence from the OpenTargets Genetics Portal into the OpenTargets Platform

**Context**: With the recent inclusion of the locus-2-gene (L2G) score, the genetics portal provides now a link to the most likely causal targets for a particular GWAS signal. The L2G score bridges the gap necessary to build OT platform evidence for target-disease prioritisation by combining multiple fe

[2020-01-26 18:55] gokceneraslan opened #2339 "Making "Overall V2G" scores more accessible"

[2020-01-27 12:28] d0choa opened #816 "Adapt Platform FE to upcoming Genetics Portal data"
Front-end changes necessary to allocate the Genetics Portal data in the Platform
Details TBC.

[2020-01-27 12:49] d0choa opened #817 "Create Genetics Portal evidence file"
The new evidence requirements:
- definition described in the Epic ([#815](https://github.com/opentargets/platform/issues/815))
- compatible with previous GWAS catalog evidence
- provide necessary fields for FE ([#816](https://github.com/opentargets/platform/issues/816))

Code to be developed in [evidence_datasource_parsers](https://github.com/opentargets/evidence_datasource_parsers) repo

A random

[2020-01-27 12:59] d0choa opened #818 "Prepare pipeline to include new Genetics Portal evidence"
The pipeline requires some changes to include the new Portal evidence (e.g. datasource weights).

More details TBC

[2020-01-27 13:49] d0choa opened #819 "Platform GWAS from Genetics Portal Gitbook docs"
This ticket is aimed to cover the Gitbook documentation.

[2020-01-27 15:13] d0choa opened #820 "Filter Genetics Portal Studies from GWAS catalog evidence"
Evidence from studies included in the Genetics Portal will from be removed from the GWAS catalog evidence feed.

[2020-01-27 21:15] hammer commented on #815
@d0choa :wave: let us know if we can help cc @eric-czech

[2020-01-27 21:35] hammer opened #821 "Upstream related-sciences/platform-pipe"
As discussed over email with @d0choa and @mkarmona, we would love to see the code @eric-czech has written in [related-sciences/platform-pipe](https://github.com/related-sciences/platform-pipe) make its way into a repo managed by the Open Targets team, and to be used in the production of Open Targets releases.

Let's discuss where this code should land and how to get it into shape for production he

[2020-01-28 12:26] d0choa opened #822 "New Search GraphQL endpoint"
This task has been completed. This ticket is just for future reference.

TODO: Include agreed schema

[2020-01-28 12:26] #822 closed

[2020-01-28 12:31] d0choa opened #823 "Improve Search Engine (Rewrite)"
Enrich the new Search results:
- [x] Promote exact synonyms (e.g. MLL)
- [x] Use MoA (targets) or trial data (diseases) to find entities related with drugs
- [x] Ensure that associations are used for targets/diseases
- [x] Explore the viability of `search highlights` as implemented in previous API
- [x] Confirm the availability of AND, OR, NOT logic
...

[2020-01-28 12:34] d0choa commented on #75
#822 and #823 supersede this ticket

[2020-01-28 12:34] #75 closed

[2020-01-28 12:37] d0choa commented on #99
To be evaluated, when #823 is done

[2020-01-28 12:38] d0choa commented on #823
As referenced, we should evaluate if the new search solves the problem suggested in #99

[2020-01-28 12:46] d0choa commented on #823
@mkarmona we need a confirmation that `search highlights` are off the table for version 1.
I closed the related ticket #777 as no work is expected for the angular app.

[2020-01-28 12:50] d0choa commented on #777
No work is planned in the angular app.
Further work on search highlights will be discussed on #823.

[2020-01-28 12:50] #777 closed

[2020-01-28 12:55] d0choa commented on #106
This level of advanced search query is under consideration for the new search API #823

[2020-01-28 12:55] #106 closed

[2020-01-28 13:02] #432 closed

[2020-01-28 13:02] d0choa commented on #432
This problem doesn't apply anymore

[2020-01-28 13:07] andrewhercules commented on #418
Ticket closed as work will be addressed in rewrite project

[2020-01-28 13:07] #418 closed

[2020-01-28 15:01] #187 closed

[2020-01-28 15:14] #698 closed

[2020-01-28 15:18] #579 closed

[2020-01-28 15:18] d0choa commented on #579
Resolved since 19.11

[2020-01-28 15:23] d0choa commented on #137
Closing as no action is expected in the angular app

[2020-01-28 15:23] #137 closed

[2020-01-28 15:28] d0choa commented on #41
gnomAD data is currently available in the Genetics Portal and we'll work to expand our rare variation data from it.
No action is expected in the short term related to exac/gnomad and EVA

[2020-01-28 15:28] #41 closed

[2020-01-28 15:31] d0choa commented on #601
Still under investigation. Closing as duplicated from #127

[2020-01-28 15:31] #601 closed

[2020-01-28 15:41] #707 closed

[2020-01-28 15:42] d0choa commented on #811
For reference, last update of COSMIC evidence was done in #707

[2020-01-28 15:45] andrewhercules commented on #816
I have created an iInitial mockup of the [Genetic Associations (Common Diseases) data table](https://docs.google.com/presentation/d/1qzbY5xCn6ut_XO-OFE0o58xZPurdqMeHCtf7LtRP8QI) and it is available on the team Google Drive.

Based on a preliminary review by @DSuveges, @d0choa, and @edm1, a few questions remain open for discussion:

1. Can we obtain the reported trait information for GWAS Catalog a

[2020-01-28 15:56] #227 closed

[2020-01-28 15:56] d0choa commented on #227
Closed because of inactivity.

[2020-01-28 16:00] #37 closed

[2020-01-28 16:00] d0choa commented on #37
Closing as not actionable. Animal models to be reviewed in the future

[2020-01-28 16:07] d0choa commented on #147
Whereas the score displayed in the UI is capped to 1, the truth is that the underlying score might go above that number. In the above example, BRCA2 might have an harmonic sum of 1.5, whereas BRCA1 might have a score of 1.2. Both are displayed as a score of 1, but the underlying score is used for sorting.

This behaviour is not ideal as it's very opaque for users. For this reason, the new associat

[2020-01-28 16:07] #147 closed

[2020-01-28 16:39] d0choa commented on #213
While information content might be low, it's useful for some of our applications such as search.
Some problems still arise from MONDO synonyms. These days, they very often contain other diseases in the ontology.

I'm closing as it doesn't seem to introduce any particular challenges in our side

[2020-01-28 16:39] #213 closed

[2020-01-28 17:22] d0choa commented on #426
SNP2GENE won't be replaced by the Genetics Portal as suggested by this ticket. While the Genetics Portal will use the more sophisticated Locus2Gene scoring to find causal genes, some of our evidence (e.g. GWAScatalog, EVA/Clinvar) will still require a more traditional approach.

Progress detailed in #815 Epic

[2020-01-28 17:22] #426 closed

[2020-01-28 17:33] d0choa commented on #457
Work complete as part of EFO3 migration finished in 19.11

[2020-01-28 17:33] #457 closed

[2020-01-28 17:39] d0choa commented on #576
We should be now using EFO3 in the `evidence_datasource_parsers` settings. It's still using an outdated EFO2 version

[2020-01-28 17:45] d0choa commented on #817
Keep in mind the evidence_datasources_repo is using an old EFO file (#576). Although, not relevant for this task, we will need to eventually update it.

[2020-01-28 17:47] d0choa commented on #805
@mkarmona reports the files have no issue and points to a problem with the `Archive Utility`.

[2020-01-28 17:47] #805 closed

[2020-01-28 18:01] d0choa commented on #737
Closing as duplicate of #801

[2020-01-28 18:01] #737 closed

[2020-01-28 18:05] mkarmona commented on #805
this command works `zcat 19.11_target_list.csv | csvcut -H -c a | less` and I can see the output

![Captura de pantalla de 2020-01-28 18-01-42](https://user-images.githubusercontent.com/5394232/73291761-bace5280-41f8-11ea-80fa-a2482bab8ee3.png)

[2020-01-28 18:11] d0choa commented on #420
@smnorthen has done some progress curating some extra mappings.

[2020-01-28 18:19] #424 closed

[2020-01-28 18:22] d0choa commented on #696
Duplicated as work is undergoing in #801

[2020-01-28 18:22] #696 closed

[2020-01-28 18:25] d0choa commented on #711
This item is in the agenda of the OTAR2-056. We'll keep an eye on their progress. Closing

[2020-01-28 18:25] #711 closed

[2020-01-29 08:46] smnorthen commented on #420
Review includes check of matches (of which some have changed) and fuzzy matches. Some PheWAS mappings with multiple medical concepts in a single term will need to receive 2 or more EFO IDs to account for the multiple disease concept. Some new EFO disease terms will need to be added to the ontology as discussed with the SPOT team.

[2020-01-29 09:46] d0choa commented on #89
Thanks @smnorthen.

[2020-01-29 09:46] #89 closed

[2020-01-29 09:53] mkarmona commented on #778
@deniseOme this should fix this and any other possible same problem. If you catch any other typo please reopen it and highlight the character that causes the typo

[code]

[2020-01-29 09:54] #778 closed

[2020-01-29 09:59] #755 closed

[2020-01-29 14:50] d0choa opened #824 "Review PheWAS evidence"
The current PheWAS evidence in the platform is based on the PheWAS catalog (2012).

This epic focuses on a comprehensive review of the datasource as well as to explore the viability of a Genetics Portal generated PheWAS evidence.

[2020-01-29 15:06] d0choa commented on #421
Closed as duplicate #824

[2020-01-29 15:06] #421 closed

[2020-01-29 15:25] d0choa opened #825 "Review GE PanelApp evidence"
A more detailed review of the Genomics England evidence is necessary. Several improvements have been identified.

[2020-01-29 15:46] d0choa commented on #434
@DSuveges will investigate whether the new `mantissa` and `exponent` can be used in the generation of the score. It's unlikely to have any effect in the scoring as all low p-values might be outside the range that the 0-1 scores cover.

I will create a separate ticket for FE to use the `mantissa` and `exponent` to build the p-value instead of using the `value` field.

[2020-01-29 15:51] d0choa opened #826 "Apps to use mantissa and exponent to build GWAS catalog p-values"
FE to use the `mantissa` and `exponent` to build the p-value instead of using the `value` field.

This change will require to be implemented in the current production versions:
- [ ] Angular app
- [ ] React app

[2020-01-29 15:53] d0choa commented on #103
No work is expected in this ticket for the current API

[2020-01-29 15:53] #103 closed

[2020-01-29 17:24] #790 closed

[2020-01-29 17:26] #716 closed

[2020-01-29 17:27] d0choa commented on #806
Related to #774

[2020-01-29 17:31] d0choa commented on #596
Not able to reproduce. Probably fixed by ProtVista team

[2020-01-29 17:31] #596 closed

[2020-01-29 17:33] d0choa commented on #178
No work is expected in current API to address this issue

[2020-01-29 17:33] #178 closed

[2020-01-29 17:35] d0choa commented on #708
The actions for this ticket are completed. Future exploration on reaction_id versus pathway_id will be address in a different ticket

[2020-01-29 17:35] #708 closed

[2020-01-29 17:37] d0choa commented on #692
Most of this task is been addressed as part of the pipeline refactoring. Closing for simplicity

[2020-01-29 17:37] #692 closed

[2020-01-29 17:38] #634 closed

[2020-01-29 17:42] d0choa commented on #216
Closing as the new graphQL API will provide a new set of agreed fields

[2020-01-29 17:42] #216 closed

[2020-01-29 17:42] d0choa commented on #215
Closing as the new graphQL API will provide a new set of agreed fields

[2020-01-29 17:42] #215 closed

[2020-01-29 17:48] d0choa commented on #284
This is part of a bigger task that will imply establishing data submission guidelines for literature references. The issue is still valid but closing this ticket for tracking purposes

[2020-01-29 17:48] #284 closed

[2020-01-29 17:50] d0choa commented on #455
No action is expected for the REST API. We'll address for the new API currently under development

[2020-01-29 17:50] #455 closed

[2020-01-29 17:56] d0choa commented on #591
This task is mainly complete although some subtasks might still be pending.

The issue to improve our cross-references is not a high priority at the moment. OxO and Zooma from the EBI SPOT team solve part of the issue at the moment. A never ending task is to keep investigating the best way to improve and standardise our phenotype/disease mappings.

[2020-01-29 17:56] #591 closed

[2020-01-29 18:03] d0choa opened #827 "Unique association fields"
Several issues have been identified in the unique association fields that are not yet resolved. This epic lists the main tasks related with this task

[2020-01-29 20:25] d0choa commented on #173
I consider this done for the rewrite as actioned in #553.
Further improvements (such as MalaCards link-outs) will require further investigations

[2020-01-29 20:25] #173 closed

[2020-01-29 20:30] d0choa commented on #541
From our side I consider this completed. MalaCards link-outs remain pending as we have no way to know the landing urls.

We have done our best to provide the lists of targets and diseases, so that others can link to us.

[2020-01-29 20:30] #541 closed

[2020-01-29 20:44] d0choa commented on #17
No action is expected in this ticket as all efforts are focused on the React app

[2020-01-29 20:44] #17 closed

[2020-01-29 20:48] d0choa commented on #20
No actionable ticket. Further work in baseline expression is expected in the near future

[2020-01-29 20:48] #20 closed

[2020-01-29 20:51] d0choa commented on #27
Closing as last update is 1.5 years ago. Reopen if appropriate

[2020-01-29 20:51] #27 closed

[2020-01-29 20:53] d0choa commented on #60
Outdated

[2020-01-29 20:53] #60 closed

[2020-01-29 20:54] #97 closed

[2020-01-29 21:02] d0choa commented on #168
Most recent version of the diagram in #661 resolves this issue

[2020-01-29 21:02] #168 closed

[2020-01-29 21:04] #661 closed

[2020-01-29 21:46] d0choa commented on #393
The mappings file according to `platform-input-support` is in the [expression_hierarchy] repo under the name [map_with_efos.json](https://github.com/opentargets/expression_hierarchy/blob/master/process/map_with_efos.json).

It might require to re-run parts of the code.

[2020-01-30 10:06] DSuveges commented on #434
The evidence score generation is done using the raw p-value as defined in the [EvidenceString.py](https://github.com/opentargets/data_pipeline/blob/d5919fbf1c5552d9af5ff304b8e4758e2bf85356/mrtarget/common/EvidenceString.py#L686) file.

However the script then tries to convert it to the negative logarithm, which is failing when zero as p-value is passed. This `ValueError` is caught and the lowest p

[2020-01-30 10:54] DSuveges commented on #816
Some of these values are not yet exported by the GWAS team, I send an email to them so they can fix their pipeline. The newly added values are:

* For the publication: year, first author
* For the disease: Reported trait
* For variant: Chromosome position annotation for variant

[2020-01-30 12:08] d0choa commented on #194
A new version of this task is under review and we'll described in a separate issue

[2020-01-30 12:08] #194 closed

[2020-01-30 12:13] d0choa commented on #66
This issue is still ongoing and we'll proceed with a fresh start to the problem.
We are working on a system to systematically get metrics for any previous / current / candidate release, that can help to scrutinise the data sanity before and after running the pipeline

[2020-01-30 12:13] #66 closed

[2020-01-30 12:15] d0choa commented on #409
While important, we consider most of our effort should be focused on documenting the next version of the API.

The corresponding ticket will be open when appropriate

[2020-01-30 12:15] #409 closed

[2020-01-30 12:23] d0choa commented on #682
This is a long-standing issue. Certain aggregations in the drug tables introduce certain challenges on the way they are computed in our back-end. We attempted to do aggregations in ES but the performance was poor.

Now, we will revisit this problem from a different angle. Dedicated tickets will be opened

[2020-01-30 12:23] #682 closed

[2020-01-30 12:24] d0choa commented on #469
No action is expected in the current API

[2020-01-30 12:24] #469 closed

[2020-01-30 12:30] d0choa commented on #451
While some of this tasks are still ongoing, they have been reassigned to other epics

[2020-01-30 12:30] #451 closed

[2020-01-30 12:43] d0choa commented on #277
Based on a recent [review of the mappings](https://docs.google.com/spreadsheets/d/1vtDB7reA8-IDcgJSqjoL5e_JkyqY8728XVYnJW-qBj4/edit#gid=0), OnToma is only used by PheWAS catalog. Most of the functionalities included in OnToma are now covered by other services (e.g. oxo, zoom, etc). We identified that OnToma was very useful back in the time but it's probably an extra hassle these days.

[2020-01-30 12:43] #277 closed

[2020-01-30 13:30] d0choa commented on #99
New search API will find riluzole as top hit. We'll explore the performance of the results

[2020-01-30 13:30] #99 closed

[2020-01-30 13:35] d0choa commented on #143
Additional information about how every datasource implements the mapping can be found here:
https://docs.google.com/spreadsheets/d/1vtDB7reA8-IDcgJSqjoL5e_JkyqY8728XVYnJW-qBj4/edit#gid=0

Harmonisation will be part of the new data submission guidelines. We'll generate tickets accordingly

[2020-01-30 13:35] #143 closed

[2020-01-30 13:35] d0choa commented on #446
Additional information about how every datasource implements the mapping can be found here:
https://docs.google.com/spreadsheets/d/1vtDB7reA8-IDcgJSqjoL5e_JkyqY8728XVYnJW-qBj4/edit#gid=0

Harmonisation will be part of the new data submission guidelines. We'll generate tickets accordingly

[2020-01-30 13:35] #446 closed

[2020-01-30 13:47] #2373 closed

[2020-01-30 13:48] #2235 closed

[2020-01-30 13:49] #2484 closed

[2020-01-30 13:56] #2495 closed

[2020-01-30 13:57] #2453 closed

[2020-01-30 15:33] d0choa commented on #376
The gene step rewrite is in the agenda. We'll factor in this feedback at the appropriate time.

[2020-01-30 15:33] #376 closed

[2020-01-30 16:54] #2331 closed, assigned to edm1

[2020-01-30 17:13] edm1 opened #2340 "Backend changes for L2G release"
- [x] The LD table `gs://genetics-portal-data/v2d/200123/ld.parquet` now contains (i) some additional fields; (ii) variants with R2 >= 0.5 (previously R2 >= 0.7). These changes are needed for the L2G prioritisation but are not needed for the gecko/data joining pipe. When you load the data in gecko, you need to `.drop('pics_mu', 'pics_postprob', 'pics_95perc_credset', 'pics_99perc_credset').filter(

[2020-01-30 17:13] d0choa commented on #445
Closing and starting a new ticket on the pipeline refactor where we increase clarity on the task and workload. We'll factor in the contributions from related-sciences

[2020-01-30 17:13] #445 closed

[2020-01-30 17:14] edm1 opened #2341 "Minor FE variant page changes for L2G release"
Variant page:
- [ ] Promoter capture HiC in the V2G table will now come from Jung 2019, not Javierre 2016

[2020-01-30 17:37] d0choa commented on #431
No work expected in this ticket

[2020-01-30 17:37] #431 closed

[2020-01-30 17:38] d0choa commented on #151
All work will be focused on new API

[2020-01-30 17:38] #151 closed

[2020-01-30 17:39] d0choa commented on #219
All work is focused on new API

[2020-01-30 17:39] #219 closed

[2020-01-30 17:40] #638 closed

[2020-01-30 17:40] #640 closed

[2020-01-30 17:41] #693 closed

[2020-01-30 17:42] #502 closed

[2020-01-30 17:44] d0choa commented on #689
This work will be part of the new API

[2020-01-30 17:44] #689 closed

[2020-01-30 17:48] #588 closed

[2020-01-30 17:49] d0choa commented on #145
This should be part of a bigger task to dockerize more of our components.

[2020-01-30 17:49] #145 closed

[2020-01-30 17:53] d0choa commented on #4
@DSuveges we need to make sure that we use the same file for both projects.

[2020-01-30 17:56] d0choa commented on #398
No work expected in this task

[2020-01-30 17:56] #398 closed

[2020-01-30 17:57] #581 closed

[2020-01-30 17:58] d0choa commented on #729
The new API will resolve this issue. No work expected

[2020-01-30 17:58] #729 closed

[2020-01-30 18:01] #95 closed

[2020-01-30 18:08] d0choa commented on #459
All the pipeline currently runs on Python3. It doesn't mean all dependencies meet this criteria

[2020-01-30 18:08] #459 closed

[2020-01-31 10:11] AsierGonzalez commented on #576
PhenoDigm was [upgraded in the `solr_phenodigm_1904` branch to use the latest EFO version for 19.11](https://github.com/opentargets/evidence_datasource_parsers/commit/7a637a6f1b720f251fe0ec57a76cb35780b70d75) following the [advice given by Zoe from SPOT team](https://github.com/EBISPOT/efo/issues/602). The parser completed as expected after the change and the results looked good but a thorough rev

[2020-01-31 10:14] #576 closed

[2020-01-31 10:34] #771 closed

[2020-01-31 10:37] #499 closed

[2020-01-31 14:15] d0choa commented on #560
No immediate work is expected in the REST API

[2020-01-31 14:15] #560 closed

[2020-01-31 14:40] d0choa commented on #4
Related to #390

[2020-01-31 14:40] d0choa commented on #390
Related with #4

[2020-01-31 14:57] #808 closed

[2020-01-31 14:58] #559 closed

[2020-01-31 15:01] #639 closed

[2020-01-31 15:01] d0choa commented on #639
no action expected

[2020-01-31 15:01] #504 closed

[2020-01-31 15:02] d0choa commented on #524
no work is expected in batch search

[2020-01-31 15:02] #524 closed

[2020-01-31 15:03] d0choa commented on #736
Done

[2020-01-31 15:03] #736 closed

[2020-01-31 15:05] d0choa commented on #549
It's part of broader task to keep platform-input-support healthy.

[2020-01-31 15:05] #549 closed

[2020-01-31 15:09] d0choa commented on #485
No action is expected

[2020-01-31 15:09] #485 closed

[2020-01-31 15:22] d0choa commented on #802
@andrewhercules could you double check we can get this file? Now that we have a working drug index in Chembl 26

[2020-01-31 15:26] hammer commented on #702
@d0choa why was this issue closed? The question has still not been answered, as far as I can tell.

[2020-01-31 16:04] andrewhercules commented on #802
@d0choa, CHEMBL have confirmed a new file has been uploaded to [their FTP site](ftp://ftp.ebi.ac.uk/pub/databases/chembl/UniChem/data/wholeSourceMapping/src_id1/) to coincide with the release of CHEMBL26.

I have downloaded the file and compared to the previous file dated 22 October 2019 and there are 767 new entries.

However, the entries that @deniseOme noted were missing - [Atezolizumab (CHEMBL

[2020-01-31 16:04] #802 closed

[2020-01-31 16:20] d0choa commented on #702
Sorry, my fault. I think we all understand the biological background behind this file. Unfortunately, we don't have the code that generated `genes_with_non_reference_ensembl_ids.tsv` in the first place. I would assume, it was retrieved from the Ensembl API / MySQL / Biomart directly. If you visit Ensembl in any of the problematic genes (e.g. [ABCB11](https://www.ensembl.org/Homo_sapiens/Gene/Summa

[2020-01-31 16:28] DSuveges commented on #817
I have a prototype for the genetics platform evidence string. You can take a look at it here: [link](https://jsoneditoronline.org/?id=80128fe932704e058721999144dfd408)

I tried to follow the convention of the gwas catalog evidences, with respect to #815 and #816.

**What is different:**

* Publication link contains publication year and author.
* For non-GWAS Catalog studies, the values for these k

[2020-01-31 16:32] hammer commented on #702
Thanks! Not high priority for us either, I just like fully reproducible data pipelines, as you know, so would like to know how to reproduce these file contents from a public data repository if possible.

[2020-01-31 17:46] d0choa commented on #705
All this work on the GWAS catalog unique associations fields is completed.

[2020-01-31 17:46] #705 closed

[2020-01-31 17:48] #114 closed

[2020-01-31 20:38] #717 closed

[2020-01-31 20:45] #535 closed

[2020-01-31 20:45] d0choa commented on #535
The guidelines for every module are copied into the evidence_datasource_parsers ticket

[2020-02-01 13:01] d0choa commented on #791
The issue is still there in the 20.02 data submission

[2020-02-01 13:34] #383 closed

[2020-02-01 13:34] d0choa commented on #383
All the FE logic will be applied differently in the React rewrite. No action expected in the Angular app

[2020-02-01 13:40] d0choa commented on #487
After the update to EFO3 (19.11), a few datasources can benefit from the extended dictionary of annotations. We covered the most relevant ones and the rest of updates will come as a consequence of updating the corresponding datasources.

[2020-02-01 13:40] #487 closed

[2020-02-01 13:41] d0choa commented on #357
This task is covered by #420

[2020-02-01 13:41] #357 closed

[2020-02-01 13:56] d0choa opened #832 "drug"

[2020-02-01 13:57] d0choa opened #833 "Run adverse event analysis using ChEMBL 26 drugs"

[2020-02-01 13:57] d0choa opened #834 "Populate drug index with ChEMBL 26 data"

[2020-02-01 13:58] d0choa opened #835 "Chembl 26 update"
Several activities are necessary in order to incorporate the new ChEMBL data

[2020-02-01 13:59] #832 closed

[2020-02-01 21:20] #283 closed

[2020-02-01 21:25] #83 closed

[2020-02-03 16:00] andrewhercules opened #836 "Renew Google Cloud Platform commits"
The current commits in Google Cloud Platform expired in January 2020 or were never committed.

To do:

- [x] Create Google Cloud Platform commits for:
`open-targets-eu-dev`
`open-targets-platform`
`open-targets-genetics`

- [x] Assess if commits are needed for:
`open-targets-prod`
`open-targets-library`

- [x] Document commits on team Google Drive

[2020-02-04 09:40] andrewhercules commented on #836
[2020 Google Cloud Commit Documentation](https://docs.google.com/document/d/1FaRp2qMRxcR0MVhJXact53xKeA013gAXCPE6-fm1aLo) is now available on the team Google Drive

[2020-02-04 15:39] andrewhercules opened #837 "Review "Fix the return type for files read from gzip archives" PR in urlzsource repo"
The Hyve have submitted a [pull request (#1) in the `urlzsource`](https://github.com/opentargets/urlzsource/pull/1) repo.

@cmalangone will review the PR and test the changes across repos that use `urlzsource` library once the 20.02 release has been pushed to production.

[2020-02-04 18:16] Sjoerd-van-Hagen commented on #837
Thanks @andrewhercules

[2020-02-05 10:19] andrewhercules commented on #836
Commits have been made for 2020 for:

`open-targets-eu-dev`
`open-targets-platform`
`open-targets-genetics`

There is an existing commit for `open-targets-library` which expires in March 2020 - I have set a reminder a few days before to review and recommit if necessary.

Full details can be found in the [2020 Google Cloud Commit Documentation](https://docs.google.com/document/d/1FaRp2qMRxcR0MVhJXa

[2020-02-05 10:19] #836 closed

[2020-02-05 13:02] d0choa commented on #833
@mkarmona has run the main pipeline and we are missing the critical value calculation. @AsierGonzalez will look into this.

[2020-02-05 16:00] d0choa opened #838 "EFO problem with orphanet diseases: symptoms as parent-child"
EFO3 has currently an issue regarding the Orphanet diseases being children of other terms due to symptoms.
SPOT team has been working in resolving this issue that requires coordination with MONDO since last November.

Once this is resolved on their side, no action will be required in our side

[2020-02-06 11:00] AsierGonzalez commented on #735
The probe number will be removed from the API response. PR https://github.com/opentargets/data_pipeline/pull/557 should fix this.
I will close the ticket after I check that this is the case after the next pipeline run.

[2020-02-06 11:09] AsierGonzalez commented on #583
Manual correction has been repeated for the 20.02 release.

Kirill has been working on a new way to process trinucleotide variants and on re-implementing the variant-to-gene mapping but I need to ask them the status of this work.

[2020-02-06 14:16] mkarmona commented on #801
@eric-czech thank you very much for highlighting this problem. Indeed, this is a bug a bit difficult to correct in the current pipeline so I coded a temporal fix that runs before the associations reach the pipeline. Basically the algo does this

1. build the inversed LUT for each protein accession the corresponding genes
2. if one evidence belonging to the multi-gene case is found then
3. duplicat

[2020-02-06 14:30] AsierGonzalez opened #839 "MoA table of drugs without a MoA keeps loading"
It seems that if the array with the mechanism of action of a drug in the `drug` endpoint is an empty array the `Mechanisms of actio` table in the Open Targets drug page gives the impression of being loading data.

Drug page of [Ifosfamide](https://www.targetvalidation.org/summary?drug=CHEMBL1024):
<img width="1327" alt="Screenshot 2020-02-06 at 14 24 44" src="https://user-images.githubusercontent.

[2020-02-06 16:13] AsierGonzalez commented on #458
A new TEP has been added for `MTHFR`. If @LucaFumis, you could kindly add the following to the usual place, please:

[code]

[2020-02-06 16:40] d0choa commented on #839
Keeping this ticket just for reference but no action is expected in the angular app. The only way to get to this page is by knowing the url. This is sorted in the upcoming React rewrite. Thanks @AsierGonzalez for documenting it.

[2020-02-06 16:40] #839 closed

[2020-02-07 08:59] smnorthen commented on #838
The current plan is to start with obsolete Orphanet terms which are still in EFO and to replace them with an existing Mondo term. If a Mondo term does not exist then a new EFO term will be created.

In addition, Orphanet disease terms which have the word 'rare' in the term label will be replaced with just the disease name (without 'rare' in the disease name) from Mondo.

Anything else will be revi

[2020-02-10 17:41] tskir commented on #809
To continue the discussion on this...

## ClinVar variant counts
As @AsierGonzalez requested, the number of variants in ClinVar (2019/09 release) are:
* SNPs (length of each allele is exactly 1): 551,017
* Deletions, insertions, or indels: 64,924
* Total number of variants (with defined CHROM/POS/REF/ALT): 615,941

## MNVs
@iandunham I agree that MNVs are ideally thought of as haplotypes; however,

[2020-02-10 17:48] tskir commented on #809
## Ontology for variation types
As Andrew Nightingale suggested in the e-mail thread from which this issue has originated, there is a standard ontology for describing DNA variation types: the [Variation Ontology](https://www.ebi.ac.uk/ols/ontologies/vario/). I believe using it is the best approach here. For example, we may adopt the following closed set of allowed values. We could replace the exis

[2020-02-11 12:00] AsierGonzalez commented on #833
This work is complete

[2020-02-11 13:19] AsierGonzalez commented on #176
This information is missing from the gene index and the [API target endpoint](https://platform-api.opentargets.io/v3/platform/private/target/ENSG00000175164). From the 60,564 genes in the 19.11 gene index, 49,232 lack subunits, 44,562 lack subcellular location and 41,466 lack keywords. My guess is that this information is extracted from the [UniProt XML file](
https://storage.cloud.google.com/open

[2020-02-11 15:46] andrewhercules opened #840 "Update Somatic Mutations data table to accommodate enhanced IntOGen data"
The most recent IntOGen data file has been integrated into our pipeline, resulting to changes in the API response and the availability of new data.

An example of the raw evidence string is below:

[code]

Due to the changes in the API response, we will need to update the Somatic Mutations data table ([example](https://www.targetvalidation.org/evidence/ENSG00000085563/EFO_0000313?view=sec:somatic_

[2020-02-11 15:59] andrewhercules commented on #840
Important notes about new data:

- P-value in `resource_score.value`

- Mutation metrics in `evidence.known_mutations`: for the mutation metrics, we can continue to show the number of mutated samples out of the total number of samples in the samples column

- Cohort information in `unique_association_fields`: ideally we would use the `cohort_short_name` value as that is what is used on the IntOGen

[2020-02-11 20:17] d0choa commented on #840
We might need to review the generated evidence. All information required for the FE should be outside the unique association fields. Background is summarised in Epic #827. I'll discuss with @AsierGonzalez and @DSuveges

[2020-02-12 10:48] tskir commented on #809
Alternatively SO (sequence ontology) can be used, although it lacks a term for genetic interaction or SNP to SNP interaction. (Still, we could ask such a term to be added.)

[2020-02-13 11:34] deniseOme opened #841 "EVA evidence to link to MEF2A in coronary heart disease and two children terms"
PMID: 15496429 and PMID: 15958500 describe rs121918531 and rs121918529 as evidence for an association between MEF2A (ENSG00000068305) and myocardial infarction (EFO_0000612) and coronary artery disease (EFO_0000378).

These are the issues:

1) we don't link MEF2A with CAD based on genetic associations (only via text mining evidence):
https://www.targetvalidation.org/evidence/ENSG00000068305/EFO_00

[2020-02-13 11:59] AsierGonzalez commented on #841
This issue seems to be caused by wrong mapping of ClinVar conditions to EFO terms. Both variants are annotated with the `coronary artery disease/myocardial infarction` condition in ClinVar (see [rs121918531](https://www.ncbi.nlm.nih.gov/clinvar/RCV000009507/) and [rs121918529](https://www.ncbi.nlm.nih.gov/clinvar/RCV000009505/)) but then are mapped to `coronary heart disease` (http://www.ebi.ac.uk

[2020-02-13 12:28] d0choa opened #842 "Evidence generation for new Intogen release"
Work to generate Intogen new evidence.

Changes in validator are expected.

Some extra information needs to be included in the evidence:
- [x] cohort
- [x] methods to call drivers

A summary of the magnitude of the update:
![Screenshot 2020-02-13 at 12.27.15.png](https://images.zenhubusercontent.com/5ce3b95baba90a6b4d8b6ff8/aa78ffef-6226-41ff-b625-c3590e8a77a3)

[2020-02-13 13:07] #834 closed

[2020-02-13 13:07] #833 closed

[2020-02-13 14:05] deniseOme opened #843 "EFO_0000378 and Orphanet_94062 and EVA evidence"
We associate LRP6 (ENSG00000070018) with Orphanet_94062 (Coronary artery disease - hyperlipidemia - hypertension - diabetes - osteoporosis) but genetic evidence suggests this gene should be associated with EFO_0000378 (coronary artery disease) instead:

https://www.targetvalidation.org/evidence/ENSG00000070018/Orphanet_94062?view=sec:genetic_association

@AsierGonzalez has looked at this and the i

[2020-02-13 14:19] d0choa commented on #807
A solution doesn't look straight-forward at the moment. We'll wait until Project Score is updated with the Broad screening to get the relevant file.

[2020-02-13 15:51] d0choa commented on #820
This is no longer required. GWAS catalog will be entirely removed from the next platform version as all studies are analysed by the Genetics Portal.

A list of all target-disease pairs that will be excluded for the platform because of this decision is included here as collected by @DSuveges
https://docs.google.com/spreadsheets/d/1ktxtrkScEqn6GmgwWkIjxR-BscV-WklEdalLX5EJDH0/edit?usp=sharing

[2020-02-13 15:51] #820 closed

[2020-02-13 16:21] d0choa opened #844 "API changes in Reactome"
We got the next email from Reactome

We need to explore if this will cause any issues in our public or private instances

[2020-02-13 16:22] d0choa commented on #844
@andrewhercules commented:

[2020-02-14 09:56] cmalangone opened #845 "Add ot_genetics_portal resource to platform-input-support"
ot_genetics_portal was introduce manually during 20.02.

Add this resource to platform-input-support inside the section evidences

Eg.
Bucket: otar000-evidence_input/Genetics_portal/json
Input : genetics_portal_evidences-13-02-2020.json.gz
Output: genetics_portal_evidences-2020-02-12.json.gz

Resource: input-files (TBC)

[2020-02-14 10:28] d0choa opened #846 "Platform GWAS from Genetics Portal (expanded data documentation)"
An expanded explanation on the steps to generate evidence and the datasource nature

- [x] gitbook documentation
- [x] evidence_datasource_parsers repo
- [x] respective section in the OT Datasources document https://docs.google.com/document/d/1jujcyOmRSlgT2kwm3DVhhCQ-tMNJDskOsqjV1HLwXTI/edit#heading=h.i9vahyscnzsz
- [x] Unique association fields [document](https://docs.google.com/spreadsheets/d/1y

[2020-02-14 10:43] LucaFumis commented on #844
In regards to the Angular app is this something we want to include for 20.02 or 20.04? (rather than an urgent fix?)

[2020-02-14 10:57] d0choa opened #847 "Intogen update documentation"
Additional information to document the changes will be required in:

- [x] OT Data Sources [document](https://docs.google.com/document/d/1jujcyOmRSlgT2kwm3DVhhCQ-tMNJDskOsqjV1HLwXTI/edit#heading=h.i9vahyscnzsz)
- [x] Unique association fields [document](https://docs.google.com/spreadsheets/d/1yo2_cW__upXmQfQp1CiGwJqnO611WvzjBTTMH4-9JNI/edit#gid=0)
- [x] Gitbook page
- [x] evidence_datasource_parse

[2020-02-14 14:26] eric-czech commented on #801
Hey @mkarmona thanks for the update.  I removed the part of the Spark version of the pipeline that was eliminating UniProt accessions with multiple gene associations, but is there any reason not to try to add the gene id (in addition to the accession) to the unique_association_fields somewhere upstream like [here](https://github.com/ebi-uniprot/open-targets-core-db/blob/master/src/main/java/uk/ac/

[2020-02-14 18:07] d0choa commented on #819
Closing as duplicated

[2020-02-14 18:07] #819 closed

[2020-02-17 12:16] andrewhercules opened #848 "Create new front-end software developer technical test"
The [existing Open Targets front-end technical test](https://observablehq.com/@andrewhercules/open-targets-frontend-code-test) only assess D3 visualisation skills with a pre-processed Ensembl API response.

However, as we are moving to React, we should update the test to reflect the tech stack we now use and to assess candidates' skills in React (project setup, calling a more complex third-party A

[2020-02-17 12:21] andrewhercules commented on #848
Complete:

- [x] [Technical test document](https://docs.google.com/document/d/1IcFInwbahrQWlwvbPBAbDPkTeMWkEm-wPL97MmDmZMY)
- [x] [Mock API](https://demo6922545.mockable.io/)
- [x] [Design spec](https://drive.google.com/open?id=10y3UKefb8q3diULVq8I-8j7j0oj6QGtOMzdW4KM_DKk)
- [x] [Code repository](https://github.com/opentargets/ot-front-end-technical-test)

Design specs for reference:

![Open_Targe

[2020-02-17 12:22] andrewhercules commented on #848
Work to update technical test has been completed

[2020-02-17 12:22] #848 closed

[2020-02-17 17:30] AsierGonzalez commented on #843
To clarify, the association between LRP6 and Orphanet_94062 is supported by two data sources, EVA and UniProt. However, 8 of the 9 evidence strings are based on four variants (`rs397515473`, `rs397515474`, `rs121918313`, `rs141212743`) reported by both sources which seem to come from OMIM originally:
![image](https://user-images.githubusercontent.com/11410715/74674410-317fbf80-51a9-11ea-9e29-130f4

[2020-02-17 17:53] LucaFumis commented on #239
I've addressed the implementation of the menu (including simple configuration) in a slightly simpler format than specs above, pending PR merge - @andrewhercules perhaps we can have a quick chat/review sometimes this week...

[2020-02-17 18:00] AsierGonzalez commented on #843
Regarding the 5th piece of evidence associating LRP6 and Orphanet_94062 (https://www.ncbi.nlm.nih.gov/clinvar/variation/684469/), as you suggest @deniseOme, it is not cosidered because it's clinical significance is not defined.

[2020-02-18 09:36] AsierGonzalez commented on #735
This has been resolved in QA

[2020-02-18 09:58] andrewhercules commented on #840
@d0choa, @AsierGonzalez, and @LucaFumis:

I have completed a preliminary review of the somatic mutations data available from the API for PIK3CA and breast carcinoma on the QA branch - see below for a screenshot:

![Screenshot 2020-02-18 at 09 49 22](https://user-images.githubusercontent.com/7490258/74724462-3473c200-5234-11ea-8e65-d2f2a41a597a.png)

[Full API response - Somatic_Mutation_Data_PIK3C

[2020-02-18 10:44] d0choa commented on #840
`p-value`, `cohort_name` and `methods` can be included in the rewrite. We won't have them for other dataosources such as COSMIC, so let's keep the angular table simple

[2020-02-18 10:57] AsierGonzalez commented on #840
I will investigate why those values do not appear, I was expecting them to be there.

[2020-02-18 11:22] andrewhercules opened #849 "Add "Open Targets Genetics" to association page facets"
@LucaFumis, can you please update the facets on the association pages to include the new data source - `Open Targets Genetics Portal`?

[2020-02-18 11:24] andrewhercules commented on #840
Upon further review, the data is available but the front-end requests subsets of the data. I will update the spec to account for the new fields that are used.

[2020-02-18 12:46] andrewhercules opened #850 "Update analytics code to track URL path and parameters"
Currently, in the `trackPageView ()` function in the [google-analytics-service.js file](https://github.com/opentargets/webapp/blob/master/app/src/services/google-analytics-service.js), we send $location.path() when tracking page views; however, this does not include any URL parameters.

Can we please update the `trackPageView ()` function to send $location.url() instead?

[2020-02-18 13:25] andrewhercules opened #851 "Update IntOGen data table with extra information now available in the API response"
With the IntOGen data scheduled for 20.02, we now have access to more information about that particular evidence string that we can display in the data table.

Can we please update the data table to display the following information?

- [ ] p-value
- [ ] methods
- [ ] cohort name
- [ ] samples

[2020-02-18 13:34] andrewhercules commented on #840
My apologies for my earlier comment about the data availability. After reviewing with @d0choa and @AsierGonzalez, I realised that the data is available but the current API call requests a subset of the evidence data.

To minimise the changes for the Angular app, we will only update the table to show the samples. Further changes will be made to the React version of this table - see #851 for more in

[2020-02-18 13:34] cmalangone opened #852 "REST API returns the wrong stats for evidences"
The endpoint /v3/platform/public/utils/stats returns the wrong numbers due the use of the stats method against a specific query such as:

GET index_name/_search
{
  "query": {
    "match_all": {}
  },
  "track_total_hits": true
}

[2020-02-19 11:17] #735 closed

[2020-02-19 11:17] #842 closed

[2020-02-19 11:23] #817 closed

[2020-02-19 12:21] AsierGonzalez commented on #434
From 20.02 GWAS catalog data will be processed using the Genetics Portal pipeline and the scores are now of the `locus_to_gene` type, which is defined as a probability in the schema, so this issue no longer applies. The probability cannot be 0 either, but there are none in the current file.

[2020-02-19 12:41] AsierGonzalez commented on #434
The issue with 0 p-values has been resolved. The values smaller than 1e-302 are capped to that value and their real value is stored as mantissa and exponent.

[2020-02-19 12:54] d0choa commented on #434
Pending FE action in #816.

[2020-02-19 12:54] #434 closed

[2020-02-19 15:05] AsierGonzalez commented on #801
After the 20.02 pipeline run both SMN1 and SMN2 have UniProt and text mining evidence.

**19.11**
![Screenshot 2020-02-19 at 15.02.43.png](https://images.zenhubusercontent.com/5e3bdd3b5ae31307fec27bc8/586ab190-b80f-4002-ba29-fc9acdd85801)

**20.02 (QA)**
![Screenshot 2020-02-19 at 15.02.29.png](https://images.zenhubusercontent.com/5e3bdd3b5ae31307fec27bc8/4effaf89-5cae-47ea-8c2f-29aa4bbe99e5)

[2020-02-19 15:14] AsierGonzalez commented on #810
Shyama from EPMC has resolved this issue for 20.02. There are now 17 evidence strings for PMID:16207355 and 6 of them are annotated with invasive ductal carcinoma, which were missing before

[2020-02-19 15:14] #810 closed

[2020-02-19 15:53] d0choa commented on #801
The bug is fixed according to @AsierGonzalez comment. I'm closing the issue accordingly.

However, the solution is not optimal as it's requiring to apply a post-processing to the evidences, in order to explode the uniprot -> Ensembl mappings. For the moment, we'll keep this as it's the only way we can assure it's done consistently across the 3 problematic datasources. Long-term, we'll work with th

[2020-02-19 15:53] #801 closed

[2020-02-19 15:56] andrewhercules commented on #816
Based on feedback from the team and a review of the data from the API ([example](https://platform-api-qc.opentargets.io/v3/platform/public/evidence/filter?size=1000&datasource=ot_genetics_portal&datasource=gwas_catalog&datasource=phewas_catalog&fields=unique_association_fields&fields=disease&fields=evidence&fields=variant&fields=target&fields=sourceID&fields=access_level&target=ENSG00000064687&dis

[2020-02-20 13:00] AsierGonzalez commented on #104
This is still unresolved. I will ask EVA about it.

[2020-02-20 16:22] AsierGonzalez commented on #104
It seems that this issue affects in total 69 evidence strings annotated with `Alzheimer's disease` ([EFO_0000249](http://www.ebi.ac.uk/efo/EFO_0000249)) in the evidence strings when in ClinVar they are linked to `alzheimer disease, type 1`, `alzheimer disease, type 3` or `alzheimer disease, type 4`. All of them should be annotated with `Early-onset autosomal dominant Alzheimer disease` ([Orphanet_

[2020-02-20 17:07] AsierGonzalez commented on #791
This issue has been resolved in 20.02 but there might be many other unknown similar cases lurking. It is a problem we should keep an eye on in the future. For now we will solve the issues reported by users.

[2020-02-20 17:07] #791 closed

[2020-02-21 11:28] AsierGonzalez opened #853 "Invalid diseases in 20.02 IntOGen evidence strings"
18 evidence strings from IntOGen end up in the invalid evidence index because their disease is invalid. Those two diseases are `adrenal gland pheochromocytoma (PCPG)` ([EFO_0000239](http://www.ebi.ac.uk/efo/EFO_0000239)) and `Testicular Germ Cell Tumor (MGCT)` ([EFO_1000566](http://www.ebi.ac.uk/efo/EFO_1000566)) and they are invalid due to a trailing whitespace:

[code]
This has been fixed in the

[2020-02-21 12:36] LucaFumis commented on #840
I've added the code as suggested by @andrewhercules - that is the only change for this issue, so marking as fixed.

[2020-02-21 16:21] #818 closed

[2020-02-24 11:37] andrewhercules commented on #816
I have reviewed the current implementation on QA and it looks great! 👍

![Screenshot 2020-02-24 at 11 30 55](https://user-images.githubusercontent.com/7490258/75149109-2375f580-56f9-11ea-8e3a-3de318e423aa.png)

@LucaFumis, can we please make a few updates:

1. By default, sort the data table by the Gene Prioritisation Score
2. In the Reported Trait column, link to the value to the study page on th

[2020-02-24 11:46] d0choa commented on #816
2 extra notes in case we resolve all the above issues:
- If we think we can rescue the full functionality of the variant type (5) it might be a good addition. If it's too complex, drop it as @andrewhercules suggested. That information is available when you land in the genetics portal.
- We can consider showing the publication field differently. Since it will be 1 or no publication in most of the c

[2020-02-24 11:49] d0choa commented on #816
Keep in mind there were issues before with the variant type resolver #757

[2020-02-24 14:28] deniseOme opened #854 "amend FAQ "How variants are assigned to genes""
With the upcoming new data type (locus-to-gene from Open Targets Genetics, to replace GWAS Catalog evidence), we need to updated this [FAQ](https://docs.targetvalidation.org/faq/how-variants-are-assigned-to-genes).

Note the current FAQ still applies to other data sources. So we can subdivide this session into two: GWAS and non-GWAS or something alike…

[2020-02-24 15:00] hammer commented on #801
@d0choa is there an issue file upstream to track the long-term fix for this issue?

[2020-02-24 15:33] d0choa opened #855 "Create and enforce data submission guidelines"
The aim is to provide very clear guidelines on how evidence is created and submitted following some clear standards of quality and openness. Some of the objectives of this task are listed next:

- Unify entity names in evidence fields (e.g. target, disease, etc.)
- Restrict target identifier to use Ensembl
- Provide standard representation of entities (e.g. literature references)
- Guidelines on u

[2020-02-24 15:36] d0choa commented on #801
We will encapsulate this task in a bigger epic aimed to review the data submission guidelines across providers #855. Feedback is appreciated

[2020-02-25 10:53] cmalangone commented on #806
The CSV dumps contain the header
echo '"ensembl_id","hgnc_approved_symbol","uniprot_accessions","number_of_associations"' > 20.02_target_list.csv
cat 20.02.1-search-data.json | jq -r 'select(.type=="target") | [.id, .approved_symbol, [.uniprot_accessions | join("|")][], .association_counts.total] | @csv' >> 20.02_target_list.csv
cat 20.02.1-search-data.json | jq -r 'select(.type=="target") | {"ens

[2020-02-25 10:53] cmalangone commented on #774
#657

[2020-02-25 10:53] cmalangone commented on #657
echo '"ensembl_id","hgnc_approved_symbol","uniprot_accessions","number_of_associations"' > 20.02_target_list.csv
cat 20.02.1-search-data.json | jq -r 'select(.type=="target") | [.id, .approved_symbol, [.uniprot_accessions | join("|")][], .association_counts.total] | @csv' >> 20.02_target_list.csv
cat 20.02.1-search-data.json | jq -r 'select(.type=="target") | {"ensembl_id": .id, "hgnc_approved_sym

[2020-02-25 10:54] cmalangone commented on #774
The new list of commands are
echo '"ensembl_id","hgnc_approved_symbol","uniprot_accessions","number_of_associations"' > 20.02_target_list.csv
cat 20.02.1-search-data.json | jq -r 'select(.type=="target") | [.id, .approved_symbol, [.uniprot_accessions | join("|")][], .association_counts.total] | @csv' >> 20.02_target_list.csv
cat 20.02.1-search-data.json | jq -r 'select(.type=="target") | {"ensembl

[2020-02-25 11:06] LucaFumis commented on #816
Yes exactly, the variant type seems a data issue - the field `evidence.evidence_codes_info` is `null`.

[2020-02-25 11:39] #458 closed

[2020-02-25 16:43] andrewhercules commented on #797
@LucaFumis, the sitemaps using the data for 20.02 have been created. Can you please update the [/sitemap directory](https://github.com/opentargets/webapp/tree/master/app/sitemaps) and use the individual sitemaps found in the zip file below?

[**20_02_release_sitemaps.zip**](https://github.com/opentargets/platform/files/4251032/20_02_release_sitemaps.zip)

[2020-02-25 17:01] AsierGonzalez opened #856 "ot_genetics_portal evidence missing evidence_codes_info"
The new evidence strings from the OT Genetics Portal  lack the `evidence.evidence_codes_info` field after being processed by the data pipeline. To be accurate, the field exists but its value is `null` instead of an array:
[code]
This is causing issues to the front-end and also to check-o-matic, which has one test that iterates through the expected array.

[2020-02-25 18:49] LucaFumis commented on #816
Regarding point 4, it seems that for genetics portal data the rsid is not always available. I've updated the table to show when avail.

[2020-02-26 13:04] andrewhercules commented on #844
@LucaFumis, can you please revert the API call to their production version? Once done, we can close this ticket as Reactome has confirmed that they have what they need from our testing.

[2020-02-26 14:46] DSuveges opened #857 "OT genetics portal sourced evidences: some variants are provided as coordinates, while there is an rsID for them"
There is an inconsistency in the Genetics portal sourced evidence data: some variants are provided as coordinates, while there is an rsID for them:

* [16_165107_C_A](https://qa.targetvalidation.org/evidence/ENSG00000188536/EFO_0007986?view=sec:genetic_association)

while the OT Genetics portal [variant page](https://genetics.opentargets.org/variant/16_165107_C_A) shows that there is an rsID:  rs7

[2020-02-26 14:52] DSuveges opened #858 "OT Genetics portal sourced evidences: some studies are missing disease label"
When @AsierGonzalez performed QC checks on the evidences for the 20.02 release it made clear ~4k Genetics portal sourced evidences are missing disease label. The initial investigation showed only a handful of studies are affected but needs to find out why this is happening.

[2020-02-26 16:55] #806 closed

[2020-02-26 19:49] deniseOme commented on #757
@AsierGonzalez, it seems this is no longer an issue per se (at least visible on the UI) as we have dropped the "variant info" column in the new table.

<img width="1175" alt="Screen Shot 2020-02-26 at 19 47 25" src="https://user-images.githubusercontent.com/6472381/75381549-d64c7c00-58d0-11ea-9cf0-e799fc1482c7.png">

[2020-02-26 21:29] #812 closed

[2020-02-27 16:20] DSuveges commented on #856
A commit is now pushed to this pull request: [#39](https://github.com/opentargets/evidence_datasource_parsers/pull/39)

Once this pull request is reviewed, and merged, this issue can be closed.

[2020-02-27 22:05] #2340 closed

[2020-02-28 14:35] LucaFumis opened #859 "Animal model (PhenoDigm) evidence data missing allele ids"
The animal models evidence table in the platform display PhenoDigm data: currently the mouse model field appears incomplete (no link and incorrect formatting).

It appears that in the API response the allele_ids field `evidence.biological_model.allele_ids` is empty:
https://platform-api.opentargets.io/v3/platform/public/evidence/filter?size=1000&datasource=phenodigm&fields=disease&fields=evidence&

[2020-02-28 15:07] d0choa commented on #856
Slightly related to #757

[2020-02-28 15:58] DSuveges commented on #857
I have located the bug and fixed the script. For the next release it will be sorted out.

[2020-02-29 14:37] d0choa commented on #816
The mantissa and exponent work is still pending It will finish the work started in #434

A reference example:
https://qa.targetvalidation.org/evidence/ENSG00000146374/EFO_0009270?view=sec:genetic_association

[2020-03-02 14:40] AsierGonzalez opened #860 "Prevent empty disease string in json schema"
1503 evidence strings from the genetics portal are invalid because they lack the disease id:
[code]
The source of this issue has been identified but raises the question of what the acceptable disease id would look like. In the JSON schema [the disease id is described as “a valid EFO full URI”](https://github.com/opentargets/json_schema/blob/1.6.4/opentargets.json#L113-L120) but it does not have a

[2020-03-02 15:14] #847 closed

[2020-03-02 15:14] AsierGonzalez commented on #847
All the above now contain up-to-date information

[2020-03-02 15:25] AsierGonzalez commented on #811
An updated file with the evidence at the gene-disease level was received on 17th Feb. The file looks good but the pipeline was not re-run after this, so this change will be visible in the next release. The new format may require changes to the FE, @d0choa you may want to double-cehck this.

The scoring has now been fixed and the COSMIC score is now used as is.

[2020-03-02 15:30] AsierGonzalez commented on #853
The parser has been updated to remove whitespaces from EFO labels and URIs

[2020-03-02 15:33] #840 closed

[2020-03-02 15:34] #813 closed

[2020-03-02 17:57] #852 closed

[2020-03-02 17:57] d0choa commented on #852
Although, there is a mismatch in the number, we will focus on fixing it in the new API

[2020-03-02 18:02] #816 closed

[2020-03-02 18:02] d0choa commented on #835
Released as part of 20.02

[2020-03-02 18:02] #835 closed

[2020-03-02 18:13] #815 closed

[2020-03-02 18:14] #797 closed

[2020-03-02 18:15] #849 closed

[2020-03-02 18:15] #796 closed

[2020-03-02 18:15] #850 closed

[2020-03-02 18:23] #844 closed

[2020-03-02 18:30] d0choa commented on #860
Related to #858

[2020-03-02 18:30] d0choa commented on #858
Related to #860

[2020-03-03 09:59] AsierGonzalez commented on #757
@deniseOme the problem is not solved yet as the API still returns the codes instead of the labels and it requires BE work to find out what is happening. Dropping the column from the table was a temporary FE workaround.

[2020-03-03 11:57] DSuveges commented on #860
This bug was introduced at the evidence generation: there are ~750 studies with no disease labels in the [genetics portal study table](gs://genetics-portal-data/v2d/200207/studies.parquet). This issue affects mostly UKBB studies, but there are studies from the GWAS Catalog as well. Luckily most of these studies don't have genome wide significant associations, so the missingness of the disease won'

[2020-03-03 11:58] AsierGonzalez commented on #859
The `evidence.biological_model.allele_ids` has been an empty string at least since April 2018. The PhenoDigm parser should be thoroughly reviewed to look into this and other issues.

[2020-03-03 11:59] DSuveges commented on #858
A fix is going to be added to the evidence creator script that tests if the disease label is provided and skips rows where it is missing (while raising warnings), so these evidences won't reach the pipeline.

[2020-03-03 12:01] AsierGonzalez commented on #860
Still the question is whether the schema should be able to handle this issues. In my opinion it should, as it is simple to enforce in it and the issues would be identified earlier.

[2020-03-03 12:07] AsierGonzalez commented on #859
For the time being we should perhaps hide the column in the table if it is based on this value. Can you @LucaFumis please give me a list of the values used by the FE to make sure that they are correct?