[2020-03-03 12:08] d0choa commented on #860
I renamed the ticket for clarity

[2020-03-03 13:17] DSuveges commented on #858
**Bug found:** when the evidences are generated there's no check to ensure the evidence has a disease label. This is going to be fixed and a warning is thrown for each such evidences so we'll see these rows in the log file.

Otherwise based on the input data this is expected: ~750 studies in the genetics portal study table has no disease associated with.

[2020-03-03 14:55] cmalangone commented on #733
the script verifies that ES is up and running and the MCP is able to capture it properly.
So action is required

[2020-03-03 14:55] #733 closed

[2020-03-03 15:30] LucaFumis commented on #859
Hi @AsierGonzalez that `evidence.biological_model.allele_ids` is needed to generate the link only (mouse model column), the actual cell text is OK - I don't think we should hide it.
We can very easily refactor that bit of code to format the content regardless of whether we have a link for it or not. Perhaps something for next (mini) release.

The fields from the response are mapped as follow:

dis

[2020-03-03 15:32] LucaFumis commented on #859
No one reported (noticed) that the link was missing in all this time, so probably not that urgent...

[2020-03-03 15:56] AsierGonzalez commented on #859
Ok. And just for me to understand, are you expecting it to be a link or do you use it to generate a link?

[2020-03-03 17:23] d0choa commented on #562
This will be soon superseded by work in the rewrite. Closing for now

[2020-03-03 17:23] #562 closed

[2020-03-03 17:35] d0choa opened #861 "safety"

[2020-03-03 17:35] d0choa opened #862 "Curate more target safety information and integrate into Platform for 20.04"
This is epic is part of a bigger project on improving the target safety information in the Open Targets Platform. It's a continuation of the work started in #411.

The aim of this epic is to expand gold standard of known target safety issues.

Tickets on this task will cover: data curation, annotation specifications, annotation generation, ingestion and FE changes.

[2020-03-03 17:36] #411 closed

[2020-03-03 17:36] #861 closed

[2020-03-04 10:15] PruMM commented on #862
Subtasks in this epic include
1- Data set assessment: HeCatos, PharmGKB, EUToxrisk, ChEMBL withdrawn drugs
2- Criteria for inclusion of new targets into gold standard set
3- Identification process for inclusion of new safety related parameters into the gold standard

[2020-03-04 10:54] LucaFumis commented on #859
It was a string of ids from which we generate the links - something like `MGI:3054788|MGI:3054788`.

[2020-03-04 14:47] DSuveges commented on #858
Fixes to filter out studies without disease id are merged: [#42](https://github.com/opentargets/evidence_datasource_parsers/pull/42)
Fix to prevent the generation of evidences without disease is merged: [#39](https://github.com/opentargets/evidence_datasource_parsers/pull/39)

[2020-03-04 14:47] #858 closed

[2020-03-04 14:48] #857 closed

[2020-03-04 14:49] #856 closed

[2020-03-04 15:26] andrewhercules opened #863 "Rewrite: Update intOGen data table in Somatic Mutations section on evidence page"
With the inclusion of new data from intOGen in our 20.02 release - see epic #813 - we should update the intOGen data table within the Somatic Mutations section on the evidence page in the rewrite. For example, we currently display the following for [BRAF and multiple myeloma](https://platform-app.netlify.com/evidence/ENSG00000157764/EFO_0001378):

![Screenshot 2020-03-04 at 11 13 58](https://user-

[2020-03-04 17:24] andrewhercules commented on #863
Design specs updated:

- Removed Inheritance Pattern column
- Removed filters
- Drop Publication column

[2020-03-05 12:19] d0choa opened #864 "genomic browser issues derived from new Genetics Portal evidence"
Users reported to @deniseOme problems with the genomic browser missing data.
After a preliminary review on the issue with @DSuveges and @LucaFumis, we think the problem is summarised in the next issues:

- There are missing rsIDs on some of the Genetics Portal evidence due to a bug. This problem will be resolved thanks to the changes in the evidence generation introduced by @DSuveges in #857.

- T

[2020-03-05 12:36] AsierGonzalez commented on #860
The json schema has been updated not to accept empty disease ids (see https://github.com/opentargets/json_schema/pull/84)

[2020-03-05 13:41] #860 closed

[2020-03-05 15:58] d0choa commented on #838
Related task in MONDO:
https://github.com/monarch-initiative/mondo/issues/834

[2020-03-05 16:14] d0choa opened #865 "Create a first draft on data submission guidelines"
According to discussions between @AsierGonzalez and @d0choa. Further discussions will be required based on the first draft.

[2020-03-05 16:18] paolaroncaglia commented on #838
Latest update: https://github.com/monarch-initiative/mondo/issues/834#issuecomment-595314262
cc @zoependlington

[2020-03-05 16:50] d0choa commented on #702
A first quick exploration of the data points to the Ensembl database / API as the best place to get this information:

[code]

[2020-03-06 10:23] d0choa opened #866 "Finalise OTAR044 network json content and schema"

[2020-03-06 10:24] d0choa opened #867 "Create bucket for OTAR044 network submission"

[2020-03-06 10:24] d0choa opened #868 "Validate network data in platform-input support"

[2020-03-06 10:26] d0choa opened #869 "Process network data in platform-input-support"

[2020-03-06 10:26] #868 closed

[2020-03-06 10:34] d0choa opened #870 "Create STRING network json"

[2020-03-06 10:40] d0choa opened #871 "Create index for target-target relationships"

[2020-03-06 10:40] d0choa opened #872 "Network data ingestion in platform (OTAR044)"
This epic is focused on preparing the ingestion of network data on the platform. OTAR044 network is the first use case but we want to be flexible and be able to add other protein/target/gene networks.

This step is required to unblock some of the further use cases of OTAR044:
https://docs.google.com/presentation/d/1RYNDKTqpWzhwikb2wqtRPhtg8uEzlrdqq2v-N5yRzyk/edit#slide=id.p1

[2020-03-06 17:01] #800 closed

[2020-03-06 17:48] LucaFumis commented on #864
This is now fixed in production.

[2020-03-06 17:48] #864 closed

[2020-03-06 18:58] andrewhercules commented on #800
Thanks @LucaFumis! 👍

[2020-03-09 13:37] DSuveges opened #873 "Adding new ECO code for Genetics platform"
**This ticket is related to** #856

The `evidence_codes_info` field was missing from the genetics portal evidences as the new source was not introduced into the ECO json file. The variant to gene mapping pipeline represents a new evidence class.

Affected repository: [ECO ontology generation](https://github.com/opentargets/ontology-utils/blob/master/opentargets_ontologyutils/eco_so.py)

A relative

[2020-03-09 13:55] AsierGonzalez opened #874 "Adding new ECO code for PheWAS"
This is a sister ticket to #873 but for PheWAS, which is also lacking an entry in the ECO index. Adding the following line to the [open_targets_terms dictionary](https://github.com/opentargets/ontology-utils/blob/4d79b8d530f88ace55ff27334b7dd4bd99b247bb/opentargets_ontologyutils/eco_so.py#L38) should fix #757:

`'http://identifiers.org/eco/PheWAS':'PheWAS catalog evidence'`

[2020-03-09 13:56] AsierGonzalez commented on #757
The real issue seems to be that `PheWAS` is not in the ECO index. The action suggested in #874 should fix this issue.

[2020-03-09 14:02] DSuveges commented on #856
Full resolution in #873

[2020-03-09 17:16] andrewhercules opened #875 "Confirm 20.04 release schedule with data providers"
Based on feedback from our data providers, the 20.04 release schedule has been confirmed.

The data submission window will be open from Monday 9 March to Friday 20 March 2020 with the release scheduled for Thursday 23 April 2020.

![Proposed_20 04_release_schedule](https://user-images.githubusercontent.com/7490258/76239476-8d2ded80-6229-11ea-812b-54ba09b79331.png)

[2020-03-09 17:16] #875 closed

[2020-03-10 12:54] AsierGonzalez opened #876 "OT Genetics Portal evidence scored based on functional consequence"
A user realised that the scores of the 20.02 OT Genetics Portal evidence strings only had one of five values (0.5, 0.6, 0.65, 0.7 or 0.95) when it should be the l2g score, which has a value between 0-1.
![Screenshot 2020-03-10 at 12 45 37](https://user-images.githubusercontent.com/11410715/76313766-7e991200-62cd-11ea-96b6-2b9e870ac16f.png)
We have realised that this is caused by a bug in the data

[2020-03-10 12:55] AsierGonzalez commented on #876
PR [#560](https://github.com/opentargets/data_pipeline/pull/560) should fix this issue.

[2020-03-10 13:52] #789 closed

[2020-03-10 17:45] d0choa opened #877 "Drug description based on available data"
Build drug description based different available fields based on the next specification from @andrewhercules:
https://docs.google.com/document/d/1BQaax1L769_pMD8RtccHb88dxAY4n8rhnNexoFiezZM/edit#

[2020-03-10 18:06] mkarmona commented on #877
The code is dropping out some minimal descriptions.

[2020-03-11 11:39] #877 closed

[2020-03-11 11:40] mkarmona commented on #877
Some examples

CHEMBL521851 Small molecule drug with a maximum clinical trial phase of II (across all indications) and has 5 investigational indications.
CHEMBL524 Small molecule drug with a maximum clinical trial phase of IV (across all indications) that was first approved in 1982 and has 3 investigational indications.
CHEMBL604608 Small molecule drug with a maximum clinical trial phase of IV (ac

[2020-03-11 11:40] mkarmona commented on #877
the word `initially` is restricted to having more than one country listed.

[2020-03-12 16:38] mkarmona opened #878 "having a one character word in the token list for the search api query does not execute"

[2020-03-13 09:33] AsierGonzalez commented on #809
This will be reviewed when the data submission guidelines are designed.

[2020-03-16 10:18] andrewhercules opened #879 "Tractability changes for 20.04"
ChEMBL has generated two new tractability data files - one in .tsv format and the other in .json format. Both files are available on [our team Google Drive](https://drive.google.com/drive/folders/1J0QnDrAFswaBZhs0HsF4XK9H_IMyVilE).

The size of the .tsv file has increased from approximately 9MB to 42MB. The .json file is approximately 170MB.

From a cursory assessment of both files, it appears tha

[2020-03-16 10:28] andrewhercules opened #880 "Update tractability plugin in data pipeline"
In order to process the latest tractability [.tsv file](https://drive.google.com/drive/folders/1J0QnDrAFswaBZhs0HsF4XK9H_IMyVilE) generated by ChEMBL, we will need to update the pipeline as the headings for the small molecule modality have changed. Also, there is now a section for other clinical modalities (e.g. protein, enzyme) with the same clinical precedence buckets 1, 2, and 3. And there is a

[2020-03-16 10:28] andrewhercules opened #881 "Update API gene index response to include new tractability data"
Given the changes to the pipeline proposed in #880 - specifically around the changes to the column names for the small molecule buckets and the inclusion of the other clinical modality assessment - we will need to ensure that the API will continue to return the relevant fields in the /private/target and /public/associations endpoints. We can use CheckOMatic and a quick manual QC process to ensure

[2020-03-16 10:29] andrewhercules opened #882 "Update Angular application to display other modality data and link to tractability data file"
To support our users that want to see more tractability data, we will show the other modality assessment and the the underlying evidence used to support a tractability assessment.

@LucaFumis, can you please update the Target Tractability section with the following:

1. An "Other Clinical Modalities" section that will be similar to the Small Molecule and Antibody sections and will only have 3 buck

[2020-03-16 10:29] andrewhercules opened #883 "Integrate new heat map for other modality tractability"
Similar to the work identified in #882, can we please also update the React rewrite version of the Platform with an "Other Clinical Modalities" section and a link to the Platform downloads page?

[2020-03-16 15:36] richardbrunt-tessella commented on #812
The fix for this is causing an exception on the RNA Expression table of our private deployment, as our evidence sources don't return any items from the filter. I'll submit a PR that addresses this to fix it for us as well.

[2020-03-17 11:43] mkarmona opened #884 "Aggregated Clinical Trials"
Provide clinical trials aggregated by disease, target, drug, phase and status to build a condensed view of the CHEMBL evidence data.

[2020-03-17 11:46] DSuveges commented on #854
I have prepared a draft for the new documentation you can find here: https://docs.google.com/document/d/10KLJdvLBK2-M6fkF20jtvX609M6z5UbxEQP1tTvezbk/edit

Please add comments and then I can update.

[2020-03-17 11:47] mkarmona opened #885 "Normalise embedded target entities"
The target data coming from the former pipeline contains multiple other entities replicated and embedded attached to each gene. Those entities need to be detached and normalised into separate tables (e.g. Cancer Biomarkers)

[2020-03-17 11:55] mkarmona opened #886 "Review and normalise target data entity"
The target entity coming from the former pipeline contains many unused fields with non-standardised names and so the main goal is to clean, tide-up and process

[2020-03-17 12:01] mkarmona opened #887 "Target profile view"
The target entity needs to be accessible through the public internet. These main channels are website and API.

[2020-03-17 12:05] mkarmona opened #888 "Main entities need to be searchable"
The platform entities need to be accessible through search. Queries can be simple words matching direct entities or related ones with a given lower score. The resulting score must be absolute comparable and categorised

[2020-03-17 12:20] mkarmona opened #889 "Platform Infrastructure changes for targets deployment"
Production infrastructure needs to support serving the new technical requirements for targets.

Currently the frontend uses Netlify, also for production (Angular app) - it seems we can continue with that.

Other points to consider:
 * We need to decide on the best approach (front end) to switch over to the new API.
 * Do we want to deploy, as a possible `beta`, the target page only?

[2020-03-17 15:18] AsierGonzalez commented on #724
Filtering still not implemeted by atlas for the 20.04 iteration so filtered in-house.

[2020-03-17 15:54] andrewhercules opened #890 "Investigate why ACE2 has drug profile page but no evidence strings"
For [ACE2 ](https://www.targetvalidation.org/target/ENSG00000130234), the tractability assessment includes data that there is a Phase IV compound that targets the gene.

Upon review of the new tractability file, the Phase IV assessment comes from [Cilazapril - CHEMBL515606](https://www.targetvalidation.org/summary?drug=CHEMBL515606). According to ChEMBL, the drug has been indicated for cardiovascu

[2020-03-17 18:49] AsierGonzalez commented on #890
In the ChEMBL evidence file there are two evidence strings for this drug, one for [ACE - P12821](http://identifiers.org/uniprot/P12821) and one for [ACE2 - Q9BYF1](http://identifiers.org/uniprot/Q9BYF1). However. these two evidence strings end up in the invalid evidence index because the disease is invalid. Such disease is [cardiovascular disease - EFO_0000319](http://www.ebi.ac.uk/efo/EFO_0000319

[2020-03-17 19:35] AsierGonzalez commented on #890
@smnorthen says:

[2020-03-17 19:36] AsierGonzalez commented on #890
Closing issue. A new one will be created regarding the recovery of cardiovascular disease (EFO_0000319) in EFO if needed.

[2020-03-17 19:36] #890 closed

[2020-03-18 10:56] smnorthen commented on #420
1,360 PheWAS traits have been mapped against EFO. Some traits, which contain multiple medical concepts, have been mapped against multiple EFO IDs; single medical concepts traits have been mapped against a single EFO ID.
Some new EFO terms were added to the ontology from HP and Mondo (86 HP terms and 28 Mondo terms) - see https://github.com/EBISPOT/efo/issues/728.
133 traits are missing from EFO an

[2020-03-18 10:56] #420 closed

[2020-03-18 11:31] PruMM opened #891 "Targets Routinely Screened in Safety Panels: TOX21 and ETOX data formatting for 20.04"
Interest has been expressed in highlighting targets that are routinely screened in Toxicity Safety Panels. TOX21 and ETOX  are 2 data sources with such screening information

[2020-03-18 11:38] d0choa opened #892 "Rescue cardiovascular disease as TA in EFO slim"
Based on recent discussion on ACE2 invalid evidence (#890) and an analysis on the impact of missing evidence for CVD, we decided it's sensible to rescue the cardiovascular disease term from EFO.

A ticket has been opened EBISPOT/efo#740 to action this task.

Once the new EFO OT profile is available, we need to double check it contains the right TAs and structure.

No further action is expected in

[2020-03-18 11:44] AsierGonzalez commented on #892
These are the number of invalid evidence strings we have per data source because they are annotated with `EFO_0000319`:

[code]

[2020-03-18 11:57] AsierGonzalez opened #893 "Change EFO mapping of ClinVar trait "acne inversa, familial, 3""

[2020-03-18 11:58] PruMM opened #894 "Update existing target safety spreadsheets with new targets"
New targets that could potentially be added

[2020-03-18 12:01] andrewhercules opened #895 "Write blog Q&A with ChEMBL"
Based on the most recent tractability project team meeting, the tractability pipeline has undergone the following changes:

1. Addition of an "other_modalities" (e.g. enzyme, protein) assessment for clinical precedence buckets 1, 2, or 3
2. Inclusion of CHEMBL IDs for compounds that support a clinical precedence assessment
3. Changes to the filters applied to the PDBe structures with ligands bucke

[2020-03-18 15:12] andrewhercules opened #896 "Regex in json_schema v1.6.6"
Edd from UniProt has contacted us about a potential issue in the regex for v1.6.6 of the json_schema. @AsierGonzalez, can you please investigate?

[2020-03-18 15:36] AsierGonzalez commented on #896
That last bit of the regex was introduced by @DSuveges in the schema version `1.6.4` to match the genetics portal variant notation that comes in the form of `1_154453788_C_T`. The problematic `{,2}` refers to the chromosome number, which chan be a number between 1-22, X, Y or MT. Changing that to `{1,2}` should sort the issue but if we want to be more explicit it could be changed to something like

[2020-03-18 15:46] DSuveges commented on #896
Yes, that was a mistake on my side: I was wrongfully assumed that in the range quantifier (`{}`) the minimum value is optional (the maximum certainly is optional where `{3,}` means matching 3 or more times). Yes, the proposed solution is correct: should be `{1,2}`

[2020-03-18 16:15] AsierGonzalez commented on #896
Solved by PR [#85](https://github.com/opentargets/json_schema/pull/85) and version tagged as [`1.6.7`](https://github.com/opentargets/json_schema/blob/1.6.7/opentargets.json)

[2020-03-18 16:15] #896 closed

[2020-03-18 16:21] eddturner commented on #896
:+1: thanks!

[2020-03-18 16:23] #887 closed

[2020-03-18 16:23] #886 closed

[2020-03-18 16:23] #885 closed

[2020-03-18 16:35] mkarmona opened #897 "Tractability widget"

[2020-03-18 16:36] mkarmona opened #898 "Chemical Probes widget"

[2020-03-18 16:36] mkarmona opened #899 "Cancer Biomarkers widget"

[2020-03-18 16:36] mkarmona opened #900 "Bibliography widget"
The Bibliography widget shows literature data from the LINK platform, allowing to refine results based on keywords and concepts.
See https://platform-app.netlify.com/target/ENSG00000091831 for an example.
LINK: https://link.opentargets.io/

Original tickets:
#540
#542

The bibliography widget is different from other widgets in that it doesn't pull data from our API.
Instead it fetches data from th

[2020-03-18 16:39] mkarmona opened #901 "Common issues needed across Widgets"
Some of the advance feature we want to support are

- error handling
- graphql field data paginated retrieval
- async waiting data fetching
- 3party api handling

**Error handling**
currently the front end page crashes if there's an error in a widget.
@mirandaio suggested to look at error boundaries https://reactjs.org/docs/error-boundaries.html

**Pagination**
Currently, tables fetch *all* data r

[2020-03-18 16:45] mkarmona opened #902 "Refactor ETL into a modular Scala project"
To lunch the ETL in dataproc the project needs to be compiled as a `fat-jar` . And to achieve this the project as to be moved to a proper scala project. Setting an initial modular project structure might be beneficial. Having a common module to put all trans-module functions could be good. Also, exploring the option to generate a project per module or all combined can have a future impact.

[2020-03-18 16:55] mkarmona opened #903 "Integrate the ES table into the API as it has to be used by diferent entities"

[2020-03-18 16:59] AsierGonzalez commented on #706
This has been done for the 20.04 release and now there are no duplicates.

[2020-03-18 16:59] #706 closed

[2020-03-18 17:41] andrewhercules commented on #862
For the upcoming 20.04 release, we are going to focus on the experimental toxicity data that Prudence has curated from ETOX and TOX21 as noted in #891

[2020-03-18 17:49] #768 closed

[2020-03-19 08:44] DSuveges commented on #846
Once https://github.com/opentargets/evidence_datasource_parsers/pull/43 is merged, this ticket can be closed.

[2020-03-19 09:10] andrewhercules opened #904 "Update target safety plugin in data pipeline"
New experimental toxicity data from eTOX and Tox21 have been curated and output files are now available - see #891 for more information.

@cmalangone, can we please do the following:

1. Update `platform-input-support` to download the experimental toxicity .tsv file available on the [team Google Drive](https://drive.google.com/drive/folders/1Cm-tnZSkNZLhshYY98S_Hom58vci9Huq)?

2. Update `data_pipe

[2020-03-19 09:10] andrewhercules opened #905 "Update API gene index response to include new target safety data"
Given the changes to the pipeline proposed in #904 - specifically around the availability of experimental toxicity data - we will need to ensure that the API returns the new data in a format that the front-end can use in #906 and #907.

Can we please update the API to return the experimental toxicity data in the existing safety entry? See below for a proposed JSON schema (feedback welcome and much

[2020-03-19 09:11] andrewhercules opened #906 "Update Angular application to display data table with new target safety information"
With the inclusion of new experimental toxicity data - see #904 - we should create a simple data table within the Target Safety tab on the target profile page.

Can we please implement a new data table based on the specs found below?

[2020-03-19 09:11] andrewhercules opened #907 "Update React application to display data table with new target safety information"
Similar to #906, we should also update the React rewrite of the Platform to include the new experimental toxicity target safety data.

Please see below for a design spec:

![Target Safety - Experimental Toxicity (ETOX_TOX21) Data Table - React - v3](https://user-images.githubusercontent.com/7490258/77780192-7f5ed180-704b-11ea-87e8-bd39bce7a838.png)

Further design spec details will be posted once

[2020-03-19 09:45] mkarmona opened #908 "Integrate cancerbiomarkers ES index with the API"

[2020-03-19 09:46] mkarmona opened #909 "Serve cancerbiomarkers through target"

[2020-03-19 09:55] mkarmona commented on #280
@cmalangone , can we focus this just to remove the spaces in order to get the proper data?

[2020-03-19 09:57] mkarmona opened #910 "Normalization of the former pipeline data"

[2020-03-19 10:37] BjornWouters opened #2342 "Study locus page error/crashes when there are no results"
When the study locus page is loaded with a URL that has no data, it crashes instead of returning empty tables.

**For example an unknown study:**
https://genetics.opentargets.org/study-locus/UNKNOWN/1_109274968_G_T

In this case the frontend will return the following error:
[code]

**Or when a variant is loaded without having L2G data, for example:**
https://genetics.opentargets.org/study-locus/GC

[2020-03-19 13:26] mkarmona opened #911 "sources pubmed field from Cancer Biomarkers needs to be simplified"
The field `sources_pubmed` is overcomplicated with the current structure
[code]
It has to be a list of pubmed ids as a string list not as the current object list.

[2020-03-19 13:33] mkarmona opened #912 "Gene Ontology annotations for each target needs the eco field corrected"
Having this structure
[code]
the field `evidence` contains an id with the wrong separator `:` and it has to be `_` to match the ECO LUT

[2020-03-19 13:40] mkarmona opened #913 "Target Profile Page"
The current FE [GraphQL Schema](https://github.com/opentargets/platform-api/blob/master/node-rewrite-schema.graphql)

[2020-03-19 13:43] mkarmona opened #914 "Common API functionality needed for target"

[2020-03-19 13:50] mkarmona opened #915 "Adapt core target structure"

[2020-03-19 13:50] mkarmona opened #916 "Add ortholog data"

[2020-03-19 13:51] mkarmona opened #917 "Include safety target information"

[2020-03-19 14:20] mkarmona opened #918 "Data ETL using former pipeline output"

[2020-03-19 14:20] mkarmona opened #919 "API projection of the disease entity"

[2020-03-19 14:27] mkarmona opened #920 "Disease Profile Page"

[2020-03-19 14:27] mkarmona opened #921 "Drug Profile Page"
Current **[GraphQL schema](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/schema)**. Using the drug query from the new endpoint should be enough to build an initial profile.

[2020-03-19 14:56] PruMM commented on #894
New targets to add to the platform under the current categories. These new targets were identfied using the following script that looks for targets NOT in the interface

[2020-03-19 16:14] mkarmona opened #922 "Tractability has to be either null or structured"
tractability section inside target structure has to be either

- null in the case no subtypes don't exist, both antibody and smallmolecule
- a structure containing both sub structures either null or the information belongs to it

[2020-03-19 16:17] #823 closed

[2020-03-19 17:35] mkarmona opened #923 "Adverse Effects from safety in targets contains useless field and string pmid"
As an example section
[code]
the `unspecified_interaction_effects` is always null, so no

- [x] t sure it is a glich and therefore has to be remove or conversely is something we need to properly fix and re-capture the data we are losing
- [x] Also, the pubmed id needs to be converted to a number

[2020-03-19 23:01] LucaFumis commented on #899
*Summary charts*
Similar to the drugs table, the cancer biomarkers widget also has summary charts that can currently be calculated because the table loads _all_ the data. This will not work with pagination.

[2020-03-20 09:38] d0choa commented on #899
Include **Summary charts** in the list of COULD have. Not essential for the first iteration

[2020-03-20 09:47] DSuveges commented on #867
Bucket with proper permissions created: `https://console.cloud.google.com/storage/browser/otar044-networks`

The permission for the external uploader needs to be granted later.

[2020-03-20 10:29] cmalangone opened #924 "Review Disease ETL"
Review the ETL script in order to allow the web page disease to load the proper data using the REST API
Eg.
https://platform-app.netlify.com/disease/EFO_0000384

Script to review:
https://github.com/opentargets/platform-etl-backend/blob/master/backend/disease.sc

[2020-03-20 10:29] cmalangone commented on #920
Opened a specific issue
#924

[2020-03-20 10:32] cmalangone commented on #924
The info
The main info for the profile page are available.
id, name, description and synonyms

The disease summary info are available for
ontology widget
"ontology" : {
            "leaf" : false,
            "isTherapeuticArea" : false
}

[2020-03-20 10:46] cmalangone commented on #899
I worked a lot with the data and shape them in the ETL side (new index)
Some interesting gene id to compare with the current production to verify the correct flow of the info.

[code]

[2020-03-20 11:40] cmalangone commented on #592
This issue has been fixed.

[2020-03-20 11:40] #592 closed

[2020-03-20 14:15] mkarmona opened #925 "Pumed IDs included in cancerbiomarkers have to numbers not stings"

[2020-03-20 14:43] AsierGonzalez commented on #893
"familial acne inversa" ([MONDO_0024516](http://purl.obolibrary.org/obo/MONDO_0024516)) is a more specific mapping for "acne inversa, familial, 3" than the term currently used, "hidradenitis suppurativa" ([EFO_1000710]( http://www.ebi.ac.uk/efo/EFO_1000710 )). In fact, the suggested term is a child of the current one.
Kirill from EVA is looking to fix this.

[2020-03-23 10:42] cmalangone commented on #922
Branch: cm_922_tractability_structure (PR to review)
Elasticsearch index: 20.02_target_922

Example Ensembl ID
ENSG00000196115 : no info for tractability
ENSG00000143727 : smallmolecule only
ENSG00000106541: antibody only
ENSG00000198216 : antibody and smallmolecule info.

[2020-03-23 11:58] #922 closed

[2020-03-23 12:19] andrewhercules opened #926 "Make tractability, safety, and baseline expression data files available for download"
Currently, we make the associations, evidence, gene list, and target list files available for download. @d0choa suggested that we also make the tractability, safety, and baseline expression data files also available for download.

Based on a suggestion from @mkarmona, can we please also make the normalised (post platform-input-support-support) files for tractability, target safety, and baseline ex

[2020-03-23 14:07] #908 closed

[2020-03-23 14:08] mkarmona opened #927 "Integrate cancer biomarkers from new api into widget"

[2020-03-23 17:34] #867 closed

[2020-03-24 08:05] BjornWouters opened #2118 "Missing L2G data for some variants"
I came across a couple of variants that are in the credible set of at least 1 study but there was no L2G data. I queried the database to get all the variants with no L2G data that are in a credset of one or multiple studies. For chromosome 1, the following variants are found that have no data:

[code]

Is there a particular reason that these variants do not have L2G scores?

[2020-03-24 10:17] andrewhercules commented on #880
ChEMBL have made the data available and it has been uploaded into [otar001-core/Tractability/20.04](https://console.cloud.google.com/storage/browser/otar001-core/Tractability/20.04)

[2020-03-24 10:24] mkarmona opened #928 "Empty search result page need a consistent design style"

[2020-03-24 10:30] mkarmona opened #929 "Fix duplicated drug indications"
The drug `CHEMBL657` contains the indication of `pain` more than once. So finding a clear answer to this behaviour is the aim.

[2020-03-24 10:49] mkarmona opened #930 "Include adverse events into the drug index"

[2020-03-24 11:26] cmalangone commented on #925
This code changed two behaviours for source_pubmed and source_others
The field "sources_pubmed is renamed to "sourcesPubmed" and it is an array of long
If the values are not available -> the field "sourcesPubmed" is not present in the index.
 "sourcesPubmed" : [
            24622468,
            26859683
          ],
The field "source_others" changed name in "sourcesOther".
If the data are not ava

[2020-03-24 12:26] cmalangone commented on #911
Related with #925.

[2020-03-24 12:30] #925 closed

[2020-03-24 15:02] cmalangone commented on #911
Approved with PR #925

[2020-03-24 15:02] #911 closed

[2020-03-24 15:20] andrewhercules commented on #894
@PruMM to update the existing spreadsheets used in the platform-input-support script to generate the adverse effects and known safety risk information for targets

[2020-03-24 15:23] andrewhercules commented on #891
@PruMM to generate a spreadsheet based on [a proposed JSON schema](https://drive.google.com/file/d/1JSHxuKLntezl3KnOTGYx7SVWjZpeRTF9/view) and [data table UI element](https://docs.google.com/presentation/d/1_Dfr3A3ztQezwvH_vDadcl2MnViBGcitU_NNZNJ1uLA/edit#slide=id.g7ee0bec8fe_0_0) for new experimental toxicity data.

One the data table has been generated, this ticket can be closed and work can com

[2020-03-24 16:41] #616 closed

[2020-03-24 16:49] AsierGonzalez opened #931 "Update Gene2Phenotype evidence"
Gene2Phenotype evidence has not been updated since 19.11.

It would also be good to check if more of the information they provide could be used given that at the moment only the target and disease information is used. For example, the functional consequence in the column "mutation consequence" and the conficence level in "DDD category" could be useful.

[2020-03-24 16:52] andrewhercules opened #932 "Update Check-O-Matic with cases to check for experimental toxicity data"
Given that we are introducing new target annotation data, we can update the [Check-O-Matic ](https://pypi.org/project/opentargets-checkomatic/) rules to ensure that it checks if given targets have the correct experimental toxicity data.

To ensure proper coverage, the following scenarios should be tested:

- A target with only ETOX data - one tissue (e.g. ENSG00000168065)
- A target with only ETOX

[2020-03-24 16:52] AsierGonzalez commented on #931
The file has been downloaded today (24/04/20) and uploaded to the Gene2Phenotype Google Bucket and the evidence has been generated for it. The only difference so far is that the functional consequence has been included in the `unique_association_fields`. This is not ideal and it should be reviewed but it was needed for a side project (ask @d0choa).

[2020-03-24 17:07] andrewhercules opened #933 "Update Platform documentation to list new target safety data sources (eTOX, Tox21)"
Given the new experimental toxicity data from eTOX and Tox21, we will need to update the [Getting Started - Target Profile ](https://docs.targetvalidation.org/getting-started/getting-started/target-profile) section in the Platform documentation to reflect the new data sources and how it relates to the existing target safety data.

As we will now have 7 different target safety resources - with more

[2020-03-24 17:55] AsierGonzalez commented on #104
EVA have corrected the EFO mappings of the AD subtypes mentioned above.

However, there are still 20 evidence strings annotated with `EFO_0000249` because the reported condition in ClinVar is `Alzheimer disease (AD)`. Based on the synonyms, `Presenile and senile dementia; Alzheimer's disease; ALZHEIMER DISEASE, FAMILIAL, 1, AUTOSOMAL RECESSIVE`, these should also be annotated with `Orphanet_1020`.

[2020-03-25 11:49] cmalangone commented on #912
The code to fix this issue will generate the following behaviour
*) go field is not available is there are not data
*) go field will have the following structure  with evidence value with '_' value

"go" : [
            {
              "id" : "GO:0015629",
              "value" : {
                "project" : "UniProtKB",
                "term" : "C:actin cytoskeleton",
                "evidence"

[2020-03-25 12:17] mkarmona opened #934 "new run or the pipeline and put them into the es7"
generate a new run and called something like 20.02.02 and put them into the es7 so I can integrate them in a go and release it without disruption just when all issues are close for target

[2020-03-25 14:45] cmalangone commented on #912
PR approved by Miguel. Merged in master.

[2020-03-25 14:49] mkarmona opened #935 "MOA widget"

[2020-03-25 14:49] mkarmona opened #936 "Pharmacovigilance widget pagination"
regarding adverse events widget, please, load everything but the widget has to show the rows packed by 25 rows each page otherwise it looks quite ugly and useless showing 150 rows. BONUS, if the `count < (2 * numberRowsPerPage)` then show all adverse events, otherwise paginate them as `numberRowsPerPage`.
In the batch loading the data for the adverse events you can use 1k pagination.

[2020-03-25 14:49] mkarmona opened #937 "Indications widget"

[2020-03-25 14:49] mkarmona opened #938 "Bibliography widget"

[2020-03-25 15:02] #930 closed

[2020-03-25 15:34] andrewhercules opened #939 "Update Angular Somatic Mutations data table based on COSMIC changes"
Based on the work done for #811, the Somatic Mutations data table on the evidence page in the Angular needs to be updated.

Further details TBC once the API response has been reviewed.

[2020-03-25 15:51] andrewhercules opened #940 "Update COSMIC data table in Somatic Mutations section of evidence page"
Based on the work done for #811 - and similar to what we will do for the Angular app #939 - the COSMIC data table in the Somatic Mutations section on the evidence page in the React version of the Platform needs to be updated.

Further details TBC once the API response has been reviewed.

[2020-03-25 16:15] AsierGonzalez commented on #583
This is now handled by EVA

[2020-03-25 16:15] #583 closed

[2020-03-25 18:32] cmalangone commented on #923
Example GENE ID

ENSG00000142208 safety and adverse info
ENSG00000097007 safety info
ENSG00000274286 adverse info
ENSG00000225730 empty info

[2020-03-26 09:24] andrewhercules commented on #928
@mirandaio, based on the feedback in yesterday's front-end meeting, I have updated the design spec for the no search results/404 page - please see below.

![platform-rewrite-no-seach-results-v2](https://user-images.githubusercontent.com/7490258/77629709-d9737000-6f41-11ea-81cc-9d866f646f87.png)

I have sourced the icons from FontAwesome; however, please feel free to suggest alternatives.

- https:

[2020-03-26 09:33] andrewhercules opened #941 "Two entries for SOD2 in Platform"
After reviewing the target tractability file for duplicates, I have noted that the Platform contains two entries for SOD2:

https://www.targetvalidation.org/target/ENSG00000285441 - 270 disease associations
https://www.targetvalidation.org/target/ENSG00000112096 - 462 disease associations

Can we please investigate the evidence strings and why there are two entries?

As we are already working with

[2020-03-26 09:59] AsierGonzalez commented on #941
These are two overlapping genes in the same strand with the same name:
<img width="954" alt="Screenshot 2020-03-26 at 09 51 49" src="https://user-images.githubusercontent.com/11410715/77633495-75ec4100-6f47-11ea-97ed-d78728ec15cd.png">

It seems that ENSG00000112096 is a more complete gene model given that it has multiple transcripts and associated UniProt accessions, whereas ENSG00000285441 has a

[2020-03-26 10:13] andrewhercules commented on #891
Ticket closed as data from eTOX and Tox21 has been curated and added to the [/Target Safety/safety_buckets_work/experimental_toxicity folder](https://drive.google.com/drive/folders/1Cm-tnZSkNZLhshYY98S_Hom58vci9Huq) in .tsv and .xlsx formats.

[2020-03-26 10:13] #891 closed

[2020-03-26 10:37] cmalangone commented on #923
The code is solid in the sense that uses transform and if in order to avoid to lose data.

branch: cm_923_adverse_events_safety
es7-mk: 20.02_target_923

PR: https://github.com/opentargets/platform-etl-backend/pull/26

[2020-03-26 10:49] #923 closed

[2020-03-26 14:00] andrewhercules commented on #926
Confirmed with @cmalangone that files are available for download in the `input/annotation-files` directory

[2020-03-26 14:00] #926 closed

[2020-03-26 14:07] andrewhercules opened #942 "Update links on /downloads page to include tractability, safety, and baseline expression files"
Details TBC

[2020-03-26 14:19] andrewhercules opened #943 "Align back-end for rewrite with new target safety data"
The new experimental toxicity data will need to be added to the rewrite back-end so that the React application can display the data table - see #907

[2020-03-26 15:19] cmalangone commented on #280
The ETL has fixed for the target.
Moreover there is a generic class that can be used in similar cases.
The reactome info is added with the proper fields with _ against "a space.

I tested the code with parquet files (in this case the input should be already correct due the fact that parquet file does not accept space for the key ) and I tested the code against the JSON dump.

Branch: cm_280_replac

[2020-03-26 15:32] #280 closed

[2020-03-26 15:40] andrewhercules commented on #905
Proposed JSON schema has been updated to reflect data available in experimental toxicity .tsv file

[2020-03-26 15:48] mkarmona opened #944 "Related D/T widget"

[2020-03-26 16:06] andrewhercules commented on #880
Based on a conversation with @cmalangone, we will not update the pipeline to process the ChEMBL IDs and labels for this release. Rather, we will work with ChEMBL to update the JSON generated by the tractability pipeline for 20.06.

[2020-03-26 16:28] andrewhercules opened #945 "Align back-end for rewrite with new tractability data"
The new tractability data will need to be added to the rewrite back-end so that the React application can display the data table - see #881 for the work done with the Angular application

[2020-03-27 10:36] DSuveges commented on #866
A document describing the first version of the exported data with suggestions for the final format:
https://docs.google.com/document/d/1V0Ule1tSi7ZGsakddNLuJJkBfNaX9WPy8xpyb09GGxY/edit#heading=h.ku0n0bnaygbb

[2020-03-27 10:36] #846 closed

[2020-03-27 10:44] andrewhercules commented on #944
Based on a conversation with @mkarmona and @d0choa, it was decided that we will remove the drop-down showing the underlying disease associations for related targets:

- The drop-down only shows the associated disease and association score whereas in the current Angular app, users can see a breakdown of the association evidence by data type
- On screens smaller than 1560px wide, the drop-down butto

[2020-03-27 10:47] andrewhercules commented on #944
My recommendation is that we implement something like this:

![Related Targets - v2 - March 2020 (1)](https://user-images.githubusercontent.com/7490258/77748456-4c4f1a80-7018-11ea-8596-1de11caafe08.png)

[2020-03-27 10:47] d0choa commented on #944
We can leave points 1 and 2 for further iterations.

[2020-03-27 10:52] d0choa commented on #944
The above specification without the `View shared disease associations` will work for the moment. Further iterations might alter how DDR is calculated in the pipeline and therefore the whole purpose of the widget.

[2020-03-27 14:36] fedde-s opened #946 "Various tables overflow their section container"
Since release 20.02, the contents of many of the table-containing sections on the profile pages will display outside of their sections when viewed in a narrow window. Examples include the **RNA Expression** section on the association profile page (Expression Atlas), the **Protein information** section on the target profile page (Uniprot), and the **Drugs** section on all profile pages. I believe t

[2020-03-27 15:07] fedde-s commented on #946
From the commit message of the commit I reference, I'm not sure why this behaviour was introduced. Is the reason for it still relevant, or would it make sense to revert the commit as a bugfix?

[2020-03-27 15:15] fedde-s commented on #946
I see—doing that would cut of the large tooltip of the **Gene prioritisation score** column heading in the **Genetic associations** / **Common diseases** table. Might there be a way to make the overflow apply _only_ to that tooltip?

[2020-03-27 16:18] LucaFumis commented on #946
Hi Fedde,
well spotted - you're correct in all your assumptions/findings.
The change was introduced to allow the (somewhat large) tooltip in the genetic evidence table.
I was aware at lower resolution the drugs table would present some rendering issues, but then again the summary charts would break anyway. I don't think at the time I picked up on the other tables.
It _might_ be possible to revert

[2020-03-27 16:30] fedde-s commented on #946
[This article](https://css-tricks.com/popping-hidden-overflow/) led me to try out what would happen if the popover had no positioned ancestors within the `.scroll-table-panel .table-panel`—which worked for me, and made the popover visible even without `overflow: visible`.

…unfortunately, the closest positioned ancestor is positioned by datatables.min.css:
[code]

[2020-03-27 16:48] andrewhercules commented on #905
Proposed JSON schema has been updated and flattened to reflect inclusion of `assay_type` and `assay_system` columns in the toxicity .tsv file.

[2020-03-27 16:52] andrewhercules commented on #906
[Data table design spec](https://docs.google.com/presentation/d/1_Dfr3A3ztQezwvH_vDadcl2MnViBGcitU_NNZNJ1uLA/edit#slide=id.g7ee0bec8fe_0_0) updated to account for changes to API response data noted in #905

[2020-03-27 16:54] andrewhercules commented on #907
[Data table design spec](https://docs.google.com/presentation/d/1_Dfr3A3ztQezwvH_vDadcl2MnViBGcitU_NNZNJ1uLA/edit#slide=id.g7ee0bec8fe_0_0) updated to account for changes to API response data noted in #905

[2020-03-27 17:22] AsierGonzalez commented on #941
Ensembl will merge the two SOD2 genes as they agree that ENSG00000285441 looks like a transcript of ENSG00000112096, with the latter being the kept id. The change will be effective in Ensembl 101 due to be released later this year, not the upcoming 100.

[2020-03-27 17:23] andrewhercules commented on #946
@fedde-s: we are planning for our 20.04 release, which should be available w/c Monday 27 April, and we can look at resolving this issue then. :-)

[2020-03-27 17:30] andrewhercules commented on #941
Ticket closed as Ensembl has responded - see above.

Thanks @AsierGonzalez! 👍

[2020-03-27 17:30] #941 closed

[2020-03-27 17:34] d0choa commented on #906
this looks great @PruMM and @andrewhercules

[2020-03-27 17:41] AsierGonzalez commented on #941
Note that, however, this will not be fixed in until Ensembl 101 is released and we use it, which could be 20.06 or, possibly, later.

[2020-03-27 17:45] andrewhercules opened #947 "Hide cancer hallmarks table when API does not return hallmarks"
For targets like [TMPRSS2](https://www.targetvalidation.org/target/ENSG00000184012), the Cancer Hallmarks section shows information about the gene function and an empty table.

![Screenshot 2020-03-27 at 17 38 06](https://user-images.githubusercontent.com/7490258/77784020-bdf78a80-7051-11ea-8728-4da83a73ae70.png)

In the [cancer-hallmark plugin code](https://github.com/opentargets/webapp/tree/mast

[2020-03-27 18:45] AsierGonzalez commented on #104
For the 20.04 release the mappings mentioned above have been manually fixed and there are now no evidence strings annotated with `EFO_0000249`.

A more robust fix for this needs to be discussed with Kirill. The suggested approach would be to map the ClinVar conditions using a two-step approach:

1. Cross-reference the orphanet or OMIM in ClinVar to EFO **if it exists**
2. If not use Zooma to map t

[2020-03-30 13:51] mkarmona opened #948 "Tabular data"

[2020-03-30 13:51] mkarmona opened #949 "Empty page"

[2020-03-30 13:54] mkarmona opened #950 "Integrate empty page as empty search result"

[2020-03-30 15:47] andrewhercules commented on #894
Based on analysis of data available for targets below by @PruMM, decision made to push updates to this data to 20.06 to allow for more curation using new data sources.

Targets:

- ENSG00000118777
- ENSG00000143921
- ENSG00000138075
- ENSG00000085563
- ENSG00000108846
- ENSG00000023839
- ENSG00000164889
- ENSG00000175003
- ENSG00000125257
- ENSG00000081923
- ENSG00000005471
- ENSG00000125255
- ENS

[2020-03-30 19:02] andrewhercules commented on #905
Proposed JSON schema has been updated to reflect changes to data file - see #904 for more information

[2020-03-31 09:14] mkarmona commented on #912
@cmalangone value has a list of elements and that is wrong as it should only have the triplet I have shown above. It has now

[code]

[2020-03-31 09:18] d0choa commented on #912
Yes, this is important. The id `GO:0005911` is about [cell-cell junction](https://www.ebi.ac.uk/QuickGO/term/GO:0005911). It has nothing to do with `ciliary basal body`

[2020-03-31 13:13] cmalangone commented on #912
Fixed in a new PR
https://github.com/opentargets/platform-etl-backend/pull/31

[2020-03-31 14:28] #912 closed

[2020-04-01 11:11] AsierGonzalez opened #951 "Perform release-related activities for 20.04"
A number of checks have to be performed on the evidence files submitted by data providers as they arrive and before the pipeline is run to see whether the agreed changes have been implemented.

- [x] Check UniProt
- [x] Check EVA
- [x] Check Expression Atlas evidence and baseline expression
- [x] Check EuropePMC
- [x] Check COSMIC evidence and hallmarks

In addition, some of the internal data sour

[2020-04-01 14:06] cmalangone opened #952 "Platform-input-support: resolve the issue with the date format"
The current version of platform-input-support supports only the format dd-mm-yyyy and most of our partner would prefer to have a flexible standard . Eg(yyyy-mm-dd)

[2020-04-01 14:09] cmalangone opened #953 "Platform-input-support: Improve log approach"
Currently the only output is by console.
It would be better to have a log output as file.

[2020-04-01 14:10] cmalangone commented on #845
Config.yml udpated with the proper info.

[2020-04-01 14:10] #845 closed

[2020-04-01 14:11] cmalangone commented on #952
from 20.04 platform-input-support will support a new date type.

Specifically:
date format: The date can be neither dd-mm-yyyy or yyyy-mm-dd
The only restriction is that the latest date filename MUST be unique in the bucket.
The algorithm doesn't care about the other files present in the bucket but if there are TWO or more file with the latest date in the filename than the script will raise an err

[2020-04-01 14:12] #952 closed

[2020-04-01 14:13] cmalangone commented on #953
Created new log directory. The default filename is output.log
Updated .gitignore to avoid to save/track logs files.

Created a new file with log default behaviour
resources/logging.ini

Update BasicConfig to follow the default behaviour.

[2020-04-01 14:13] #953 closed

[2020-04-01 14:26] cmalangone commented on #934
Created a new ES :  es-20-02-etl

[2020-04-01 14:31] cmalangone commented on #904
Added in platform-input-support a new specific key to manage this input file.
The data team should add the file in the specific bucket
  - bucket: **otar001-core/ExperimentalToxicity**

The standard filename will be **experimental-toxicity-{suffix}.tsv** (eg. experimental-toxicity-2020-03-28.tsv

Changed Mrtarget.conf file with a new key **experimental-toxicity**

[2020-04-01 14:59] AsierGonzalez commented on #951
UniProt checked on March 19 and looked good:

- 37,551 evidence strings, +59 compared to 20.02.
- 7 evidence strings didn't pass validation because the variants are annotated with the "snp multiple" type, which is a known issue (see #809).

[2020-04-01 16:38] AsierGonzalez commented on #951
TEPs and Chemical Probes updated:
- No new TEPs
- 76 probes in total in SGC. 4 new probes (`SSGC-CAMKK2-1`, `SGC-CLK-1`, `SGC-STK17B-1`, `NVS-MLLT-1`) have been added and one lost (`SGC-iMLLT`). However, new probe `NVS-MLLT-1` targets the same proteins so it may have been replaced by it.
- There are still 123 probes in total in the Chemical Probes Portal but there has been one addition (`Taxol`) a

[2020-04-01 16:48] d0choa commented on #931
Could you @AsierGonzalez revert the inclusion of the functional consequence in the `unique asociation_fields`. When reviewed, we'll include it in the relevant part of the evidence string.

[2020-04-02 09:11] andrewhercules opened #954 "Update Platform (Angular version) due to partnership changes"
Due to changes in the consortium partnership that took effect on 1 April 2020, can we please make the following changes to the Angular version of the Platform homepage and footer?

**Homepage**

1. Remove the Biogen logo and link
2. Remove the Celgene logo and link
3. Add the [Bristol Myers Squibb logo](https://www.bms.com/assets/bms/us/en-us/images/bristol-myers-squibb-new-logo.png) and link to h

[2020-04-02 09:27] andrewhercules opened #955 "Update Platform (React version) and Genetics Portal footers due to partnership changes"
Due to changes in the consortium partnership that took effect on 1 April 2020, can we please make the following changes to the React version of the Platform and the Genetics Portal footers?

![Screenshot 2020-04-02 at 10 21 22](https://user-images.githubusercontent.com/7490258/78232140-ba3d8b00-74cb-11ea-94d1-b1eb9e590ed9.png)

1. Remove the Biogen text and link
2. Remove the Celgene text and link

[2020-04-02 10:13] andrewhercules opened #956 "Update documentation references due to partnership changes"
Due to changes in the consortium partnership that took effect on 1 April 2020, can we please review the documentation for the Platform and Genetics Portal and make the following changes?

1. Remove all references and web links to Biogen
2. Replace all Celgene references and web links with Bristol Myers Squibb and link to their website at https://www.bms.com

[2020-04-02 10:32] cmalangone commented on #904
Created a branch called cm_504_update_target_safety_with_toxicity
Modified the file : mrtarget/plugins/gene/safety.py

Eg. GENE ID
ENSG00000091831
ENSG00000097007
ENSG00000043591

[2020-04-02 14:58] AsierGonzalez opened #957 "Read TEPs from Google Spreadsheet"
Currently, the Target Enabling Packages (TEPs) shown in the target profile page of certain genes are [hard-coded in a javascript script in the webapp code base](https://github.com/opentargets/webapp/blob/master/app/src/services/teps-service.js). This is cumbersome because it means that the script has to be changed every time a new TEP needs to be added.

It has been decided that going forward, pla

[2020-04-02 15:23] mkarmona opened #958 "Include TEPs and target classes into target entity"

[2020-04-02 17:58] cmalangone commented on #880
Point 1 and 2 done.
Had a conversation with @LucaFumis about the format for the index.

PR done and merge.
Run a first test and no issue came up.

[2020-04-02 22:09] deniseOme commented on #956
We have no references to Biogen in the Open Targets Platform docs.

As per Open Targets Genetics docs, we had two instances referring to Biogen and Celgene:

* https://genetics-docs.opentargets.org/#our-partners
* https://genetics-docs.opentargets.org/#copyright

Biogen removed. Celgene changes to

[2020-04-02 22:14] #956 closed

[2020-04-03 14:01] LucaFumis commented on #901
I add below details from a Slack conversation with @mkarmona on pagination, to keep for reference.
Some of the details are relevant to specific widgets - I'll try add those in the relevant tickets.

**Question:**
For tables we decided to implement a batch load: the front end loads all rows in chunks (so e.g. for 10000 rows, we might make 2 calls for 5000 rows each), right?

**Answer:**
please, use

[2020-04-03 14:11] deniseOme commented on #933
@andrewhercules @PruMM @d0choa, I've made a start with two google docs to be populated:

* [update short section on targets safety in the Target profile help doc](https://docs.google.com/document/d/1psYCO3sywRDngda6X_fAdXac9IOfm8B9rwdjViDtIJU/edit#heading=h.issh4678b4bi)
* [create brand new standalone help page with detailed information on target safety](https://docs.google.com/document/d/19ZhvS9E

[2020-04-03 14:36] deniseOme opened #959 "Link to Open Targets Genetics in the evidence page not loading"
The genetic evidence for [SNCA in dementia](https://www.targetvalidation.org/evidence/ENSG00000145335/HP_0000726?view=sec:genetic_association), and its child [Lewis body dementia](https://www.targetvalidation.org/evidence/ENSG00000145335/EFO_0006792?view=sec:genetic_association) has one variant from Open Targets Genetics (OTG), i.e. rs7681440, which is on chr 4 (4_89835399_C_G).

When clicking on

[2020-04-03 15:00] d0choa commented on #959
I'm puzzled here. @mkarmona could you confirm this study was loaded as expected in the Portal BE?

[2020-04-03 15:19] mkarmona commented on #959
@d0choa @deniseOme there is a bug of the frontend as the [API has information for it](https://tinyurl.com/v2ta6sk)

[2020-04-03 15:33] mkarmona commented on #959
yes, there might be something [strange here](https://tinyurl.com/w2w7e43)

[2020-04-05 21:08] PruMM opened #960 "Formatting Experimental Tox Information in PharmGKB data"
Steps being carried out to assess the best way to format the experimental target safety data retrieved from the PharmGKB data source (this issue focuses on target centric experimental data addressing safety parameters. The drug centric data from PahrmGKB is dealt with in a different issue)

[2020-04-05 21:13] PruMM opened #961 "Formatting of Drug Data Related to Target Safety from ChEMBL"
The work in this issue involves the examination and formatting of drug related data to target safety from 2 sources ChEMBL and PharmGKB

[2020-04-05 21:57] DSuveges commented on #870
To build STRING network JSON in the same as we have proposed for Intact, we collect a list of evidences under the `interaction` key. The only problem is that the available evidences for STRING does not follow [MI](https://www.ebi.ac.uk/ols/ontologies/mi) vocabulary, so we need to map them.

This is the list of evidence types and the corresponding mapping I could came up with:

| STRING term | mapp

[2020-04-06 11:37] andrewhercules commented on #905
Thank you @cmalangone - the QC API returns the data as agreed and can be used by the front-end team! :-)

![Screenshot 2020-04-06 at 12 36 21](https://user-images.githubusercontent.com/7490258/78554548-3fde7500-7803-11ea-904f-0a6076ef8061.png)
[QC API response for ENSG00000085563](http://platform-api-qc.opentargets.io/v3/platform/private/target/ENSG00000085563)

[2020-04-06 11:37] #905 closed

[2020-04-06 11:38] andrewhercules commented on #904
Ticket closed as pipeline has been updated and API returns data in specified JSON format in #905

[2020-04-06 11:38] #904 closed

[2020-04-06 11:41] andrewhercules commented on #880
Thank you @cmalangone - the data is now available in the API! 👍

[2020-04-06 11:41] #880 closed

[2020-04-06 11:42] andrewhercules commented on #881
Ticket closed as API returns other modalities data

![Screenshot 2020-04-06 at 12 40 24](https://user-images.githubusercontent.com/7490258/78554926-f04c7900-7803-11ea-9b61-22de4859f529.png)
(example: [FGA](http://platform-api-qc.opentargets.io/v3/platform/private/target/ENSG00000171560))

[2020-04-06 11:42] #881 closed

[2020-04-06 11:55] andrewhercules opened #962 "Update Check-O-Matic with examples of targets with other modality tractability data"
With the inclusion of new data showing tractability assessments for other modalities (e.g. protein, enzyme, etc.), we should update Check-O-Matic with new rules.

For example:

FGA (ENSG00000171560) should have `other_modalities.buckets == 1`
VEGFB (ENSG00000173511) should have `other_modalities.buckets == 2`
FZD8 (ENSG00000177283) should have  `other_modalities.buckets == 3`

[2020-04-06 13:24] andrewhercules commented on #939
Closing this ticket as the new data is properly formatted by the data table based on the evidence submitted by COSMIC

![Screenshot 2020-04-06 at 14 23 48](https://user-images.githubusercontent.com/7490258/78563045-41fc0000-7812-11ea-9259-7c89c0175413.png)

[2020-04-06 14:45] DSuveges commented on #870
**Input: **

| header | Value |
| ---  |  --- |
|  protein1  |  9606.ENSP00000354878  |
|  protein2  |  9606.ENSP00000000233  |
|  neighborhood  |  0  |
|  neighborhood_transferred  |  0  |
|  fusion  |  0  |
|  cooccurence  |  0  |
|  homology  |  0  |
|  coexpression  |  0  |
|  coexpression_transferred  |  0  |
|  experiments  |  0  |
|  experiments_transferred  |  131  |
|  database  |  900  |

[2020-04-06 15:25] d0choa commented on #870
Looks great! Just minor comments:
- We don't use the `ensembl_protein_id` for anything at the moment, so feel free to remove it if you want.
- make sure you fill `source_info.database_version`. It will be handy

[2020-04-06 15:57] d0choa opened #963 "Issues with proxy performance in production"
The production proxy is having issues (most of the times). The next query fails:
https://www.targetvalidation.org/proxy/rest.ensembl.org/lookup/id/ENSG00000142192?content-type=application/json

However, the same query works in QC:
https://platform-api-qc.opentargets.io/proxy/rest.ensembl.org/lookup/id/ENSG00000142192?content-type=application/json

@mkarmona suggests it might be related with either

[2020-04-06 19:51] LucaFumis opened #964 "Update related targets widget FE"
Update related targets widget:
 - remove expandable rows
 - use new API queries and fields
 - enable server side pagination for the table

[2020-04-06 23:51] DSuveges commented on #870
Currently STRING data is coming with the Ensembl protein id. I think for tracking it makes sense to keep those identifiers as well.

Yes, the version will be filled: this value cannot be read from the file itself, but from the filename. This bit is yet to be added to the code.

[2020-04-07 08:37] andrewhercules commented on #906
Based on further conversations with @PruMM, the design specs have changed to account for key differences between the eTOX and Tox21 datasets.

Instead of one table, we will generate two tables - one for cell-based Tox21 data and one for tissue-based eTOX data.

The design specs have been updated in the [team Google Drive](https://docs.google.com/presentation/d/1_Dfr3A3ztQezwvH_vDadcl2MnViBGcitU_NN

[2020-04-07 08:48] DSuveges commented on #866
The required strucutre is now formalised as a JSON schema:

[code]

This schema can now be used to validate against the data given by providers or can also be used to build json objects from STRING data.

[2020-04-07 11:14] andrewhercules opened #965 "Round L2G score in Genetic Associations data table"
Changes to the pipeline mean that we now get a more precise L2G score, which we display in the Gene Prioritisation Score column in the Genetic Associations (Common Diseases) data table on the evidence page.

![Screenshot 2020-04-07 at 12 10 56](https://user-images.githubusercontent.com/7490258/78662776-f22c4000-78c8-11ea-8fcf-70749b1d88df.png)

Can we please make a change and round the scoring usi

[2020-04-07 11:41] andrewhercules commented on #939
Ticket re-opened as some changes should be made to improve the usability of the table.

1. For Cancer Gene Census data, can we please display `number_samples_with_mutation_type
/ number_samples_tested`? This would require changing [line 120 of the somatic-mutation-table-directive](https://github.com/opentargets/webapp/blob/ec344f09ddaa4f2d2c9f1505cd1714b69ded324d/app/src/components/somatic-mutatio

[2020-04-07 13:10] cmalangone opened #966 "Adverse events file: changes the header field report_count to count or data_pipeline"
Adverse events file has the header
chembl_id	critval	event	llr	report_count

the data pipeline raises an exception with report_count. It expected "count".
Change the header file or the data_pipeline.

@mkarmona : what do you prefer?

[2020-04-07 13:33] mkarmona commented on #966
@cmalangone I guess we should stick to a more uniformly way of naming things when is possible. If we have the option to change so let's try to apply something like this (balanced between meaningful and keeping short)

[code]
@cmalangone This has to be [changed here](https://github.com/opentargets/platform-etl-openfda-faers/blob/master/platformDataProcessFDAMonteCarlo.sc#L135)

Furthermore, this ch

[2020-04-07 13:47] d0choa commented on #966
Please, keep in mind you will be affecting the 2 FE versions if endpoints change their name. Just a reminder to follow up on them if changes are implemented.

[2020-04-07 13:59] mkarmona commented on #966
@d0choa I will only break the former one as for the new FE the api is already encapsualted. I am just talking about data output. See [here](https://github.com/opentargets/platform-api-beta/blob/mk-target/app/models/entities/AdverseEvent.scala#L14) and the GraphQL object will remain the same as it is, see [here](https://github.com/opentargets/platform-api-beta/blob/mk-target/app/models/entities/Adv

[2020-04-07 14:32] mkarmona commented on #963
After further inspection of the firewall rules and internal VPC connections, the problem is related to a hang of the _nginx_ service. A **rolling replace** fixed the issue.

[2020-04-07 14:32] #963 closed

[2020-04-08 07:53] andrewhercules opened #967 "Update tractability documentation page to include changes for 20.04"
With the tractability data changes planned for 20.04, we should update the [target tractability documentation page](https://docs.targetvalidation.org/getting-started/target-tractability).

Can we please make the following changes?

- Update reference to the list of 60,000+ genes the pipeline has been run on and include link to Platform downloads page with gene list
- Include link to the [tractabil

[2020-04-08 08:45] cmalangone opened #968 "Experimental Toxicity has to be included in target (from 20.04)"
The experimental toxicity has been added in the gene index from data release 20.04
The safety key has a child called 'experimental_toxicity'

Add this info to target index [rewriting]

[2020-04-08 09:02] cmalangone commented on #830
Done.

[2020-04-08 09:02] #830 closed

[2020-04-08 09:06] #968 closed

[2020-04-08 14:40] AsierGonzalez commented on #420
The new mappings file has replaced the old one in the mappings repository: https://github.com/opentargets/mappings/blob/master/phewascat.mappings.tsv

[2020-04-09 13:24] deniseOme commented on #933
@andrewhercules @d0choa, could you please confirm the number of unique Ensembl gene IDs for safety data combining Eirini and Prudence curation efforts is 445 as per the draft https://docs.google.com/document/d/1psYCO3sywRDngda6X_fAdXac9IOfm8B9rwdjViDtIJU/edit#heading=h.pzcfnqeiofex

[2020-04-09 13:36] AsierGonzalez commented on #933
According to the metrics there used to be 193 targets with safety data before and there are 439 now. I wonder if the discrepancy may be due to some ids being repeated or invalid?

[2020-04-09 13:47] PruMM commented on #933
To avoid speculation and making a guess on it- I have asked Andrew to provide us with the final numbers as he has the full oversight on the new targets he created as well as having the final version of the file we worked on the last few days, he'll either upadre on here or pass the figure onto me and I can update on here

[2020-04-09 14:47] andrewhercules commented on #933
@AsierGonzalez is correct - it's 439 targets that now have safety information.

- 305 targets have experimental toxicity data
- 122 targets have adverse effects data
- 73 targets have known safety risk data

There is some overlap as some targets will have multiple types of safety data (e.g. CDK2 has all three).

[2020-04-09 15:28] PruMM commented on #933
thanks Andrew

[2020-04-09 15:28] deniseOme commented on #933
@andrewhercules could you please provide the number of unique targets, with no overlap, irrespective of the source of safety data?

My counts give rise to 445 Ensembl gene IDs with (at least) one source of safety data. This list of unique Ensembl IDs is attached here (a combination of Eirini's and Prudence's work). This is not a guess work or speculation @PruMM; it's based on the spreadsheets in t

[2020-04-09 15:34] deniseOme commented on #933
@andrewhercules if you can provide the list of IDs themselves (not only the numbers), that'd be extremely useful and much appreciated. Ta.

[2020-04-09 21:39] andrewhercules commented on #933
I have done an assessment of the file provided by @deniseOme, the file generated by @PruMM, and the original known safety risk and adverse effects files generated by Eirini.

You can find the report on the team Google Drive in both [.csv](https://drive.google.com/open?id=1eZEdsrgN-FSofj4j48VGbvEM_SmJCDO-) and [Google Sheets](https://drive.google.com/open?id=1kVYCUBRIelJzRi6d4xdS9Dg2tomYO0N6cgqOP88

[2020-04-10 10:08] AsierGonzalez commented on #933
Having a quick look, those Ensembl ids seem to belong to genes in non-standard chromosomes which explains why they aren't in the gene index. The questions are why were those ids chosen and if their counterparts in standard chromosomes are included.

[2020-04-13 20:35] DSuveges commented on #870
How the most recent version looks like:

[code]

[2020-04-14 15:08] d0choa opened #2343 "FinnGen endpoints to EFO mappings - generate curation table"
Subtasks include:
- [x] Find list of endpoints to map in data freeze 2
- [x] Map them using ICD9 and ICD10 cross-refs
- [x] Enrich the mappings using Ontoma (OLS + ZOOMA)
- [ ] Write documentation on the process

Resulting file is available here for manual curation:
https://drive.google.com/open?id=1ttueMuJhCzQyIdy_lH6eAATDVzf4f2Nf3HnBDrw71GY

[2020-04-14 17:29] cmalangone commented on #943
PR: https://github.com/opentargets/platform-etl-backend/pull/33

[2020-04-14 17:29] cmalangone commented on #945
PR: https://github.com/opentargets/platform-etl-backend/pull/33

[2020-04-14 17:30] cmalangone commented on #945
Example TEST
Tractability
ENSG00000196115 : no info for tractability
ENSG00000143727 : smallmolecule only
ENSG00000106541: antibody only
ENSG00000198216 : antibody and smallmolecule info.
ENSG00000198400: other_modalities info

[2020-04-14 17:30] cmalangone commented on #943
Test for safety data
Safety:
ENSG00000142208 all info
ENSG00000097007 safety info
ENSG00000274286 adverse info
ENSG00000225730 empty info

[2020-04-15 03:58] PruMM commented on #960
Initial assessment of data format required data curation into 3 categories
Genetics based
Experimental
Drug based
Splitting issue into 3 categories for separate formatting

[2020-04-15 04:06] PruMM commented on #961
List of targets with withdrawn drug information retreived from ChEMBL
Cuation to resolve identifiers and target selected (information in database table A_TARGS_CHEMBL_WITHDRAWN_DRUGS
****(Waiting on ChEMBL publication for BlackBox warning set)

[2020-04-15 04:16] PruMM opened #969 "Categorisation of Target Safety Information with a target-drug link (PharmGKB, ChEMBL)"
Focuses on creating a common specification (json schema) for these 2 information categories. Output a tsv file with common headers for both data sets.

[2020-04-15 04:24] PruMM opened #970 "Document curation process of new target safety information (non-clinical experimental toxicity)"
Provide a summary of the curation and formatting of the ETOX and TOX21 data sets.

Detailed summary to be deposited in Target Safety Google docs

High level summary to be included in Brand new Target safety help Document

[2020-04-15 07:18] #866 closed

[2020-04-15 08:05] DSuveges commented on #866
[Pull request](https://github.com/opentargets/json_schema/pull/86) is opened to merge the schema file to the json-schema repository.

[2020-04-15 08:28] DSuveges commented on #870
Steps remaining to complete this ticket:

- [ ] Complete script that parses string data and generates json.
- [ ] Finalise which input file should actually be used.
- [ ] Finalise the mapping of detection methods to MI terms.
- [ ] Submit pull request and ask for code review.

[2020-04-15 08:46] #811 closed

[2020-04-15 08:49] #853 closed

[2020-04-15 09:32] #961 closed

[2020-04-15 09:32] #960 closed

[2020-04-15 11:23] DSuveges commented on #854
[Commit](https://github.com/opentargets/docs.targetvalidation.org/commit/a5372b5e9fb8f64f17a9d5b613240bf00fc316a0) merged into master.

[2020-04-15 11:23] #854 closed

[2020-04-15 11:43] AsierGonzalez commented on #757
This is now fixed, the SO codes can be found in the REST API response:

- 20.02

[code]
- 20.04 QA
[code]

[2020-04-15 11:43] #757 closed

[2020-04-15 12:43] AsierGonzalez commented on #874
Fixed by https://github.com/opentargets/ontology-utils/pull/11

[2020-04-15 12:43] #874 closed

[2020-04-15 12:44] AsierGonzalez commented on #873
Fixed by https://github.com/opentargets/ontology-utils/pull/11

[2020-04-15 12:58] #873 closed

[2020-04-15 13:01] d0choa commented on #892
This change was implemented in EFO 3.16. It didn't cause any unindented issues in pipeline or FE (QA version). A reduction on the number of invalid strings has been confirmed.

[2020-04-15 13:01] #892 closed

[2020-04-15 14:14] andrewhercules commented on #967
We can also include a link to the updated version of the pipeline that Melanie has created - https://github.com/melschneider/tractability_pipeline_v2

[2020-04-15 14:43] mkarmona opened #971 "Text overflow and lack of loading notification"

[2020-04-15 14:48] mkarmona opened #972 "Show more / less toggle does not work"

[2020-04-15 14:53] AsierGonzalez commented on #931
The evidence file was created again on 02-04-2020 without the functional consequence as requested.

[2020-04-15 14:55] AsierGonzalez commented on #931
The parser has been updated and it will be merged via PR [#45](https://github.com/opentargets/evidence_datasource_parsers/pull/45)

[2020-04-15 14:59] andrewhercules commented on #882
@Luca, would it be possible to build something like this?

![Screenshot 2020-04-15 at 15 57 23](https://user-images.githubusercontent.com/7490258/79352476-d280c180-7f31-11ea-9fad-f0587be97069.png)

[2020-04-15 15:04] AsierGonzalez commented on #931
There are two additional tasks to complete the update:

- [ ] Review if the OMIM ids used to map the traits to EFO are reliable. It seems that some of them are not very accurate and a different approach may be needed.

- [ ] Check if any of the other three gene panels could be used to generate evidence. Currently only the DD panel is used and there are separate ones for cancer, eye  disorders and

[2020-04-15 15:28] AsierGonzalez commented on #795
This issue has been solved for both data sources:

- Expression Atlas: Since March 2020 the unique association fields contain the disease id as explained above and there are now no duplicates.
- PheWAS: The parsing script has been revamped (See [PR #44](https://github.com/opentargets/evidence_datasource_parsers/pull/44)) and the unique association fields now include the target and disease ids and

[2020-04-15 15:58] andrewhercules opened #973 "Write new smoke tests for target page"

[2020-04-15 15:58] andrewhercules opened #974 "Write new smoke tests for disease page"

[2020-04-15 15:59] andrewhercules opened #975 "Write new smoke tests for drug page"

[2020-04-15 16:00] andrewhercules opened #976 "Improve smoke test coverage for entity pages"
The current [platform-app smoke-test.js file](https://github.com/opentargets/platform-app/blob/master/test/smoke-test.js) needs to be expanded to cover the basic scenarios for all three entities:

- Target
- Disease
- Drug

[2020-04-15 16:51] AsierGonzalez commented on #795
These are the reasons why some evidence strings are duplicated in PheWAS:
- Two Phecodes (184 and 184.2) have the same string ("Cancer of other female genital organs"). There are 251 of this in the JSON and the duplicates would disappear if we added the Phecodes to the unique association fields. It would probably also work with odds ratio and number of cases but that is not ideal.
- Duplicate mapp

[2020-04-15 17:01] AsierGonzalez commented on #795
After removing the duplicates in the mapping file and adding the snp id to the unique association fields the number of duplicates goes down from 15k to 29. I will update the file for 20.06.

[2020-04-16 08:25] AsierGonzalez commented on #795
I can confirm that the remaining 29 duplicates belong to the first category mentioned above, namely, the two different phecodes with the same string "Cancer of other female genital organs". @d0choa do you think we should deduplicate those strings (adding the phecode) or is it not worth the hassle?

[2020-04-16 13:02] d0choa opened #977 "Manual QC on 20.04"
Just creating a ticket to keep track of the activities.
To be closed once the work is done.

[2020-04-16 13:44] AsierGonzalez commented on #876
Issue has been solved, now the scores cover the whole 0-1 range:
![Screenshot 2020-04-16 at 14.43.13.png](https://images.zenhubusercontent.com/5e3bdd3b5ae31307fec27bc8/fc73f27d-e3be-47ae-b105-e929f98a18fe)

[2020-04-16 13:44] #876 closed

[2020-04-16 14:10] #915 closed

[2020-04-16 14:10] #916 closed

[2020-04-16 14:11] #917 closed

[2020-04-16 14:12] #914 closed

[2020-04-16 14:42] AsierGonzalez commented on #195
The PheWAS catalog parser has been revamped (see PR [#44](https://github.com/opentargets/evidence_datasource_parsers/pull/44)) and the main changes are the following:

- Parser is now called `PheWAS.py` and is located directly in the `modules` directory. The `phewascat` directory in `modules` an all the files and scripts underneath it have been deleted.
- Input and output file names are specified

[2020-04-16 14:42] #195 closed

[2020-04-16 14:49] LucaFumis commented on #942
I understand from https://github.com/opentargets/platform/issues/926 that the data files are ready for download.
 1. Where do we add add these to the download page? Under the Apr 2020 heading after associations, evidence and target/disease lists?
 2. Do we link to the 20.04 folder in google cloud @cmalangone ? I see there are also 20.04.1 and .2

[2020-04-16 14:59] AsierGonzalez commented on #951
EVA file was received on March 20 and it looked good:
- 122,219 evidence strings, 6k up compared to 20.02. The ClinVar version used did not change so the increase in the number of evidence strings was caused by the new snp-to-gene mapping pipeline developed by Kirill at EVA.
- The alzheimer's disease subtypes `alzheimer disease, type 1`, `alzheimer disease, type 3` and `alzheimer disease, type 4`

[2020-04-16 15:06] AsierGonzalez commented on #951
Expression atlas data received on 17th March based on Atlas release 34:
- 215,921 evidence strings, +2.5k compared to 20.02
- The unique association fields now include the disease id which avoids duplicated - see [#795](https://github.com/opentargets/platform/issues/795) for more info

[2020-04-16 15:18] AsierGonzalez commented on #951
EPMC file received on March 19:
- 9.655.854 evidence strings, +360k compared to 20.02.
- They also submitted another file were an ML method was used to remove FPs, which reduced  the number of evidence strings by around two thirds (down to 3,276,147). This was just the first iteration and work in this area will continue in the coming months.

[2020-04-16 15:31] AsierGonzalez commented on #951
COSMIC file received on March 18:
- Same data as the one used for 20.02, i.e. based on COSMIC v90) but with one entry per target-disease pair. Consequently, the number of evidence strings dropped to 53,929 compared to 96,284 in 20.02 but the number of associations increased slightly (+1k)  - see [#811](https://github.com/opentargets/platform/issues/811) for more info
- Cancer Hallmarks file update

[2020-04-16 15:35] andrewhercules commented on #942
Sorry @LucaFumis ... I meant to update this ticket but forgot about it.

Yes, could we please add these links to the download page under the April 2020 heading after the associations, evidence, and target/disease lists? For example, like the following:

- Association objects (2020-02, 765MB)
- Evidence objects (2020-02, 4.23GB)
- Target list: CSV (2020-02, 2.5MB), JSON (2020-02, 9MB)
- Disease lis

[2020-04-16 15:36] andrewhercules opened #978 "Generate XML sitemaps for 20.04 release"
Generate XML sitemaps and hand-off to front-end team to be added to webapp /sitemaps directory

[2020-04-16 15:39] mirandaio commented on #621
Finally done using React error boundaries.

[2020-04-16 15:39] #621 closed

[2020-04-16 15:40] d0choa commented on #942
I would suggest to remove the `gene prioritisation data` level. Providing all files as an unnested list should be ok.

We will eventually provide more files as some of the activities in the BE progress (e.g. drug list, adverse events, ...). We can then evaluate what's the best nesting strategy.

[2020-04-16 15:48] AsierGonzalez commented on #951
PheWAS catalog evidence generated on 7th April:
- Mapping of 1,360 PheWAS traits to EFO completed by @smnorthen  - see [#420](https://github.com/opentargets/platform/issues/420) for more info
- Ontology-utils updated to fix issue with missing consequence terms - see [#757](https://github.com/opentargets/platform/issues/757) for more info
- Parser script revamped - see PR [#44](https://github.com/o

[2020-04-16 16:17] d0choa commented on #703
Activities on this ticket have been completed or re-prioritised

[2020-04-16 16:18] #703 closed

[2020-04-16 16:19] #239 closed

[2020-04-16 16:19] d0choa commented on #239
A more comprehensive review of the components will be completed at a later stage.
I consider this done for the moment

[2020-04-16 16:41] d0choa commented on #767
Not an immediate priority but if you @javfg could have a look at this at some point would be great.

[2020-04-16 16:49] d0choa commented on #281
Not action is expected in the webapp. All effort is focused on the platform app

[2020-04-16 16:49] #281 closed

[2020-04-16 17:19] d0choa commented on #814
Closing as duplicated in #936

[2020-04-16 17:19] #814 closed

[2020-04-16 17:21] d0choa commented on #936
It was agreed that to increase consistency, the table should use whatever standard number of lines per page is used in other tables.

[2020-04-16 21:25] #936 closed

[2020-04-17 08:42] AsierGonzalez commented on #951
Gene2Phenotype evidence generated on 2nd April:
- Parsed Developmental Disorders (DD) data downloaded on 2nd April
- 2,375 evidence strings, up from 1,603 in 20.04
- This version also includes the update of [the OMIM-to-EFO mapping file](https://github.com/opentargets/platform_semantic/blob/master/resources/xref_mappings/omim_to_efo.txt) done by @d0choa

[2020-04-17 08:48] AsierGonzalez commented on #951
PhenoDigm evidence generated on 30th March:
- 566,986 evidence strings, notably up from 502,550 in 20.02. In fact, the number of evidence strings has been stable between 500-505k for year an a half (since 18.10). The main reason for the increase could be IMPC release 11.0 (Feb 2020).
- IMPC have been contacted to ask about their PhenoDigm Solr endpoint and they responded that it is not supported.

[2020-04-17 08:49] #951 closed

[2020-04-17 08:59] AsierGonzalez commented on #710
GWAS evidence is not used directly since 20.02, when OT Genetics was integrated so 3.a) does no longer apply

[2020-04-17 09:14] AsierGonzalez commented on #710
The odds ratio in no longer part of the unique association fields in PheWAS, it has been moved to `evidence.variant2disease`.

[2020-04-17 09:21] AsierGonzalez commented on #710
Since 20.02 there is no `mutation_type` in the COSMIC unique association fields given that the now receive one evidence string for each target-disease pair, comprared to the target-disease-mutation_type leve evidence we had before.

[2020-04-17 09:25] AsierGonzalez commented on #710
Fixing SysBio will require updating the [parser](https://github.com/opentargets/evidence_datasource_parsers/blob/master/modules/SystemsBiology.py) which currently uses the ot `models` module, which is why `gene_set` could not be added anywhere else.

Addressing this is not priority for now, closing the issue

[2020-04-17 09:25] #710 closed

[2020-04-17 10:51] javfg commented on #767
Can we get a screenshot of this? I can't reproduce it.

[2020-04-17 10:56] javfg opened #979 "Update dependencies"
Bring all dependency libraries for the frontend to its latest version.

[2020-04-17 11:03] AsierGonzalez commented on #795
After discussing the issue with @d0choa, the unique association fields in PheWAS will be amended to include the phewas_code, which will remove all duplicates.

[2020-04-17 11:06] d0choa commented on #767
![Screenshot 2020-04-17 at 12 06 03](https://user-images.githubusercontent.com/5097586/79563010-df252700-80a3-11ea-9b4b-583c546dc815.png)

[2020-04-17 11:06] AsierGonzalez commented on #931
I'm closing this issuea as per @d0choa's suggestion as the update is done and I will create two separate tickets to work on the two tasks mentiones above.

[2020-04-17 11:06] #931 closed

[2020-04-17 11:07] javfg commented on #979
So far these are the main dep which have been upgraded to newest versions (including major versions):

[code]

All the widgets in the current __alpha__ rewrite branch are working. There are some font size problems, due to changes in the default font size in Material-UI.

[2020-04-17 11:16] AsierGonzalez opened #980 "Review mapping of Gene2Phenotype traits to EFO"
Currently the OMIM ids provided by G2P are used to map them to EFO using xrefs. There are two problems, one is that many entries do not have an OMIM id that can be used and the other is that some of them are not very accurate. I will have a look to see if a different approach may be needed.

[2020-04-17 11:23] AsierGonzalez opened #981 "Consider using other Gene2Phenotype panels as evidence"
Currently we only use the Developmental Disorders (DD) gene panel to generate evidence but G2P also have separate panels for cancer, eye disorders and skin disorders.

[2020-04-17 11:38] d0choa commented on #980
There is some interest to be able to map comprehensively the list of diseases to EFO. I'll generate a first template in the next days

[2020-04-17 12:10] d0choa commented on #876
@iandunham @DSuveges @AsierGonzalez
There is an ongoing discussion on removing from the platform the bottom bar from the plot above (1.6M evidence). Not urgent as they are all low scored and have very little impact on associations. Happy to hear opinions here:

![portal_evidence](https://user-images.githubusercontent.com/5097586/79567686-932ab000-80ac-11ea-933c-ce58df5a7144.jpg)

My views:

Pros:

[2020-04-17 13:03] AsierGonzalez commented on #893
This has been fixed for 20.04. EVA now have a [file to track problematic mappings](https://docs.google.com/spreadsheets/d/1m4ld3y3Pfust5JSOJOX9ZmImRCKRGi-fGYj_dExoGj8/edit#gid=0) that they correct manually prior to submission.:

[2020-04-17 13:03] #893 closed

[2020-04-17 13:08] #841 closed

[2020-04-17 13:08] AsierGonzalez commented on #841
This has been fixed for 20.04. EVA now have a [file to track problematic mappings](https://docs.google.com/spreadsheets/d/1m4ld3y3Pfust5JSOJOX9ZmImRCKRGi-fGYj_dExoGj8/edit#gid=0) that they correct manually prior to submission.

[2020-04-17 13:21] AsierGonzalez commented on #843
EFO have corrected the xref, they have decided to import MONDO_0012586 and this term will be cross-referenced from there (see EFO issue [#712](https://github.com/EBISPOT/efo/issues/712) for more info). The next UniProt submission should pick up the correct term.

[2020-04-17 13:23] iandunham commented on #876
My view on this is that we should be able to identify a principled threshold. for instance we could say we should be at least as good as GWAS catalog - we would achieve this on the enrichment with a threshold of at least 0.05. Have we looked at the overall distribution of the L2G score values? On the basis of this analysis it loks like there is a long tail below 0.05

Happy to explore further

[2020-04-17 13:24] AsierGonzalez commented on #843
EVA have added "Coronary artery disease, autosomal dominant 2" to their [list of problematic traits](https://docs.google.com/spreadsheets/d/1m4ld3y3Pfust5JSOJOX9ZmImRCKRGi-fGYj_dExoGj8/edit#gid=0) and they have manually mapped it to `EFO_0000378`.
Note that, for consistency with UniProt, the chosen EFO term should be `MONDO_0012586` in the next release.

[2020-04-17 16:14] LucaFumis commented on #942
Fixed pending confirmation of final download folder and file sizes (I'll update these as a last thing).

[2020-04-17 18:52] LucaFumis commented on #946
Been playing with the css without much luck. Tentatively trying positioning of the popover below the element as an alternative approach, but haven't fully checked it doesn't brake anything else.

As a quick and safe solution (since we're rewriting the app) we could shorten the text of that specific tooltip...

[2020-04-20 08:09] andrewhercules commented on #946
@LucaFumis, could we try shortening the tooltip to the following?

`The gene prioritisation score is the output from our Locus2Gene pipeline. For more information on the score and our pipeline, click here.`

Does that resolve the overflow issue?

[2020-04-20 08:17] andrewhercules commented on #882
@LucaFumis, looks great on QA!

Could we make a few small changes?

1. Update the `Target tractability` section description to read `Summary of tractability information for _____ for small molecule, antibody, and other modalities.`

2. Change the title of "Other modalities" to "Other modalities (protein, enzyme, oligionucleotide, etc.)"

3. For the text with the link to the tractability data file,

[2020-04-20 08:19] andrewhercules commented on #906
@LucaFumis this looks all ready to go - thank you!

Can we please make one small change to the section description to note that non-clinical experimental toxicity data is also included? Can we please change it to the following?

`Known side effects, safety risk information, and/or non-clinical experimental toxicity data for _____, when available.`

[2020-04-20 09:30] smnorthen opened #982 "Update 'dementia' related terms in EFO to help with disease-evidence consistency"
Re-categorisation of dementia related terms in EFO (currently under phenotype) to the disease branch.

See: https://github.com/EBISPOT/efo/issues/764#issuecomment-616424893

[2020-04-20 14:15] andrewhercules commented on #906
@LucaFumis, can we  please make one other small change to the link for the Tox21 data?

Instead of using the link provided in the API response, can we please use `https://tripod.nih.gov/tox21/assays/` as provided by @PruMM? The link text can continue to be `Tox21`.

[2020-04-20 14:56] andrewhercules commented on #978
@LucaFumis, can you please upload these sitemaps into the /sitemaps directory within the webapp?

[20-04_sitemaps.zip](https://github.com/opentargets/platform/files/4504252/20-04_sitemaps.zip)

[2020-04-21 21:11] andrewhercules opened #983 "Investigate genome browser issue"
Further details TBC but initial review notes below:

- Could it be an issue with the [`cttv_gwas`](https://github.com/opentargets/targetGenomeBrowser/blob/48ed46baf0df93988203a535412ff09d415ef519/src/pipelines.js#L253), specifically lines 285-286 - are some SNPs dropped and not sent in the [`ensembl_call_snps`](https://github.com/opentargets/targetGenomeBrowser/blob/48ed46baf0df93988203a535412ff09

[2020-04-22 08:28] AsierGonzalez commented on #583
In the 20.04 release two trinucleotide repeat expansions (RCV000005352 and RCV000162201) were annotated with different functional consequences. The following was Kirill's (EVA) explanation:

While for almost all trinucleotide repeats ClinVar does not provide an explicit variant description, for those two variants which you mentioned this is not the case, and there are full descriptions. For exampl

[2020-04-22 15:33] andrewhercules commented on #983
Upon further review of the [targetGenomeBrowser](https://github.com/opentargets/targetGenomeBrowser/tree/master) repo, there are two specific issues that have been identified.

### Issue 1: Not all variants are shown in the browser
_* Note: the browser view is not connected to the data displayed on the data table as they rely on different API calls and the logic that processes the data is differen

[2020-04-23 11:10] andrewhercules commented on #895
Blog post has been written and uploaded to Ghost for final review, approval, and publication by @deniseOme

http://blog.opentargets.org/p/c02e3cee-7604-4004-82e7-dbd355e61907/

[2020-04-23 15:50] andrewhercules commented on #895
Ticket closed as blog post has been published at https://blog.opentargets.org/2020/04/23/prioritising-your-list-of-potential-drug-targets-with-tractability-assessments/

[2020-04-23 15:50] #895 closed

[2020-04-23 17:27] mirandaio commented on #928
Empty search results page has been implemented. It uses a component that is reused as well in 404 pages https://alpha--platform-app.netlify.app/search?q=asdf&page=1

[2020-04-23 17:27] #928 closed

[2020-04-23 17:28] mirandaio commented on #950
404 page has been implemented. It reuses a component also used in the empty results page https://alpha--platform-app.netlify.app/some-non-existent-path

[2020-04-23 17:28] #950 closed

[2020-04-23 19:12] andrewhercules commented on #928
Looks good @mirandaio! My only suggestion - should we use the same search component on the homepage? Would that make it easier for the front-end team to maintain?

[2020-04-23 19:34] andrewhercules opened #984 "Update Netlify configuration file to set basic auth header for all branches except master"
Now that we have a Netlify Open Source plan, we can access their custom HTTP headers and password protection features.

To improve our SEO, I would like all branches except for master to have a basic authentication HTTP header. For example, setting a password using `Basic-Auth: login:password`.

According to [a post published in Netlify's blog](https://www.netlify.com/blog/2017/04/07/selective-pas

[2020-04-23 20:07] mkarmona commented on #928
Grand!

[2020-04-24 09:17] BjornWouters opened #2344 "Missing associated loci"
There are multiple studies in the public OTG portal that are missing independent loci.
For example:
<img width="1050" alt="image" src="https://user-images.githubusercontent.com/7324184/80195965-f2447380-861c-11ea-9d28-db92e5d36c31.png">

Both studies display 3 and 1 associated loci respectively but both of the studies are empty:
https://genetics.opentargets.org/study/GCST005547
https://genetics.op

[2020-04-24 09:39] mkarmona opened #985 "Tractability contains double nested fields"
Asking for the target
[code]
the fields come double nested
![imagen.png](https://images.zenhubusercontent.com/58e5fe8e51aa2c30577a8b6a/79c4473d-b279-44ab-9883-daa25f1b0843)

[2020-04-24 09:42] mkarmona opened #986 "re-run open-fda pipeline"
https://github.com/opentargets/platform-etl-openfda-faers

[2020-04-24 09:43] mkarmona opened #987 "include entity name for entity in the direct aggregated known drugs"
having

- target - approvedSymbol
- disease - label
- drug - prefName

[2020-04-24 09:43] mkarmona opened #988 "etl pipeline must accept input json/parquet and output json/parquet"

[2020-04-24 09:43] mkarmona opened #989 "update GraphQL API to the new changes"
- [x] addapt platform-api for the new elastic cinzia has created
- [x] fix the typo
- [x] optimised taking some unused field
- [x] safety new information called experimental toxicity
- [x] tractability includes other_modality

[2020-04-24 10:01] andrewhercules opened #990 "20.04 release communications"
To do:

- [x] Create 20.04 release notes - @andrewhercules
- [x] Create 20.04 technical notes - @andrewhercules
- [x] Update change log - @andrewhercules
- [x] Update [OT006 Data Submission wiki](https://github.com/opentargets/data_release/wiki/OT006-Data-Submission)
- [x] Send technical notes email to partners and collaborators - @andrewhercules
- [x] Write and publish blog post - @deniseOme

[2020-04-24 10:02] andrewhercules commented on #990
Release notes, technical notes, and change log updates have been drafted and saved in Gitbook.

Draft will be merged on Monday once release is live.

[2020-04-24 10:19] andrewhercules commented on #990
OT006 Data Submission wiki has been updated with data submission statistics for 20.04

[2020-04-24 11:22] andrewhercules commented on #882
@LucaFumis, can we please make one small change to the wording of the link to the tractability data file? Can we please change "underlying evidence supporting" to "data used to make" :

`** To view the data used to make the tractability assessment, please download the [Open Targets tractability data file](https://www.targetvalidation.org/downloads/data) **`

[2020-04-24 11:24] andrewhercules commented on #967
Documentation page has been updated - awaiting final merge once release goes live

[2020-04-24 11:53] andrewhercules commented on #990
Email with technical notes for partners and collaborators has been drafted and saved in MailChimp.

Email will be sent on Monday once release is live.

[2020-04-24 12:29] mkarmona opened #991 "Sarch input box must query the API through timeouts not per typed key"
If I type `123456789` one character each other it asks that many times to the api

![imagen.png](https://images.zenhubusercontent.com/58e5fe8e51aa2c30577a8b6a/ab672882-ae15-4be5-95fd-d014b0d97145)

[2020-04-24 13:17] javfg opened #992 "Convert Search component to Material-UI"
Right now the component is using React-Select. To reduce the amount of redudant deps, we should change it to [Autocomplete](https://material-ui.com/components/autocomplete/).

[2020-04-24 13:18] javfg commented on #991
This will be solved by [#992](https://github.com/opentargets/platform/issues/992).

[2020-04-24 13:24] mirandaio commented on #928
Hi @andrewhercules, it is already using the same Search component as the homepage and the top right of the pages.

[2020-04-24 13:48] d0choa commented on #882
I think we should probably remove the message for the next version. Once the novelty wears off, I don't see a reason to have the link for tractability and not for safety (or others to come).

[2020-04-24 14:19] andrewhercules commented on #882
@d0choa, we could just drop completely as you suggested earlier. I would rather get to a stage with the JSON where users can download the individual tractability assessment data for a specific target right on the target profile page.

[2020-04-24 14:21] d0choa commented on #882
@andrewhercules is your call. I can see the novelty on this version and the point on highlighting it. Long-term, it doesn't make much sense. Happy either way

[2020-04-24 15:00] andrewhercules commented on #983
After reviewing the issue further, I am going to recommend that we do not make any changes to the existing visualisation for 20.04 or 20.06. Long-term, we should do one of the following:

1. Drop the browser view from the evidence page
2. Consider another alternative (e.g. locus plot in Genetics Portal but it does not have the rare variant track)
3. Invest in expanding the browser so that it can a

[2020-04-24 15:49] andrewhercules commented on #976
A document with potential smoke tests for entity pages is available on the [team Google Drive](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#). Once the FE team has reviewed, I will implement in a local test environment.

[2020-04-24 19:54] mkarmona opened #993 "Adverse events must use field A instead the one is used to show reports"

[2020-04-25 08:48] cmalangone commented on #985
Pushed branch
cm_fix_985_tractability_contains_nested_fields

[2020-04-25 13:11] mkarmona commented on #985
looks good the changes @cmalangone but why not PR with the fat-jar branch?

[2020-04-27 08:37] andrewhercules opened #994 "Build and confirm 20.06 release schedule"
20.06 release tentatively scheduled for w/c 22 June 2020

[2020-04-27 08:56] cmalangone commented on #985
@mkarmona : I will add this fix in the fat-branch PR. :)

[2020-04-27 12:30] LucaFumis commented on #984
I tried few options with no luck - will try again once the release is live.

[2020-04-27 14:19] andrewhercules commented on #990
Ticket closed as all release communications have been published and distributed

[2020-04-27 14:19] #990 closed

[2020-04-27 18:55] andrewhercules commented on #983
Issue closed as broader discussion about use case for genome browser would help decide which option to select

[2020-04-27 18:55] #983 closed

[2020-04-27 18:57] andrewhercules commented on #655
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:57] #655 closed

[2020-04-27 18:57] andrewhercules commented on #784
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:57] #784 closed

[2020-04-27 18:58] andrewhercules commented on #978
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:58] #978 closed

[2020-04-27 18:58] andrewhercules commented on #939
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:58] #939 closed

[2020-04-27 18:58] andrewhercules commented on #965
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:58] #965 closed

[2020-04-27 18:58] andrewhercules commented on #882
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:58] #882 closed

[2020-04-27 18:58] andrewhercules commented on #946
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:58] #946 closed

[2020-04-27 18:58] andrewhercules commented on #906
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:58] #906 closed

[2020-04-27 18:58] andrewhercules commented on #942
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:58] #942 closed

[2020-04-27 18:59] andrewhercules commented on #947
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:59] andrewhercules commented on #977
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:59] #977 closed

[2020-04-27 18:59] andrewhercules commented on #967
Issue closed as work completed as part of 20.04 release process

[2020-04-27 18:59] #967 closed

[2020-04-27 19:00] #954 closed

[2020-04-27 19:00] andrewhercules commented on #947
Issue closed as work completed as part of 20.04 release process

[2020-04-27 19:00] #947 closed

[2020-04-27 19:00] andrewhercules commented on #932
Issue closed as work completed as part of 20.04 release process

[2020-04-27 19:00] #932 closed

[2020-04-27 19:04] andrewhercules commented on #933
Issue closed as initial changes made to Platform documentation on [target profile page and data sources](https://docs.targetvalidation.org/getting-started/getting-started/target-profile)

[2020-04-27 19:04] #933 closed

[2020-04-27 19:07] andrewhercules opened #995 "Publish new page on target safety in Platform documentation"
In the 20.04 release, we have added new target safety data from eTOX and Tox21. To ensure that users are aware of the new data and our approach to curating target safety information, we will develop a new, stand-alone [documentation page on target safety](https://docs.google.com/document/d/19ZhvS9EVAmibkoaGVdMS5D4_xNsJX8TcJXI85Vm1f1w/edit#). This will complement the changes to the [target profile

[2020-04-27 19:08] andrewhercules commented on #970
Ticket closed as documentation has been prepared by @PruMM and will form the basis for the work in #995

[2020-04-27 19:08] #970 closed

[2020-04-27 19:09] andrewhercules commented on #984
Removing from 20.04 release and from Baby Mann milestone. Instead, this has been assigned to the 20.06 release and will be assigned to a sprint once that release has been planned as noted in #994.

[2020-04-27 19:10] andrewhercules commented on #962
Ticket closed as work merged into 20.04 release process

[2020-04-27 19:10] #962 closed

[2020-04-27 19:14] andrewhercules commented on #945
Ticket reassigned to "Tractability widget" epic #897

[2020-04-27 19:14] andrewhercules commented on #883
Ticket reassigned to "Tractability widget" epic #897

[2020-04-27 19:15] andrewhercules commented on #879
Epic closed as tractability changes for 20.04 have been implemented in production

[2020-04-27 19:15] #879 closed

[2020-04-27 19:35] andrewhercules commented on #943
Ticket closed as PR merged and any further updates will be tracked in #989

[2020-04-27 19:35] #943 closed

[2020-04-27 19:35] andrewhercules commented on #945
Ticket closed as PR merged and any further updates will be tracked in #989

[2020-04-27 19:35] #945 closed

[2020-04-27 19:37] andrewhercules commented on #862
Epic closed as safety data changes for 20.04 have been implemented in production

[2020-04-27 19:37] #862 closed

[2020-04-28 10:42] tsantosh7 opened #996 "Script for grounding/normalising targets and diseases extracted from literature using OTAR APIs"
Please generate a script that takes in a JSON series of targets (genes/proteins) and diseases and provides a database ID reference (grounding/normalisation) utilising the OTAR APIs.

The input for the script can be found at https://drive.google.com/file/d/1jx9hNCIE7hsnJAlmq3W-xEvolv2taggZ/view?usp=sharing

discarded format: https://drive.google.com/open?id=1NdVamYvHg32C6tvuaHTiFsSXas0Qh4vO

[2020-04-28 10:58] deniseOme commented on #995
New page is now live and well: https://docs.targetvalidation.org/getting-started/target-safety

[2020-04-28 10:58] #995 closed

[2020-04-28 18:15] #972 closed

[2020-04-28 19:17] mirandaio commented on #955
Also added Sanofi to the footer of the Genetics portal since it was missing there.

[2020-04-28 19:17] #955 closed

[2020-04-29 09:00] PruMM commented on #969
ESR1

Safety concern category	Safety concern detail	Affiliated small molecule	Source

Safety concern categories are
Target of molecule with Black Boxed Warnings
Target of molecule with Withdrawn post marketing
Terminated of molecule terminated in clinical trials

[2020-04-29 09:05] #969 closed

[2020-04-29 09:14] PruMM opened #997 "PharmGKB data formatting"
Formatting the PharmGKB data for potential ntegration into Open Targets
To pull out drug response data for target safety
- hold meetings with PharmGKB to discuss the cotrect usage and interpretation
- document rational for subcategorisation
- check with ChEMBL format  (Issue #969)

[2020-04-29 09:18] PruMM opened #998 "Targets Of Drugs with BlackBoxed Warning : Data Formatting"
Awaiting withdrawn information from ChEMBL publication (toxicity annotations)
Setting up a temporary format with a few examples of what is currently available

[2020-04-29 12:07] andrewhercules commented on #991
Ticket closed as @javfg notes it will be covered in #992 which has been assigned to the next May The Fourth sprint

[2020-04-29 12:07] #991 closed

[2020-04-29 12:11] mirandaio commented on #971
Used the `word-break` CSS property with the value of `break-all` to fix this issue.

[2020-04-29 12:11] #971 closed

[2020-04-29 12:13] andrewhercules commented on #964
Ticket closed as work merged into alpha branch

[2020-04-29 12:13] #964 closed

[2020-04-29 12:46] andrewhercules opened #999 "Review drug profile page in ALPHA branch"
A quick review of the drug profile page on the [`alpha` branch](https://alpha--platform-app.netlify.app/drug/CHEMBL122) identified four issues:

- [x] Error reading API response for Mechanism of Action references that do not have links
- [x] Bibliography summary widget and detail view visible when 0 results returned from LINK API
- [x] Drugs with undefined indications showing active summary widget

[2020-04-29 14:57] andrewhercules commented on #751
Ticket closed as this is data provider issue for COSMIC.

The COSMIC profile page for AKT1 has both PMIDs listed due to their curation - see below for a screenshot:

![Screenshot 2020-04-29 at 15 55 12](https://user-images.githubusercontent.com/7490258/80611005-f3690c80-8a31-11ea-89c3-19898e42330b.png)

[2020-04-29 14:57] #751 closed

[2020-04-29 15:42] javfg opened #1000 "New table component"
### New table component

**TL;DR:** We need to improve the Table Component to enhance its functionality and compatibility.

As @andrewhercules said, it should be better visually as well as provide a convenient API that is easy to access by the different widgets implementing tables.

The list of requirements that I have gathered so far with help from the team is:

* Custom Cell contents
* Ability t

[2020-04-29 15:53] andrewhercules opened #1001 "Integrate cancer hallmarks from new API into widget"

[2020-04-29 16:01] andrewhercules opened #1002 "Integrate phenotypes from new API into widget"
Data needs to be made available in GraphQL API as ETL pipeline has been updated in #924

Once data is available, please update the alpha branch and display the list of phenotypes similar to how it is currently displayed on the [MVP branch](https://platform-app.netlify.app/disease/EFO_0000384)

[2020-04-30 08:16] cmalangone commented on #986
Done.

[2020-04-30 08:24] andrewhercules opened #1003 "Integrate tractability from new API into widget"
In the MVP branch, we display the tractability heat map for both small molecule and antibody modalities.

However, in the 20.04 release, we introduced a new heat map with clinical precedence data for other modalities along - see #882 for further details and see the [MC2R target profile page](https://www.targetvalidation.org/target/ENSG00000185231?view=sec:tractability) for an example in production

[2020-04-30 08:35] andrewhercules opened #1004 "Integrate Gene Ontology from new API into widget"
The Gene Ontology data shown on the target profile page is available from the [new GraphQL API](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser).

For more information on the Gene Ontology data structure, please see the [schema](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/schema) (note: search for `GeneOntology`) or use the following query in the

[2020-04-30 10:33] andrewhercules commented on #1000
@javfg after taking a look at the tables in the current Angular production version of the Platform and the MVP branch of the React version, here are some other requirements that immediately come to mind:

User requirements:

- Ability for user to download data table in .CSV or .TSV or JSON format
- Ability for user to sort columns in data table

Engineer/developer requirements:

- Ability for deve

[2020-04-30 11:16] LucaFumis commented on #1000
- Ability to set the column width (probably %) to avoid cols "moving" when paginating

[2020-04-30 11:26] d0choa commented on #1000
- In angular there is a handy sorting for p-values. p-values can be passed as strings to prevent javascript rounding low p-values (~<3e-300) and still being sorted as a numeric value. This feature is critical for GWAS data (genetic variation) table

[2020-04-30 11:35] andrewhercules opened #1005 "Review yarn version and lockfile PRs on platform-app"
@fedde-s has created two PRs in the [platform-app](https://github.com/opentargets/platform-app) repo:

- Update lockfile to pinned version of prettier: opentargets/platform-app#133
- Pin and document what version of yarn to use: opentargets/platform-app#132

@javfg I have assigned both PRs to you for review and merging as you made updates to the libraries and can confirm that these changes won't c

[2020-04-30 11:36] mkarmona commented on #1000
In genetics the mantissa and exponent are sent when available

--
  Regards,
  Miguel Carmona

On Thu, 30 Apr 2020 at 12:26, David Ochoa <notifications@github.com> wrote:

[2020-04-30 11:38] d0choa commented on #1000
Also in the platform since 20.02, but the problem is what to do with them once you get them into the FE. The table needs to treat them as string (otherwise are rounded to 0), but still sort them numerically.

[2020-04-30 13:53] fedde-s commented on #1004
We (@forus and I) are looking into this now.

[2020-04-30 14:59] javfg commented on #1000
Sorry, misclicked on close issue. I've updated the issue with all the requirements.

[2020-04-30 15:35] javfg commented on #1005
Working on it!

[2020-04-30 16:19] mirandaio commented on #1000
Some points to consider:

- The current [implementation](https://github.com/opentargets/ot-ui/blob/master/lib/components/OtTableRF.js) of the table allows for custom cell contents. For example: the circles in the [Assigned Genes](https://genetics.opentargets.org/variant/1_154453788_C_T) in the Genetics portal, the links and bars in the [Related Diseases](https://genetics.opentargets.org/variant/1_

[2020-05-01 07:59] andrewhercules commented on #1005
Ticket closed as both PRs merged in `alpha`

[2020-05-01 07:59] #1005 closed

[2020-05-01 09:13] andrewhercules opened #1006 "Update links on Data Downloads page"
@LucaFumis could you please update the links on the [Platform Data Downloads page](https://www.targetvalidation.org/downloads/data) to include a link to the [non-clinical experimental toxicity TSV file](https://storage.googleapis.com/open-targets-data-releases/20.04/input/annotation-files/experimental-toxicity-2020-04-07.tsv) created by Prudence?

Also, we will want to ensure that we have the upda

[2020-05-01 10:33] mkarmona opened #1007 "phenotype must come as a list of ids"
Currently looks like this
[code]
and it must be a list of disease ids or empty array

[2020-05-01 12:33] hammer commented on #473
@d0choa are y'all targeting a specific release for the full rewrite?

[2020-05-01 13:05] d0choa commented on #473
We haven't committed to a date for the full rewrite.

We'll release a public beta mid-June with the FE for all entity pages, the new search functionalities and the new GraphQL API. You might have seen that we had new recruitments (@javfg) and The Hyve (@Sjoerd-van-Hagen et al.) are contributing to the front-end these days.

Before the mid-June deadline, @mkarmona and @cmalangone will start the ETL

[2020-05-01 13:29] hammer commented on #473
Thanks @d0choa! We will keep an eye out for the public beta. We have been using the alpha site quite a bit because of the [dynamic associations view](https://platform-app.netlify.app/target/ENSG00000091831/associations) and look forward to having the evidence strings available in that view.

[2020-05-03 08:42] mkarmona commented on #986
@cmalangone I realised that the field used to show the number of reports is not the proper one. all computations are ok but wrong field selected at the end.

Problem - the total number of reports per event in total was selected but it should be the column `A` that contains the total number of reports per event for that specific drug. I am fixing it so I will create a PR so you can run just the fin

[2020-05-04 10:57] andrewhercules commented on #994
### Draft version of 20.06 release schedule

![Screenshot 2020-05-04 at 11 50 10](https://user-images.githubusercontent.com/7490258/80959214-3d6d3c00-8dfe-11ea-9767-4ede875015b6.png)

Email sent on Monday 4 May 2020 to data providers to confirm release schedule. If confirmed, data submission window will open on Monday 11 May 2020 and will close on Friday 22 May 2020

[2020-05-04 11:02] andrewhercules commented on #994
[OT006 Data Submission wiki](https://github.com/opentargets/data_release/wiki/OT006-Data-Submission) updated with proposed 20.06 release schedule

[2020-05-04 15:19] #999 closed

[2020-05-04 15:37] fedde-s commented on #1004
The schema for the new API does not expose the **category** field of Gene Ontology terms, i.e. whether it's a Biological Process, a Cellular Component or a Molecular Function. This is one of the three columns in the table.

Additionally, targets do not expose fields like **summaries → geneOntology → molecularFunctionTermsCount**, to display the counts of these three categories in the summary view.

[2020-05-04 15:50] fedde-s commented on #1004
@andrewhercules, should we look into adjusting the Scala backend, or contact someone else?

[2020-05-04 16:26] fedde-s commented on #1004
The fields were calculated in [the old GraphQL backend](https://github.com/opentargets/platform-api/blob/8d773f3dae00ea89fb9524d179894c4031dda618/src/public/apis/dataloaders.js#L293) based on a prefix of the **term** field, which comes verbatim from Elasticsearch.

Theoretically we could calculate the counts in the frontend, but that would involve loading all rows there without any paging.

[2020-05-04 16:29] andrewhercules commented on #1004
@fedde-s thanks for the note - I will investigate and speak with the team tomorrow about the different approach

[2020-05-04 16:52] fedde-s commented on #1004
The opposite approach would involve the least amount of data transfer: calculating the counts in Elasticsearch. But from the top of my head I can't recall whether Elasticsearch aggregations support matching on prefixes like that.

[2020-05-04 16:57] andrewhercules opened #1008 "Integrate disease ontology from new API into widget"
Data will be made available based on work in #740

Once data is available, please update the alpha branch and display the gene ontology similar to how it is currently displayed on the [MVP branch](https://platform-app.netlify.app/disease/EFO_0000384)

[2020-05-04 17:19] fedde-s commented on #1004
Even a part of the data pipeline [is aware of these prefixes](https://github.com/opentargets/data_pipeline/blob/20.04.3/mrtarget/common/EvidenceString.py#L410), but the data pipeline does not introduce them: [it reads them from **mrtarget.data.*.yml → uniprot-uri:**](https://github.com/opentargets/data_pipeline/blob/20.04.3/mrtarget/plugins/gene/uniprot.py#L74)

[2020-05-04 17:21] andrewhercules commented on #1004
To build in flexibility to the summary widgets, it can either display pre-aggregated counts from the GraphQL API or counts based on front-end calculations.

Because all of the Gene Ontology data is loaded at once with no server-side pagination or batch loading, the front-end can calculate and display counts.

For the Gene Ontology widget, @fedde-s, could you please:

1. Display the length of the a

[2020-05-04 17:44] fedde-s commented on #1004
For reference, I found [a UniprotKB XML schema](https://www.uniprot.org/docs/uniprot.xsd) that seems to say that the type of the `dbReference` element is in some contexts “Equivalent to the flat file DR-line”, and [a UniprotKB flat file manual](https://web.expasy.org/docs/userman.html#DR_line) that refers to the same “1-letter abbreviation for one of the 3 ontology aspects” on that line.

[2020-05-05 13:39] andrewhercules opened #1009 "Investigate why Expression Atlas widget is not working"
Currently, the `RNA and protein baseline expression` tab on the target profile page is not loading.

![Screenshot 2020-05-05 at 14 36 05](https://user-images.githubusercontent.com/7490258/81072299-da52d680-8edd-11ea-8204-c22cbc25f0ed.png)

The following errors are visible in the Network and Console tabs of Chrome dev tools:

![Screenshot 2020-05-05 at 14 37 06](https://user-images.githubuserconten

[2020-05-05 16:03] andrewhercules commented on #1009
Ticket closed as Expression Atlas back online and widget working

[2020-05-05 16:03] #1009 closed

[2020-05-06 08:49] andrewhercules commented on #1004
@fedde-s and @forus could you please create a mapping function, similar to what is done in the [Angular app](https://github.com/opentargets/webapp/blob/51cca4c6083dc362010787e22a01152cb8639351/app/src/components/multiple-targets/multiple-targets-go-summary-directive.js#L3) and use it to generate the categories?

I looked into the relevant sections of the pipeline and our target index does not incl

[2020-05-06 09:18] fedde-s commented on #1004
Will do, thanks!

I don't think it ever has—the mapping was inferred by the old GraphQL backend as I explained in [this comment](https://github.com/opentargets/platform/issues/1004#issuecomment-623566462) on Monday, but also known to a part of the data pipeline, as I found in [this one](https://github.com/opentargets/platform/issues/1004#issuecomment-623593894).

[2020-05-06 09:19] fedde-s commented on #1004
ah, or do you mean it does not include the prefix?

[2020-05-06 09:21] BjornWouters opened #2345 "Study beta values have some unexpected results"
The study beta column in the GWAS study coloc table sometimes contain values that do not correspond with the original study beta values. For example:

https://genetics.opentargets.org/study-locus/NEALE2_21002_raw/19_44921921_G_A
GCST002222 | LDL cholesterol | Willer CJ | 19_44908822_C_T | 0.0

This row has a beta value of 0 whilst the variant on the study page has a beta of -0.59.

https://genetic

[2020-05-06 10:02] andrewhercules commented on #1004
Sorry, my apologies but I posted the wrong link to the mapping file used in the batch search - which actually has different prefixes.

Ideally, could we create a mapping file like the one used in the [GO plugin ](https://github.com/opentargets/webapp/blob/51cca4c6083dc362010787e22a01152cb8639351/app/plugins/gene-ontology/gene-ontology-directive.js). So it could take the label returned by the API (

[2020-05-07 08:20] andrewhercules opened #1010 "Identify parts of React rewrite logic that could be abstracted"
In the sprint review meeting yesterday, it was discussed that some logic will be repeated for the initial MVP release.

After the release, we should consider abstracting out the logic that is repeated.

Please use this ticket to track examples of logic that should be abstracted post-MVP release

Examples:

- [ ] Batch loading
- [ ] Parsing strings (e.g. removing underscores)

[2020-05-07 10:59] AsierGonzalez opened #1011 "Add how baseline expression data is processed to documentation"
Currently the only information about baseline expression in the documentation is the list of the baseline sources [in the target profile documentation](https://docs.targetvalidation.org/getting-started/getting-started/target-profile) and how the tissue specificity is calculated [in the FAQs](https://docs.targetvalidation.org/faq/tissue-specificity). We should find a new page with the information a

[2020-05-07 12:20] deniseOme opened #1012 "review "disease" terms such as “latitude” and “collection latitude”"
We currently have want terms such as “[latitude](https://www.targetvalidation.org/disease/OBI_0001620)” and “[collection latitude](https://www.targetvalidation.org/disease/EFO_0005020)” in the Open Targets Platform, under the larger "TA" [measurement](https://www.targetvalidation.org/disease/EFO_0001444).

There is no data associated to this (e.g. phenotypes, drugs) and no targets associated with

[2020-05-07 14:06] deniseOme opened #2346 "update Genetics docs with FAQs and latest release notes"

[2020-05-07 16:11] #2345 closed

[2020-05-07 21:20] tskir opened #1013 "EVA: Duplicate association fields — source trait names"
This ticket is part of the effort to get rid of duplicates in **unique_association_fields** in the evidence strings submitted by EVA.

Sometimes, different ClinVar trait names are mapped to the same ontology term. For example, record [RCV000763237.1](https://www.ncbi.nlm.nih.gov/clinvar/RCV000763237.1/) associates one variant, rs151045328, with three conditions:
1. Usher syndrome, type 1C
1. Deafn

[2020-05-07 21:36] tskir opened #1014 "EVA: Duplicate association fields — Usage of RCV and RS identifiers"
**Update 2020-06-03:** the scope of the ticket has been refined following more investigation. See [here](https://github.com/opentargets/platform/issues/1014#issuecomment-628802114) for the latest summary.

Original description (partially not relevant anymore):

----

This ticket is part of the effort to get rid of duplicates in **unique_association_fields** in the evidence strings submitted by EVA

[2020-05-07 21:43] tskir commented on #1014
And actually, a bigger problem is that functional consequences of individual variants of a haplotype might not make any sense until you consider the entire haplotype all together. I'm not sure we have the capacity to do that: I don't think VEP supports that, and I also don't think that the ClinVar haplotypes include the phasing information. It looks like it's just a collection of variants.

[2020-05-08 17:19] fedde-s commented on #1004
Presented pull request opentargets/platform-app#137 for review.

[2020-05-08 17:32] fedde-s commented on #1003
I've started looking into this.

[2020-05-11 09:21] fedde-s opened #1015 "React rewrite alpha: target profile page crashes for (some?) antisense RNA ENSGs"
It throws `TypeError: Cannot read property 'id' of null` on this line in `src/public/target/Page.js`:
[code]

Contrived example: [ENSG00000180139](https://alpha--platform-app.netlify.app/target/ENSG00000180139).

Seen for [some pseudogene ENSGs](https://alpha--platform-app.netlify.app/target/ENSG00000265018) as well, but not all.

[2020-05-11 09:37] andrewhercules commented on #1015
Thanks @fedde-s

I have added this to a list of cases for testing the target profile page functionality

[2020-05-11 09:42] d0choa commented on #1015
Thanks! Please also note these cases also crash the search results page. Probably, because of the  right panel but I haven't investigated it.

[2020-05-11 10:05] fedde-s opened #1016 "React rewrite alpha: Related Targets section (target profile page) crashes for (some?) pseudogenes"
The `data` prop to both the Summary and Section component seems to be null for these genes. This results in a TypeError as `src/public/target/sections/RelatedTargets/Summary.js` tries to access its `.data` property, and this line of  `src/public/target/sections/RelatedTargets/Section.js` tries to access several of its properties:
[code]

Contrived example: [ADGRE4P](https://alpha--platform-app.net

[2020-05-11 12:40] fedde-s commented on #1003
Presented opentargets/platform-app#138 for review.

[2020-05-11 13:01] andrewhercules commented on #1003
Thanks @fedde-s - I have assigned the PR to @mirandaio to review and merge into `alpha`

[2020-05-11 13:19] andrewhercules opened #1017 "Integrate target safety data from new GraphQL API into widget and detail view"
The new GraphQL API exposes three types of target safety data that is currently found on the target profile page in the Angular version of the Platform:

- Known safety effects
- Safety risk information
- Non-clinical experimental toxicity

Some examples of targets with safety data include:

CDK2 - https://www.targetvalidation.org/target/ENSG00000123374
ABCG2 - https://www.targetvalidation.org/tar

[2020-05-11 13:39] andrewhercules commented on #1017
Also @fedde-s, the current PoC version of the target does not include a data table for non-clinical experimental toxicity as it has only been implemented in the Angular app in the 20.04 release - see #906 for more information.

Can you please build a data table in the detail view to display the non-clinical experimental toxicity data?

[2020-05-11 13:48] forus commented on #1015
I'm investigating the issue.

[2020-05-11 13:54] emcdonagh-OT opened #1018 "User interface: Links at bottom of Platform user interface page not working"
On the Platform homepage and https://www.opentargets.org/ homepage, the bottom of the page has links to:
    About
    People
    Publications
    Resources
    Data
    Jobs
    Blog
    Contact
The link for 'About', 'Data', 'Jobs' and does not work giving a 'page not found' message.

[2020-05-11 14:01] iandunham commented on #1018
Pages https://www.opentargets.org/about and https://www.opentargets.org/data no longer exist in the new structure.
Jobs should go to https://www.opentargets.org/jobs
About should be replaced by "Our Science" -> https://www.opentargets.org/science
and data should be removed  until we reinstate a data page

[2020-05-11 14:06] deniseOme commented on #1018
For consistency, I think these some of the links should reflect what is at the top of the page e.g. "People" should be "Our team".

<img width="303" alt="Screen Shot 2020-05-11 at 15 04 15" src="https://user-images.githubusercontent.com/6472381/81570809-fe5c5f00-9398-11ea-98bb-1ce0f7733ef8.png">

<img width="436" alt="Screen Shot 2020-05-11 at 15 03 14" src="https://user-images.githubusercontent.c

[2020-05-11 14:10] andrewhercules commented on #1018
I will update the link generation logic for the footer

[2020-05-11 14:17] fedde-s commented on #1017
I'll get started on this!

[2020-05-11 14:33] deniseOme commented on #1018
@andrewhercules: you may also want to change the upper case X in GTEX to its lower case version as per the correct name is GTEx see the [NIH portal name](https://gtexportal.org/home/). GTEX can be found in this page:

https://www.opentargets.org/genetics-portal

Also, a suggestion re. the Jobs page. In the previous version, we use to be able to point to specific job sections e.g.

http://opentarge

[2020-05-11 15:03] andrewhercules commented on #1002
Ticket closed as changes merged into `alpha` branch

[2020-05-11 15:03] #1002 closed

[2020-05-11 15:32] deniseOme opened #1019 "intracellular targets with Ab tractability assessment"
Workshop attendees have brought to our attention that intracellular proteins seem to be predicted to be tractable by Ab as per the outcome of our tractability pipeline.

One example is BRCA1 raised at a workshop in 2019. Chris Radoux (formerly at ChEMBL) has provided this explanation at the time:

<img width="819" alt="Screen Shot 2020-05-11 at 16 27 04" src="https://user-images.githubusercontent.

[2020-05-11 15:58] andrewhercules commented on #1018
I have updated the links in the footer and have also amended the labels.

@deniseOme, the jobs page is a work in progress and will be designed to showcase the benefits of joining Open Targets and where our alumni have moved to (e.g. GSK, Genomics plc, BenevolentAI, etc.) - hence the photo from last year's celebration. I checked the previous codebase and I cannot find reference to an anchor tag fea

[2020-05-11 15:58] #1018 closed

[2020-05-11 16:19] fedde-s commented on #1017
Note to self: in addition to the fields in the query above, the schema lists that objects with these three nullable strings may be present.
[code]

[2020-05-11 16:44] LucaFumis commented on #927
Just realized I pushed a bunch of commits through to the wrong ticket/issue.
As per discussion with Andrew, for initial MVP we're going for the basic table only.
This is now done pending PR review.

[2020-05-11 16:45] LucaFumis commented on #1001
Apologies - all those commits were intended for issue #927 .

[2020-05-11 16:50] andrewhercules opened #1020 "Integrate Bibliography summary widget and detail view sections on target profile page"
The `Bibliography` summary widget and detail view sections on the Platform entity pages make an API call to LINK to display relevant publications. These sections have already been implemented on the disease and drug profile pages (e.g. [kidney disease](https://alpha--platform-app.netlify.app/disease/EFO_0003086), [CHEMBL122](https://alpha--platform-app.netlify.app/drug/CHEMBL122)).

Can we please

[2020-05-11 20:08] d0choa commented on #1019
Thanks @deniseOme. The issue is on the tractability bucket assumption that GO provides correct cellular localisation. I added a screenshot on the rewrite where the data can be seen side-by-side.

<img width="1221" alt="Screenshot 2020-05-11 at 20 51 41" src="https://user-images.githubusercontent.com/5097586/81605415-53b06480-93c9-11ea-869d-15e57c6058e2.png">

We'll report back to the tractability

[2020-05-11 20:08] #1019 closed

[2020-05-12 07:25] fedde-s commented on #1003
The implementation has been merged to `alpha`.

[2020-05-12 07:25] #1003 closed

[2020-05-12 07:26] fedde-s commented on #1004
opentargets/platform-app#137 has been merged into `alpha`.

[2020-05-12 07:26] #1004 closed

[2020-05-12 09:04] andrewhercules commented on #1000
@javfg I'm moving this to the next sprint cycle - Eurovision - so we can resume work on it then

[2020-05-12 09:17] andrewhercules commented on #740
An initial ETL pipeline version of the EFO ontology and TAs is available on Google Cloud in JSON format:

https://console.cloud.google.com/storage/browser/open-targets-data-releases/20.04/output/?forceOnBucketsSortingFiltering=false&authuser=0&organizationId=817248562955&project=open-targets-prod&supportedpurview=project

As noted by @cmalangone in Slack, this is an initial version for the MVP and

[2020-05-12 09:17] #740 closed

[2020-05-12 09:20] andrewhercules commented on #884
Work on this will continue in the next sprint once the /target, /disease, and /drug endpoints are returning all necessary data

[2020-05-12 10:11] andrewhercules opened #1021 "Integrate Pathways summary widget and detail view using with GraphQL API"
Pathway data is now available in the new GraphQL API ([sample query for IL2RA](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?query=query%20test_protein_annotations%20%7B%0A%20%20reactome%3Atarget(ensemblId%3A%20%22ENSG00000134460%22)%20%7B%0A%20%20%20%20approvedSymbol%0A%20%20%20%20reactome%20%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%20%20label%0A%20%20%20%20%20%20chi

[2020-05-12 10:44] andrewhercules opened #1022 "Integrate Mouse Phenotypes summary widget and detail view using with GraphQL API"
Mouse phenotype data is now available from the new GraphQL API - see below for a [sample query](https://api-beta-dot-open-targets-eu-dev.appspot.com/api/v4/graphql/browser?operationName=target_search&query=query%20target_search%20%7B%0A%20%20target(ensemblId%3A%22ENSG00000091831%22)%7B%0A%20%20%09id%0A%20%20%20%20approvedName%0A%20%20%20%20mousePhenotypes%7B%0A%20%20%20%20%20%20id%0A%20%20%20%20%2

[2020-05-12 10:58] andrewhercules opened #1023 "Integrate Variation and Genomic Context summary widget and detail view"
Please integrate the existing Variation and Genomic Context summary widget and detail view from the PoC version into the `alpha` version.

[2020-05-12 11:27] andrewhercules opened #1024 "Integrate Baseline Expression summary widget and detail view using new GraphQL API"
Once baseline expression data is available in the new GraphQL API, please implement the summary widget and detail views currently found in the proof-of-concept verison.

**Summary widget**
- Display if RNA and/or Protein data is available. In some cases - [ESR1](https://platform-app.netlify.app/target/ENSG00000091831) - both will be available while in other cases - [AGAP12P](https://platform-app.n

[2020-05-12 12:01] andrewhercules opened #1025 "Integrate Protein Information summary widget and detail view using new GraphQL API"
Once protein information data (sub-cellular location, UniProt keywords, subunit) is available in the new GraphQL API, please implement the summary widget and detail views currently found in the proof-of-concept version.

Please drop the "UniProt keywords" tab as that data is not yet available from the GraphQL API.

If it will help improve page loading times, for the Protein Information detail view

[2020-05-12 12:21] andrewhercules opened #1026 "Integrate Homology summary widget and detail view"
Please integrate the existing Homology summary widget and detail view from the PoC version into the `alpha` version.

When integrating the detail view, please change the order of the tabs and display the Orthology Table first followed by the Gene Tree view - this should prevent browser performance issues caused by multiple calls to Ensembl.

[2020-05-12 12:30] andrewhercules opened #1027 "Integrate Protein Interactions summary widget and detail view"
Please integrate the existing Protein Interactions summary widget and detail view from the PoC version into the alpha version.

[2020-05-12 13:22] andrewhercules opened #1028 "Create TEPs summary widget and detail view"
Currently, TEPs are available for 29 targets, including [LIMK1](https://www.targetvalidation.org/target/ENSG00000106683), [GALT](https://www.targetvalidation.org/target/ENSG00000213930), and [KALRN](https://www.targetvalidation.org/target/ENSG00000160145). For a full list of targets, please see the [teps-service.js](https://github.com/opentargets/webapp/blob/master/app/src/services/teps-service.js

[2020-05-12 13:43] andrewhercules commented on #994
20.06 release schedule has been reviewed by data providers and confirmed - see below:

![Platform_20-06_release_schedule_final](https://user-images.githubusercontent.com/7490258/81699135-da635100-945e-11ea-9388-c9f8f196fd40.png)

Data submission window opened on Monday 11th May.

[2020-05-12 13:43] #994 closed

[2020-05-12 14:01] andrewhercules opened #1029 "Integrate PROTAC tractability data"
As noted in our 20.04 release blog and tractability Q&A post, we will introduce more changes to tractability in 20.06

**PROTAC workflow:**

- Review output of Protein Degradation (PROTAC) workflow
- Make updates to pipeline and API to expose new data
- Update existing Angular application with heat map
- Update documentation with details on workflow buckets
- Update ETL pipeline to allow data to b

[2020-05-12 16:23] AsierGonzalez commented on #1013
Your suggested solution would fix "the issue" but I am not sure that I would add much value. As you say, in this case two ClinVar conditions ("Usher syndrome, type 1C" and "Usher syndrome, type 1") are mapped to the same ontology term ("Usher syndrome") which produces duplicates. However, the duplication does not mean that the association is lost, only that one of the two evidence strings is used.

[2020-05-12 16:57] AsierGonzalez commented on #1014
This is an interesting case and my feeling is that the best solution would be to include haplotypes as variant types, which is something that @iandunham brought up in #809. If we considered an haplotype a single variation unit then the question would be if we would like to list all the theoretical functional consequences.
In the interim, we could add the functional consequence to the unique associ

[2020-05-12 20:50] deniseOme opened #1030 "export Drugs data in from disease and target profile pages"
User has brought to our attention that the export of drug data into a .csv file from a disease profile page has an issue with the field “mechanism of action”. User has noticed some extra info gets appended to the MoA information e.g. "1 publicationEuropePMC".

<img width="636" alt="Screen Shot 2020-05-12 at 15 29 21" src="https://user-images.githubusercontent.com/6472381/81743097-0a2f4a80-9499-11e

[2020-05-12 21:07] deniseOme opened #1031 "support email from the footer has "Target Validation Platform""
We've been getting a few support emails lately with the subject line "Target Validation Platform - help request).

This is due to how users are getting in touch with us by clicking in the email address in the footer of the Open Targets Platform

<img width="282" alt="Screen Shot 2020-05-12 at 21 51 07" src="https://user-images.githubusercontent.com/6472381/81744178-c8070880-949a-11ea-87c9-25e6f15b

[2020-05-13 07:56] iandunham commented on #1013
If the disease are genuinely different then we should ask for additional ontology terms. It needs someone to understand the relationships of Type 1 and Type 1C, and edit the ontology. Also Deafness, autosomal recessive 18 may not be a disease but an OMIM term for an association which is equivalent to Usher Syndrome Type 1 or Type 1C. Unfortunately there are historical OMIM terms like this

[2020-05-13 08:55] AsierGonzalez opened #1032 "Extract OT information to prioritise COVID-19 targets"
In OT we have identified a number of aspects in COVID-19 research that we could support with our data. With that objective, we have decided to collate the following information in a few tables:

- Human and virus protein information
- Baseline gene and protein expression
- Human - virus protein interactions
- Target tractability
- Target safety

[2020-05-13 08:57] AsierGonzalez opened #1033 "Perform release-related activities for 20.06"
A number of checks have to be performed on the evidence files submitted by data providers as they arrive and before the pipeline is run to see whether the agreed changes have been implemented.

[2020-05-13 09:49] d0choa commented on #1031
Tagged for 20.06 (Zenhub)

[2020-05-13 10:00] d0choa commented on #1030
I doubt this behaviour was intentional in the first place, so I would go for a bug. No fix is expected in the angular app with the imminent inclusion of new tables and export functions derived from #1000. We'll keep an eye, so this behaviour is not reproduced there.

[2020-05-13 10:00] #1030 closed

[2020-05-13 13:50] andrewhercules commented on #1027
This ticket is pending a decision from @d0choa about whether we integrate the existing OmniPathDB database dump or move to using the networks data generated by OTAR044

[2020-05-13 13:53] andrewhercules opened #1034 "Add new data table to Safety detail view"
The current PoC version of the target does not include a data table for non-clinical experimental toxicity as it has only been implemented in the Angular app in the 20.04 release - see #906 for more information.

Can you please build a data table in the detail view to display the non-clinical experimental toxicity data?

[2020-05-13 13:53] andrewhercules commented on #1017
As discussed in today's sprint catch-up meeting, this ticket will refer to work to port the existing safety information found in the proof-of-concept version to the `alpha` branch.

I have opened a new ticket #1034 to capture the work needed to introduce a data table to display the non-clinical experimental toxicity data

[2020-05-13 13:57] andrewhercules commented on #927
Ticket closed as work merged into `alpha`

[2020-05-13 13:57] #927 closed

[2020-05-13 13:57] andrewhercules commented on #1001
Ticket closed as work merged into `alpha`

[2020-05-13 13:57] #1001 closed

[2020-05-13 14:19] javfg commented on #1000
**Update:** So far I've implemented the following:

* Converted the table to a functional component.
* Split the code in multiple files for each part of the table (header, body, pagination, styles, sorting, utils).
* Extracted the scaffolding/container component `<PlotContainer>` that was wrapping the table. It is only used in 1 instance of the table throughout the whole project (platform and gene

[2020-05-13 14:35] javfg commented on #1000
Forgot to mention data download also works for server side paginated widgets by batch-loading the dataset before export. I will include the download buttons inside the table as an option (disabled by default).

[2020-05-13 15:18] andrewhercules opened #1035 "Fix link expiration issue for static version for EFO and TA files"
Currently, the rewrite disease profile page reads static files in a Google Cloud bucket for the EFO ontology and therapeutic areas:

- https://console.cloud.google.com/storage/browser/_details/open-targets-data-releases/20.04/output/therapeuticAreas.json?project=open-targets-prod
- https://console.cloud.google.com/storage/browser/_details/open-targets-data-releases/20.04/output/efos.json?project=o

[2020-05-13 15:23] andrewhercules opened #1036 "Implement summary charts on Cancer Biomarkers data table"
In the proof-of-concept version, there are summary charts above the Cancer Biomarkers data table that act as filters.

Is it possible to develop a design pattern so these charts could be used on data tables where the data is loaded all at once or batch loaded?

[2020-05-13 15:28] d0choa opened #1037 "Refactor Gene Ontology data feed"
It came again as a discussion the potential improvement on the data source feed for Gene Ontology. Discussed before @PruMM in #794. There are 3 main reasons to improve the annotation data:

- Cover RNA targets in the platform - lncRNAs, etc.
- Avoid some nuances with the uniprot parsing
- Get more complete information about the annotations

 I'm documenting here the course of action in order to ha

[2020-05-13 15:34] andrewhercules opened #1038 "Integrate Known Drugs summary widget and detail view on disease profile page"
The known drugs data (with pagination) is available from the disease endpoint of the GraphQL API. Can we please implement the Known Drugs table on the disease profile page and merge into the `alpha` branch for the MVP?

[2020-05-13 15:35] d0choa commented on #794
Closing as captured as part of a bigger task to revamp the GO annotation data feed #1037

[2020-05-13 15:35] #794 closed

[2020-05-13 15:35] andrewhercules opened #1039 "Integrate Known Drugs summary widget and detail view on drug profile page"
The known drugs data (with pagination) is available from the drug endpoint of the GraphQL API. Can we please implement the Known Drugs table on the drug profile page and merge into the `alpha` branch for the MVP?

[2020-05-13 16:02] cmalangone opened #1040 "POST /v3/platform/private/besthitsearch is not working"
The POST request for the endpoint https://platform-api.opentargets.io/v3/platform/private/besthitsearch is not working properly
curl -d '{"q":["dmd"]}' -H "Content-Type: application/json" -X POST "https://platform-api.opentargets.io/v3/platform/private/besthitsearch"

[2020-05-13 16:06] andrewhercules opened #1041 "Integrate Known Drugs summary widget and detail view on target profile page"
The known drugs data (with pagination) is available from the disease endpoint of the GraphQL API. Can we please implement the Known Drugs table on the disease profile page and merge into the `alpha` branch for the MVP?

[2020-05-13 16:07] cmalangone commented on #1040
Fixed.
commit b3a2e92ff3daa38fb322ab29babe51a1e4e1ba2c

[2020-05-13 16:07] cmalangone commented on #985
Done.

[2020-05-13 16:07] #985 closed

[2020-05-13 16:09] cmalangone commented on #902
PR branch cm_jar_project_1_release approved

[2020-05-13 16:10] cmalangone commented on #986
I regenerated the files for openfda index and loaded the data into the es7 20.04

[2020-05-13 16:11] #986 closed

[2020-05-13 18:51] #1008 closed

[2020-05-13 22:58] mirandaio commented on #1016
Thanks for reporting @fedde-s! This has been fixed by this PR https://github.com/opentargets/platform-app/pull/139

[2020-05-13 22:58] #1016 closed

[2020-05-13 23:43] mirandaio commented on #1015
@fedde-s this has been fixed by @forus PR. Thanks to you both for reporting it and for the PR!

@d0choa made some commits to also fix the search page being broken due to missing protein annotations which was needed to display the `functions` and `accessions` in the right panel. Also added a `BoundaryError` component around the right panel to prevent future errors there that would break the whole p

[2020-05-13 23:43] #1015 closed

[2020-05-14 04:59] #988 closed

[2020-05-14 04:59] mkarmona opened #1042 "Update targets and minor changes"
get the branch in this PR https://github.com/opentargets/platform-etl-backend/pull/38 and work from there? Actions

- [x] run the whole steps (now all default steps are configured in the configuration file if no steps are provided)
- [x] include mouse phenotypes in targets like it is
- [x] another step expression just get the expression index at it is for now (add to the steps in the configuration

[2020-05-14 07:24] d0choa commented on #1015
Awesome! Thank you all

[2020-05-14 10:07] andrewhercules commented on #1023
@LucaFumis can you take a look and see if it's straightforward to put this back into the `alpha` branch?

[2020-05-14 11:11] forus commented on #900
@andrewhercules @LucaFumis Hi guys! I've uncommented code to show the bibliography section. It looks working out of the box. No wonder as it does not depend on our GraphQL API.
Any idea what part of the section code deserves more work?
Shall we use react hooks instead of `componentDidMount`?

[2020-05-14 11:31] andrewhercules commented on #900
Good question @forus!

@javfg and @mirandaio, for other third party API calls, do we use React hooks or `componentDidMount`?

[2020-05-14 12:28] javfg commented on #900
We do not have a hook that handles the API call, but you are welcome to rewrite the widget as a functional component using standard hooks.

It would probably be good to wait for @mirandaio, he is more familiar with that widget.

[2020-05-14 13:35] deniseOme opened #2347 "links to Ensembl GRCh37 and UniProt search page"
From a gene page like this https://genetics.opentargets.org/gene/ENSG00000169174, we link out to Ensembl GRCh37 (https://grch37.ensembl.org/Homo_sapiens/Gene/Summary?db=core;g=ENSG00000169174;r=1:55505221-55530525) whereas the coordinates for the gene on the very same page in OTG are on GRCh38.

To avoid confusion and to be consistentn we should link to https://www.ensembl.org/Homo_sapiens/Gene/Su

[2020-05-14 14:39] deniseOme opened #1043 "POST `/private/enrichment/targets` is not working"
[/platform/private/enrichment/targets](https://platform-api.opentargets.io/v3/platform/docs/swagger-ui#/private/postEnrichmentTarget) to replicate part of the results for the batch search leads to errors.

This is what Swagger gives us:

curl -X POST "https://platform-api.opentargets.io/v3/platform/private/enrichment/targets" -H "accept: application/json" -H "Content-Type: application/json" -d "\"

[2020-05-14 15:10] mirandaio opened #1044 "Pasting search term in search box does not display dropdown"
How to reproduce:

- Have a term in you clipboard ready to paste like `esr`
- Click on the search box and paste the term

Result:

It does not display the dropdown with the search results

[2020-05-14 15:32] andrewhercules commented on #1020
Closing ticket as duplicate of #900

[2020-05-14 15:32] andrewhercules commented on #900
Copying note from duplicate issue #1020

[2020-05-14 15:36] forus opened #1045 "GraphQL error: Internal server error on TP53 profile page"
TP53 profile page throws "GraphQL error: Internal server error."

https://alpha--platform-app.netlify.app/target/ENSG00000141510

![prod_mode.png](https://images.zenhubusercontent.com/5eaad3777ada80775aa7039e/3fb2711a-934f-411b-8f62-0f8b5121ed46)

![dev_mode.png](https://images.zenhubusercontent.com/5eaad3777ada80775aa7039e/38efc7d8-45c2-46d4-a9bf-43467074174b)

[2020-05-14 15:40] forus commented on #1045
Surprisingly enough, I haven't found failing (not 200) graphql request on the network tab of the browser.

[2020-05-14 15:44] d0choa commented on #1045
Thanks @forus. @mkarmona will look at it tomorrow. For future reference, the offending query is related with `Cancer Biomarkers`

[2020-05-14 16:41] mirandaio commented on #1045
Here is a minimal query that causes this error https://tinyurl.com/yb2w37va

[2020-05-14 18:10] tskir commented on #1014
@AsierGonzalez

I did further investigation and have a correction to make to the original scope of this ticket. Actually, the main problem is not related to functional consequences and is only indirectly related to haplotypes. The reason for duplication is how we name the variants.

Currently, when our pipeline needs to specify a variant ID for the evidence string, it uses an RS ID as the first pr

[2020-05-14 18:11] tskir commented on #1014
And then, _separately,_ we have the issue that haplotypes are being processed simply as individual variants and recorded as such.

[2020-05-14 18:27] tskir commented on #1013
@AsierGonzalez @iandunham Right, so I think we have two separate issues here:

When two trait names currently point to the same ontology term, but should actually point to two different ones, then I agree this is a curation issue and should be fixed at this level. Currently we have no way of doing this because of the archaic curation approach, but the new web-based system should allow us to keep t

[2020-05-14 19:52] mkarmona commented on #1045
We are currently touching some parts of the pipeline so I will review this as soon as I get refreshed the data.

[2020-05-14 20:01] andrewhercules commented on #1035
CORS enabled so issue has been resolved

[2020-05-14 20:01] #1035 closed

[2020-05-14 20:14] mirandaio commented on #900
Hi @forus, using hooks instead of `componentDidMount` will not bring that much benefit to this component. This bibliography component is working well as it is. A better thing to do will be to work on integrating a new widget.

[2020-05-15 07:10] #1020 closed

[2020-05-15 07:15] andrewhercules commented on #883
In the 20.04 release, we introduced target tractability data for other modalities - see [here](https://github.com/opentargets/platform/issues/882#issuecomment-614091368) and [here](https://github.com/opentargets/platform/issues/882#issuecomment-616387921) for more information.

Can we please build a new heat map showing the other tractability data?

[2020-05-15 08:48] AsierGonzalez commented on #1013
If two ClinVar phenotypes point to the same ontology term in the same ClinVar accession then it is right to consider them duplicates. With the current approach (no phenotype source name in the unique association fields) our pipeline would discard one and there would not be any issues. As I said, I don't see the value of adding the source name to the unique association fields just to distinguish tw

[2020-05-15 12:20] forus commented on #1045
@mirandaio Do you think we should show a user-oriented error message when such types of errors happen?

[2020-05-15 12:23] forus commented on #900
I don't know why the commit in the following PR has not been bind to the ticket automatically. Anyway here is related PR https://github.com/opentargets/platform-app/pull/144

[2020-05-15 12:30] cmalangone commented on #987
Just change these lines

      val fds = df
        .where(col("private.datatype") === "known_drug")
        .withColumn("disease_id", col("disease.id"))
	.withColumn("label", col("disease.efo_info.label"))
        .withColumn("target_id", col("target.id"))
	.withColumn("approvedSymbol", col("target.gene_info.symbol"))
        .withColumn("drug_id", substring_index(col("drug.id"), "/", -1))

[2020-05-15 13:33] forus commented on #883
@andrewhercules

Do these points still apply? If yes, is the link the same? https://www.targetvalidation.org/downloads/data

[2020-05-15 13:38] forus commented on #883
PR: https://github.com/opentargets/platform-app/pull/145

[2020-05-15 13:44] andrewhercules commented on #883
@forus:

To keep it simple for the MVP, you can ignore both points as they were focussed on the Angular implementation.

Perhaps once the MVP is done, I do want to hide the tractability heatmaps when there is no data for a specific modality so that it doesn't look like data is missing - I'll add that to my backlog notes and open a ticket post -`alpha`

[2020-05-15 13:54] AsierGonzalez commented on #1014
From what you say, it feels wrong to use the RCV id as a variant identifier and the chromosomal notation would be a better option. There is one caveat though, which is that we show the variant id in the Genetics Associations table in the "Mutation" table and we generate a link based on it so any changes we do to this may break things in the front-end. Before we saction your suggestion, which makes

[2020-05-15 14:15] andrewhercules opened #1046 "Update target tractability detail view to show/hide heat maps depending on data availability"
In the current Angular version of the Platform, we show or hide the tractability heat maps depending on whether the API returns data:

**Data for all three modalities available (e.g. [PTGS2]**(https://www.targetvalidation.org/target/ENSG00000073756?view=sec:tractability))

![Screen Shot 2020-05-15 at 3 03 41 PM](https://user-images.githubusercontent.com/7490258/82058982-5b1f8880-96bd-11ea-88c2-2c2

[2020-05-15 15:32] AsierGonzalez commented on #1014
As I suspected, the FE uses the variant id to generate the url in the `Mutation` column. When the variant id is an RCV id, the url looks like `https://www.ncbi.nlm.nih.gov/clinvar/[variant.id]` and it seems to be (I haven't checked it systematically) the same as the link in the `Evidence source` column. If we change to using the chromosomal notation for the mutation, should we link somewhere?
@d0c

[2020-05-15 16:32] #2403 closed

[2020-05-15 18:01] fedde-s commented on #1017
Presented my code for review in pull request opentargets/platform-app#146, with to comments about concerns that I believe reviewers should assess.

[2020-05-18 10:11] forus commented on #1046
@andrewhercules I assume the case when all three tables (small molecule, antibody, and the other modalities) have no data is not an exception: we show the section with those three messages instead.
AFAIK hence this section becomes different from the rest of the sections that in such cases just not shown altogether

[2020-05-18 11:19] andrewhercules commented on #1046
@forus, in cases where all three tables have no data (e.g. [GATA3](https://alpha--platform-app.netlify.app/target/ENSG00000107485)), we already hide the entire detail view and that can remain as-is - we won't change how this section behaves with no data.

The show/hide functionality noted above is only for targets where there is data for at least modality.

[2020-05-18 20:57] mirandaio opened #1047 "Implement Homology GraphQL resolver with new schema"
For the Homology section, provide the following GraphQL API

[code]
The species that are needed are specified [here](https://github.com/opentargets/platform/issues/536#issuecomment-490911671)

currently, the Node.js API uses these two Ensembl REST endpoints to obtain the data:

https://rest.ensembl.org/homology/id/:id to get the homology data and https://rest.ensembl.org/lookup/id to obtain the di

[2020-05-19 08:24] andrewhercules opened #1048 "Generate XML sitemaps for 20.06 release"
Generate XML sitemaps and hand-off to front-end team to be added to webapp [/sitemaps](https://github.com/opentargets/webapp/tree/master/app/sitemaps) directory

[2020-05-19 09:55] mkarmona opened #1049 "Related diseases / targets header is not appropiate as symbols"
related diseases table, at the top header that formulation is wrong. that is the shared diseases count which is the cardinality of the intersection. having a plus sign is not appropriate. more like this |A⋂B|

you have 2 main options here

1. utf using the font
2. mathjax rendering (top quality)

Shared diseases $\vert D_{A}\cap D_{B} \vert$ https://www.mathjax.org/#demo

[2020-05-19 14:04] andrewhercules opened #1050 "Update filters for L2G evidence"
Update the script for evidence preparation to accept a lower threshold for l2g score for filtering

Further details TBC

[2020-05-19 14:06] deniseOme opened #2348 "create and make available tutorials on the GraphQL"
Following several user requests (by email and on Twitter), we have started collating some tutorials on how to retrieve information using Open Targets Genetics GraphQL:

https://docs.google.com/document/d/15GeGNHtT9IAv0WPx-N8IE0xXgVgzeWsBD5om9eVlGbY/edit?usp=sharing

This will then revisited by the team (@mkarmona @mirandaio et al) before going live in [Open Targets Genetics help docs](https://gene

[2020-05-19 14:14] andrewhercules opened #1051 "Update LINK dictionaries"
Details TBC

[2020-05-19 14:16] andrewhercules opened #1052 "Rerun LINK for 20.06"
Details TBC

[2020-05-19 15:44] forus commented on #1046
Here is PR: https://github.com/opentargets/platform-app/pull/147

[2020-05-19 16:14] d0choa opened #1053 "Open Targets projects in disease API endpoint"
This is part of a task to present the OTAR projects in the disease profile pages of the FE rewrite.

In preparation, for this task we have undergone a mapping of all the ongoing OTAR projects to their relevant EFOs [here](https://docs.google.com/spreadsheets/d/1CV_shXJy1ACM09HZBB_-3Nl6l_dfkrA26elMAF0ttHs/edit)

The OTAR projects need to be propagated through the EFO ontology, so that when a top-le

[2020-05-19 23:38] DSuveges commented on #1050
The filtered data is now available: [here](https://console.cloud.google.com/storage/browser/_details/otar000-evidence_input/Genetics_portal/json/genetics_portal_evidences-20-05-2020.json.gz?project=open-targets)

[2020-05-20 10:46] andrewhercules commented on #1025
Sub-cellular location and subunit data are now exposed by the GraphQL API and the "Protein Information" section now be ported to `alpha`.

![Screenshot 2020-05-20 at 11 40 00](https://user-images.githubusercontent.com/7490258/82437053-aacfcc80-9a8e-11ea-81fa-65ddbfa3b6db.png)

Can we please do the following?

- [ ] Take the protein structure LiteMol viewer and put in its own tab called "Protein St

[2020-05-20 11:44] AsierGonzalez commented on #1033
TEPs checked on May 20th and there are no updates

[2020-05-20 11:57] AsierGonzalez commented on #957
`Ensembl_id` added to spreadsheet following a conversation with @cmalangone. The values that are really needed are `Ensembl_id` and `Real_URL`, everything else is for tracking and debugging purposes.

[2020-05-20 13:33] fedde-s commented on #1021
I've talked @andrewhercules about this task and started looking into the implementation.

[2020-05-20 13:40] mirandaio commented on #1026
This has been implemented using the Ensembl API directly from the frontend until the backend provides the required GraphQL schema for homologies described on this ticket https://github.com/opentargets/platform/issues/1047

[2020-05-20 13:40] #1026 closed

[2020-05-20 13:48] d0choa commented on #1026
This has produced something to think about. Sometimes, Ensembl takes quite a bit to respond. How easy is to link the loading state (as when the page is loaded at first) to the API query?

[2020-05-20 14:46] andrewhercules opened #1054 "Draft contribution guidelines for platform-app repo"
As discussed in today's sprint catch-up meeting, it would be a good idea to have a set of [contribution guidelines](https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors) for the platform-app repo.

[2020-05-20 14:51] forus commented on #1025
@andrewhercules Sub-cellular locations used to have `id`s next to `names`s.
They are used to build a link to the UniProt. e.g. https://www.uniprot.org/locations/SL-0086

Can you please make sure this finding covered by a ticket?

[2020-05-20 15:38] forus commented on #1025
Here is PR: https://github.com/opentargets/platform-app/pull/148

Still needs to be done:
- Take the protein structure LiteMol viewer and put in its own tab called "Protein Structure"

[2020-05-20 16:52] andrewhercules commented on #1025
Good spot - thanks @forus! For now, we can just display the list without links and I will let Miguel know about the missing field 👍

[2020-05-20 18:33] LucaFumis commented on #1023
Fixed pending PR approval.
There isn't a specific summary query in the API (although perhaps could use `genomicLocation`).
We assume the widget will be enabled for all targets, so `hasSummaryData()` always evaluates to true. The details/section pull directly from the opentargets and ensembl APIs.

[2020-05-21 08:34] andrewhercules opened #1055 "Update detail view section descriptions on drug profile page"
To standardise how we describe each profile page detail view, we have updated the description for each detail view on the drug profile page.

Can we please update each of the descriptions as noted below?

_Notes: Within each description, please replace DRUG_NAME with the name of the drug.name value returned by the GraphQL API (e.g. Acetaminophen, Rofecoxib, Pembrolizumab, etc.). And please **bold*

[2020-05-21 09:18] andrewhercules opened #1056 "Import navigation tab component on drug profile page and add link to Angular version of page"
To prepare for our `alpha` launch, we need to ensure that the user journey is as closed as possible so that users can move seamlessly between the React and Angular versions of the Platform.

On the disease and target profile pages, we will alter the [navigation tabs](https://github.com/opentargets/platform-app/search?q=%22Associations+%28classic%29%22&unscoped_q=%22Associations+%28classic%29%22) s

[2020-05-21 11:35] d0choa commented on #1032
Version 0.1 of this tools has been generated. More actions will be specified when the future directions are agreed

[2020-05-21 11:35] #1032 closed

[2020-05-21 11:36] andrewhercules opened #1057 "Update Mechanisms of Actions detail view on drug profile page"
Currently, the Mechanisms of Action (MoA) detail view has two issues that we should resolve prior to the `alpha` launch:

### GraphQL API returns `null` in references array

Sometimes the GraphQL API returns `null` for the references for a MoA, which causes an error message to show in the detail view (e.g. [CHEMBL101](https://alpha--platform-app.netlify.app/drug/CHEMBL101) and its [GraphQL query](

[2020-05-21 11:45] andrewhercules opened #1058 "Resolve Bibliography detail view error on drug profile page"
With some drugs - e.g. [CHEMBL2109124](https://alpha--platform-app.netlify.app/drug/CHEMBL2109124) - LINK returns 8 publications but the detail view displays an error message.

![Screenshot 2020-05-21 at 12 43 22](https://user-images.githubusercontent.com/7490258/82555937-ad025b80-9b60-11ea-9775-38b429015717.png)

In reviewing the API calls made to LINK - https://link.opentargets.io/search?query=D

[2020-05-21 11:51] d0choa commented on #1058
After digging on the error, the issue is related with some publications having a `null` in the `._source.authors` object.

[code]

[2020-05-21 14:16] #1040 closed

[2020-05-21 14:17] cmalangone commented on #957
Added TEP step in platform-input-support
The output file is used by the platform-etl-backend.
Added TEP info to the target step

[2020-05-21 14:17] #957 closed

[2020-05-21 14:17] cmalangone commented on #902
Done

[2020-05-21 14:17] #902 closed

[2020-05-21 14:18] cmalangone commented on #987
Added to platform-etl-backend

[2020-05-21 14:18] #987 closed

[2020-05-21 15:37] andrewhercules commented on #1058
Good spot - thanks @d0choa. I also think the `null` abstract also causes a problem:

![Screenshot 2020-05-21 at 16 35 44](https://user-images.githubusercontent.com/7490258/82576054-36298a80-9b81-11ea-9d6d-a25fd6dd3195.png)

https://www.targetvalidation.org/summary?drug=CHEMBL2109124

[2020-05-21 18:21] cmalangone commented on #1042
Done. Merged in master (approved PR)

[2020-05-21 18:21] #1042 closed

[2020-05-21 23:18] mirandaio commented on #1025
@andrewhercules Regarding moving the protein structure viewer to a different tab, I would suggest that we don't do that because there are interactions between the tracks and the protein viewer. Furthermore, there is no clear documentation on how to customise the [protvista-uniprot](https://www.npmjs.com/package/protvista-uniprot) component.

[2020-05-21 23:59] deniseOme opened #2349 "search not working in a given geolocation"

[2020-05-22 06:51] d0choa commented on #1025
@mirandaio is right. Since the inclusion of protvista v2 there is interaction between panel and structure. They need to be side-by-side

[2020-05-22 07:54] andrewhercules commented on #1025
@mirandaio and @d0choa, thank you - I completely forgot about the interaction between the two components.

@forus I have updated the [ticket](https://github.com/opentargets/platform/issues/1025#issuecomment-631398231) with a note that we will remove that request because of the interaction between the two components.

[2020-05-22 09:33] mkarmona opened #1059 "Scala SBT project conversion"
Convert a bunch of scripts that OpenFDA FAERS repo is into a proper Scala SBT project that can be assembled and run in a Spark cluster or locally.

[2020-05-22 10:20] mkarmona opened #1060 "An aditional step to generate a stratified sample of the input dataset"
Adding a step to generate a stratified sample from the raw data and use that compressed result for testing purposes. [This link shows](https://stackoverflow.com/a/47672336) a way of doing so. Data is around hundreds of megabytes so having a configurable stratified sample or so could potentially work. Having the output in parquet format or compressed JSON lines will help for developing locally.

[2020-05-22 10:20] #2346 closed

[2020-05-22 10:21] mkarmona opened #1061 "Travis integration to do CI/CD tasks"
Having the repository integrated with Travis ([see example](https://github.com/opentargets/platform-etl-backend/blob/master/.travis.yml )) will help to keep automatic CI/CD tasks like testing and package building each time we tag, PR or commit so, in the end, we get a new assembled .jar that anyone can use for each master tag.
So having

- [ ] tested at any commit
- [ ] tested at any PR (not doubl

[2020-05-22 10:21] mkarmona opened #1062 "A short technical blog post about the project"
Having a blog post published on the Open Targets Blog page will give us more relevance and helps to spread what we are doing and more specifically when it comes to technical stuff.

The intention is to show about what is the OpenFDA FAERS processing we do, how we do it, which technologies and how this technology helps us to accommodate automatically to the amount of data and or computing resources

[2020-05-22 10:22] mkarmona opened #1063 "Refactoring the critical value computations as a published standalone library"
Making the critical value computation into a published library as a common bucket to put generic stuff produced by Open Targets backend sounds like a good idea. This helps to reduce code duplication. Doing the scala way (see [this example](https://github.com/scalanlp/breeze/blob/master/project/Build.scala#L52)) might be the right way to go. Having a look at the most recent way (from the Scala comm

[2020-05-22 10:42] mkarmona opened #1064 "Produce a plot about computations time against computational resources"

[2020-05-22 12:43] fedde-s commented on #1021
I've talked to @andrewhercules about this task and started looking into the implementation.

[2020-05-22 13:31] andrewhercules commented on #1022
@forus could you take a look at this?

[2020-05-22 14:23] andrewhercules opened #1065 "Update rewrite homepage to prepare for alpha release"
To prepare for the release of `alpha` in June 2020, we should update the [homepage](https://alpha--platform-app.netlify.app/) to communicate to users that this is a preview and that not all functionality is available.

Can we please make the following changes to the homepage layout?

- [x] Remove the "Platform Stats" section

And can we please update the search box with the following changes?

- [

[2020-05-22 14:29] #1061 closed

[2020-05-22 14:31] andrewhercules opened #1066 "Ensure Bibliography widget and detail view are greyed out on disease profile page when no LINK publications available"
In the `alpha` version, some diseases do not have publications but the summary widget and detail view are displayed as active in blue (e.g. [stromelysin‐1 measurement](https://alpha--platform-app.netlify.app/disease/EFO_0010608))

![Screenshot 2020-05-22 at 15.26.54.png](https://images.zenhubusercontent.com/5b2a33c1a8bb68463b89f992/f3a40f6e-3d4e-47a5-8f69-72d31ae1b9ec)

Can we please update the su

[2020-05-22 14:49] andrewhercules opened #1067 "Update detail view section descriptions on disease profile page"
To standardise how we describe each profile page detail view, we have updated the description for each detail view on the disease profile page.

Can we please update each of the descriptions as noted below?

_Notes: Within each description, please replace DISEASE_NAME with the name of the disease.name value returned by the GraphQL API (e.g. lung carcinoma, Crohn's disease, body mass). And please *

[2020-05-22 14:52] andrewhercules opened #1068 "Change name of "Related Diseases" summary widget and detail view on disease profile page"
To capture the breadth of disease and phenotype data calculated in the pipeline's DDR step, can we please change the "Related Diseases" summary widget and detail view label to "Related Diseases or Phenotypes"?

For the summary widget, the letters "RD" can remain as-is.

[2020-05-22 15:08] andrewhercules opened #1069 "Fix the header on the disease profile page for disease and phenotypes with long names"
Some diseases and phenotypes have names that are long, causing the header section to have an unnecessary line break (e.g. [congenital anomalies of kidney and urinary tract syndrome with or without hearing loss, abnormal ears, or developmental delay](https://alpha--platform-app.netlify.app/disease/MONDO_0060549))

![Screenshot 2020-05-22 at 16 05 05](https://user-images.githubusercontent.com/749025

[2020-05-22 15:23] andrewhercules opened #1070 "Truncate synonyms on the disease profile page"
For some diseases and phenotypes, they have synonyms that are very long, causing page layout issues on smaller screens.

For example, for [congenital anomalies of kidney and urinary tract syndrome with or without hearing loss, abnormal ears, or developmental delay](https://alpha--platform-app.netlify.app/disease/MONDO_0060549), one of the synonyms is `congenital anomalies of kidney and urinary tra

[2020-05-22 15:29] andrewhercules opened #1071 "Change default order of summary widgets and detail views on disease profile page"
To prepare for the `alpha` release, can we please change the default order of the summary widgets and detail views on the disease profile page?

1. Ontology
2. Known Drugs
3. Phenotypes
4. Related Diseases or Phenotypes
5. Bibliography

[2020-05-22 15:30] andrewhercules opened #1072 "Integrate Font-Awesome library and update icons used in rewrite version"
Currently, each profile page has an SVG icon that we use to represent each entity.

As there will be other icons that we will want to use (e.g. on the homepage), it was suggested that we instead make use of [Font Awesome's official React component](https://fontawesome.com/how-to-use/on-the-web/using-with/react) and the [1500+ free icons](https://fontawesome.com/icons?d=gallery&m=free).

Can we ple

[2020-05-22 15:32] d0choa commented on #1069
See #1072 in case it simplifies the issue

[2020-05-22 15:33] andrewhercules opened #1073 "Profile page polish for ALPHA release"
This epic links various tickets that have been opened to improve the target, disease, and drug profile pages ahead of the ALPHA release in June 2020.

Each ticket has been assigned a relative importance:

- Priority: High
- Priority: Medium
- Priority: Low

Please focus initially on the tickets tagged "Priority: High" and then move to tickets tagged "Priority: Medium"

[2020-05-22 15:48] andrewhercules opened #1074 "Change default order of summary widgets and detail views on drug profile page"
To prepare for the `alpha` release, can we please change the default order of the summary widgets and detail views on the drug profile page?

1. Indications
2. Mechanisms of Action
3. Known Drugs
4. Clinical Precedence
5. Bibliography

[2020-05-22 15:59] andrewhercules opened #1075 "Round the critical value shown on the drug profile page"
On the drug profile page, we round the critical values in the Pharmacovigilance section rows to 2 decimal points. However, the value we display in the column heading has _n_ number of decimal points - in some cases, more than 10.

For example, for [Rofecoxib](https://alpha--platform-app.netlify.app/drug/CHEMBL122), we display a critical value of `150.59409035651765`.

![Screenshot 2020-05-22 at 16

[2020-05-22 16:14] tskir commented on #104
@AsierGonzalez At this point, we have identified and fixed the following mappings on our side:
* "Alzheimer disease, type {1, 3, 4}" → http://www.orpha.net/ORDO/Orphanet_1020
* "alzheimer disease 2" → http://www.ebi.ac.uk/efo/EFO_1001870

You also listed "Alzheimer disease (AD)" in the spreadsheet of problematic terms, which I wasn't able to find in our records, and so wasn't able to correct. Do y

[2020-05-22 18:24] fedde-s commented on #1058
Probably the same code: I encountered the same failing assumption on [the target profile page for SLC10A2](https://alpha--platform-app.netlify.app/target/ENSG00000125255).

[2020-05-22 19:01] fedde-s commented on #1034
I presented pull request opentargets/platform-app#151 for review to address this.

[2020-05-25 16:04] forus commented on #1022
@andrewhercules
I think @mkarmona mentioned similar issue on the last call.

The following `GenotypePhenotype `(`query.target.mousePhenotypes.phenotypes.genotypePhenotype`) fields have a string value that has to be split by a comma:
[code]
Should backend return an array instead?

[2020-05-25 18:13] andrewhercules commented on #1022
Hi @forus! Good spot - thank you! I'll follow up with @mkarmona and ask if that can be formatted differently. I would prefer an array just because I can't be certain commas don't exist in a value in the `subjectAllelicComposition` field.

@mkarmona is this something we can adjust in the back-end? Or for the MVP, should the front-end handle this data processing?

[2020-05-26 08:54] AsierGonzalez commented on #104
Thank you for fixing those mappings @tskir. The 20 ClinVar entries that are annotated with `Alzheimer disease (AD)` and are mapped to `EFO_0000249` are the following:
[code]
For 20.04 I changed their disease annotation manually in the file you submitted. I can do this again for this release unless you can fix it in your pipeline and submit a new file.

[2020-05-26 10:08] AsierGonzalez commented on #843
This has been fixed in the 20.06 EVA file

[2020-05-26 10:09] #843 closed

[2020-05-26 12:08] AsierGonzalez commented on #104
The mapping of these variants has been corrected manually for 20.06

[2020-05-26 13:24] javfg commented on #1049
Going with the first option for now. Mathjax library is pretty big and it's not justified to increase the bundle size so much for just a table header caption.

We might reevaluate this if we end up displaying more math.

[2020-05-26 13:42] forus commented on #1022
Here is PR https://github.com/opentargets/platform-app/pull/154
We'd have to remove splitting when the back-end will be ready.

[2020-05-26 14:28] AsierGonzalez commented on #1033
EuropePMC evidence file received on May 23. It was checked and it looks good:
- 9,790,732 evidence strings (up from 9,655,854 in 20.04)
- Valid JSON
- 1,287 evidence strings annotated with COVID-19 ([`MONDO_0100096`](https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0100096)). However, the [Hoffmann et al. Cell paper](http://europepmc.org/article/MED

[2020-05-26 16:18] fedde-s commented on #1034
I addressed the first feedback based on the questions I phrased when I opened the pull request, awaiting further review.

[2020-05-26 16:47] AsierGonzalez commented on #420
Mappings file in the repo above updated with the latest EFO updates, which includes around 30 new requested terms now included in EFO. This completes the mapping of PheWAS Catalog traits to EFO.

[2020-05-26 17:05] AsierGonzalez commented on #1033
PheWAS catalog evidence updated on 26th May:

- A few traits for which new terms were requested to be added to EFO now have a mapping, e.g. [`Abnormal chest sounds`](http://www.ebi.ac.uk/efo/EFO_0010670) - see [updates](https://github.com/opentargets/mappings/commit/f97cce0ddf5eda50d450521fe84723b5de13a468)
- Unique association fields changed to reduce the number of duplicates (see [commit](https:

[2020-05-27 08:48] AsierGonzalez opened #1076 "Serialise COVID-19 table as JSON"
Users have requested that the OT table with target information related to COVID-19 (see #1032) is made available as JSON.

[2020-05-27 08:50] AsierGonzalez commented on #1076
First attempt by @DSuveges was to serialise the pandas dataframe directly as JSON but this does not work as expected for a number of columns that have lists in there and that are saved as strings by default. We're now working on a better solution that requires making some changes to the parsers and the integrator

[2020-05-27 08:54] AsierGonzalez opened #1077 "Review EFO mapping of Gene2Phenotype diseases"
As mentioned in #931, the current appraoch of mapping the diseases in Gene2Phenotype to EFO using the OMIM ids creates some inaccurate mappings so they need to be reviewed manually.

[2020-05-27 08:57] AsierGonzalez opened #1078 "Include all Gene2Phenotype gene panels in evidence"
As mentioned in #931, there are four separate gene panels in Gene2Phenotype (Developmental Disorders - DD, cancer, eye disorders and skin disorders) but only the DD one is currently used to generate the evidence strings.

[2020-05-27 12:14] andrewhercules commented on #1029
Decision made to delay release of PROTAC data to 20.09.

Epic has been updated and re-assigned to 20.09 release.

[2020-05-27 12:20] andrewhercules opened #1079 "Update documentation to explain changes to tractability SM/AB assessments"
The ChEMBL team have made a few changes to the tractability pipeline in order to expand coverage and fix bugs:

1. Expanded sub-cellular locations used in AB workflow buckets 4 and 6
2. Fix to AB workflow bucket 9
3. Fix to SM workflow bucket 1/2/3 to take max_phase value for SM drugs and not max_phase for any modality

Further details noted in [pipeline README.md file](https://github.com/melschne

[2020-05-27 12:24] andrewhercules commented on #1050
@DSuveges and @d0choa, just to confirm, we will now set the filter to 0.05 as that will ensure coverage that is comparable to the previous GWAS Catalog evidence?

[2020-05-27 12:26] andrewhercules opened #1080 "Update documentation to explain new L2G filter"
As noted in #1050, we will now apply a filter to the L2G evidence and we should update our documentation to ensure that users are aware of the new filter.

Pages to be updated:

- [Genetic Associations page](https://docs.targetvalidation.org/data-sources/genetic-associations#common-diseases)
- [Scoring page](https://docs.targetvalidation.org/getting-started/scoring)

[2020-05-27 13:00] andrewhercules commented on #1023
Ticket closed as work has been merged into `alpha`

[2020-05-27 13:00] #1023 closed

[2020-05-27 13:04] andrewhercules commented on #900
Ticket closed as PR has been merged into `alpha`

[2020-05-27 13:04] #900 closed

[2020-05-27 13:05] andrewhercules commented on #958
Ticket closed as TEPs data is now available from GraphQL target endpoint. Target classes data not needed for target entity, but perhaps for association page facets.

[2020-05-27 13:05] #958 closed

[2020-05-27 13:34] andrewhercules commented on #1007
Moved to next sprint - Roland Garros

[2020-05-27 13:35] andrewhercules commented on #1022
Ticket closed as PR approved and merged into `alpha`

[2020-05-27 13:35] #1022 closed

[2020-05-27 13:36] andrewhercules commented on #883
Ticket closed as PR approved and merged into `alpha`

[2020-05-27 13:36] #883 closed

[2020-05-27 13:37] andrewhercules commented on #1027
Ticket moved to next sprint. Decision to be made about whether to proceed with OmniPathDB implementation for `alpha` release.

[2020-05-27 13:46] andrewhercules commented on #973
[Basic smoke tests](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#heading=h.czk5y3tiusih) have been written and reviewed by team. However, tests have not been implemented as all IE11 tests - including existing smoke tests - fail in local test environment.

Ticket moved to next sprint.

[2020-05-27 13:46] andrewhercules commented on #975
[Basic smoke tests](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#heading=h.czk5y3tiusih) have been written and reviewed by team. However, tests have not been implemented as all IE11 tests - including existing smoke tests - fail in local test environment.

Ticket moved to next sprint.

[2020-05-27 13:47] andrewhercules commented on #974
[Basic smoke tests](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#heading=h.czk5y3tiusih) have been written and reviewed by team. However, tests have not been implemented as all IE11 tests - including existing smoke tests - fail in local test environment.

Ticket moved to next sprint.

[2020-05-27 13:47] andrewhercules commented on #976
[Basic smoke tests](https://docs.google.com/document/d/1JzajEnizwPrPq_tr8MhBon-aD-QTAU1oxfU9cOedqTM/edit#heading=h.czk5y3tiusih) have been written and reviewed by team. However, tests have not been implemented as all IE11 tests - including existing smoke tests - fail in local test environment.

Ticket moved to next sprint.

[2020-05-27 13:50] andrewhercules commented on #1034
Ticket closed as PR approved and merged into `alpha`

[2020-05-27 13:50] #1034 closed

[2020-05-27 13:50] andrewhercules commented on #1017
Ticket closed as PR approved and merged into `alpha`

[2020-05-27 13:50] #1017 closed

[2020-05-27 13:52] andrewhercules commented on #1025
Ticket closed as PR approved and merged into `alpha`

[2020-05-27 13:52] #1025 closed

[2020-05-27 14:00] tskir commented on #104
Thanks @AsierGonzaler, I'll take a look at those RCVs (can't promise it will be soon though!)

[2020-05-27 14:04] d0choa commented on #1007
The problem with phenotypes is a much more profound than just what the exposed fields are. The data currently comes from a very old list of mapping files that need to be updated

I'm working on this with the SPOT team. Unclear what the timeline is at the moment

[2020-05-27 14:04] fedde-s commented on #1021
Most of the work is ready in #158—I'll push a patch to replace the PNG links soon.

[2020-05-27 14:33] AsierGonzalez commented on #1033
ChEMBL file received on 27th May:
- 434878 evidence strings (up from 416,174 in 20.04)
- Valid JSON
- ChEMBL version in evidence strings (`evidence.target2drug.provenance_type.database.version`) changed from `"26"` to `"27"` as it was generated based on ChEMBL 27. New file called `cttv008-27-05-2020.json.gz` and uploaded to the ChEMBL Google bucket.
- It contains 761 evidence strings annptated wit

[2020-05-27 14:51] #1049 closed

[2020-05-27 14:51] #1044 closed

[2020-05-27 15:32] andrewhercules commented on #1028
@forus and @fedde-s, would you be able to implement this?

[2020-05-29 10:43] andrewhercules opened #1081 "Update search page top-hit panel when user searches for a target"
To prepare for the `alpha` launch, can we please update the top-hit panel that is displayed when a user searches for a target (e.g. [ESR1](https://alpha--platform-app.netlify.app/search?q=esr1&page=1) or [BRCA1](https://alpha--platform-app.netlify.app/search?q=BRCA1&page=1))?

![Screenshot 2020-05-29 at 11 32 32](https://user-images.githubusercontent.com/7490258/83251172-2291ab80-a1a1-11ea-928e-10

[2020-05-29 10:49] andrewhercules opened #1082 "Update search page top-hit panel when user searches for a drug or compound"
To prepare for the `alpha` launch, can we please update the top-hit panel that is displayed when a user searches for a drug or compound (e.g. [acetaminophen](https://alpha--platform-app.netlify.app/search?q=acetaminophen&page=1) or [Keytruda](https://alpha--platform-app.netlify.app/search?q=keytruda&page=1))?

![Screenshot 2020-05-29 at 12 36 41](https://user-images.githubusercontent.com/7490258/8

[2020-05-29 11:35] andrewhercules opened #1083 "Update search page top-hit panel when user searches for a disease or phenotype"
To prepare for the `alpha` launch, can we please update the top-hit panel that is displayed when a user searches for a disease or phenotype (e.g. [non-small cell lung carcinoma](https://alpha--platform-app.netlify.app/search?q=non-small%20cell%20lung&page=1), [kidney disease](https://alpha--platform-app.netlify.app/search?q=kidney%20disease&page=1))

![Screenshot 2020-05-29 at 11 40 09](https://us

[2020-05-29 13:22] andrewhercules opened #1084 "Update "Disease" labels to read "Disease or phenotype""
Due to the broad scope of diseases and phenotypes found in the Platform, we should update labels for `Disease` to read `Disease or phenotype`.

Can we please make the following changes?

1. On the homepage and drop-down search boxes, can we please update the placeholder text to read `Search for a target, drug, disease, or phenotype`?

![Screenshot 2020-05-29 at 14 17 34](https://user-images.github

[2020-05-29 15:53] AsierGonzalez commented on #1033
Baseline and differential expression files received on 12th May.
- Baseline:
  - Data processed using Ensembl 79 and Ensembl 95 genome references depending on data set. Inconsistencies observed
  - Bins and z-scores computed

- Differential:
  - Data from Expression Atlas release 35
  - 375,338 evidence strings received, which end in 221,633 after filtering based on activity (up from 215,921 in 20

[2020-06-01 08:37] andrewhercules opened #1085 "Update ChEMBL-DrugBank mapping file"
To ensure that as many DrugBank IDs as possible are available on the drug summary page, we need to update the ChEMBL-DrugBank mapping file used by `platform-input-support`.

- [x] Confirm with ChEMBL that most recent UniChem ChEMBL-DrugBank mapping file is available on the UniChem FTP site
- [x] Download most recent ChEMBL-DrugBank mapping file and upload to otar001-core Google bucket

[2020-06-01 11:30] AsierGonzalez commented on #1033
Chemical Probes updated on 1st June:
- One new probe (`NVS-MALT1`) in SGC, there are 77 in total.
- 12 new probes in Chemical Probes Portal: `ABBV-744`, `AT1`, `BAY-885`, `CM11`, `Eleutherobin`, `Glyburide`, `ICI-199441`, `NI-57`, `PFI-3`, `RO2468`, `T-26c`, `UCSF7447`. There are 135 probes in total.
  - `Eleutherobin` is a particular case as it targets tubulin, which is an structural protein form

[2020-06-01 13:09] andrewhercules commented on #1085
**UniChem FTP site:** ftp://ftp.ebi.ac.uk/pub/databases/chembl/UniChem/data/wholeSourceMapping/src_id1/

[2020-06-01 13:10] andrewhercules commented on #1085
The latest ChEMBL ID to DrugBank ID mapping file - `src1src2.txt.gz` - has been downloaded from the UniChem FTP site.

The mapping file `drugbank-01-06-2020.txt.gz` has been uploaded to the [otar001-core/DrugBank/annotation](https://console.cloud.google.com/storage/browser/otar001-core/DrugBank/annotation?project=open-targets) bucket for inclusion in the 20.06 release.

[2020-06-01 13:10] #1085 closed

[2020-06-01 13:53] andrewhercules commented on #1075
@LucaFumis could you please look into this?

[2020-06-01 13:57] andrewhercules commented on #1054
@javfg as you did such a great job with the documentation for the table component, could you start drafting contribution guidelines for the `platform-app` repo?

Topics could include:

- Do PRs need to be connected to an issue?
- Opening up a PR and tagging me or David O.
- When merging a PR, do we squash commits or keep the history?

[2020-06-01 13:58] andrewhercules commented on #1074
@LucaFumis can you please also look into this?

[2020-06-01 14:05] AsierGonzalez commented on #1076
PR [#25](https://github.com/opentargets/ot_covid19/pull/25) fixes this. The columns that contain lists are now JSON lists as seen in the example below:
[code]

[2020-06-01 14:05] #1076 closed

[2020-06-01 17:19] javfg commented on #1054
Indeed, this is in my to-do list. I'll open a discussion about it everyone involved to get you input!

[2020-06-02 11:33] andrewhercules opened #1086 "Create links between Angular and React Platform versions on target, disease, and drug profile pages"
For our 20.06 release, we will also release the `alpha` branch of the React rewrite project. To ensure that users can toggle between the classic Angular and modern React views, we need to update the layout of the target, disease, and drug profile pages in the Angular application. As such, can we please update the [target HTML template](https://github.com/opentargets/webapp/blob/master/app/src/page

[2020-06-02 12:10] andrewhercules opened #1087 "Create summary widget and detail view for Open Targets project Intranet links"
Once details of Open Targets projects and their relevant diseases and EFO IDs are available - see #1053 - we should create a summary widget and detail view on the disease profile pages for a partner-specific customisation.

Please see below for the [design spec](https://docs.google.com/presentation/d/1i101n-VdNaYJuaMVwSGulrEig7IgKEEpSKTP_iAJcKQ) for the summary widget and detail view.

**Summary w

[2020-06-02 16:15] #1081 closed

[2020-06-03 02:52] #1024 closed

[2020-06-03 03:47] #1082 closed

[2020-06-03 08:19] d0choa opened #1088 "Duplicated children diseases in graphQL API"
There might be duplicates in the children of diseases according to the GraphQL API response.
This does not break any UI at the moment, it was only observed exploring the API.
@mkarmona preliminary assessment points to a bug

**QUERY**
[code]

**RESPONSE**
[code]

[2020-06-03 10:42] andrewhercules opened #1089 "20.06 release communications"
To do:

- [x] Create 20.06 release notes - @andrewhercules
- [x] Create 20.06 technical notes - @andrewhercules
- [x] Update change log - @andrewhercules
- [x] Update [OT006 Data Submission wiki](https://github.com/opentargets/data_release/wiki/OT006-Data-Submission)
- [x] Send technical notes email to partners and collaborators - @andrewhercules
- [x] Write and publish blog post - @deniseOme

[2020-06-03 10:51] andrewhercules commented on #982
Ticket re-assigned to next release as https://github.com/EBISPOT/efo/issues/764#issuecomment-616424893 is still open and work is ongoing.

[2020-06-03 11:07] andrewhercules commented on #1050
Pipeline has been re-run with filter set to 0.05

[2020-06-03 11:07] andrewhercules commented on #1050
Ticket closed as work has been completed

[2020-06-03 11:07] #1050 closed

[2020-06-03 11:16] andrewhercules commented on #1021
Closing this ticket as PNG link and Reactome link label will be captured in target profile page polish work - see epic #1073

[2020-06-03 11:16] #1021 closed

[2020-06-03 11:46] andrewhercules commented on #1065
@mirandaio, can you please make a few small changes to the homepage to prepare it for the `alpha` release?

[2020-06-03 14:14] AsierGonzalez commented on #127
Baseline data has been updated for 20.06 and this gene has baseline expression information

[2020-06-03 14:24] AsierGonzalez opened #1090 "JSON schema not stringent with date format"
The first pipeline run of 20.06 has failed because there were 5 evidence strings in the ChEMBL file where the date format in `evidence.drug2clinic.date_asserted` was `yyyy-dd-mm` instead of `yyyy-mm-dd`. Up to the version `1.6.7` of the JSON schema `date_asserted` is defined as string with the `date-time` format, but the validator does check the specfic format.
In order to enforce the correct form

[2020-06-03 14:25] #1090 closed

[2020-06-03 14:25] AsierGonzalez commented on #1090
PR [#87](https://github.com/opentargets/json_schema/pull/87) fixes this issue

[2020-06-03 14:37] AsierGonzalez commented on #1033
The first 20.06 pipeline run has failed due to some ChEMBL evidence strings having the `evidence.drug2clinic.date_asserted` in the `yyyy-dd-mm` format instead of `yyyy-mm-dd`. ChEMBL have generated a new evidence file with the correct format and OT have changed the JSON schema to capture this issue (see #1090 and PR [#87](https://github.com/opentargets/platform/issues/87)). The new ChEMBL evidence

[2020-06-03 14:51] AsierGonzalez commented on #583
Fixed in 20.06

[2020-06-03 14:56] AsierGonzalez commented on #1033
EVA file received on 22nd May:
- 125,138 evidence strings (up from 122,219 in 20.04)
- Valid JSON
- There are still 20 evidence strings where the condition is `Alhzeimer disease (AD)` and they are mapped to `EFO_0000249`  . These were manually mapped to `Early-onset autosomal dominant Alzheimer disease` (Orphanet_1020) - see [#104](https://github.com/opentargets/platform/issues/104#issuecomment-63

[2020-06-03 16:06] andrewhercules opened #1091 "Update navigation tabs on disease profile page and link to the Platform"
Details TBC

[2020-06-03 16:19] andrewhercules commented on #907
Ticket closed as data table integrated as part of #1034

[2020-06-03 16:19] #907 closed

[2020-06-03 19:20] tskir commented on #1013
In light of the clarifications you provided, I agree that while simply adding source name to the unique association fields will technically solve the problem, it will not add any value. So let's not do that.

I still want to avoid having duplicates in the unique association fields in the evidence strings which we submit to you. Partly because it's just not right to have duplicates in a field which

[2020-06-03 19:26] tskir commented on #1013
Also, I have created a relevant issue in the repository for the new trait curation web app we are developing: https://github.com/EBIvariation/trait-curation/issues/12. It will provide an opportunity to view all ontology terms which have mappings from multiple trait names.

[2020-06-03 19:28] tskir commented on #1013
Also also, I just want to share a quote from Gautier Koscielny, who in 2018 commented:

One possible explanation is because the disease mapping process in EVA has mapped different ClinVar diseases to the same EFO/ORDO term.

If you put the source name of the disease in the unique association field, they should be unique.

That’s why I always asked the data providers to provide the original label o

[2020-06-03 19:54] tskir commented on #1014
@AsierGonzalez @d0choa @andrewhercules Do you have any updates on this issue? I think it would be nice to address it for the next release.

Some additional considerations to add to what has been said above:
* In terms of where to point the variant link: I think a sensible solution would be to continue pointing to Ensembl if there is an RS ID, and just not point _anywhere_ (simply plain text) if th

[2020-06-03 21:50] #1083 closed

[2020-06-04 09:24] #1064 closed

[2020-06-04 14:39] JarrodBaker commented on #966
I've changed it so that [report_count is now count](https://github.com/opentargets/platform-etl-openfda-faers/commit/f1414ee8a2c95edbb0fd5e3b73b11bff239527a4) and works with the existing data pipeline.

Let me know if we want to make more significant renaming changes.

[2020-06-04 14:49] cmalangone commented on #966
Thanks to @JarrodBaker to fixing the bug.
I keep this issue open and next release @JarrodBaker and I can try to follow @mkarmona indication.

[2020-06-04 14:52] JarrodBaker commented on #966
Sounds like a plan!

[2020-06-04 16:14] d0choa commented on #1047
**Step 1 - data download**

We could retrieve most of the information from the next files:

- Protein coding proteins: ftp://ftp.ensembl.org/pub/release-100/tsv/ensembl-compara/homologies/homo_sapiens/Compara.100.protein_default.homologies.tsv.gz

- ncRNAs: ftp://ftp.ensembl.org/pub/release-100/tsv/ensembl-compara/homologies/homo_sapiens/Compara.100.ncrna_default.homologies.tsv.gz

- Dictionary of

[2020-06-04 17:01] mkarmona commented on #966
@cmalangone careful with changes here that have to be in sync with the new API beta . Just to keep an eye on it

[2020-06-05 15:38] #1084 closed

[2020-06-05 15:40] andrewhercules opened #1092 "Install Google Analytics in React rewrite"
To ensure that we can measure some high-level metrics about usage of the `alpha` release, we should capture basic web analytics (e.g. page views). We can explore event tracking at a later date when other features of the React version of the Platform are ready.

Can we please install Google Analytics using the following tracking ID code?

**Tracking ID:** UA-101860681-10

I found a React module - [

[2020-06-05 15:43] andrewhercules opened #1093 "Install Refiner.io survey tracking code in React version of Platform"
To help us capture feedback from users about the `alpha` release, I have created a survey using [Refiner.io](https://refiner.io/pricing/), which will allow us to collect 100 responses.

Can we please install the Refiner.io JavaScript snippet or npm package?

Our REFINER_PROJECT_ID is `ade7da40-a960-11ea-9bbb-37035544d167`

**[JavaScript snippet](https://refiner.io/docs/kb/getting-started/javascrip

[2020-06-08 09:32] andrewhercules opened #1094 "Update detail view section descriptions on target profile page"
To standardise how we describe each profile page detail view, we have updated the description for each detail view on the target profile page.

Can we please update each of the descriptions as noted below?

_Notes: Within each description, please replace TARGET_SYMBOL with the value of the `target.approvedSymbol` value returned by the GraphQL API (e.g. ESR1, IL6, MTOR). And please **bold** the tar

[2020-06-08 09:36] andrewhercules opened #1095 "Rename summary widgets and detail views on target profile page"
Can we please rename the following summary widgets and detail views on the target profile page?

| Old name | New name |
| --- | --- |
| Homology | Comparative Genomics |